<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    canEdit="false"
    canVisit="perm.System.viewreinsuranceprogram or perm.System.editreinsuranceforpolicybasic"
    id="AgreementSearchPopup"
    returnType="RIAgreement[]"
    title="DisplayKey.get(&quot;Web.Reinsurance.Agreement.Search.Title&quot;)">
    <LocationEntryPoint
      signature="AgreementSearchPopup(searchType : int, currency : Currency, toExcludes : RIAgreement[])"/>
    <LocationEntryPoint
      signature="AgreementSearchPopup(ririsk : RIRisk)"/>
    <Variable
      name="searchType"
      type="int"/>
    <Variable
      name="toExcludes"
      type="RIAgreement[]"/>
    <Variable
      name="ririsk"
      type="RIRisk"/>
    <Variable
      name="currency"
      type="Currency"/>
    <Screen>
      <SearchPanel
        cachingEnabled="false"
        criteriaName="criteria"
        resultsName="searchResults"
        search="criteria.performSearch()"
        searchCriteria="gw.web.admin.ReinsuranceUIHelper.createCriteria(searchType, currency, toExcludes, ririsk)"
        searchCriteriaType="gw.reinsurance.search.AgreementSearchCriteria"
        searchResultsType="gw.api.database.IQueryBeanResult&lt;RIAgreement&gt;">
        <PanelRef
          def="AgreementSearchDV(criteria)">
          <Toolbar>
            <ToolbarButton
              action="CurrentLocation.cancel()"
              id="Cancel"
              label="DisplayKey.get(&quot;Button.Cancel&quot;)"/>
          </Toolbar>
        </PanelRef>
        <PanelRef
          def="AgreementSearchResultsLV(searchResults, false /* not in search page */)">
          <TitleBar
            title="DisplayKey.get(&quot;Web.Search.Results&quot;)"/>
          <Toolbar>
            <CheckedValuesToolbarButton
              allCheckedRowsAction="CurrentLocation.pickValueAndCommit(CheckedValues)"
              id="Add"
              iterator="AgreementSearchResultsLV.AgreementSearchResultsLV"
              label="DisplayKey.get(&quot;Button.Add&quot;)"/>
          </Toolbar>
        </PanelRef>
      </SearchPanel>
    </Screen>
  </Popup>
</PCF>