<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="AgreementCoverageInputSet"
    mode="quotashare">
    <Require
      name="agreement"
      type="RIAgreement"/>
    <TextInput
      editable="true"
      format="DisplayKey.get(&quot;Web.Reinsurance.PercentageDisplayFormat&quot;)"
      id="CededShare"
      label="DisplayKey.get(&quot;Web.Reinsurance.Treaty.CededShare&quot;)"
      required="true"
      value="agreement.CededShare"
      valueType="java.math.BigDecimal">
      <PostOnChange
        deferUpdate="false"
        onChange="agreement.updateAmountOfCoverageCeded()"/>
    </TextInput>
    <MonetaryAmountInput
      currency="agreement.Currency"
      editable="true"
      formatType="currency"
      id="Limit"
      label="DisplayKey.get(&quot;Web.Reinsurance.Treaty.CoverageLimit&quot;)"
      required="true"
      value="agreement.CoverageLimit">
      <PostOnChange
        deferUpdate="false"
        onChange="agreement.updateAmountOfCoverageCeded()"/>
    </MonetaryAmountInput>
    <MonetaryAmountInput
      currency="agreement.Currency"
      formatType="currency"
      id="AmountOfCoverage"
      label="DisplayKey.get(&quot;Web.Reinsurance.Treaty.AmountOfCoverage&quot;)"
      required="true"
      value="agreement.AmountOfCoverage"/>
  </InputSet>
</PCF>