<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="AgreementCoverageInputSet"
    mode="surplus">
    <Require
      name="agreement"
      type="RIAgreement"/>
    <Variable
      initialValue="agreement as SurplusRITreaty"
      name="surplusTreaty"
      type="entity.SurplusRITreaty"/>
    <MonetaryAmountInput
      currency="agreement.Currency"
      editable="true"
      formatType="currency"
      id="AttachmentPoint"
      label="DisplayKey.get(&quot;Web.Reinsurance.Treaty.AttachmentPoint&quot;)"
      required="true"
      value="agreement.AttachmentPoint">
      <PostOnChange
        deferUpdate="false"
        onChange="surplusTreaty.setDefaultMaxRetention(); agreement.updateAmountOfCoverageCeded()"/>
    </MonetaryAmountInput>
    <MonetaryAmountInput
      currency="agreement.Currency"
      editable="true"
      formatType="currency"
      id="Limit"
      label="DisplayKey.get(&quot;Web.Reinsurance.Treaty.CoverageLimit&quot;)"
      required="true"
      value="agreement.CoverageLimit">
      <PostOnChange
        deferUpdate="false"
        onChange="agreement.updateAmountOfCoverageCeded()"/>
    </MonetaryAmountInput>
    <MonetaryAmountInput
      currency="surplusTreaty.Currency"
      editable="true"
      formatType="currency"
      id="MaxRetention"
      label="DisplayKey.get(&quot;Web.Reinsurance.Treaty.MaxRetention&quot;)"
      required="true"
      value="surplusTreaty.MaxRetention">
      <PostOnChange
        deferUpdate="false"
        onChange="surplusTreaty.setDefaultAttachmentPoint()"/>
    </MonetaryAmountInput>
    <TextInput
      editable="true"
      format="DisplayKey.get(&quot;Web.Reinsurance.PercentageDisplayFormat&quot;)"
      id="CededShare"
      label="DisplayKey.get(&quot;Web.Reinsurance.Treaty.CededShare&quot;)"
      required="true"
      value="agreement.CededShare"
      valueType="java.math.BigDecimal">
      <PostOnChange
        deferUpdate="false"
        onChange="agreement.updateAmountOfCoverageCeded()"/>
    </TextInput>
    <MonetaryAmountInput
      currency="agreement.Currency"
      formatType="currency"
      id="AmountOfCoverage"
      label="DisplayKey.get(&quot;Web.Reinsurance.Treaty.AmountOfCoverage&quot;)"
      required="true"
      value="agreement.AmountOfCoverage"/>
    <TextInput
      format="DisplayKey.get(&quot;Web.Reinsurance.PercentageDisplayFormat&quot;)"
      id="Lines"
      label="DisplayKey.get(&quot;Web.Reinsurance.Treaty.Lines&quot;)"
      value="surplusTreaty.LinesOfCoverage"
      valueType="java.math.BigDecimal"/>
    <TextInput
      format="DisplayKey.get(&quot;Web.Reinsurance.PercentageDisplayFormat&quot;)"
      id="StartLine"
      label="DisplayKey.get(&quot;Web.Reinsurance.Treaty.StartLine&quot;)"
      value="surplusTreaty.StartLine"
      valueType="java.math.BigDecimal"/>
    <TextInput
      format="DisplayKey.get(&quot;Web.Reinsurance.PercentageDisplayFormat&quot;)"
      id="StopLine"
      label="DisplayKey.get(&quot;Web.Reinsurance.Treaty.StopLine&quot;)"
      value="surplusTreaty.StopLine"
      valueType="java.math.BigDecimal"/>
  </InputSet>
</PCF>