<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="AgreementSearchResultsLV"
    stretch="true">
    <Require
      name="searchResults"
      type="gw.api.database.IQueryBeanResult&lt;RIAgreement&gt;"/>
    <Require
      name="inSearchPage"
      type="boolean"/>
    <ExposeIterator
      flags="draft"
      valueType="RIAgreement"
      widget="AgreementSearchResultsLV"/>
    <RowIterator
      appendPageInfo="true"
      checkBoxVisible="true"
      editable="false"
      elementName="agreement"
      hasCheckBoxes="true"
      value="searchResults"
      valueType="gw.api.database.IQueryBeanResult&lt;entity.RIAgreement&gt;">
      <ToolbarFlag
        condition="agreement.Status == TC_DRAFT"
        name="draft"/>
      <Row>
        <TextCell
          action="EditAgreementPage.go(agreement)"
          grow="true"
          actionAvailable="inSearchPage"
          id="AgreementNumber"
          label="DisplayKey.get(&quot;Web.Reinsurance.Agreement.AgreementNumber&quot;)"
          value="agreement.AgreementNumber"/>
        <TextCell
          grow="true"
          id="Name"
          label="DisplayKey.get(&quot;Web.Reinsurance.Agreement.Name&quot;)"
          value="agreement.Name"/>
        <DateCell
          id="EffectiveDate"
          label="DisplayKey.get(&quot;Web.Reinsurance.Agreement.EffectiveDate&quot;)"
          value="agreement.EffectiveDate"
          wrap="false"/>
        <DateCell
          id="ExpirationDate"
          label="DisplayKey.get(&quot;Web.Reinsurance.Agreement.ExpirationDate&quot;)"
          value="agreement.ExpirationDate"
          wrap="false"/>
        <TypeKeyCell
          id="AgreementType"
          label="DisplayKey.get(&quot;Web.Reinsurance.Agreement.AgreementType&quot;)"
          value="agreement.Subtype"
          valueType="typekey.RIAgreement"
          wrap="false"/>
        <TypeKeyCell
          id="Status"
          label="DisplayKey.get(&quot;Web.Reinsurance.Agreement.Status&quot;)"
          value="agreement.Status"
          valueType="typekey.ContractStatus"
          wrap="false"/>
        <TypeKeyCell
          id="Currency"
          label="DisplayKey.get(&quot;Web.Reinsurance.Agreement.Currency&quot;)"
          value="agreement.Currency"
          valueType="typekey.Currency"
          visible="gw.api.util.CurrencyUtil.isMultiCurrencyMode()"
          wrap="false"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>