<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <CardViewPanel
    id="PolicyReinsuranceCV">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="asOfDate"
      type="java.util.Date"/>
    <Variable
      initialValue="gw.plugin.Plugins.get(gw.plugin.reinsurance.IReinsurancePlugin)"
      name="plugin"
      type="gw.plugin.reinsurance.IReinsurancePlugin"/>
    <Variable
      initialValue="gw.api.system.PCConfigParameters.RIModuleOn()"
      name="riModuleOn"
      recalculateOnRefresh="true"
      type="boolean"/>
    <Card
      id="Coverage"
      title="DisplayKey.get(&quot;Web.Reinsurance.Coverage&quot;)">
      <PanelRef>
        <TitleBar
          title="DisplayKey.get(&quot;Web.Reinsurance.ReinsurableRisks&quot;)"/>
        <Toolbar/>
        <ListDetailPanel
          selectionName="selectedRisk"
          selectionOnEnter="policyPeriod.AllReinsurables.sortBy(\ r -&gt; r.DisplayName ).first()"
          selectionType="Reinsurable">
          <ListViewPanel>
            <RowIterator
              editable="false"
              elementName="riRisk"
              id="RIRisks"
              value="policyPeriod.AllReinsurables"
              valueType="java.util.List&lt;entity.Reinsurable&gt;">
              <Variable
                initialValue="riRisk.RIRisk"
                name="ririsk"
                recalculateOnRefresh="true"
                type="entity.RIRisk"/>
              <IteratorSort
                sortBy="riRisk.DisplayName"
                sortOrder="1"/>
              <Row>
                <TextCell
                  id="Name"
                  label="DisplayKey.get(&quot;Web.Reinsurance.Risk&quot;)"
                  value="riRisk"
                  valueType="entity.Reinsurable"/>
                <TypeKeyCell
                  id="CoverageGroup"
                  label="DisplayKey.get(&quot;Web.Reinsurance.CoverageGroup&quot;)"
                  value="riRisk.CoverageGroup"
                  valueType="typekey.RICoverageGroupType"/>
                <MonetaryAmountCell
                  currency="riRisk.CoverageCurrency"
                  formatType="currency"
                  id="TIV"
                  label="DisplayKey.get(&quot;Web.Reinsurance.TIV&quot;)"
                  value="riRisk.TotalInsuredValue"/>
                <MonetaryAmountCell
                  currency="ririsk.Currency"
                  formatType="currency"
                  id="ProbableMaxLoss"
                  label="DisplayKey.get(&quot;Web.Reinsurance.ProbableMaxLoss&quot;)"
                  value="ririsk.TotalRisk"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
          <CardViewPanel>
            <Variable
              initialValue="gw.web.admin.ReinsuranceUIHelper.getAllRIRiskVersions(selectedRisk, riModuleOn, policyPeriod)"
              name="versions"
              recalculateOnRefresh="true"
              type="java.util.List&lt;java.util.Date&gt;"/>
            <Variable
              initialValue="gw.web.admin.ReinsuranceUIHelper.resetSliceDate(slice, selectedRisk, sliceDate, riModuleOn, asOfDate, policyPeriod)"
              name="sliceDate"
              recalculateOnRefresh="true"
              type="java.util.Date"/>
            <Variable
              initialValue="gw.web.admin.ReinsuranceUIHelper.getReinsurableSlice(selectedRisk, sliceDate)"
              name="slice"
              recalculateOnRefresh="true"
              type="Reinsurable"/>
            <Variable
              initialValue="(gw.web.admin.ReinsuranceUIHelper.shouldInitializeRiskDetailVariables(selectedRisk, riModuleOn) ? selectedRisk.RIRisk.VersionList.getVersionAsOf(sliceDate) : null)"
              name="ririsk"
              recalculateOnRefresh="true"
              type="entity.RIRisk"/>
            <Card
              id="RiskDetail"
              title="DisplayKey.get(&quot;Web.Reinsurance.RiskDetails&quot;)"
              visible="gw.web.admin.ReinsuranceUIHelper.shouldInitializeRiskDetailVariables(selectedRisk, riModuleOn)">
              <DetailViewPanel>
                <InputColumn>
                  <ContentInput
                    label="DisplayKey.get(&quot;Web.Reinsurance.ViewAsOf&quot;)">
                    <Link
                      action="sliceDate = ArgValue"
                      argInitialValue="sliceDate"
                      argOptionLabel="gw.web.admin.ReinsuranceUIHelper.getRIRiskDateRangeDisplay(selectedRisk, VALUE)"
                      argRange="versions"
                      argType="java.util.Date"
                      available="versions.Count &gt; 1"
                      id="ViewAsOf"
                      performActionOnArgChange="true"
                      recalculateArgOnRefresh="true"/>
                  </ContentInput>
                  <TextInput
                    id="Name"
                    label="DisplayKey.get(&quot;Web.Reinsurance.Risk&quot;)"
                    value="slice"
                    valueType="entity.Reinsurable"/>
                  <TypeKeyInput
                    id="CoverageGroup"
                    label="DisplayKey.get(&quot;Web.Reinsurance.CoverageGroup&quot;)"
                    value="slice.CoverageGroup"
                    valueType="typekey.RICoverageGroupType"/>
                  <TextInput
                    editable="perm.System.editreinsuranceforpolicybasic"
                    id="LocationGroup"
                    label="DisplayKey.get(&quot;Web.Reinsurance.RIRiskLocationProximitySearchPopup.LocationRisk.LocationGroup&quot;)"
                    value="(slice as LocationRisk).LocationRiskGroup"
                    visible="slice typeis LocationRisk"/>
                  <ContentInput
                    visible="slice typeis LocationRisk">
                    <Link
                      action="gw.web.admin.ReinsuranceUIHelper.doProximitySearch(slice)"
                      hideIfReadOnly="true"
                      id="ProximitySearchButton"
                      label="DisplayKey.get(&quot;Web.Reinsurance.RIRiskLocationProximitySearchPopup.Title&quot;)"
                      styleClass="bigButton"
                      visible="perm.System.editreinsuranceforpolicybasic"/>
                  </ContentInput>
                </InputColumn>
                <InputColumn>
                  <MonetaryAmountInput
                    currency="ririsk.Currency"
                    formatType="currency"
                    id="TIV"
                    label="DisplayKey.get(&quot;Web.Reinsurance.TIV&quot;)"
                    value="ririsk.TotalInsuredValue"
                    visible="slice.TotalInsuredValue != null"/>
                  <TextInput
                    editable="perm.System.editreinsuranceforpolicyadvanced"
                    formatType="percentagePoints"
                    id="ProbableMaxLossPct"
                    label="DisplayKey.get(&quot;Web.Reinsurance.ProbableMaxLossPct&quot;)"
                    value="ririsk.ProbableMaxLossPct"
                    valueType="java.math.BigDecimal"
                    visible="ririsk.TotalRisk != null">
                    <PostOnChange
                      onChange="gw.reinsurance.risk.RIRiskValidation.validateUI(ririsk)"/>
                  </TextInput>
                  <MonetaryAmountInput
                    currency="ririsk.Currency"
                    formatType="currency"
                    id="ProbableMaxLoss"
                    label="DisplayKey.get(&quot;Web.Reinsurance.ProbableMaxLoss&quot;)"
                    value="ririsk.TotalRisk"
                    visible="ririsk.TotalRisk != null"/>
                  <TextAreaInput
                    editable="perm.System.editreinsuranceforpolicyadvanced"
                    id="ProbableMaxLossReason"
                    label="DisplayKey.get(&quot;Web.Reinsurance.ProbableMaxLossReason&quot;)"
                    numRows="3"
                    value="ririsk.ProbableMaxLossReason"
                    visible="ririsk.TotalRisk != null"/>
                </InputColumn>
                <InputColumn>
                  <ContentInput>
                    <Link
                      action="pcf.RICededPremiumsPopup.push(policyPeriod)"
                      id="CededPremiumsButton"
                      label="DisplayKey.get(&quot;Web.Reinsurance.RiskDetails.ViewCededPremiums&quot;)"
                      styleClass="bigButton"
                      visible="perm.User.DevAllAccess or perm.System.internaltools or perm.System.viewreinsuranceforpolicy"/>
                  </ContentInput>
                </InputColumn>
              </DetailViewPanel>
              <PanelRef
                visible="ririsk != null">
                <TitleBar
                  title="DisplayKey.get(&quot;Web.Reinsurance.ApplicableReinsurance&quot;)"/>
                <CardViewPanel>
                  <Card
                    id="PerRisk"
                    title="DisplayKey.get(&quot;Web.Reinsurance.NewProgram.PerRisk&quot;)">
                    <DetailViewPanel
                      id="PerRiskDV"
                      visible="ririsk.TotalRisk != null">
                      <InputColumn>
                        <MonetaryAmountInput
                          currency="ririsk.Currency"
                          formatType="currency"
                          id="TotalRisk"
                          label="DisplayKey.get(&quot;Web.Reinsurance.PolicyFile.TotalRisk&quot;)"
                          value="ririsk.TotalRisk"/>
                        <MonetaryAmountInput
                          currency="ririsk.Currency"
                          formatType="currency"
                          id="CoveredByXOL"
                          label="DisplayKey.get(&quot;Web.Reinsurance.PolicyFile.CoveredByXOL&quot;)"
                          value="ririsk.XOLCoverage"/>
                        <MonetaryAmountInput
                          currency="ririsk.Currency"
                          formatType="currency"
                          id="SharedAmongProp"
                          label="DisplayKey.get(&quot;Web.Reinsurance.PolicyFile.SharedAmongProp&quot;)"
                          value="ririsk.SharedAmongProp"/>
                      </InputColumn>
                      <InputColumn>
                        <MonetaryAmountInput
                          currency="ririsk.Currency"
                          editable="ririsk.Attachments.ProportionalTreatyAttachmentsForCalc.HasElements and perm.System.editreinsuranceforpolicyadvanced"
                          formatType="currency"
                          id="GrossRetention"
                          label="DisplayKey.get(&quot;Web.Reinsurance.PolicyFile.GrossRetention&quot;)"
                          required="ririsk.Attachments.ProportionalTreatyAttachmentsForCalc.HasElements"
                          value="ririsk.GrossRetention">
                          <PostOnChange
                            onChange="gw.reinsurance.risk.RIRiskValidation.validateUI(ririsk)"/>
                        </MonetaryAmountInput>
                        <TextInput
                          format="DisplayKey.get(&quot;Web.Reinsurance.PercentageDisplayFormat&quot;)"
                          id="RetainedPropShare"
                          label="DisplayKey.get(&quot;Web.Reinsurance.PolicyFile.RetainedPropShare&quot;)"
                          value="ririsk.RetainedPropShare"
                          valueType="java.math.BigDecimal"/>
                        <MonetaryAmountInput
                          currency="ririsk.Currency"
                          formatType="currency"
                          id="PropRetention"
                          label="DisplayKey.get(&quot;Web.Reinsurance.PolicyFile.PropRetention&quot;)"
                          value="ririsk.ProportionalRetention"/>
                      </InputColumn>
                      <InputColumn>
                        <MonetaryAmountInput
                          currency="ririsk.Currency"
                          formatType="currency"
                          id="CoveredByNXOL"
                          label="DisplayKey.get(&quot;Web.Reinsurance.PolicyFile.CoveredByNXOL&quot;)"
                          value="ririsk.NXOLCoverage"/>
                        <MonetaryAmountInput
                          currency="ririsk.Currency"
                          formatType="currency"
                          id="NetRetention"
                          label="DisplayKey.get(&quot;Web.Reinsurance.PolicyFile.NetRetention&quot;)"
                          value="ririsk.NetRetention">
                          <PostOnChange/>
                        </MonetaryAmountInput>
                        <MonetaryAmountInput
                          currency="ririsk.Currency"
                          formatType="currency"
                          id="TargetMaxRetention"
                          label="DisplayKey.get(&quot;Web.Reinsurance.PolicyFile.TargetMaxRetention&quot;)"
                          value="ririsk.TargetMaxRetention"/>
                        <MonetaryAmountInput
                          currency="ririsk.Currency"
                          formatType="currency"
                          id="FacRINeeded"
                          label="DisplayKey.get(&quot;Web.Reinsurance.PolicyFile.FacRINeeded&quot;)"
                          value="ririsk.FacRINeeded"/>
                      </InputColumn>
                    </DetailViewPanel>
                    <PanelRef
                      def="RIAgreementsLV(ririsk, true)"
                      id="PerRisksLV">
                      <Toolbar>
                        <ToolbarButton
                          hideIfReadOnly="true"
                          id="AddFacButton"
                          label="DisplayKey.get(&quot;Web.Reinsurance.AddFacButton&quot;)"
                          visible="perm.System.editreinsurancefacagreement or perm.System.editreinsuranceforpolicybasic">
                          <MenuItem
                            id="NewFacAgreementMenuItem"
                            label="DisplayKey.get(&quot;Web.Reinsurance.AddFacButton.CreateNew&quot;)">
                            <MenuItemIterator
                              elementName="facAgreementType"
                              id="NewFac"
                              value="typekey.RIAgreement.getTypeKeys(false).where(\ r -&gt; r.hasCategory(typekey.ArrangementType.TC_FACULTATIVE) )"
                              valueType="java.util.List&lt;typekey.RIAgreement&gt;">
                              <PickerMenuItem
                                action="NewAgreementPopup.push(facAgreementType, ririsk)"
                                hideIfReadOnly="true"
                                id="NewFac"
                                label="DisplayKey.get(&quot;Web.Reinsurance.New&quot;, facAgreementType)"
                                onPick="gw.web.admin.ReinsuranceUIHelper.attachFacs(ririsk, {PickedValue})"
                                visible="perm.System.editreinsuranceforpolicybasic"/>
                            </MenuItemIterator>
                          </MenuItem>
                          <PickerMenuItem
                            action="AgreementSearchPopup.push(ririsk)"
                            hideIfReadOnly="true"
                            id="LinkExisting"
                            label="DisplayKey.get(&quot;Web.Reinsurance.AddFacButton.LinkExisting&quot;)"
                            onPick="gw.web.admin.ReinsuranceUIHelper.attachFacs(ririsk, PickedValue)"
                            visible="perm.System.editreinsuranceforpolicybasic"/>
                        </ToolbarButton>
                        <RemoveButton
                          hideIfReadOnly="true"
                          id="RemoveFacButton"
                          iterator="PerRisksLV.RIAgreementsLV"
                          label="DisplayKey.get(&quot;Web.Reinsurance.RemoveFacButton&quot;)"
                          visible="perm.System.editreinsuranceforpolicybasic"/>
                      </Toolbar>
                    </PanelRef>
                  </Card>
                  <Card
                    id="Aggregate"
                    title="DisplayKey.get(&quot;Web.Reinsurance.NewProgram.Aggregate&quot;)">
                    <PanelRef
                      def="RIAgreementsLV(ririsk, false)"
                      id="AggregatesLV">
                      <Toolbar/>
                    </PanelRef>
                  </Card>
                </CardViewPanel>
              </PanelRef>
            </Card>
          </CardViewPanel>
        </ListDetailPanel>
      </PanelRef>
    </Card>
  </CardViewPanel>
</PCF>