<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="ProgramSearchResultsLV"
    stretch="true">
    <Require
      name="programs"
      type="gw.api.database.IQueryBeanResult&lt;RIProgram&gt;"/>
    <RowIterator
      appendPageInfo="true"
      editable="false"
      elementName="program"
      value="programs"
      valueType="gw.api.database.IQueryBeanResult&lt;entity.RIProgram&gt;">
      <Row>
        <TextCell
          action="EditProgramPage.go(program)"
          grow="true"
          id="Name"
          label="DisplayKey.get(&quot;Web.Reinsurance.NewProgram.Input.Name&quot;)"
          value="program.Name"/>
        <DateCell
          id="EffectiveDate"
          label="DisplayKey.get(&quot;Web.Reinsurance.NewProgram.Input.EffectiveDate&quot;)"
          value="program.EffectiveDate"
          wrap="false"/>
        <DateCell
          id="ExpirationDate"
          label="DisplayKey.get(&quot;Web.Reinsurance.NewProgram.Input.ExpirationDate&quot;)"
          value="program.ExpirationDate"
          wrap="false"/>
        <TypeKeyCell
          id="Status"
          label="DisplayKey.get(&quot;Web.Reinsurance.NewProgram.Input.Status&quot;)"
          value="program.Status"
          valueType="typekey.ContractStatus"
          wrap="false"/>
        <TypeKeyCell
          id="Currency"
          label="DisplayKey.get(&quot;Web.Reinsurance.Program.Currency&quot;)"
          value="program.Currency"
          valueType="typekey.Currency"
          visible="gw.api.util.CurrencyUtil.isMultiCurrencyMode()"
          wrap="false"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>