<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    id="RICededPremiums_CostsByAgreementPopup"
    title="DisplayKey.get(&quot;Web.Reinsurance.CededPremiums.CostsByAgreement&quot;)">
    <LocationEntryPoint
      signature="RICededPremiums_CostsByAgreementPopup(ririsk : RIRisk)"/>
    <Variable
      name="ririsk"
      type="RIRisk"/>
    <Variable
      initialValue="gw.web.admin.ReinsuranceUIHelper.partitionAgreementTransactions(ririsk)"
      name="agreementTransactionMap"
      type="java.util.Map&lt;entity.RIAgreement, java.util.List&lt;entity.RICededPremiumTransaction&gt;&gt;"/>
    <Screen>
      <TitleBar
        subtitle="DisplayKey.get(&quot;Web.Reinsurance.CededPremiums.CostsByAgreement&quot;)"
        title="ririsk.Reinsurable.DisplayName"/>
      <Toolbar/>
      <PanelIterator
        elementName="agreement"
        value="gw.web.admin.ReinsuranceUIHelper.sortAgreements(agreementTransactionMap)"
        valueType="entity.RIAgreement[]">
        <Variable
          initialValue="agreementTransactionMap.get(agreement).partition(\ t -&gt; t.CalcTimestamp.Time)"
          name="calcTransactionMap"
          type="java.util.Map&lt;java.lang.Long, java.util.List&lt;entity.RICededPremiumTransaction&gt;&gt;"/>
        <DetailViewPanel>
          <InputColumn>
            <TextInput
              boldLabel="true"
              boldValue="true"
              id="AgreementNumber"
              label="DisplayKey.get(&quot;Web.Reinsurance.Agreement.AgreementNumber&quot;)"
              value="agreement.AgreementNumber"/>
          </InputColumn>
          <InputColumn>
            <TextInput
              boldLabel="true"
              boldValue="true"
              id="AgreementType"
              label="DisplayKey.get(&quot;Web.Reinsurance.Agreement.AgreementType&quot;)"
              value="agreement.Subtype"
              valueType="typekey.RIAgreement"/>
          </InputColumn>
          <InputColumn>
            <TextInput
              boldLabel="true"
              boldValue="true"
              id="AgreementDates"
              label="DisplayKey.get(&quot;Web.Reinsurance.Agreement.EffectiveDates&quot;)"
              value="agreement.EffectiveDate.ShortFormat + &quot;-&quot; + agreement.ExpirationDate.ShortFormat"/>
          </InputColumn>
        </DetailViewPanel>
        <PanelIterator
          elementName="calcDate"
          value="calcTransactionMap.Keys.order()"
          valueType="gw.util.IOrderedList&lt;java.lang.Long&gt;">
          <Variable
            initialValue="calcTransactionMap.get(calcDate).partition(\ t -&gt; t.CalcTimestamp.Time)"
            name="dateRangeTransactionMap"
            type="java.util.Map&lt;java.lang.Long, java.util.List&lt;entity.RICededPremiumTransaction&gt;&gt;"/>
          <PanelIterator
            elementName="dateRange"
            value="dateRangeTransactionMap.Keys.order()"
            valueType="gw.util.IOrderedList&lt;java.lang.Long&gt;">
            <DetailViewPanel
              columnDivider="false">
              <InputColumn>
                <TextInput
                  id="CalcDate"
                  value="calcTransactionMap.get(calcDate).first().RICededPremiumHistory.Reason"
                  valueType="typekey.RIRecalcReason"/>
              </InputColumn>
              <InputColumn>
                <TextInput
                  id="CalcComment"
                  value="calcTransactionMap.get(calcDate).first().RICededPremiumHistory.CommentText"/>
              </InputColumn>
            </DetailViewPanel>
            <ListViewPanel
              id="transactionLV">
              <RowIterator
                editable="false"
                elementName="cpTrx"
                pageSize="0"
                value="calcTransactionMap.get(calcDate)"
                valueType="java.util.List&lt;entity.RICededPremiumTransaction&gt;">
                <IteratorSort
                  sortBy="cpTrx.RICededPremium.Cost.CoverableName"
                  sortOrder="1"/>
                <IteratorSort
                  sortBy="cpTrx.RICededPremium.Cost"
                  sortOrder="2"/>
                <IteratorSort
                  sortBy="cpTrx.CededPremium"
                  sortOrder="4"/>
                <IteratorSort
                  sortBy="cpTrx.RICededPremium.Cost.ActualAmountBilling"
                  sortDirection="descending"
                  sortOrder="3"/>
                <Row>
                  <LinkCell>
                    <Link
                      action="RICPTransactionPopup.push(cpTrx)"
                      icon="&quot;view_detail&quot;"
                      iconType="svgFileName"
                      id="Drilldown"/>
                  </LinkCell>
                  <TextCell
                    id="Building"
                    label="DisplayKey.get(&quot;Web.Reinsurance.CededPremiums.CostsByAgreement.Coverable&quot;)"
                    sortOrder="1"
                    value="cpTrx.RICededPremium.Cost.CoverableName"/>
                  <TextCell
                    id="Cost"
                    label="DisplayKey.get(&quot;Web.Reinsurance.CededPremiums.CostsByAgreement.Cost&quot;)"
                    sortOrder="2"
                    value="cpTrx.RICededPremium.Cost.DisplayName"/>
                  <MonetaryAmountCell
                    footerSumValue="cpTrx.RICededPremium.Cost.ActualAmountBilling"
                    id="CostAmt"
                    label="DisplayKey.get(&quot;Web.Reinsurance.CededPremiums.CostsByAgreement.Amount&quot;)"
                    value="cpTrx.RICededPremium.Cost.ActualAmountBilling"/>
                  <MonetaryAmountCell
                    footerSumValue="cpTrx.BasisGNP"
                    id="BasisGNP"
                    label="DisplayKey.get(&quot;Web.Reinsurance.CededPremiums.CostsByAgreement.BasisGNP&quot;)"
                    value="cpTrx.BasisGNP"/>
                  <TextCell
                    id="CedingRate"
                    label="agreement typeis NonProportionalRIAgreement ? DisplayKey.get(&quot;Web.Reinsurance.CededPremiums.CostsByAgreement.CededRisk&quot;) : DisplayKey.get(&quot;Web.Reinsurance.CededPremiums.CostsByAgreement.RateShare&quot;)"
                    value="agreement typeis NonProportionalRIAgreement ? cpTrx.CededRiskAmount : cpTrx.CedingRate"
                    valueType="java.lang.Comparable&lt;java.lang.Object&gt;"/>
                  <MonetaryAmountCell
                    footerSumValue="cpTrx.CededPremium"
                    id="CededPremium"
                    label="DisplayKey.get(&quot;Web.Reinsurance.CededPremiums.CostsByAgreement.Premium&quot;)"
                    value="cpTrx.CededPremium"/>
                  <MonetaryAmountCell
                    footerSumValue="cpTrx.CededPremiumMarkup"
                    id="CededPremiumMarkup"
                    label="DisplayKey.get(&quot;Web.Reinsurance.CededPremiums.CostsByAgreement.Markup&quot;)"
                    value="cpTrx.CededPremiumMarkup"/>
                  <TextCell
                    id="CommPercentage"
                    label="DisplayKey.get(&quot;Web.Reinsurance.CededPremiums.CostsByAgreement.CommissionRate&quot;)"
                    value="cpTrx.CommissionRate"
                    valueType="java.math.BigDecimal"/>
                  <MonetaryAmountCell
                    footerSumValue="cpTrx.Commission"
                    id="Comm"
                    label="DisplayKey.get(&quot;Web.Reinsurance.CededPremiums.CostsByAgreement.Commission&quot;)"
                    value="cpTrx.Commission"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelIterator>
        </PanelIterator>
      </PanelIterator>
    </Screen>
  </Popup>
</PCF>