<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <PanelSet
    id="RICoverageGroupsPanelSet">
    <Require
      name="owner"
      type="gw.api.domain.reinsurance.RICoverageGroupOwner"/>
    <Variable
      initialValue="RICoverageGroupType.getTypeKeys(false).disjunction(owner.CoverageGroups).toTypedArray()"
      name="remainingGroupTypes"
      recalculateOnRefresh="true"
      type="typekey.RICoverageGroupType[]"/>
    <Verbatim
      label="DisplayKey.get(&quot;Web.Reinsurance.Agreement.IncludedCoverageGroups&quot;)"/>
    <PanelRef>
      <Toolbar>
        <ToolbarButton
          available="remainingGroupTypes.HasElements"
          hideIfReadOnly="true"
          id="Add"
          label="DisplayKey.get(&quot;Button.Add&quot;)">
          <AddMenuItemIterator
            elementName="groupType"
            value="remainingGroupTypes"
            valueType="typekey.RICoverageGroupType[]">
            <AddMenuItem
              id="GroupType"
              iterator="TEMP_0_LV"
              label="groupType"
              toCreateAndAdd="owner.addCoverageGroup(groupType)"/>
          </AddMenuItemIterator>
        </ToolbarButton>
        <RemoveButton
          hideIfReadOnly="true"
          id="Remove"
          iterator="TEMP_0_LV"
          label="DisplayKey.get(&quot;Button.Remove&quot;)"/>
      </Toolbar>
      <ListViewPanel
        disableUserCustomization="true"
        id="TEMP_0_LV"
        stretch="true">
        <RowIterator
          editable="true"
          elementName="coverageGroup"
          hideCheckBoxesIfReadOnly="true"
          toRemove="owner.removeCoverageGroup(coverageGroup)"
          value="owner.CoverageGroups"
          valueType="java.util.List&lt;typekey.RICoverageGroupType&gt;">
          <IteratorSort
            sortBy="coverageGroup.DisplayName"
            sortOrder="1"/>
          <Row>
            <TypeKeyCell
              grow="true"
              id="Name"
              label="DisplayKey.get(&quot;Web.Reinsurance.Agreement.CoverageGroup&quot;)"
              value="coverageGroup"
              valueType="typekey.RICoverageGroupType"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </PanelRef>
  </PanelSet>
</PCF>