<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    id="RICPTransactionPopup"
    title="DisplayKey.get(&quot;Web.Reinsurance.CPTransactionPopup&quot;)">
    <LocationEntryPoint
      signature="RICPTransactionPopup(transaction : RICededPremiumTransaction)"/>
    <Variable
      name="transaction"
      type="RICededPremiumTransaction"/>
    <Screen>
      <DetailViewPanel>
        <InputColumn>
          <TextInput
            id="Agreement"
            label="DisplayKey.get(&quot;Web.Reinsurance.CPTransactionPopup.Agreement&quot;)"
            value="transaction.Agreement.Name"/>
          <TextInput
            id="Program"
            label="DisplayKey.get(&quot;Web.Reinsurance.CPTransactionPopup.Program&quot;)"
            value="transaction.Program.Name"/>
          <DateInput
            id="CalcTimestamp"
            label="DisplayKey.get(&quot;Web.Reinsurance.CPTransactionPopup.CalculationTimeStamp&quot;)"
            value="transaction.CalcTimestamp"/>
          <TextInput
            formatType="percentagePoints"
            id="CedingRate"
            label="DisplayKey.get(&quot;Web.Reinsurance.CPTransactionPopup.CedingRate&quot;)"
            value="transaction.CedingRate"
            valueType="java.math.BigDecimal"/>
          <TextInput
            formatType="percentagePoints"
            id="CommissionRate"
            label="DisplayKey.get(&quot;Web.Reinsurance.CPTransactionPopup.CommissionRate&quot;)"
            value="transaction.CommissionRate"
            valueType="java.math.BigDecimal"/>
          <TextInput
            formatType="percentagePoints"
            id="MarkupRate"
            label="DisplayKey.get(&quot;Web.Reinsurance.CPTransactionPopup.MarkupRate&quot;)"
            value="transaction.MarkupRate"
            valueType="java.math.BigDecimal"/>
          <DateInput
            id="EffectiveDate"
            label="DisplayKey.get(&quot;Web.Reinsurance.CPTransactionPopup.EffDate&quot;)"
            value="transaction.EffectiveDate"/>
          <DateInput
            id="DatePosted"
            label="DisplayKey.get(&quot;Web.Reinsurance.CPTransactionPopup.DatePosted&quot;)"
            value="transaction.DatePosted"/>
        </InputColumn>
        <InputColumn>
          <TextInput
            id="CalculationOrder"
            label="DisplayKey.get(&quot;Web.Reinsurance.CPTransactionPopup.CalculationOrder&quot;)"
            value="transaction.CalculationOrder"
            valueType="java.lang.Integer"/>
          <MonetaryAmountInput
            formatType="currency"
            id="CededRiskAmount"
            label="DisplayKey.get(&quot;Web.Reinsurance.CPTransactionPopup.CededRiskAmount&quot;)"
            value="transaction.CededRiskAmount"/>
          <MonetaryAmountInput
            formatType="currency"
            id="BasisGNP"
            label="DisplayKey.get(&quot;Web.Reinsurance.CPTransactionPopup.BasisGNP&quot;)"
            value="transaction.BasisGNP"/>
          <MonetaryAmountInput
            formatType="currency"
            id="CededPremium"
            label="DisplayKey.get(&quot;Web.Reinsurance.CPTransactionPopup.CededPremium&quot;)"
            value="transaction.CededPremium"/>
          <MonetaryAmountInput
            formatType="currency"
            id="Commission"
            label="DisplayKey.get(&quot;Web.Reinsurance.CPTransactionPopup.Commission&quot;)"
            value="transaction.Commission"/>
          <MonetaryAmountInput
            formatType="currency"
            id="CededPremiumMarkup"
            label="DisplayKey.get(&quot;Web.Reinsurance.CPTransactionPopup.CededPremiumMarkup&quot;)"
            value="transaction.CededPremiumMarkup"/>
          <DateInput
            id="ExpirationDate"
            label="DisplayKey.get(&quot;Web.Reinsurance.CPTransactionPopup.ExpDate&quot;)"
            value="transaction.ExpirationDate"/>
          <DateInput
            id="DateWritten"
            label="DisplayKey.get(&quot;Web.Reinsurance.CPTransactionPopup.DateWritten&quot;)"
            value="transaction.DateWritten"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Popup>
</PCF>