<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    autosaveable="false"
    id="RILocationRiskProximitySearchPopup"
    title="DisplayKey.get(&quot;Web.Reinsurance.RIRiskLocationProximitySearchPopup.Title&quot;)">
    <LocationEntryPoint
      signature="RILocationRiskProximitySearchPopup(targetLocationRisk : LocationRisk)"/>
    <Variable
      name="targetLocationRisk"
      type="LocationRisk"/>
    <Variable
      initialValue="gw.api.system.PCDependenciesGateway.getProductModel().getAllInstances(gw.api.productmodel.PolicyLinePattern).orderBy(\ p -&gt; p.PublicID).toList()"
      name="allPolicyLinePatterns"
      type="java.util.List&lt;gw.api.productmodel.PolicyLinePattern&gt;"/>
    <Variable
      name="searchLocationGroup"
      type="String"/>
    <Variable
      initialValue="targetLocationRisk.LocationRiskGroup"
      name="newLocationGroup"
      type="String"/>
    <Screen>
      <SearchPanel
        cachingEnabled="false"
        criteriaName="criteria"
        resultsName="searchResults"
        search="gw.web.admin.ReinsuranceUIHelper.searchAndFilterByLocationGroup(criteria, searchLocationGroup, criteria.EffectiveDate)"
        searchCriteria="targetLocationRisk.createSearchCriteria()"
        searchCriteriaType="gw.reinsurance.search.RILocationRiskProximitySearchCriteria"
        searchOnEnter="false"
        searchResultsType="LocationRisk[]">
        <PanelRef
          editable="true">
          <DetailViewPanel
            id="ProximitySearchDV">
            <InputColumn>
              <Label
                label="DisplayKey.get(&quot;Web.Reinsurance.RIRiskLocationProximitySearchPopup.SearchNear&quot;)"/>
              <TextInput
                id="LocationCode"
                label="DisplayKey.get(&quot;Web.Reinsurance.RIRiskLocationProximitySearchPopup.LocationId&quot;)"
                value="targetLocationRisk.RiskNumber"/>
              <TextInput
                id="Address"
                label="DisplayKey.get(&quot;Web.Reinsurance.RIRiskLocationProximitySearchPopup.SearchAddress&quot;)"
                value="targetLocationRisk.AccountLocation.addressString(&quot;\n&quot;, false, false)"/>
              <TextInput
                id="LocationGroup"
                label="DisplayKey.get(&quot;Web.Reinsurance.RIRiskLocationProximitySearchPopup.LocationRisk.LocationGroup&quot;)"
                value="targetLocationRisk.LocationRiskGroup"/>
            </InputColumn>
            <InputColumn>
              <Label
                label="DisplayKey.get(&quot;Web.Reinsurance.RIRiskLocationProximitySearchPopup.SearchCriteria&quot;)"/>
              <TextInput
                editable="true"
                id="Radius"
                label="DisplayKey.get(&quot;Web.Reinsurance.RIRiskLocationProximitySearchPopup.Radius&quot;)"
                required="true"
                value="criteria.LocSearchCriteria.Radius"
                valueType="java.lang.Integer"/>
              <TypeKeyInput
                editable="true"
                id="Units"
                label="DisplayKey.get(&quot;Web.Reinsurance.RIRiskLocationProximitySearchPopup.Units&quot;)"
                required="true"
                value="criteria.LocSearchCriteria.UnitOfDistance"
                valueType="typekey.UnitOfDistance"/>
              <InputDivider/>
              <TextInput
                editable="true"
                id="SearchLocationGroup"
                label="DisplayKey.get(&quot;Web.Reinsurance.RIRiskLocationProximitySearchPopup.LocationRisk.LocationGroup&quot;)"
                value="searchLocationGroup"/>
              <DateInput
                editable="true"
                id="CoverageEffectiveDate"
                label="DisplayKey.get(&quot;Web.Reinsurance.RIRiskLocationProximitySearchPopup.CoverageEffective&quot;)"
                required="true"
                value="criteria.EffectiveDate"/>
              <TypeKeyInput
                align="left"
                editable="true"
                id="CoverageGroup"
                label="DisplayKey.get(&quot;Web.Reinsurance.RIRiskLocationProximitySearchPopup.CoverageGroup&quot;)"
                required="true"
                value="criteria.CoverageGroup"
                valueType="typekey.RICoverageGroupType"/>
              <RangeInput
                editable="true"
                id="LineOfBusiness"
                label="DisplayKey.get(&quot;Web.Reinsurance.RIRiskLocationProximitySearchPopup.LineOfBusiness&quot;)"
                multiSelect="true"
                numRows="5"
                required="true"
                sortValueRange="false"
                value="criteria.LocSearchCriteria.LOBs"
                valueRange="allPolicyLinePatterns"
                valueType="gw.api.productmodel.PolicyLinePattern[]"/>
            </InputColumn>
            <InputFooterSection>
              <InputSet
                id="SearchAndResetInputSet">
                <InputSetRef
                  def="SearchLinksInputSet(true, true)"/>
              </InputSet>
            </InputFooterSection>
          </DetailViewPanel>
        </PanelRef>
        <PanelRef>
          <TitleBar
            title="DisplayKey.get(&quot;Web.Search.Results&quot;)"/>
          <Toolbar>
            <ToolbarInput
              editable="!searchResults.IsEmpty"
              id="LocationGroupName"
              label="DisplayKey.get(&quot;Web.Reinsurance.RIRiskLocationProximitySearchPopup.AssignButton&quot;)"
              value="newLocationGroup"
              valueType="java.lang.String"/>
            <CheckedValuesToolbarButton
              allCheckedRowsAction="gw.web.admin.ReinsuranceUIHelper.assignLocGroup(CheckedValues, criteria.EffectiveDate, newLocationGroup, targetLocationRisk, CurrentLocation)"
              id="AssignButton"
              iterator="LocationRiskIterator"
              label="DisplayKey.get(&quot;Button.Assign&quot;)"
              visible="!searchResults.IsEmpty and perm.System.editreinsuranceforpolicybasic"/>
          </Toolbar>
          <ListViewPanel
            id="LocationRiskSearchResultsLV"
            stretch="true">
            <RowIterator
              editable="false"
              elementName="locationRisk"
              hasCheckBoxes="true"
              id="LocationRiskIterator"
              value="searchResults"
              valueType="entity.LocationRisk[]">
              <Row>
                <TextCell
                  align="right"
                  id="ID"
                  label="DisplayKey.get(&quot;Web.Reinsurance.RIRiskLocationProximitySearchPopup.LocationRisk.ID&quot;)"
                  value="locationRisk.RiskNumber"
                  wrap="false"/>
                <TextCell
                  grow="true"
                  id="Address"
                  label="DisplayKey.get(&quot;Web.Reinsurance.RIRiskLocationProximitySearchPopup.LocationRisk.Address&quot;)"
                  value="locationRisk.AccountLocation.addressString(&quot;,&quot;, false, false)"/>
                <TextCell
                  align="right"
                  format="&quot;0.0&quot;"
                  id="Distance"
                  label="DisplayKey.get(&quot;Web.Reinsurance.RIRiskLocationProximitySearchPopup.LocationRisk.Distance&quot;)"
                  value="targetLocationRisk.distanceToLocationRisk(locationRisk, criteria.LocSearchCriteria.UnitOfDistance)"
                  valueType="java.math.BigDecimal"
                  wrap="false"/>
                <TextCell
                  grow="true"
                  id="Description"
                  label="DisplayKey.get(&quot;Web.Reinsurance.RIRiskLocationProximitySearchPopup.LocationRisk.Description&quot;)"
                  value="locationRisk.Description"/>
                <TextCell
                  align="right"
                  id="Account"
                  label="DisplayKey.get(&quot;Web.Reinsurance.RIRiskLocationProximitySearchPopup.LocationRisk.Account&quot;)"
                  value="locationRisk.AccountNumber"
                  wrap="false"/>
                <TextCell
                  align="right"
                  id="PolicyNumber"
                  label="DisplayKey.get(&quot;Web.Reinsurance.RIRiskLocationProximitySearchPopup.LocationRisk.PolicyNumber&quot;)"
                  value="locationRisk.PolicyNumber"
                  wrap="false"/>
                <TypeKeyCell
                  footerLabel="DisplayKey.get(&quot;Web.Reinsurance.RIRiskLocationProximitySearchPopup.TIVTotal&quot;)"
                  id="CoverageGroup"
                  label="DisplayKey.get(&quot;Web.Reinsurance.RIRiskLocationProximitySearchPopup.LocationRisk.CoverageGroup&quot;)"
                  value="locationRisk.CoverageGroup"
                  valueType="typekey.RICoverageGroupType"
                  wrap="false"/>
                <MonetaryAmountCell
                  align="right"
                  footerSumValue="locationRisk.TotalInsuredValue"
                  formatType="currency"
                  id="TIV"
                  label="DisplayKey.get(&quot;Web.Reinsurance.RIRiskLocationProximitySearchPopup.LocationRisk.TIV&quot;)"
                  value="locationRisk.TotalInsuredValue"
                  wrap="false"/>
                <TextCell
                  align="left"
                  formatType="general"
                  id="LocationGroup"
                  label="DisplayKey.get(&quot;Web.Reinsurance.RIRiskLocationProximitySearchPopup.LocationRisk.LocationGroup&quot;)"
                  value="locationRisk.asOf(criteria.EffectiveDate).LocationRiskGroup"
                  wrap="false"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </PanelRef>
      </SearchPanel>
    </Screen>
  </Popup>
</PCF>