<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    editable="true"
    id="TreatiesLV">
    <Require
      name="program"
      type="RIProgram"/>
    <Require
      name="isPerRisk"
      type="boolean"/>
    <ExposeIterator
      valueType="RIAgreement"
      widget="TreatiesLV"/>
    <RowIterator
      checkBoxVisible="true"
      editable="true"
      elementName="agreement"
      hasCheckBoxes="true"
      hideCheckBoxesIfReadOnly="true"
      pageSize="0"
      toAdd="program.addTreaty(agreement as Treaty)"
      toRemove="program.removeTreaty(agreement)"
      value="gw.web.admin.ReinsuranceUIHelper.getTreaties(program, isPerRisk)"
      valueType="entity.RIAgreement[]">
      <IteratorSort
        sortBy="agreement.Subtype.Priority"
        sortOrder="1"/>
      <IteratorSort
        sortBy="agreement.AttachmentPoint.Amount"
        sortOrder="2"/>
      <Row>
        <TextCell
          action="EditAgreementPage.push(agreement)"
          actionAvailable="not CurrentLocation.InEditMode"
          id="Number"
          label="DisplayKey.get(&quot;Web.Reinsurance.Agreement.AgreementNumber&quot;)"
          value="agreement.AgreementNumber"/>
        <TextCell
          id="Name"
          label="DisplayKey.get(&quot;Web.Reinsurance.Agreement.Name&quot;)"
          value="agreement.Name"/>
        <TypeKeyCell
          id="Type"
          label="DisplayKey.get(&quot;Web.Reinsurance.Agreement.Type&quot;)"
          value="agreement.Subtype"
          valueType="typekey.RIAgreement"/>
        <MonetaryAmountCell
          id="AttachmentPoint"
          label="DisplayKey.get(&quot;Web.Reinsurance.Agreement.AttachmentPoint&quot;)"
          value="agreement.AttachmentPoint"/>
        <MonetaryAmountCell
          id="CoverageLimit"
          label="DisplayKey.get(&quot;Web.Reinsurance.Agreement.CoverageLimit&quot;)"
          value="agreement.CoverageLimit"/>
        <TextCell
          id="CededShare"
          label="DisplayKey.get(&quot;Web.Reinsurance.Agreement.CededShare&quot;)"
          value="agreement.CededShare"
          valueType="java.math.BigDecimal"/>
        <MonetaryAmountCell
          id="NotificationThreshold"
          label="DisplayKey.get(&quot;Web.Reinsurance.Agreement.NotificationThreshold&quot;)"
          value="gw.web.admin.ReinsuranceUIHelper.getMaxRetention(agreement)"
          visible="isPerRisk"/>
        <TextCell
          id="Lines"
          label="DisplayKey.get(&quot;Web.Reinsurance.Agreement.Lines&quot;)"
          value="gw.web.admin.ReinsuranceUIHelper.getLines(agreement)"
          valueType="java.math.BigDecimal"
          visible="isPerRisk"/>
        <TypeKeyCell
          id="Currency"
          label="DisplayKey.get(&quot;Web.Reinsurance.Agreement.Currency&quot;)"
          value="agreement.Currency"
          valueType="typekey.Currency"
          visible="gw.api.util.CurrencyUtil.isMultiCurrencyMode()"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>