<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    id="ContactFile_WorkOrders"
    infoBar="ContactFileInfoBar(contact)"
    showUpLink="true"
    title="DisplayKey.get(&quot;Web.ContactFile.WorkOrders.Title&quot;)">
    <LocationEntryPoint
      signature="ContactFile_WorkOrders(contact : Contact)"/>
    <Variable
      initialValue="new gw.pcf.contacts.ContactFileWorkOrdersUIHelper()"
      name="UIHelper"
      type="gw.pcf.contacts.ContactFileWorkOrdersUIHelper"/>
    <Variable
      name="contact"
      type="Contact"/>
    <Screen>
      <Variable
        initialValue="UIHelper.getStatusFilterInitialValue()"
        name="statusFilterChoice"
        type="gw.api.ui.DisplayedObject&lt;Boolean&gt;"/>
      <Variable
        initialValue="UIHelper.getWorkOrderInitialValue()"
        name="workOrderTypeChoice"
        type="gw.api.ui.DisplayedObject&lt;typekey.Job&gt;"/>
      <Variable
        initialValue="UIHelper.getProductFilterInitialValue(contact)"
        name="productFilterChoice"
        type="gw.api.ui.DisplayedObject&lt;gw.api.productmodel.Product&gt;"/>
      <PanelRef>
        <Toolbar>
          <ToolbarRangeInput
            id="WorkOrdersCompletenessFilter"
            label="DisplayKey.get(&quot;Web.ContactFile.WorkOrders.Filter.Status&quot;)"
            sortValueRange="false"
            value="statusFilterChoice"
            valueRange="gw.job.JobFilters.StatusFilterSet"
            valueType="gw.api.ui.DisplayedObject&lt;java.lang.Boolean&gt;">
            <PostOnChange
              onChange="UIHelper.setStatusFilterValue( statusFilterChoice.display )"/>
          </ToolbarRangeInput>
          <ToolbarDivider/>
          <ToolbarRangeInput
            id="WorkOrderTypeFilter"
            label="DisplayKey.get(&quot;Web.ContactFile.WorkOrders.Filter.JobType&quot;)"
            sortValueRange="false"
            value="workOrderTypeChoice"
            valueRange="gw.job.JobFilters.JobTypeFilterSet"
            valueType="gw.api.ui.DisplayedObject&lt;typekey.Job&gt;">
            <PostOnChange
              onChange="UIHelper.setWorkOrderFilterValue( workOrderTypeChoice.display )"/>
          </ToolbarRangeInput>
          <ToolbarDivider/>
          <ToolbarRangeInput
            id="ProductFilter"
            label="DisplayKey.get(&quot;Web.ContactFile.WorkOrders.Filter.Product&quot;)"
            sortValueRange="false"
            value="productFilterChoice"
            valueRange="gw.job.JobFilters.createProductFilterOptions(contact)"
            valueType="gw.api.ui.DisplayedObject&lt;gw.api.productmodel.Product&gt;">
            <PostOnChange
              onChange="UIHelper.setProductFilterValue( productFilterChoice.display )"/>
          </ToolbarRangeInput>
        </Toolbar>
        <ListViewPanel
          id="AssociatedWorkOrdersLV">
          <RowIterator
            editable="false"
            elementName="item"
            value="contact.AssociationFinder.findWorkOrders(statusFilterChoice.value, workOrderTypeChoice.value, productFilterChoice.value, User.util.CurrentUser)"
            valueType="entity.Job[]">
            <Row
              useArchivedStyle="item.LatestPeriod.PolicyTerm.CheckArchived">
              <DateCell
                id="CreateDate"
                label="DisplayKey.get(&quot;Web.Contact.Associations.CreateDate&quot;)"
                sortOrder="1"
                value="item.CreateTime"/>
              <LinkCell
                label="DisplayKey.get(&quot;Web.ContactFile.AccountHolder.Account&quot;)">
                <Link
                  action="AccountFileDoRetrievalForward.go(item.SelectedVersion.Policy.Account.AccountNumber)"
                  id="PolicyAccount"
                  label="item.SelectedVersion.Policy.Account.AccountHolderContact.DisplayName"
                  tooltip="item.SelectedVersion.Policy.Account.AccountNumber"/>
              </LinkCell>
              <TextCell
                action="PolicyFileForward.go(item.SelectedVersion.PolicyNumber)"
                available="not item?.createsNewPolicy()"
                enableSort="false"
                id="PolicyNumber"
                label="DisplayKey.get(&quot;Web.Contact.Associations.PolicyNumber&quot;)"
                value="item.SelectedVersion.PolicyNumberDisplayString"/>
              <TextCell
                enableSort="false"
                id="PolicyType"
                label="DisplayKey.get(&quot;Web.Contact.Associations.PolicyType&quot;)"
                value="item.SelectedVersion.Policy.Product"
                valueType="gw.api.productmodel.Product"/>
              <TextCell
                action="JobNumberForward.go(item.JobNumber)"
                id="WorkOrderNumber"
                label="DisplayKey.get(&quot;Web.Contact.Associations.WorkOrderNumber&quot;)"
                value="item.JobNumber"/>
              <TextCell
                id="WorkOrderType"
                label="DisplayKey.get(&quot;Web.Contact.Associations.WorkOrderType&quot;)"
                value="item.DisplayType"/>
              <TypeKeyCell
                enableSort="false"
                id="Status"
                label="DisplayKey.get(&quot;Web.Contact.Associations.WorkOrderStatus&quot;)"
                value="item.SelectedVersion.Status"
                valueType="typekey.PolicyPeriodStatus"/>
              <DateCell
                id="DateCompleted"
                label="DisplayKey.get(&quot;Web.ContactFile.WorkOrders.CompletionDate&quot;)"
                sortOrder="1"
                value="item.CloseDate"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
      <DetailViewPanel
        visible="gw.api.archive.PCArchivingUtil.isArchiveEnabled()">
        <InputFooterSection>
          <Label
            label="DisplayKey.get(&quot;Web.ContactFile.WorkOrders.Archive.Footer&quot;)"/>
        </InputFooterSection>
      </DetailViewPanel>
    </Screen>
  </Page>
</PCF>
