<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="ContactClaimsLV">
    <Require
      name="claims"
      type="Claim[]"/>
    <Require
      name="preferredCurrency"
      type="Currency"/>
    <RowIterator
      editable="false"
      elementName="claim"
      pageSize="10"
      type="entity.Claim"
      value="claims"
      valueType="entity.Claim[]">
      <Row>
        <LinkCell
          label="DisplayKey.get(&quot;Web.ContactFile.AccountHolder.Account&quot;)">
          <Link
            action="pcf.AccountFileDoRetrievalForward.go(claim.PolicyPeriod.Policy.Account.AccountNumber)"
            id="policyAccount"
            label="claim.PolicyPeriod.Policy.Account.AccountHolderContact.DisplayName"
            tooltip="claim.PolicyPeriod.Policy.Account.AccountNumber"/>
        </LinkCell>
        <TextCell
          action="PolicyFileForward.go(claim.PolicyPeriod.PolicyNumber)"
          actionAvailable="claim.PolicyPeriod != null"
          id="PolicyNumber"
          label="DisplayKey.get(&quot;Web.Claims.PolicyNumber&quot;)"
          value="claim.PolicyPeriod.PolicyNumberDisplayString"/>
        <TextCell
          id="ProductCode"
          label="DisplayKey.get(&quot;Web.Claims.Product&quot;)"
          sortOrder="1"
          value="claim.PolicyPeriod.Policy.Product.DisplayName"/>
        <TextCell
          id="Insured"
          label="DisplayKey.get(&quot;Web.Claims.Insured&quot;)"
          value="claim.PolicyPeriod.PrimaryInsuredName"/>
        <DateCell
          id="LossDate"
          label="DisplayKey.get(&quot;Web.Claims.LossDate&quot;)"
          sortDirection="descending"
          sortOrder="2"
          value="claim.LossDate"/>
        <TextCell
          id="ClaimNumber"
          label="DisplayKey.get(&quot;Web.Claims.ClaimNumber&quot;)"
          value="claim.ClaimNumber"/>
        <TextCell
          id="Status"
          label="DisplayKey.get(&quot;Web.Claims.Status&quot;)"
          value="claim.Status"/>
        <MonetaryAmountCell
          footerSumValue="claim.TotalIncurred == null ? null : claim.TotalIncurred?.convertAmount(preferredCurrency)"
          id="TotalIncurred"
          label="DisplayKey.get(&quot;Web.Claims.TotalIncurred&quot;)"
          value="claim.TotalIncurred"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
