<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Forward
    allowGoOrPush="true"
    id="FederatedClusterForNewSubmissionForward">
    <LocationEntryPoint
      signature="FederatedClusterForNewSubmissionForward()"/>
    <ForwardCondition
      action="gw.api.web.desktop.data.ResolverRedirectHelper.nextSubmissionForward()"
      />
  </Forward>
</PCF>