<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    alternateEntryStyle="false"
    disableUserCustomization="true"
    id="IMCostLV"
    stretch="true">
    <Require
      name="costs"
      type="java.util.List&lt;IMCost&gt;"/>
    <Variable
      initialValue="costs.AnyProrated"
      name="prorated"
      recalculateOnRefresh="true"
      type="boolean"/>
    <RowIterator
      editable="false"
      elementName="cost"
      value="costs.toTypedArray()"
      valueType="entity.IMCost[]">
      <Variable
        initialValue="cost.Coverage"
        name="coverage"
        type="entity.Coverage"/>
      <IteratorSort
        sortBy="cost.Coverage.Pattern.CoverageCategory.Priority"
        sortOrder="1"/>
      <IteratorSort
        sortBy="cost.Coverage.Pattern.Priority"
        sortOrder="2"/>
      <Row
        useTitleStyle="true">
        <TextCell
          bold="true"
          enableSort="false"
          footerLabel="DisplayKey.get(&quot;Web.Policy.BA.Subtotal&quot;)"
          grow="true"
          id="Description"
          label="DisplayKey.get(&quot;Web.PolicyLine.Coverages.Description&quot;)"
          value="DisplayKey.get(&quot;Web.PolicyLine.Coverage&quot;, coverage.Pattern)"/>
        <EmptyCell
          align="right"
          id="CovTerm"
          label="DisplayKey.get(&quot;Web.PolicyLine.Coverage.CovTermValue&quot;, gw.pcf.line.common.CostUIHelper.getDisplayableCurrency(costs))"
          wrap="false"/>
        <MonetaryAmountCell
          align="right"
          enableSort="false"
          formatType="currency"
          id="TermAmount"
          label="DisplayKey.get(&quot;Web.SubmissionWizard.Quote.WC.Amount&quot;)"
          value="cost.ActualTermAmountBilling"
          visible="prorated"
          wrap="false"/>
        <DateCell
          align="right"
          enableSort="false"
          id="EffDate"
          label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.PeriodStart&quot;)"
          value="cost.EffDate"
          visible="prorated"
          wrap="false"/>
        <DateCell
          align="right"
          enableSort="false"
          id="ExpDate"
          label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.PeriodEnd&quot;)"
          value="cost.ExpDate"
          visible="prorated"
          wrap="false"/>
        <TextCell
          align="right"
          enableSort="false"
          id="Proration"
          label="DisplayKey.get(&quot;Web.SubmissionWizard.Quote.WC.Prorata&quot;)"
          value="gw.api.util.StringUtil.formatNumber(cost.ProRataByDaysValue, &quot;#0.0000&quot;)"
          visible="prorated"
          wrap="false"/>
        <MonetaryAmountCell
          align="right"
          enableSort="false"
          footerSumValue="cost.ActualAmountBilling"
          formatType="currency"
          id="Amount"
          label="DisplayKey.get(&quot;Web.Policy.BA.Premium&quot;)"
          value="cost.ActualAmountBilling"
          wrap="false"/>
      </Row>
      <RowIterator
        editable="false"
        elementName="covTerm"
        pageSize="0"
        value="coverage.CovTerms"
        valueType="gw.api.domain.covterm.CovTerm[]">
        <IteratorSort
          sortBy="covTerm.Pattern.Priority"
          sortOrder="1"/>
        <Row>
          <TextCell
            grow="true"
            id="Description"
            value="&quot;       &quot; + covTerm.DisplayName"/>
          <TextCell
            align="right"
            id="CovTermValue"
            value="covTerm.DisplayValue"
            wrap="false"/>
          <EmptyCell
            id="TermAmount"
            visible="prorated"/>
          <EmptyCell
            id="EffDate"
            visible="prorated"/>
          <EmptyCell
            id="ExpDate"
            visible="prorated"/>
          <EmptyCell
            id="Proration"
            visible="prorated"/>
          <EmptyCell
            id="Amount"/>
        </Row>
      </RowIterator>
    </RowIterator>
  </ListViewPanel>
</PCF>