<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../../pcf.xsd">
  <ListViewPanel
    disableUserCustomization="true"
    id="RateTxContractorsEquipmentCoveragesLV"
    stretch="true">
    <Require
      name="equipment"
      type="ContractorsEquipment"/>
    <Require
      name="txs"
      type="java.util.Set&lt;IMTransaction&gt;"/>
    <Variable
      initialValue="equipment.ContractorsEquipSchedCov"
      name="theCoverage"
      type="productmodel.ContractorsEquipSchedCov"/>
    <Variable
      initialValue="txs.AnyProrated"
      name="prorated"
      type="boolean"/>
    <RowIterator
      editable="false"
      elementName="theTx"
      id="covIterator"
      pageSize="0"
      value="txs.toTypedArray()"
      valueType="entity.IMTransaction[]">
      <IteratorSort
        sortBy="theCoverage.Pattern.Priority"
        sortOrder="1"/>
      <IteratorSort
        sortBy="theTx.AmountBilling"
        sortOrder="2"/>
      <Row>
        <TextCell
          enableSort="false"
          footerLabel="DisplayKey.get(&quot;Web.Policy.BA.Subtotal&quot;)"
          grow="true"
          id="CovDescription"
          label="DisplayKey.get(&quot;Web.Policy.IM.ContractorsEquipment.Description&quot;)"
          value="theCoverage.Pattern.DisplayName"
          wrap="true"/>
        <MonetaryAmountCell
          enableSort="false"
          formatType="currency"
          id="CovTermAmount"
          label="DisplayKey.get(&quot;Web.SubmissionWizard.Quote.WC.Amount&quot;)"
          value="theTx.Cost.ActualTermAmountBilling"
          visible="prorated"/>
        <DateCell
          id="CovEffDate"
          label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.PeriodStart&quot;)"
          value="theTx.EffDate"
          visible="prorated"/>
        <DateCell
          id="CovExpDate"
          label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.PeriodEnd&quot;)"
          value="theTx.ExpDate"
          visible="prorated"/>
        <TextCell
          id="CovTxProration"
          label="DisplayKey.get(&quot;Web.SubmissionWizard.Quote.WC.Prorata&quot;)"
          value="gw.api.util.StringUtil.formatNumber(theTx.Proration, &quot;#0.0000&quot;)"
          visible="prorated"/>
        <MonetaryAmountCell
          align="right"
          enableSort="false"
          footerSumValue="theTx.AmountBilling"
          formatType="currency"
          id="CovAmount"
          label="DisplayKey.get(&quot;Web.Policy.BA.Premium&quot;)"
          value="theTx.AmountBilling"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>