<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../../pcf.xsd">
  <PanelSet
    id="ScheduledEquipmentPanelSet">
    <Require
      name="contractorsEquipmentPart"
      type="ContractorsEquipPart"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <PanelRef
      id="ScheduledEquipmentPanelRef">
      <TitleBar
        title="DisplayKey.get(&quot;Web.Policy.IM.ContractorsEquipment.ScheduledEquipment&quot;)"/>
      <ListDetailPanel
        selectionName="theEquipment"
        selectionType="ContractorsEquipment">
        <PanelRef>
          <Toolbar>
            <IteratorButtons
              iterator="equipment"/>
          </Toolbar>
          <ListViewPanel
            disableUserCustomization="true"
            stretch="true">
            <RowIterator
              editable="true"
              elementName="equipment"
              hasCheckBoxes="true"
              hideCheckBoxesIfReadOnly="true"
              id="equipment"
              toCreateAndAdd="contractorsEquipmentPart.createAndAddIMContrEqAndCoverage()"
              toRemove="contractorsEquipmentPart.removeIMContrEqAndCoverage( equipment )"
              value="contractorsEquipmentPart.ContractorsEquipments"
              valueType="entity.ContractorsEquipment[]">
              <Row>
                <TextCell
                  align="right"
                  id="number"
                  label="DisplayKey.get(&quot;Web.Policy.IM.ContractorsEquipment.EquipmentNumber&quot;)"
                  sortOrder="1"
                  value="equipment.ContractorsEquipmentNumber"
                  valueType="java.lang.Integer"
                  wrap="false"/>
                <TextCell
                  id="equipmentID"
                  label="DisplayKey.get(&quot;Web.Policy.IM.ContractorsEquipment.ContractorsEquipmentID&quot;)"
                  value="equipment.ContractorsEquipmentID"
                  wrap="false"/>
                <TextCell
                  grow="true"
                  id="description"
                  label="DisplayKey.get(&quot;Web.Policy.IM.ContractorsEquipment.Description&quot;)"
                  value="equipment.Description"/>
                <TextCell
                  align="right"
                  id="limit"
                  label="DisplayKey.get(&quot;Web.Policy.IM.ContractorsEquipment.Limit&quot;)"
                  value="equipment.ContractorsEquipSchedCov.ContractorsEquipSchedCovLimitTerm.Value"
                  valueType="java.math.BigDecimal"
                  wrap="false"/>
                <TextCell
                  id="imContractorsEquipmentCoverageCurrency"
                  label="DisplayKey.get(&quot;Web.Policy.CoverableCurrency&quot;)"
                  value="equipment.PreferredCoverageCurrency"
                  valueType="typekey.Currency"
                  visible="gw.api.util.CurrencyUtil.isMultiCurrencyMode()"
                  wrap="false"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </PanelRef>
        <PanelRef
          def="PreferredCoverageCurrencyPanelSet(theEquipment, openForEdit, jobWizardHelper)"
          id="PreferredCoverageCurrencySelectorRef"/>
        <CardViewPanel>
          <Card
            id="details"
            title="DisplayKey.get(&quot;Web.Policy.IM.ContractorsEquipment.EquipmentDetails&quot;)">
            <DetailViewPanel>
              <Variable
                initialValue="contractorsEquipmentPart.InlandMarineLine.Pattern.getCoverageCategoryByPublicId( &quot;ContractorsEquipCategory&quot; )"
                name="contractorsEquipCategory"
                type="gw.api.productmodel.CoverageCategory"/>
              <Variable
                initialValue="theEquipment == null ? null : contractorsEquipCategory.coveragePatternsForEntity(ContractorsEquipment).whereSelectedOrAvailable(theEquipment, CurrentLocation.InEditMode)"
                name="contractorsEquipCategoryCoveragePatterns"
                recalculateOnRefresh="true"
                type="gw.api.productmodel.CoveragePattern[]"/>
              <InputColumn>
                <TextInput
                  id="equipmentNumber"
                  label="DisplayKey.get(&quot;Web.Policy.IM.ContractorsEquipment.EquipmentNumber&quot;)"
                  value="theEquipment.ContractorsEquipmentNumber"
                  valueType="java.lang.Integer"/>
                <TextInput
                  editable="true"
                  id="equipmentID"
                  label="DisplayKey.get(&quot;Web.Policy.IM.ContractorsEquipment.EquipmentID&quot;)"
                  value="theEquipment.ContractorsEquipmentID"/>
                <TextInput
                  editable="true"
                  id="description"
                  label="DisplayKey.get(&quot;Web.Policy.IM.ContractorsEquipment.Description&quot;)"
                  required="true"
                  value="theEquipment.Description"/>
                <TextInput
                  editable="true"
                  id="manufacturer"
                  label="DisplayKey.get(&quot;Web.Policy.IM.ContractorsEquipment.Manufacturer&quot;)"
                  value="theEquipment.Manufacturer"/>
                <TextInput
                  editable="true"
                  id="model"
                  label="DisplayKey.get(&quot;Web.Policy.IM.ContractorsEquipment.Model&quot;)"
                  value="theEquipment.Model"/>
                <TextInput
                  editable="true"
                  id="modelYear"
                  label="DisplayKey.get(&quot;Web.Policy.IM.ContractorsEquipment.ModelYear&quot;)"
                  value="theEquipment.ModelYear"
                  valueType="java.lang.Integer"/>
                <TextInput
                  editable="true"
                  id="yearBought"
                  label="DisplayKey.get(&quot;Web.Policy.IM.ContractorsEquipment.YearBought&quot;)"
                  value="theEquipment.YearBought"
                  valueType="java.lang.Integer"/>
              </InputColumn>
              <InputColumn>
                <InputIterator
                  elementName="coveragePattern"
                  forceRefreshDespiteChangedEntries="true"
                  id="coveragePattern"
                  value="contractorsEquipCategoryCoveragePatterns"
                  valueType="gw.api.productmodel.CoveragePattern[]">
                  <InputSetRef
                    def="CoverageInputSet(coveragePattern, theEquipment, true)"
                    mode="coveragePattern.PublicID"/>
                </InputIterator>
              </InputColumn>
            </DetailViewPanel>
            <PanelRef
              def="AdditionalInterestDetailsDV(theEquipment, openForEdit)"
              visible="theEquipment != null"/>
          </Card>
        </CardViewPanel>
      </ListDetailPanel>
    </PanelRef>
  </PanelSet>
</PCF>