<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ToolbarButtonSet
    id="JobWizardBillingToolbarButtonSet"
    mode="Renewal">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="job"
      type="Job"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <Require
      name="policyPeriodBillingInstructionsManager"
      type="gw.billing.PolicyPeriodBillingInstructionsManager"/>
    <Variable
      initialValue="job as Renewal"
      name="renewal"
      type="Renewal"/>
    <Variable
      initialValue="CurrentLocation as pcf.api.Wizard"
      name="wizard"
      type="pcf.api.Wizard"/>
    <Variable
      initialValue="policyPeriod.RenewalProcess"
      name="renewalProcess"
      type="gw.job.RenewalProcess"/>
    <Variable
      initialValue="new gw.lob.common.SideBySideUIHelper(policyPeriod, wizard, jobWizardHelper)"
      name="sideBySideHelper"
      type="gw.lob.common.SideBySideUIHelper"/>
    <Variable
      initialValue="(not policyPeriod.UWLockedAndNoOverride) and renewalProcess.canMakeNewVersion().Okay"
      name="canPerformNewVersion"
      recalculateOnRefresh="true"
      type="boolean"/>
    <Variable
      initialValue="sideBySideHelper.canAttemptSideBySide()"
      name="canPerformSideBySide"
      recalculateOnRefresh="true"
      type="boolean"/>
    <Variable
      initialValue="perm.PolicyPeriod.view(policyPeriod) and policyPeriod.Job.hasMultiplePeriods()and policyPeriod.Job.SideBySide"
      name="canViewSideBySide"
      type="boolean"/>
    <Variable
      initialValue="policyPeriod.ValidQuote"
      name="canEditPolicyWorkflow"
      recalculateOnRefresh="true"
      type="boolean"/>
    <ToolbarButton
      action="UWActivityPopup.push(policyPeriod, ActivityPattern.finder.getActivityPatternByCode(&quot;uw_review_approved&quot;), &quot;UWApproval&quot;)"
      id="Unlock"
      label="DisplayKey.get('Job.Operation.ReleaseLock')"
      shortcut="K"
      visible="renewalProcess.canReleaseLock()"/>
    <ToolbarButton
      action="jobWizardHelper.requestQuote(policyPeriod, jobWizardHelper.getQuoteStep(policyPeriod))"
      id="RenewalQuote"
      label="DisplayKey.get('Job.Operation.Quote')"
      shortcut="Q"
      visible="renewalProcess.canManuallyQuote().Okay"/>
    <ToolbarButton
      action="renewalProcess.edit(); policyPeriodBillingInstructionsManager.saveStateToPolicyPeriod(policyPeriod); wizard.saveDraft(); jobWizardHelper.goToVisibleStep(policyPeriod)"
      confirmMessage="DisplayKey.get('Job.Operation.Edit.Confirm')"
      id="EditPolicy"
      label="DisplayKey.get('Job.Operation.EditWorkOrder')"
      shortcut="E"
      visible="renewalProcess.canEdit().Okay"/>
    <ToolbarButton
      action="gw.web.job.renewal.JobWizardToolbarButtonSetRenewalUIHelper.editRenewalFromWorkflow(wizard, policyPeriod, renewalProcess, job)"
      confirmMessage="DisplayKey.get('Job.Operation.Edit.Confirm')"
      id="EditPolicyWorkflow"
      label="DisplayKey.get('Job.Operation.EditWorkOrder')"
      shortcut="E"
      showConfirmMessage="canEditPolicyWorkflow"
      visible="renewalProcess.ActiveRenewalWorkflow != null and renewalProcess.ActiveRenewalWorkflow.isTriggerAvailable(WorkflowTriggerKey.get(&quot;EditPolicy&quot;))"/>
    <ToolbarButton
      action="if (jobWizardHelper.revalidateModel()) {policyPeriodBillingInstructionsManager.saveStateToPolicyPeriod(policyPeriod) wizard.saveDraft()}"
      hideIfReadOnly="true"
      id="Draft"
      label="DisplayKey.get('Button.SaveDraft')"
      shortcut="S"/>
    <ToolbarButton
      id="Versions"
      label="DisplayKey.get('Web.MultiQuoteWizardToolbar.Versions')"
      showConfirmMessage="false"
      visible="canPerformNewVersion or canPerformSideBySide or canViewSideBySide">
      <MenuItem
        action="gw.web.job.renewal.JobWizardToolbarButtonSetRenewalUIHelper.attemptNewVersion(wizard, jobWizardHelper, policyPeriod, job)"
        id="NewVersion"
        label="sideBySideHelper.getVersionLabel()"
        shortcut="V"
        visible="canPerformNewVersion"/>
      <MenuItem
        action="sideBySideHelper.attemptSideBySide(2)"
        id="SideBySide"
        label="DisplayKey.get('Web.Job.SideBySide.Go')"
        shortcut="X"
        visible="canPerformSideBySide"/>
      <MenuItem
        action="jobWizardHelper.goToStep(&quot;SideBySide&quot;)"
        id="ViewSideBySide"
        label="DisplayKey.get('Web.Job.SideBySide.ViewSideBySide')"
        visible="canViewSideBySide"/>
    </ToolbarButton>
    <ToolbarButton
      id="BindOptions"
      label="DisplayKey.get('Job.Operation.BindOptions')"
      shortcut="B"
      visible="renewalProcess.canPendingRenew().Okay or renewalProcess.canIssueNow().Okay">
      <MenuItem
        action="policyPeriodBillingInstructionsManager.saveStateToPolicyPeriod(policyPeriod) jobWizardHelper.requestRenewRenewal(policyPeriod)"
        id="SendToRenewal"
        label="DisplayKey.get('Job.Operation.SendToRenewal')"
        shortcut="R"
        visible="renewalProcess.canPendingRenew().Okay"/>
      <MenuItem
        action="policyPeriodBillingInstructionsManager.saveStateToPolicyPeriod(policyPeriod) jobWizardHelper.requestIssueJob(policyPeriod)"
        confirmMessage="DisplayKey.get('Job.Operation.IssueNow.Confirm')"
        id="IssueNow"
        label="DisplayKey.get('Job.Operation.IssueNow')"
        shortcut="I"
        visible="renewalProcess.canIssueNow().Okay"/>
    </ToolbarButton>
    <ToolbarButton
      id="CloseOptions"
      label="DisplayKey.get('Job.Operation.CloseOptions')"
      shortcut="C"
      visible="renewalProcess.canWithdrawJob().Okay or renewalProcess.canPendingNonRenew().Okay or renewalProcess.canPendingNotTaken().Okay">
      <MenuItem
        action="jobWizardHelper.withdraw(policyPeriod); PolicyFileForward.go(policyPeriod.BasedOn, policyPeriod.BasedOn.PeriodStart);"
        confirmMessage="DisplayKey.get('Job.Operation.Withdraw.Confirm')"
        id="Withdraw"
        label="DisplayKey.get('Job.Operation.Withdraw')"
        shortcut="W"
        visible="renewalProcess.canWithdraw().Okay"/>
      <MenuItem
        action="renewalProcess.assertNonRenewLeadTime(); RenewalWizard_NonRenewPopup.push(renewal, policyPeriod)"
        id="SendToNonRenewal"
        label="DisplayKey.get('Job.Operation.SendToNonRenewal')"
        shortcut="N"
        visible="renewalProcess.canPendingNonRenew().Okay"/>
      <MenuItem
        action="if (jobWizardHelper.revalidateModel()) { renewalProcess.pendingNotTaken(); wizard.finish(); JobComplete.go(renewal, policyPeriod) }"
        confirmMessage="DisplayKey.get('Job.Operation.SendToNotTaken.Confirm')"
        id="SendToNotTaken"
        label="DisplayKey.get('Job.Operation.NotTaking')"
        shortcut="O"
        visible="renewalProcess.canPendingNotTaken().Okay"/>
    </ToolbarButton>
  </ToolbarButtonSet>
</PCF>