<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="BillingInvoiceStreamInputSet">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="policyPeriodBillingInstructionsManager"
      type="gw.billing.PolicyPeriodBillingInstructionsManager"/>
    <RangeInput
      editable="true"
      id="Invoice"
      label="DisplayKey.get(&quot;Web.Quote.PremiumSummary.FixInvoicesBy&quot;)"
      optionLabel="VALUE ? BillDateOrDueDateBilling.TC_DUEDATEBILLING.DisplayName : BillDateOrDueDateBilling.TC_BILLDATEBILLING.DisplayName"
      required="policyPeriodBillingInstructionsManager.CustomBilling"
      value="policyPeriodBillingInstructionsManager.DueDateBilling"
      valueRange="{true, false}"
      valueType="java.lang.Boolean">
      <PostOnChange/>
    </RangeInput>
    <RangeInput
      editable="true"
      id="FirstDayOfMonth"
      label="DisplayKey.get(&quot;Web.Policy.Payment.InvoiceStreamsLV.DayOfMonth&quot;)"
      required="policyPeriodBillingInstructionsManager.CustomBilling"
      value="policyPeriodBillingInstructionsManager.FirstDayOfMonth"
      valueRange="(1..31).toTypedArray()"
      visible="policyPeriodBillingInstructionsManager.FirstDayOfMonthVisible"
      valueType="java.lang.Integer">
      <PostOnChange/>
    </RangeInput>
    <RangeInput
      editable="true"
      id="SecondDayOfMonth"
      label="DisplayKey.get(&quot;Web.Policy.Payment.InvoiceStreamsLV.SecondDayOfMonth&quot;)"
      required="policyPeriodBillingInstructionsManager.CustomBilling"
      value="policyPeriodBillingInstructionsManager.SecondDayOfMonth"
      valueRange="(1..31).toTypedArray()"
      visible="policyPeriodBillingInstructionsManager.SecondDayOfMonthVisible"
      valueType="java.lang.Integer">
      <PostOnChange/>
    </RangeInput>
    <TypeKeyInput
      editable="true"
      id="DayOfWeek"
      label="DisplayKey.get(&quot;Web.Policy.Payment.InvoiceStreamsLV.DayOfWeek&quot;)"
      required="policyPeriodBillingInstructionsManager.CustomBilling"
      value="policyPeriodBillingInstructionsManager.DayOfWeek"
      valueType="typekey.DayOfWeek"
      visible="policyPeriodBillingInstructionsManager.DayOfWeekVisible">
      <PostOnChange/>
    </TypeKeyInput>
    <DateInput
      editable="true"
      id="FirstPaymentDate"
      label="DisplayKey.get(&quot;Web.Policy.Payment.InvoiceStreamsLV.FirstPaymentDate&quot;)"
      required="policyPeriodBillingInstructionsManager.CustomBilling"
      value="policyPeriodBillingInstructionsManager.FirstAnchorDate"
      visible="policyPeriodBillingInstructionsManager.PaymentDateVisible">
      <PostOnChange/>
    </DateInput>
    <TextInput
      editable="true"
      id="InvoiceStreamDescription"
      label="DisplayKey.get(&quot;Web.Policy.Payment.InvoiceStreamsLV.Description&quot;)"
      value="policyPeriodBillingInstructionsManager.Description">
      <PostOnChange/>
    </TextInput>
    <BooleanRadioInput
      available="policyPeriodBillingInstructionsManager.AllowResponsive"
      editable="true"
      falseLabel="DisplayKey.get(&quot;Web.Policy.Payment.InvoiceStreamsLV.Manual&quot;)"
      id="Automatic"
      label="DisplayKey.get(&quot;Web.Policy.Payment.InvoiceStreamsLV.Payment&quot;)"
      trueLabel="DisplayKey.get(&quot;Web.Policy.Payment.InvoiceStreamsLV.Automatic&quot;)"
      value="policyPeriodBillingInstructionsManager.Automatic"
      visible="policyPeriodBillingInstructionsManager.CustomBilling">
      <PostOnChange/>
    </BooleanRadioInput>
    <ListViewInput
      def="PaymentInstrumentsLV(policyPeriodBillingInstructionsManager.refreshPaymentInstrumentValues(), policyPeriodBillingInstructionsManager)"
      editable="true"
      id="PaymentInstrument"
      label="DisplayKey.get(&quot;Web.Policy.Payment.InvoiceStreamsLV.PayUsing&quot;)"
      visible="policyPeriodBillingInstructionsManager.OverriddenInvoiceStream or policyPeriodBillingInstructionsManager.Automatic">
      <Toolbar>
        <ToolbarButton
          action="policyPeriodBillingInstructionsManager.externalPaymentLocation(policyPeriod)"
          available="gw.api.system.PCConfigParameters.PaymentSystemURL.Value.HasContent"
          id="AddPaymentInstrument"
          label="DisplayKey.get(&quot;Web.Billing.AddPaymentInstrument&quot;)"/>
      </Toolbar>
    </ListViewInput>
  </InputSet>
</PCF>