<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    id="BillingAccountSearchPopup"
    returnType="String"
    title="DisplayKey.get(&quot;Web.Billing.SearchBillingAccounts&quot;)">
    <LocationEntryPoint
      signature="BillingAccountSearchPopup(accountCurrency: Currency)"/>
    <Variable
      initialValue="gw.plugin.Plugins.get(gw.plugin.billing.IBillingSystemPlugin)"
      name="billingSystemPlugin"
      type="gw.plugin.billing.IBillingSystemPlugin"/>
    <Variable
      name="accountCurrency"
      type="Currency"/>
    <Screen>
      <SearchPanel
        criteriaName="searchCriteria"
        resultsName="searchResults"
        search="searchCriteria.performSearch()"
        searchCriteria="new gw.plugin.billing.BillingAccountSearchCriteria() {:ListBill = true, :Currency = accountCurrency}"
        searchCriteriaType="gw.plugin.billing.BillingAccountSearchCriteria"
        searchResultsType="gw.plugin.billing.BillingAccountSearchResult[]">
        <DetailViewPanel>
          <InputColumn>
            <TextInput
              editable="true"
              id="AccountNumber"
              inputConversion="VALUE?.trim()"
              label="DisplayKey.get(&quot;Web.AccountSearch.AccountNumber&quot;)"
              value="searchCriteria.AccountNumber"/>
            <TextInput
              editable="true"
              id="AccountName"
              label="gw.billing.PolicyPeriodBillingInstructionsManager.showKanjiFields() ? DisplayKey.get(&quot;Web.AccountSearch.AccountNamePhonetic&quot;) : DisplayKey.get(&quot;Web.AccountSearch.AccountName&quot;)"
              value="searchCriteria.AccountName"/>
            <TextInput
              editable="true"
              id="AccountNameKanji"
              label="DisplayKey.get(&quot;Web.AccountSearch.AccountName&quot;)"
              value="searchCriteria.AccountNameKanji"
              visible="gw.billing.PolicyPeriodBillingInstructionsManager.showKanjiFields()"/>
          </InputColumn>
          <InputFooterSection>
            <InputSetRef
              def="SearchAndResetInputSet()"/>
          </InputFooterSection>
        </DetailViewPanel>
        <PanelRef>
          <Toolbar/>
          <ListViewPanel>
            <RowIterator
              editable="false"
              elementName="searchResult"
              pickValue="searchResult.AccountNumber"
              value="searchResults"
              valueType="gw.plugin.billing.BillingAccountSearchResult[]">
              <Row>
                <TextCell
                  id="AccountNumber"
                  label="DisplayKey.get(&quot;Web.AccountSearchResults.AccountNumber&quot;)"
                  value="searchResult.AccountNumber"/>
                <TextCell
                  id="AccountName"
                  label="gw.billing.PolicyPeriodBillingInstructionsManager.showKanjiFields() ? DisplayKey.get(&quot;Web.AccountSearchResults.NamePhonetic&quot;) : DisplayKey.get(&quot;Web.AccountSearchResults.Name&quot;)"
                  value="searchResult.AccountName"/>
                <TextCell
                  id="AccountNameKanji"
                  label="DisplayKey.get(&quot;Web.AccountSearchResults.Name&quot;)"
                  value="searchResult.AccountNameKanji"
                  visible="gw.billing.PolicyPeriodBillingInstructionsManager.showKanjiFields()"/>
                <TextCell
                  id="PrimaryPayer"
                  label="DisplayKey.get(&quot;Web.AccountSearch.PrimaryPayer&quot;)"
                  value="searchResult.PrimaryPayer"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </PanelRef>
      </SearchPanel>
    </Screen>
  </Popup>
</PCF>