<?xml version="1.0"?>
<PCF 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="UpFrontPaymentDV"
    mode="ReadOnly">
    <Require
      name="job"
      type="Job"/>
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="billingStateContainer"
      type="gw.billing.PolicyPeriodBillingInstructionsManager"/>
    <Variable
      initialValue="policyPeriod.PreferredSettlementCurrency"
      name="currency"
      type="Currency"/>
    <InputColumn
      id="UpFrontPaymentsInputColumn">
      <Label
        label="DisplayKey.get('Web.UpFrontPaymentDV.Title')"/>
      <ListViewInput
        boldLabel="true"
        id="CollectedPayments"
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="CollectedPaymentsLV">
          <RowIterator
            editable="false"
            elementName="payment"
            id="CollectedUpFrontPayments"
            type="UpFrontPayment"
            value="job.UpFrontPayments"
            valueType="entity.UpFrontPayment[]">
            <Row>
              <TextCell
                enableSort="false"
                id="PaymentInstrumentName"
                label="DisplayKey.get('Web.UpFrontPaymentDV.PaymentInstrument')"
                value="(String)((payment.PaymentInstrument != null) ? payment.PaymentInstrument : payment.PaymentMethod)"/>
              <TextCell
                id="Reference"
                label="DisplayKey.get('Web.UpFrontPaymentDV.Reference')"
                value="payment.Reference">
                <ColumnFooter>
                  <TextCell
                    align="right"
                    id="HeldByAgentFooter"
                    value="DisplayKey.get('Web.UpFrontPaymentDV.Total')"/>
                </ColumnFooter>
              </TextCell>
              <MonetaryAmountCell
                footerSumValue="payment.Amount"
                formatType="currency"
                id="Amount"
                label="DisplayKey.get('Web.UpFrontPaymentDV.Amount')"
                value="payment.Amount"/>
            </Row>
          </RowIterator>
          <Row
            visible="job.UpFrontPayments.IsEmpty">
            <TextCell
              id="EmptyCell1"
              value="DisplayKey.get(&quot;Web.UpFrontPaymentDV.Dash&quot;)"/>
            <TextCell
              id="EmptyCell2" 
              value="DisplayKey.get(&quot;Web.UpFrontPaymentDV.Dash&quot;)"/>
            <TextCell
              id="EmptyCell3"
              value="DisplayKey.get(&quot;Web.UpFrontPaymentDV.Dash&quot;)"/>
          </Row>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>