<?xml version="1.0"?>
<PCF 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="UpFrontPaymentDV"
    mode="Editable"
    visible="billingStateContainer.UpFrontPaymentsVisible">
    <Require
      name="job"
      type="Job"/>
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="billingStateContainer"
      type="gw.billing.PolicyPeriodBillingInstructionsManager"/>
    <Variable
      initialValue="false"
      name="saveForFuture"
      recalculateOnRefresh="true"
      type="boolean"/>
    <Variable
      initialValue="billingStateContainer.retrieveAvailablePaymentInstrumentsForUpFrontPayment()"
      name="paymentInstruments"
      recalculateOnRefresh="true"
      type="List&lt;String&gt;"/>
    <Variable
      initialValue="policyPeriod.PreferredSettlementCurrency"
      name="currency"
      type="Currency"/>
    <Variable
      initialValue="billingStateContainer.HasPendingPaymentGatewayTransactions"
      name="unprocessedTransactionAvailable"
      recalculateOnRefresh="true"
      type="Boolean"/>
    <InputColumn
      id="UpFrontPaymentsInputColumn">
      <InputDivider/>
      <Label
        label="DisplayKey.get('Web.UpFrontPaymentDV.Title')"/>
      <ListViewInput
        id="CollectedPayments"
        label="unprocessedTransactionAvailable ? DisplayKey.get('Web.UpFrontPaymentDV.Error.UnprocessedPaymentTransactions') : &quot;&quot;"
        labelAbove="true">
        <Toolbar
          id="SynchronizeTransactionsToolbar">
          <ToolbarButton
            action="billingStateContainer.synchronizePendingPaymentGatewayTransactions(policyPeriod)"
            id="SynchronizeTransactionsButton"
            label="DisplayKey.get(&quot;Web.UpFrontPaymentDV.Editable.Synchronize&quot;)"
            visible="unprocessedTransactionAvailable"/>
        </Toolbar>
        <ListViewPanel
          id="CollectedPaymentsLV">
          <RowIterator
            editable="false"
            elementName="payment"
            id="CollectedUpFrontPayments"
            type="UpFrontPayment"
            value="job.UpFrontPayments"
            valueType="entity.UpFrontPayment[]">
            <Row>
              <TextCell
                enableSort="false"
                id="PaymentInstrumentName"
                label="DisplayKey.get('Web.UpFrontPaymentDV.PaymentInstrument')"
                value="payment.PaymentInstrumentOrMethodName"/>
              <TextCell
                id="Reference"
                label="DisplayKey.get('Web.UpFrontPaymentDV.Reference')"
                value="payment.Reference">
                <ColumnFooter>
                  <TextCell
                    align="right"
                    id="HeldByAgentFooter"
                    value="DisplayKey.get('Web.UpFrontPaymentDV.Total')"/>
                </ColumnFooter>
              </TextCell>
              <MonetaryAmountCell
                footerSumValue="payment.Amount"
                id="Amount"
                label="DisplayKey.get('Web.UpFrontPaymentDV.Amount')"
                showHeaderIcon="false"
                value="payment.Amount"/>
              <LinkCell>
                <Link
                  action="billingStateContainer.removePayment(payment)"
                  confirmMessage="DisplayKey.get('Web.UpFrontPaymentDV.RemovalConfirmation')"
                  id="RemoveCollectedPayment"
                  label="DisplayKey.get('Web.UpFrontPaymentDV.Remove')"
                  visible="not job.UpFrontPayments.IsEmpty"/>
              </LinkCell>
            </Row>
          </RowIterator>
          <Row
            visible="job.UpFrontPayments.IsEmpty">
            <TextCell
              id="EmptyCell1"
              value="DisplayKey.get(&quot;Web.UpFrontPaymentDV.Dash&quot;)"/>
            <TextCell
              id="EmptyCell2"
              value="DisplayKey.get(&quot;Web.UpFrontPaymentDV.Dash&quot;)"/>
            <TextCell
              id="EmptyCell3"
              value="DisplayKey.get(&quot;Web.UpFrontPaymentDV.Dash&quot;)"/>
            <TextCell
              id="EmptyCell4"
              value="DisplayKey.get(&quot;Web.UpFrontPaymentDV.Dash&quot;)"/>
          </Row>
        </ListViewPanel>
      </ListViewInput>
      <Choice
        id="AgentChoiceOption"
        option="typekey.UpFrontPaymentMethod.TC_AGENT.Code"
        value="billingStateContainer.UpFrontPaymentMethod"
        valueType="typekey.UpFrontPaymentMethod">
        <MonetaryAmountInput
          currency="currency"
          editable="true"
          id="AgentAmount"
          label="DisplayKey.get('Web.UpFrontPaymentDV.HeldByAgent')"
          value="billingStateContainer.AgentAmount"/>
        <ContentInput
          visible="billingStateContainer.UpFrontPaymentMethod == UpFrontPaymentMethod.TC_AGENT">
          <Link
            action="billingStateContainer.createPayment()"
            id="AgentAddButtonLink"
            label="DisplayKey.get('Web.UpFrontPaymentDV.Add')"
            retainScrollPosition="true"
            showConfirmMessage="false"
            styleClass="bigButton"/>
        </ContentInput>
      </Choice>
      <Choice
        id="CheckChoiceOption"
        option="typekey.UpFrontPaymentMethod.TC_CHECK.Code"
        value="billingStateContainer.UpFrontPaymentMethod"
        valueType="typekey.UpFrontPaymentMethod">
        <MonetaryAmountInput
          currency="currency"
          editable="true"
          id="CheckAmount"
          label="DisplayKey.get('Web.UpFrontPaymentDV.Check')"
          value="billingStateContainer.CheckAmount"/>
        <TextInput
          editable="true"
          id="CheckReference"
          label="DisplayKey.get('Web.UpFrontPaymentDV.Reference')"
          value="billingStateContainer.Reference"
          visible="billingStateContainer.UpFrontPaymentMethod == UpFrontPaymentMethod.TC_CHECK"/>
        <ContentInput
          visible="billingStateContainer.UpFrontPaymentMethod == UpFrontPaymentMethod.TC_CHECK">
          <Link
            action="billingStateContainer.createPayment()"
            id="CheckAddButtonLink"
            label="DisplayKey.get('Web.UpFrontPaymentDV.Add')"
            retainScrollPosition="true"
            showConfirmMessage="false"
            styleClass="bigButton"/>
        </ContentInput>
      </Choice>
      <Choice
        id="CashChoiceOption"
        option="typekey.UpFrontPaymentMethod.TC_CASH.Code"
        value="billingStateContainer.UpFrontPaymentMethod"
        valueType="typekey.UpFrontPaymentMethod">
        <MonetaryAmountInput
          currency="currency"
          editable="true"
          id="CashAmount"
          label="DisplayKey.get('Web.UpFrontPaymentDV.Cash')"
          value="billingStateContainer.CashAmount"/>
        <TextInput
          editable="true"
          id="CashReference"
          label="DisplayKey.get('Web.UpFrontPaymentDV.Reference')"
          value="billingStateContainer.Reference"
          visible="billingStateContainer.UpFrontPaymentMethod == UpFrontPaymentMethod.TC_CASH"/>
        <ContentInput
          visible="billingStateContainer.UpFrontPaymentMethod == UpFrontPaymentMethod.TC_CASH">
          <Link
            action="billingStateContainer.createPayment()"
            id="CashAddButtonLink"
            label="DisplayKey.get('Web.UpFrontPaymentDV.Add')"
            retainScrollPosition="true"
            showConfirmMessage="false"
            styleClass="bigButton"/>
        </ContentInput>
      </Choice>
      <Choice
        id="ElectronicChoiceOption"
        option="typekey.UpFrontPaymentMethod.TC_ELECTRONIC.Code"
        value="billingStateContainer.UpFrontPaymentMethod"
        valueType="typekey.UpFrontPaymentMethod">
        <MonetaryAmountInput
          currency="currency"
          editable="true"
          id="ElectronicAmount"
          label="DisplayKey.get('Web.UpFrontPaymentDV.Electronic')"
          value="billingStateContainer.ElectronicAmount"/>
        <RangeInput
          editable="true"
          id="PaymentInstrument"
          noneSelectedLabel="DisplayKey.get('Web.UpFrontPaymentDV.ChooseCard')"
          sortValueRange="false"
          value="billingStateContainer.UpFrontPaymentInstrument"
          valueRange="paymentInstruments"
          valueType="java.lang.String"
          visible="billingStateContainer.UpFrontPaymentMethod == UpFrontPaymentMethod.TC_ELECTRONIC">
          <PostOnChange
            deferUpdate="false"/>
        </RangeInput>
		<CheckBoxInput
      editable="true"
          id="SaveForFutureCheckbox"
          label="DisplayKey.get('Web.UpFrontPaymentDV.SaveForFutureUse')"
          value="saveForFuture"
          visible="billingStateContainer.UpFrontPaymentMethod == UpFrontPaymentMethod.TC_ELECTRONIC &amp;&amp; billingStateContainer.UpFrontPaymentInstrument == 'Other'"/>
        <ContentInput
          visible="billingStateContainer.UpFrontPaymentMethod == UpFrontPaymentMethod.TC_ELECTRONIC">
          <Link
            action="billingStateContainer.createElectronicPayment(billingStateContainer, policyPeriod, saveForFuture)"
            available="billingStateContainer.UpFrontPaymentInstrument != null"
            id="ElectronicAddButtonLink"
            label="DisplayKey.get('Web.UpFrontPaymentDV.TakePayment')"
            retainScrollPosition="true"
            showConfirmMessage="false"
            styleClass="bigButton"/>
        </ContentInput>
      </Choice>
    </InputColumn>
  </DetailViewPanel>
</PCF>
