<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    beforeCommit="coverable.ProductLine.productLineUpdated()"
    canEdit="startInEditMode"
    canVisit="true"
    id="APDCoverablePopup"
    startInEditMode="startInEditMode"
    title="DisplayKey.get(&quot;Web.APDCoverable.Title&quot;, coverable.Name)">
    <LocationEntryPoint
      signature="APDCoverablePopup(coverable : APDCoverable)"/>
    <LocationEntryPoint
      signature="APDCoverablePopup(coverable : APDCoverable, startInEditMode : boolean)"/>
    <Variable
      name="coverable"
      type="APDCoverable"/>
    <Variable
      initialValue="false"
      name="startInEditMode"
      type="boolean"/>
    <Screen>
      <Toolbar>
        <EditButtons/>
      </Toolbar>
      <PanelRef
        def="APDCoverableCV(coverable, CurrentLocation.InEditMode)"/>
    </Screen>
  </Popup>
</PCF>