<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="APDCoveragePerilsLV">
    <Require
      name="coverage"
      type="APDCoverage"/>
    <ExposeIterator
      valueType="APDCoveragePeril[]"
      widget="perils"/>
    <RowIterator
      editable="true"
      elementName="peril"
      id="perils"
      toCreateAndAdd="coverage.createAndAddCoveragePeril()"
      toRemove="coverage.removeFromPerils(peril)"
      value="coverage.Perils"
      valueType="APDCoveragePeril[]">
      <Row>
        <RangeCell
          editable="true"
          id="peril"
          label="DisplayKey.get(&quot;Web.APDCoveragePerilsLV.Event&quot;)"
          optionLabel="VALUE.Name"
          required="true"
          unique="true"
          value="peril.Peril"
          valueRange="peril.AllPerils"
          valueType="APDPeril"/>
        <TextCell
          editable="true"
          id="Limit"
          label="DisplayKey.get(&quot;Web.APDCoveragePerilsLV.Limit&quot;)"
          value="peril.PerilLimit"
          valueType="java.math.BigDecimal"/>
        <TextCell
          editable="true"
          id="Deductible"
          label="DisplayKey.get(&quot;Web.APDCoveragePerilsLV.Deductible&quot;)"
          value="peril.Deductible"
          valueType="java.math.BigDecimal"/>
        <RangeCell
          editable="true"
          id="LimitAttribute"
          label="DisplayKey.get(&quot;Web.APDCoveragePerilsLV.LimitAttribute&quot;)"
          value="peril.LimitAttribute"
          valueRange="peril.LimitCandidates"
          valueType="APDAttribute"/>
        <RangeCell
          editable="true"
          id="DeductibleAttribute"
          label="DisplayKey.get(&quot;Web.APDCoveragePerilsLV.DeductibleAttribute&quot;)"
          value="peril.DeductibleAttribute"
          valueRange="peril.LimitCandidates"
          valueType="APDAttribute"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>