<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    canEdit="true"
    canVisit="true"
    id="APDCostCodesPopup"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.APDCostCodesPopup.Title&quot;)">
    <LocationEntryPoint
      signature="APDCostCodesPopup(costCodeHelper: gw.apd.model.CostCodeHelper)"/>
    <Variable
      name="costCodeHelper"
      type="gw.apd.model.CostCodeHelper"/>
    <Screen>
      <Toolbar>
        <EditButtons/>
        <IteratorButtons
          iterator="CostCodes"/>
        <ToolbarButton
          action="costCodeHelper.saveSystemTableXML()"
          id="Export"
          label="DisplayKey.get(&quot;Web.APDCostCodesPopup.ExportCostCodes&quot;)"/>
      </Toolbar>
      <ListViewPanel>
        <RowIterator
          editable="true"
          elementName="costCode"
          id="CostCodes"
          toAdd="costCodeHelper.addToCostCodes(costCode)"
          toRemove="costCodeHelper.removeFromCostCodes(costCode)"
          type="CostCode"
          value="costCodeHelper.CostCodes"
          valueType="List&lt;CostCode&gt;">
          <Row>
            <TextCell
              editable="true"
              id="CostCode"
              label="DisplayKey.get(&quot;Web.APDCostCodesPopup.CostCode&quot;)"
              required="true"
              sortOrder="1"
              unique="true"
              value="costCode.CostCode"/>
            <TextCell
              editable="true"
              id="CostName"
              label="DisplayKey.get(&quot;Web.APDCostCodesPopup.CostName&quot;)"
              required="true"
              value="costCode.CostName"/>
            <TextCell
              editable="true"
              grow="true"
              id="Description"
              label="DisplayKey.get(&quot;Web.APDCostCodesPopup.Description&quot;)"
              value="costCode.Description"/>
            <TypeKeyCell
              editable="true"
              id="RateAmountType"
              label="DisplayKey.get(&quot;Web.APDCostCodesPopup.CostType&quot;)"
              required="true"
              value="costCode.RateAmountType"
              valueType="RateAmountType"/>
            <TypeKeyCell
              editable="true"
              id="ChargePattern"
              label="DisplayKey.get(&quot;Web.APDCostCodesPopup.ChargePattern&quot;)"
              required="true"
              value="costCode.ChargePatern"
              valueType="ChargePattern"/>
            <TypeKeyCell
              editable="true"
              id="ProrationMethod"
              label="DisplayKey.get(&quot;Web.APDCostCodesPopup.ProrationMethod&quot;)"
              required="true"
              value="costCode.ProrationMethod"
              valueType="ProrationMethod"/>
            <BooleanRadioCell
              editable="true"
              id="Overrideable"
              label="DisplayKey.get(&quot;Web.APDCostCodesPopup.Overrideable&quot;)"
              required="true"
              tooltip="DisplayKey.get(&quot;Web.APDCostCodesPopup.Overrideable.Tooltip&quot;)"
              value="costCode.Overrideable"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </Screen>
  </Popup>
</PCF>