<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    beforeCommit="exposure.buildRiskExposure(riskCoverable)"
    canEdit="true"
    canVisit="true"
    id="APDNewExposurePopup"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.APDNewExposure.Title&quot;)">
    <LocationEntryPoint
      signature="APDNewExposurePopup(riskCoverable: APDRiskCoverable)"/>
    <Variable
      name="riskCoverable"
      type="APDRiskCoverable"/>
    <Variable
      initialValue="riskCoverable.Coverable.addExposure()"
      name="exposure"
      type="APDExposure"/>
    <Screen>
      <Toolbar>
        <EditButtons/>
      </Toolbar>
      <DetailViewPanel>
        <InputColumn>
          <TextInput
            editable="true"
            id="Name"
            label="DisplayKey.get(&quot;Web.APDNewExposure.Name&quot;)"
            required="true"
            value="exposure.Name"/>
          <TextInput
            editable="true"
            id="Description"
            label="DisplayKey.get(&quot;Web.APD.RequiredForGeneration&quot;, DisplayKey.get(&quot;Web.APDNewExposure.Description&quot;))"
            value="exposure.Description"/>
          <TypeKeyInput
            editable="true"
            id="ExposureType"
            label="DisplayKey.get(&quot;Web.APDNewExposure.ExposureType&quot;)"
            required="true"
            value="exposure.ExposureType"
            valueType="APDExposureType">
            <PostOnChange
              onChange="exposure.toggleExposureParty()"/>
          </TypeKeyInput>
          <TypeKeyInput
            editable="true"
            id="RatingType"
            label="DisplayKey.get(&quot;Web.APDNewExposure.RatingType&quot;)"
            required="true"
            value="exposure.RatingType"
            valueType="APDExposureRatingType">
            <PostOnChange
              onChange="exposure.toggleExposureParty()"/>
          </TypeKeyInput>
          <TypeKeyInput
            editable="true"
            id="ContactRole"
            label="DisplayKey.get(&quot;Web.APDNewExposure.ContactRole&quot;)"
            required="true"
            value="exposure.ContactRole"
            valueType="APDExposureContactRole"
            visible="exposure.ExposureType == APDExposureType.TC_CONTACT"/>
          <TypeKeyInput
            editable="true"
            id="RiskLocation"
            label="DisplayKey.get(&quot;Web.APDNewExposure.RiskLocation&quot;)"
            required="true"
            value="exposure.RiskLocation"
            valueType="APDRiskLocationType">
            <PostOnChange
              onChange="exposure.toggleJurisdictionLocation()"/>
          </TypeKeyInput>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Popup>
</PCF>