<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="APDProductInputSet">
    <Require
      name="product"
      type="APDProduct"/>
    <Require
      name="inDevelopMode"
      type="Boolean"/>
    <Label
      label="DisplayKey.get(&quot;Web.APDNewProduct.Product&quot;)"/>
    <TextInput
      editable="true"
      id="Name"
      label="DisplayKey.get(&quot;Web.APDNewProduct.Name&quot;)"
      required="true"
      value="product.Name"/>
    <TextInput
      editable="true"
      id="Description"
      label="DisplayKey.get(&quot;Web.APDNewProduct.Description&quot;)"
      required="true"
      value="product.Description"/>
    <TextInput
      editable="true"
      id="CodeIdentifier"
      label="DisplayKey.get(&quot;Web.APDNewProduct.CodeIdentifier&quot;)"
      required="true"
      value="product.CodeIdentifier"/>
    <TextInput
      editable="true"
      id="Abbreviation"
      label="DisplayKey.get(&quot;Web.APDNewProduct.Abbreviation&quot;)"
      required="true"
      value="product.Abbreviation"/>
    <BooleanRadioInput
      editable="true"
      id="Portal"
      label="DisplayKey.get(&quot;Web.APDNewProduct.Portal&quot;)"
      value="product.Portal"
      visible="ScriptParameters.APDEnableDigitalAutoGenConfig"/>
    <BooleanRadioInput
      editable="product.ProductLines.Count &lt; 2"
      id="multiline"
      label="DisplayKey.get(&quot;Web.APDNewProduct.Multiline&quot;)"
      value="product.Multiline">
      <PostOnChange/>
    </BooleanRadioInput>
    <BooleanRadioInput
      editable="true"
      id="UsesLocationListView"
      label="DisplayKey.get(&quot;Web.APDNewProduct.UsesLocationListView&quot;)"
      value="product.UsesLocationListView"/>
    <BooleanRadioInput
      editable="true"
      id="Coinsurance"
      label="DisplayKey.get(&quot;Web.APDNewProduct.Coinsurance&quot;)"
      value="product.Coinsurance"/>
    <TypeKeyInput
      editable="true"
      id="Currencies"
      label="DisplayKey.get(&quot;Web.APDNewProduct.Currencies&quot;)"
      value="product.Currencies"
      valueType="APDCurrencyHandling"/>
    <TypeKeyInput
      editable="true"
      id="AccountType"
      label="DisplayKey.get(&quot;Web.APDNewProduct.ProductAccountType&quot;)"
      value="product.ProductAccountType"
      valueType="ProductAccountType"/>
  </InputSet>
</PCF>