<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="APDProductAndLineInputSet">
    <Require
      name="product"
      type="APDProduct"/>
    <Variable
      initialValue="new gw.api.web.userpreference.UserPreferencesOfCurrentUser().inDevelopMode()"
      name="inDevelopMode"
      type="Boolean"/>
    <Label
      label="DisplayKey.get(&quot;Web.APDNewProduct.Product&quot;)"/>
    <TextInput
      editable="true"
      id="Name"
      label="DisplayKey.get(&quot;Web.APDNewProduct.Name&quot;)"
      required="true"
      value="product.Name"/>
    <TextInput
      editable="true"
      id="Description"
      label="DisplayKey.get(&quot;Web.APDNewProduct.Description&quot;)"
      required="true"
      value="product.Description"/>
    <TextInput
      editable="true"
      id="CodeIdentifier"
      label="DisplayKey.get(&quot;Web.APDNewProduct.CodeIdentifier&quot;)"
      required="true"
      validationExpression="product.checkCodeIdentifierIsValid()"
      value="product.CodeIdentifier"/>
    <TextInput
      editable="true"
      id="Abbreviation"
      label="DisplayKey.get(&quot;Web.APDNewProduct.Abbreviation&quot;)"
      required="true"
      value="product.Abbreviation"/>
    <BooleanRadioInput
      editable="true"
      id="multiline"
      label="DisplayKey.get(&quot;Web.APDNewProduct.Multiline&quot;)"
      value="product.Multiline">
      <PostOnChange
        onChange="if (not product.isMultiline()) product.addDefaultSingleLine() else product.removeDefaultSingleLine()"/>
    </BooleanRadioInput>
    <BooleanRadioInput
      editable="true"
      id="Coinsurance"
      label="DisplayKey.get(&quot;Web.APDNewProduct.Coinsurance&quot;)"
      value="product.Coinsurance"/>
    <BooleanRadioInput
      editable="true"
      id="UsesLocationListView"
      label="DisplayKey.get(&quot;Web.APDNewProduct.UsesLocationListView&quot;)"
      value="product.UsesLocationListView"/>
    <BooleanRadioInput
      editable="true"
      id="Portal"
      label="DisplayKey.get(&quot;Web.APDNewProduct.Portal&quot;)"
      value="product.Portal"
      visible="ScriptParameters.APDEnableDigitalAutoGenConfig"/>
    <TypeKeyInput
      editable="true"
      id="ProductCurrencies"
      label="DisplayKey.get(&quot;Web.APDNewProduct.Currencies&quot;)"
      value="product.Currencies"
      valueType="APDCurrencyHandling"/>
    <TypeKeyInput
      editable="true"
      id="AccountType"
      label="DisplayKey.get(&quot;Web.APDNewProduct.ProductAccountType&quot;)"
      value="product.ProductAccountType"
      valueType="ProductAccountType"/>
    <InputSet
      visible="!product.isMultiline()">
      <Variable
        initialValue="product.ProductLines.first().ProductLine"
        name="line"
        recalculateOnRefresh="true"
        type="APDProductLine"/>
      <Label
        label="DisplayKey.get(&quot;Web.APDNewProduct.ProductLine&quot;)"/>
      <TextInput
        editable="true"
        id="lineName"
        label="DisplayKey.get(&quot;Web.APDNewProduct.Name&quot;)"
        required="true"
        value="line.Name">
        <Reflect
          triggerIds="Name"
          value="DisplayKey.get(&quot;Web.APDProductLine.LineName&quot;, VALUE)"/>
      </TextInput>
      <TextInput
        editable="true"
        id="lineDescription"
        label="DisplayKey.get(&quot;Web.APDNewProduct.Description&quot;)"
        required="true"
        value="line.Description">
        <Reflect
          triggerIds="Description"
          value="VALUE"/>
      </TextInput>
      <TextInput
        editable="true"
        id="LinePrefix"
        label="DisplayKey.get(&quot;Web.APDNewProduct.LinePrefix&quot;)"
        required="true"
        value="line.LinePrefix">
        <Reflect
          triggerIds="Abbreviation"
          value="VALUE"/>
      </TextInput>
      <TextInput
        editable="true"
        id="lineCodeIdentifier"
        label="DisplayKey.get(&quot;Web.APDNewProduct.CodeIdentifier&quot;)"
        required="true"
        value="line.CodeIdentifier">
        <Reflect
          triggerIds="CodeIdentifier"
          value="VALUE + APDProductLine.LineCodeIdentifierSuffix"/>
      </TextInput>
      <TypeKeyInput
        editable="true"
        id="LineCurrencies"
        label="DisplayKey.get(&quot;Web.APDNewProduct.Currencies&quot;)"
        value="line.Currencies"
        valueType="APDCurrencyHandling">
        <Reflect
          reflectDirectChangesOnly="true"
          triggerIds="ProductCurrencies"
          value="VALUE"/>
      </TypeKeyInput>
      <TypeKeyInput
        editable="true"
        id="ProductLineType"
        label="DisplayKey.get(&quot;Web.APDNewProduct.ProductLineType&quot;)"
        required="true"
        value="line.CoverableType"
        valueType="APDCoverableType">
        <PostOnChange/>
      </TypeKeyInput>
      <BooleanRadioInput
        confirmMessage="DisplayKey.get(&quot;Web.APDConfirmationMessage.RemoveChildRiskObjects&quot;)"
        editable="true"
        id="HasChildren"
        label="DisplayKey.get(&quot;Web.APDNewProduct.HasChildren&quot;)"
        showConfirmMessage="line.showChildDeletionConfirmationMessage()"
        value="line.HasChildren"
        visible="APDCoverableType.TF_HASRISKOBJECTS.TypeKeys.hasMatch(\tk -&gt; tk == line.CoverableType)">
        <PostOnChange
          onChange="if (line.hasChildRiskObjectsToBeRemoved()) {line.removeAllChildRiskObjects()}"/>
      </BooleanRadioInput>
      <TextInput
        editable="true"
        id="ChildrenLabel"
        label="DisplayKey.get(&quot;Web.APDNewProduct.ChildrenLabel&quot;)"
        required="true"
        value="line.ChildrenLabel"
        visible="APDCoverableType.TF_HASRISKOBJECTS.TypeKeys.hasMatch(\tk -&gt; tk == line.CoverableType) and line.HasChildren"/>
      <BooleanRadioInput
        confirmMessage="DisplayKey.get(&quot;Web.APDConfirmationMessage.RemoveExposures&quot;)"
        editable="true"
        id="HasExposure"
        label="DisplayKey.get(&quot;Web.APDNewProduct.HasExposure&quot;)"
        showConfirmMessage="line.showExposureDeletionConfirmationMessage()"
        value="line.HasExposure"
        visible="APDCoverableType.TF_HASEXPOSURE.TypeKeys.hasMatch(\tk -&gt; tk == line.CoverableType)">
        <PostOnChange
          onChange="if (line.hasExposuresToBeRemoved()) {line.removeAllExposures()}"/>
      </BooleanRadioInput>
      <TextInput
        editable="true"
        id="ExposureLabel"
        label="DisplayKey.get(&quot;Web.APDNewProduct.ExposureLabel&quot;)"
        required="true"
        value="line.ExposureLabel"
        visible="APDCoverableType.TF_HASEXPOSURE.TypeKeys.hasMatch(\tk -&gt; tk == line.CoverableType) and line.HasExposure"/>
      <TextInput
        editable="true"
        id="lineMenuLabel"
        label="DisplayKey.get(&quot;Web.APD.RequiredForGeneration&quot;, DisplayKey.get(&quot;Web.APDNewProduct.MenuLabel&quot;))"
        value="line.MenuLabel">
        <Reflect
          triggerIds="Name"
          value="DisplayKey.get(&quot;Web.APDProductLine.LineName&quot;, VALUE)"/>
      </TextInput>
      <TextInput
        editable="true"
        id="TypeName"
        label="DisplayKey.get(&quot;Web.APD.RequiredForGeneration&quot;, DisplayKey.get(&quot;Web.APDNewProduct.TypeName&quot;))"
        required="false"
        value="line.TypeName"
        visible="inDevelopMode"/>
    </InputSet>
  </InputSet>
</PCF>