<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canVisit="new gw.api.web.userpreference.UserPreferencesOfCurrentUser().canDesign() and gw.api.system.PCDependenciesGateway.ServerMode.Dev"
    id="APDProductManagementPage"
    title="DisplayKey.get(&quot;Web.APDProductManagementPage.Title&quot;)">
    <Variable
      initialValue="false"
      name="recreateProductTree"
      type="Boolean"/>
    <Variable
      initialValue="new gw.api.web.userpreference.UserPreferencesOfCurrentUser().inDevelopMode()"
      name="inDevelopMode"
      type="Boolean"/>
    <Screen>
      <CardViewPanel>
        <Card
          id="VisualizedProducts"
          title="DisplayKey.get(&quot;Web.APD.VisualizedProducts&quot;)">
          <ListDetailPanel
            selectionName="productDetails"
            selectionType="APDProduct">
            <Variable
              initialValue="productDetails"
              name="selectedProduct"
              type="APDProduct"/>
            <PanelRef>
              <Toolbar>
                <ToolbarButton
                  action="APDLoadXmindPopup.push(null, null)"
                  id="ImportFromXmind"
                  label="DisplayKey.get(&quot;Web.APD.ImportFromXmindButton&quot;)"/>
                <ToolbarButton
                  action="APDLoadProductTemplatePopup.push(null, null)"
                  id="ImportFromTemplate"
                  label="DisplayKey.get(&quot;Web.APD.ImportFromTemplateButton&quot;)"/>
                <ToolbarButton
                  action="APDNewProductPopup.push(null, null)"
                  id="NewProduct"
                  label="DisplayKey.get(&quot;Web.APD.AddNewProductButton&quot;)"/>
              </Toolbar>
              <ListViewPanel
                id="ManualProductLV">
                <RowIterator
                  editable="false"
                  elementName="manualProduct"
                  id="ManualProduct"
                  value="APDProduct.ManualProducts"
                  valueType="APDProduct[]">
                  <Row>
                    <TextCell
                      id="Name"
                      label="DisplayKey.get(&quot;Web.APD.ManualProduct.Name&quot;)"
                      value="manualProduct.Name"/>
                    <TextCell
                      id="Description"
                      label="DisplayKey.get(&quot;Web.APD.ManualProduct.Description&quot;)"
                      value="manualProduct.Description"/>
                    <TextCell
                      id="Lines"
                      label="DisplayKey.get(&quot;Web.APD.ManualProduct.Lines&quot;)"
                      value="manualProduct.ProductLines*.ProductLine*.Name.join(&quot;, &quot;)"/>
                    <TextCell
                      id="Submissions"
                      label="DisplayKey.get(&quot;Web.APD.ManualProduct.Submissions&quot;)"
                      value="gw.api.database.Query.make(Submission).join(Submission#Policy).compare(Policy#APDProduct, gw.api.database.Relop.Equals, manualProduct).select().Count"
                      valueType="java.lang.Integer"/>
                    <BooleanRadioCell
                      icon="&quot;completed&quot;"
                      iconType="svgFileName"
                      id="Installed"
                      label="DisplayKey.get(&quot;Web.APD.ManualProduct.Installed&quot;)"
                      showHeaderIcon="false"
                      value="manualProduct.DateInstalled != null"/>
                    <DateCell
                      id="DateInstalled"
                      label="DisplayKey.get(&quot;Web.APD.ManualProduct.DateInstalled&quot;)"
                      value="manualProduct.DateInstalled"/>
                    <DateCell
                      dateFormat="short"
                      id="LastUpdated"
                      label="DisplayKey.get(&quot;Web.APD.ManualProduct.LastUpdated&quot;)"
                      timeFormat="short"
                      value="manualProduct.DateUpdated"/>                    
                  </Row>
                </RowIterator>
              </ListViewPanel>
            </PanelRef>
            <CardViewPanel>
              <Card
                id="ProductDetails"
                title="DisplayKey.get(&quot;Web.APD.ManualProduct.Details&quot;)"
                visible="productDetails != null">
                <PanelSet>
                  <Variable
                    initialValue="if(productDetails != selectedProduct || recreateProductTree) {selectedProduct = productDetails; recreateProductTree = false; return gw.apd.APDProductTreeHelper.createProductTree(selectedProduct)}; return productTree"
                    name="productTree"
                    recalculateOnRefresh="true"
                    type="gw.api.tree.RowTreeRootNode"/>
                  <PanelRef
                    id="ProductDetailsRef">
                    <TitleBar
                      id="ProductDetailsTitle"
                      title="productDetails.Name"/>
                    <Toolbar>
                      <ToolbarButton
                        action="APDProductDefinition.go(productDetails)"
                        id="EditProduct"
                        label="DisplayKey.get(&quot;Web.APD.EditProductButton&quot;)"
                        shortcut="E"/>
                      <ToolbarButton
                        hideIfEditable="true"
                        id="UpdateProductButton"
                        label="DisplayKey.get(&quot;Web.APD.UpdateProductButton&quot;)">
                        <MenuItem
                          action="recreateProductTree = true; APDLoadProductTemplatePopup.push(productDetails)"
                          id="FromTemplate"
                          label="DisplayKey.get(&quot;Web.APD.UpdateProductButton.FromTemplate&quot;)"/>
                        <MenuItem
                          action="recreateProductTree = true; APDLoadXmindPopup.push(productDetails)"
                          id="FromXmind"
                          label="DisplayKey.get(&quot;Web.APD.UpdateProductButton.FromXmind&quot;)"/>
                      </ToolbarButton>
                      <ToolbarButton
                        action="productDetails.maybeRemove()"
                        available="productDetails.canRemove()"
                        confirmMessage="DisplayKey.get(&quot;Web.APD.RemoveProduct.Confirmation&quot;, productDetails.Name)"
                        id="RemoveProduct"
                        label="DisplayKey.get(&quot;Web.APD.RemoveProduct.Button&quot;)"
                        tooltip="productDetails.getRemoveProductErrors()"
                        visible="inDevelopMode"/>
                      <ToolbarButton
                        action="productDetails.exportToClient()"
                        available="productDetails.CanExport"
                        download="true"
                        id="Export"
                        label="DisplayKey.get(&quot;Web.APDProduct.Button.Export&quot;)"
                        shortcut="X"/>
                    </Toolbar>
                    <DetailViewPanel>
                      <InputColumn>
                      </InputColumn>
                    </DetailViewPanel>
                  </PanelRef>
                  <PanelRef
                    id="ProductTreeRef">
                    <Toolbar>
                      <ToolbarInput
                        id="TreeContents"
                        value="DisplayKey.get(&quot;Web.APD.ProductTree.Contents&quot;)" 
                        valueType="java.lang.String"/>
                      <ToolbarInput
                        action="gw.apd.APDProductTreeHelper.expandAll(productTree)"
                        id="ExpandAll"
                        value="DisplayKey.get(&quot;Button.Expand&quot;)" 
                        valueType="java.lang.String"/>
                      <ToolbarInput
                        action="gw.apd.APDProductTreeHelper.collapseAll(productTree)"
                        id="CollapseAll"
                        value="DisplayKey.get(&quot;Button.Collapse&quot;)" 
                        valueType="java.lang.String"/>
                    </Toolbar>
                    <ListViewPanel
                      id="ProductTreeLV">
                      <RowTree
                        canPick="false"
                        contentType="gw.xml.XMLNode"
                        elementName="item"
                        id="ProductRowTree"
                        value="productTree">
                        <Row
                          id="TreeRow">
                          <TextCell
                            id="NodeName"
                            label="DisplayKey.get(&quot;Web.APD.ProductTree.NodeName&quot;)"
                            value="item.getAttributeValue(&quot;Name&quot;)"
                            wrap="true"/>
                          <TextCell
                            id="NodeType"
                            label="DisplayKey.get(&quot;Web.APD.ProductTree.Type&quot;)"
                            value="item.getAttributeValue(&quot;Type&quot;)"/>
                        </Row>
                      </RowTree>
                    </ListViewPanel>
                  </PanelRef>
                </PanelSet>
              </Card>
              <Card
                id="ProductSubmissions"
                title="DisplayKey.get(&quot;Web.APD.ManualProduct.Submissions&quot;)"
                visible="productDetails != null">
                <PanelRef>
                  <TitleBar
                    id="ProductSubmissionsTitle"
                    title="DisplayKey.get(&quot;Web.APDProductManagementPage.SubmissionLV.Title&quot;, productDetails.Name)"/>
                  <ListViewPanel
                    id="ProductSubmissionsLV">
                    <RowIterator
                      editable="false"
                      elementName="submission"
                      value="gw.api.database.Query.make(Submission).join(Submission#Policy).compare(Policy#APDProduct, gw.api.database.Relop.Equals, productDetails).select()"
                      valueType="gw.api.database.IQueryBeanResult&lt;Submission&gt;">
                      <Row>
                        <TextCell
                          action="JobForward.go(submission)"
                          id="SubNumber"
                          label="DisplayKey.get(&quot;Web.APDProductManagementPage.SubmissionLV.Number&quot;)"
                          value="submission.JobNumber"/>
                        <TextCell
                          action="ContactForward.go(submission.LatestPeriod.PrimaryNamedInsured.AccountContactRole.AccountContact.Contact)"
                          id="SubPrimaryInsured"
                          label="DisplayKey.get(&quot;Web.APDProductManagementPage.SubmissionLV.PrimaryInsured&quot;)"
                          value="submission.PrimaryInsuredName"/>
                        <DateCell
                          id="SubEffDate"
                          label="DisplayKey.get(&quot;Web.APDProductManagementPage.SubmissionLV.EffectiveDate&quot;)"
                          value="submission.SelectedVersion.EditEffectiveDate"/>
                        <TextCell
                          id="SubStatus"
                          label="DisplayKey.get(&quot;Web.APDProductManagementPage.SubmissionLV.Status&quot;)"
                          value="submission.DisplayStatus"/>
                      </Row>
                    </RowIterator>
                  </ListViewPanel>
                </PanelRef>
              </Card>
            </CardViewPanel>
        </ListDetailPanel>
        </Card>
        <Card
          id="InstalledProducts"
          title="DisplayKey.get(&quot;Web.APD.InstalledProducts&quot;)">
          <PanelRef>
            <TitleBar
              id="InstalledProductsTitle"
              title="DisplayKey.get(&quot;Web.APD.InstalledProducts&quot;)"/>
            <ListViewPanel
              id="InstalledProductLV">
              <RowIterator
                editable="false"
                elementName="installedProduct"
                id="InstalledProduct"
                value="var findProduct = gw.api.productmodel.ProductLookup.getByCodeIdentifier(&quot;Manual&quot;); return gw.api.productmodel.ProductLookup.getAll().subtract({findProduct}).toTypedArray()"
                valueType="gw.api.productmodel.Product[]">
                <Row>
                  <TextCell
                    id="Name"
                    label="DisplayKey.get(&quot;Web.APD.InstalledProduct.Name&quot;)"
                    value="installedProduct.Name"/>
                  <TextCell
                    id="Description"
                    label="DisplayKey.get(&quot;Web.APD.InstalledProduct.Description&quot;)"
                    value="installedProduct.Description"/>
                  <ButtonCell
                    action="gw.apd.model.generate.xml.ProductTemplateGenerator.downloadXml(installedProduct.CodeIdentifier)"
                    download="true"
                    id="GenerateTemplate"
                    label="DisplayKey.get(&quot;Web.APD.InstalledProduct.Actions&quot;)"
                    value="DisplayKey.get(&quot;Web.APD.InstalledProduct.GenerateTemplate&quot;)">
                  </ButtonCell>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
        </Card>
      </CardViewPanel>
    </Screen>
  </Page>
</PCF>