<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ModalCell
    id="APDRuleConditionValue"
    mode="location">
    <Require
      name="condition"
      type="APDRuleCondition"/>
    <TypeKeyCell
      editable="true"
      id="value"
      required="true"
      value="condition.JurisdictionValue"
      valueType="Jurisdiction"/>
  </ModalCell>
</PCF>