<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewTile
    id="AccountHolderOverviewDetailViewTile"
    title="DisplayKey.get('Web.Dashboard.Tile.AccountHolderOverview')">
    <Require
      name="contact"
      type="Contact"/>
    <Variable
      initialValue="gw.api.web.dashboard.ui.overview.AccountOverviewHelper.forContact(contact)"
      name="customerSummaryHelper"
      recalculateOnRefresh="true"
      type="gw.api.web.dashboard.ui.overview.AccountOverviewHelper"/>
    <BadgeProperties
      backgroundColor="customerSummaryHelper.BadgeColor"
      text="customerSummaryHelper.BadgeText"
      visible="customerSummaryHelper.DisplayBadge"/>
    <PerformanceIndicatorRow
      id="Indicators">
      <PerformanceIndicator
        id="NonPaymentCancellationsCount"
        color="customerSummaryHelper.NonPaymentCancellationsColor"
        label="DisplayKey.get('Web.Dashboard.Tile.AccountHolderOverview.NonPayCancellationsIn12Months')"
        maxLabelWidth="98"
        value="customerSummaryHelper.AccountOverview.NonPaymentCancellations"
        valueType="java.lang.Integer"/>
      <PerformanceIndicator
        id="DelinquenciesCount"
        color="customerSummaryHelper.DelinquenciesIn12MonthsColor"
        label="DisplayKey.get('Web.Dashboard.Tile.AccountHolderOverview.DelinquenciesIn12Months')"
        maxLabelWidth="98"
        value="customerSummaryHelper.formattedDelinquencies()"
        valueType="java.lang.String"/>
    </PerformanceIndicatorRow>
    <TileInputColumn>
      <TextInput
        id="CustomerSince"
        label="DisplayKey.get('Web.Dashboard.Tile.AccountHolderOverview.CustomerSince')"
        value="customerSummaryHelper.formattedCustomerSince()"
        visible="customerSummaryHelper.AccountOverview.FirstEffectivePolicyDate != null and customerSummaryHelper.HasNoErrors"/>
      <MonetaryAmountInput
        id="InForcePremium"
        label="DisplayKey.get('Web.Dashboard.Tile.AccountHolderOverview.InForcePremium')"
        value="customerSummaryHelper.AccountOverview.InForcePremium"
        visible="customerSummaryHelper.HasNoErrors"/>
      <MonetaryAmountInput
        id="LifetimePremium"
        label="DisplayKey.get('Web.Dashboard.Tile.AccountHolderOverview.LifetimePremium')"
        value="customerSummaryHelper.AccountOverview.LifetimePremium"
        visible="customerSummaryHelper.HasNoErrors"/>
      <MonetaryAmountInput
        id="TotalLosses"
        label="DisplayKey.get('Web.Dashboard.Tile.AccountHolderOverview.TotalLossesIn3Yr')"
        value="customerSummaryHelper.AccountOverview.TotalLosses"
        visible="customerSummaryHelper.HasNoErrors"/>
      <TextInput
        id="PolicyCount"
        label="DisplayKey.get('Web.Dashboard.Tile.AccountHolderOverview.PolicyCount')"
        value="customerSummaryHelper.AccountOverview.InForcePolicies"
        valueType="java.lang.Integer"
        visible="customerSummaryHelper.HasNoErrors"/>
      <TextInput
        id="OpenClaimsCount"
        label="DisplayKey.get('Web.Dashboard.Tile.AccountHolderOverview.OpenClaimsCount')"
        value="customerSummaryHelper.formattedOpenClaims()"
        valueType="java.lang.String"
        visible="customerSummaryHelper.HasNoErrors"/>
    </TileInputColumn>
  </DetailViewTile>
</PCF>