<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewTile
    hideViewMoreIfShortList="true"
    id="OpenPolicyTransactionsListViewTile"
    stretch="true"
    title="DisplayKey.get('Web.Dashboard.Tile.OpenPolicyTransactions')"
    viewMoreAction="policyTransactionsHelper.viewMore()"
    viewMoreLabel="DisplayKey.get('Web.Tile.ViewAll')">
    <Require
      name="contact"
      type="Contact"/>
    <Variable
      initialValue="gw.api.web.dashboard.ui.policy.PolicyTransactionHelper.forContact(contact)"
      name="policyTransactionsHelper"
      type="gw.api.web.dashboard.ui.policy.PolicyTransactionHelper"/>
    <Variable
      initialValue="gw.api.web.dashboard.ui.DashboardParameters.AccountHolderSummaryPermissions.Instance"
      name="permissions"
      type="gw.api.web.dashboard.ui.DashboardParameters.AccountHolderSummaryPermissions"/>
    <TileActions
      id="NewSubmission"
      dropdownButtonLabel="DisplayKey.get('Web.Dashboard.Tile.OpenPolicyTransactions.NewSubmission')">
      <TileActionIterator
        value="policyTransactionsHelper.Accounts"
        valueType="Account[]"
        elementName="account">
        <TileAction
          action="policyTransactionsHelper.newSubmission(account)"
          label="policyTransactionsHelper.actionLabel(account)"
          visible="policyTransactionsHelper.isNewSubmissionAvailable(account) and permissions.canStartNewSubmission(account)"/>
      </TileActionIterator>
    </TileActions>
    <RowIterator
      editable="false"
      elementName="job"
      value="policyTransactionsHelper.Jobs"
      valueType="entity.Job[]">
      <IteratorSort
        sortBy="job.SelectedVersion.PeriodStart"
        sortOrder="1"/>
      <Row
        useArchivedStyle="job.PolicyTerm.CheckArchived">
        <TextCell
          action="JobForward.go(job)"
          id="Transaction"
          label="DisplayKey.get('Web.Dashboard.Tile.OpenPolicyTransactions.Transaction')"
          value="job.JobNumber"
          wrap="false"/>
        <DateCell
          id="EffectiveDate"
          label="DisplayKey.get('Web.Dashboard.Tile.OpenPolicyTransactions.EffectiveDate')"
          value="job.SelectedVersion.PeriodStart"
          wrap="false"
          wrapLabel="true"/>
        <TextCell
          id="Type"
          label="DisplayKey.get('Web.Dashboard.Tile.OpenPolicyTransactions.Type')"
          value="job.DisplayType"
          wrap="false"/>
        <TextCell
          id="Status"
          label="DisplayKey.get('Web.Dashboard.Tile.OpenPolicyTransactions.Status')"
          value="job.DisplayStatus"
          wrap="false"/>
        <TextCell
          id="PolicyNumber"
          label="DisplayKey.get('Web.Dashboard.Tile.OpenPolicyTransactions.PolicyNumber')"
          value="policyTransactionsHelper.getPolicyNumber(job)"
          valueType="String"
          wrap="false"/>
        <TextCell
          grow="true"
          id="Lob"
          label="DisplayKey.get('Web.Dashboard.Tile.OpenPolicyTransactions.Product')"
          value="job.Policy.Product"
          valueType="gw.api.productmodel.Product"/>
        <TextCell
          grow="true"
          id="NamedInsured"
          label="DisplayKey.get('Web.Dashboard.Tile.OpenPolicyTransactions.NamedInsured')"
          value="job.SelectedVersion.PrimaryInsuredName"
          wrapLabel="true"/>
      </Row>
    </RowIterator>
  </ListViewTile>
</PCF>