// Position to other widgets
$gw-app--IteratorPaging--spacing-widget-top-rem: null !default;
$gw-app--IteratorPaging--spacing-widget-left-rem: $gw-app--SPACING-rem-M !default;
$gw-app--IteratorPaging--spacing-widget-right-rem: null !default;
$gw-app--IteratorPaging--spacing-widget-bottom-rem: null !default;

// Internal padding
$gw-app--IteratorPaging--spacing-inner-top-rem: null !default;
$gw-app--IteratorPaging--spacing-inner-left-rem: null !default;
$gw-app--IteratorPaging--spacing-inner-right-rem: null !default;
$gw-app--IteratorPaging--spacing-inner-bottom-rem: null !default;

// Other
$gw-app--IteratorPaging--child-spacing-rem: $gw-app--SPACING-rem-S !default;
$gw-app--IteratorPaging--page-divider-glyph: "/" !default;
$gw-app--IteratorPaging--first-glyph: "angle-double-left" !default;
$gw-app--IteratorPaging--prev-glyph: "angle-left" !default;
$gw-app--IteratorPaging--next-glyph: "angle-right" !default;
$gw-app--IteratorPaging--last-glyph: "angle-double-right" !default;
