// Position to other widgets
$gw-app--PanelDivider--horizontal--spacing-widget-top-rem: $gw-app--SPACING-rem-M !default;
$gw-app--PanelDivider--horizontal--spacing-widget-left-rem: $gw-app--SPACING-rem-M !default;
$gw-app--PanelDivider--horizontal--spacing-widget-right-rem: $gw-app--SPACING-rem-M !default;
$gw-app--PanelDivider--horizontal--spacing-widget-bottom-rem: $gw-app--SPACING-rem-M !default;

// Position to other widgets
$gw-app--PanelDivider--vertical--spacing-widget-top-rem: $gw-app--SPACING-rem-M !default;
$gw-app--PanelDivider--vertical--spacing-widget-left-rem: $gw-app--SPACING-rem-M !default;
$gw-app--PanelDivider--vertical--spacing-widget-right-rem: $gw-app--SPACING-rem-M !default;
$gw-app--PanelDivider--vertical--spacing-widget-bottom-rem: $gw-app--SPACING-rem-M !default;

// Other
$gw-app--PanelDivider--thickness-px: $gw-app--border-width-px !default;
$gw-app--PanelDivider--bg: $gw-app--palette--gray-C !default;
