<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ExitPoint
    id="CreateClaim"
    popup="true"
    target="ClaimCenter"
    url="{claimSystemUrl}/CreateNewClaim.do">
    <LocationEntryPoint
      signature="CreateClaim(claimSystemUrl: String, policyNumber: String)"/>
    <ExitPointParameter
      locationParam="claimSystemUrl"
      type="String"/>
    <ExitPointParameter
      locationParam="policyNumber"
      type="String"/>
  </ExitPoint>
</PCF>