<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ExitPoint
    id="Mailto"
    url="mailto:{email}">
    <LocationEntryPoint
      signature="Mailto(email: String)"/>
    <ExitPointParameter
      locationParam="email"
      type="String"/>
  </ExitPoint>
</PCF>