<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../pcf.xsd">
  <TabBar
    id="TabBar"
    systemAlertBar="SystemAlertBar()">
    <Tab
      action="Desktop.go()"
      id="DesktopTab"
      label="DisplayKey.get(&quot;Web.TabBar.Desktop&quot;)"
      shortcut="K"/>
    <Tab
      action="AccountForward.go()"
      id="AccountTab"
      label="DisplayKey.get(&quot;Web.TabBar.Account&quot;)"
      shortcut="C">
      <MenuItem
        action="NewAccount.go()"
        available="gw.api.web.desktop.data.FederatedDataUIHelper.IsDefault and perm.Account.create"
        id="AccountTab_NewAccount"
        label="DisplayKey.get(&quot;Web.Account.NewAccount&quot;)"/>
      <MenuItem
        action="FederatedClusterForNewAccountForward.push()"
        available="gw.api.web.desktop.data.FederatedDataUIHelper.IsFederated and perm.Account.create"
        id="AccountTab_FederatedNewAccount"
        label="DisplayKey.get(&quot;Web.Account.NewAccount&quot;)"/>
      <SearchItem
        afterFailure="(searchCriteria as gw.account.AccountSearchCriteria).AccountNumber = searchText"
        id="AccountTab_AccountNumberSearchItem"
        label="DisplayKey.get(&quot;Web.TabBar.Account.AccountNumberSearch&quot;)"
        onFailure="AccountSearch.go()"
        onResult="AccountFileForward.go(result as Account)"
        search="gw.pcf.TabBarHelper.accountSearch(searchText)"
        validationError="DisplayKey.get(&quot;Web.TabBar.Account.AccountNumberSearch.Error&quot;, searchText)"
        visible="perm.System.viewaccount"/>
      <MenuItemIterator
        elementName="accountInfo"
        value="gw.api.web.util.SessionUtil.getAccountHistory()"
        valueType="com.guidewire.pc.web.controller.SessionItem[]">
        <MenuItem
          action="accountInfo.moveToDestination()"
          id="accountItem"
          label="accountInfo.getLabel()"/>
      </MenuItemIterator>
    </Tab>
    <Tab
      action="PolicyForward.go()"
      id="PolicyTab"
      label="DisplayKey.get(&quot;Web.TabBar.Policy&quot;)"
      shortcut="P">
      <MenuItem
        action="NewSubmission.go()"
        id="PolicyTab_NewSubmission"
        label="DisplayKey.get(&quot;Web.TabBar.Policy.NewSubmission&quot;)"
        visible="perm.System.createsubmission"/>
      <SearchItem
        afterFailure="if (searchCriteria typeis gw.policy.PolicyPeriodSearchCriteria) {searchCriteria.resetForSearchItems(Submission, searchText)}"
        id="PolicyTab_SubmissionNumberSearchItem"
        label="DisplayKey.get(&quot;Web.TabBar.Policy.SubmissionNumberSearchMenuItem&quot;)"
        onFailure="PolicySearch.go()"
        onResult="JobForward.go(result as Job)"
        search="gw.pcf.TabBarHelper.jobFinder(searchText)"
        validationError="DisplayKey.get(&quot;Web.TabBar.Policy.SubmissionNumberSearchMenuItem.Error&quot;, searchText)"
        visible="perm.System.viewsubmission"/>
      <SearchItem
        afterFailure="if (searchCriteria typeis gw.policy.PolicyPeriodSearchCriteria) searchCriteria.resetForSearchItems(Policy, searchText)"
        id="PolicyTab_PolicyRetrievalItem"
        label="DisplayKey.get(&quot;Web.TabBar.Policy.PolicyNumberSearchMenuItem&quot;)"
        onFailure="PolicySearch.go()"
        onResult="PolicyFileForward.go(result as PolicyPeriod, (result as PolicyPeriod).SliceDate)"
        search="gw.pcf.TabBarHelper.periodFinder(searchText)"
        validationError="DisplayKey.get(&quot;Web.TabBar.Policy.PolicyRetrieval.Error&quot;, searchText)"/>
      <MenuItemIterator
        elementName="policySessionState"
        id="PolicyMenuIt"
        value="gw.api.web.util.SessionUtil.getPolicySessionState()"
        valueType="com.guidewire.pc.web.controller.SessionItem[]">
        <MenuItem
          action="policySessionState.moveToDestination()"
          id="PolicyMenuPolicy"
          label="policySessionState.Label"/>
      </MenuItemIterator>
    </Tab>
    <Tab
      action="ContactForward.go()"
      id="ContactTab"
      label="DisplayKey.get(&quot;Web.TabBar.Contact&quot;)"
      shortcut="C">
      <MenuItem
        id="NewContact"
        label="DisplayKey.get(&quot;Web.TabBar.Contact.NewContact&quot;)">
        <MenuItem
          action="NewContact.go(TC_COMPANY)"
          id="NewCompany"
          label="DisplayKey.get(&quot;Web.TabBar.Contact.NewContactCompany&quot;)"/>
        <MenuItem
          action="NewContact.go(TC_PERSON)"
          id="NewPerson"
          label="DisplayKey.get(&quot;Web.TabBar.Contact.NewContactPerson&quot;)"/>
      </MenuItem>
      <MenuItem
        action="ContactSearch.go()"
        id="Search"
        label="DisplayKey.get(&quot;Web.TabBar.Contact.Search&quot;)"/>
      <MenuItemIterator
        elementName="contactSessionState"
        id="ContactMenuIt"
        value="gw.api.web.util.SessionUtil.getContactSessionState()"
        valueType="com.guidewire.pc.web.controller.SessionItem[]">
        <MenuItem
          action="contactSessionState.moveToDestination()"
          id="ContactMenuContact"
          label="contactSessionState.Label"/>
      </MenuItemIterator>
    </Tab>
    <Tab
      action="Reinsurance.go()"
      id="ReinsuranceTab"
      label="DisplayKey.get(&quot;Web.TabBar.Reinsurance&quot;)"
      shortcut="R"
      visible="gw.api.system.PCConfigParameters.RIModuleOn()"/>
    <Tab
      action="Search.go()"
      id="SearchTab"
      label="DisplayKey.get(&quot;Web.TabBar.Search&quot;)"
      shortcut="H"/>
    <Tab
      action="TeamForward.go()"
      id="TeamTab"
      label="DisplayKey.get(&quot;Web.TabBar.Team&quot;)"
      shortcut="T"/>
    <Tab
      action="Reports.go()"
      id="ReportTab"
      label="DisplayKey.get(&quot;Web.TabBar.Reporting&quot;)"
      visible="perm.System.reporting_view and gw.api.system.PLDependenciesGateway.getPluginConfig().isStartablePluginStarted(gw.plugin.cognos.CognosPlugin)"/>
    <Tab
      action="Admin.go()"
      id="AdminTab"
      label="DisplayKey.get(&quot;Web.TabBar.Admin&quot;)"
      shortcut="A"/>
    <TabBarUnsavedWork
      id="UnsavedWorkTabBarLink"/>
    <TabBarLink
      id="LanguageTabBarLink"
      label="DisplayKey.get(&quot;Regional.RegionalSettings&quot;)"
      visible="gw.api.util.LocaleUtil.canSwitchLanguage() || gw.api.util.LocaleUtil.canSwitchLocale()">
      <MenuItem
        id="languageSwitcher"
        label="DisplayKey.get(&quot;Regional.Languages&quot;)"
        visible="gw.api.util.LocaleUtil.canSwitchLanguage()">
        <MenuItemIterator
          elementName="lang"
          value="gw.api.util.LocaleUtil.getAllLanguages()?.toTypedArray()"
          valueType="typekey.LanguageType[]">
          <MenuItem
            action="gw.api.admin.BaseAdminUtil.setCurrentUsersLanguage(lang)"
            available="gw.api.util.LocaleUtil.getCurrentUserLanguage() != lang"
            checked="gw.api.util.LocaleUtil.getCurrentLanguageType() == lang"
            hideIfDisabled="false"
            id="langs"
            label="gw.api.util.LocaleUtil.getLanguageLabel(lang)"
            visible="true"/>
        </MenuItemIterator>
      </MenuItem>
      <MenuItem
        id="localeSwitcher"
        label="DisplayKey.get(&quot;Regional.Locales&quot;)"
        visible="gw.api.util.LocaleUtil.canSwitchLocale()">
        <MenuItemIterator
          elementName="locale"
          value="gw.api.util.LocaleUtil.getAllLocales()?.toTypedArray()"
          valueType="typekey.LocaleType[]">
          <MenuItem
            action="gw.api.admin.BaseAdminUtil.setCurrentUsersLocale(locale)"
            available="gw.api.util.LocaleUtil.getCurrentUserLocale() != locale"
            checked="gw.api.util.LocaleUtil.getCurrentLocaleType() == locale"
            hideIfDisabled="false"
            id="locales"
            label="gw.api.util.LocaleUtil.getLocaleLabel(locale)"
            visible="true"/>
        </MenuItemIterator>
      </MenuItem>
    </TabBarLink>
    <TabBarLink
      action="Help.push()"
      id="HelpTabBarLink"
      label="DisplayKey.get(&quot;Web.TabBar.Help&quot;)"
      visible="false"/>
    <TabBarLink
      action="javascript:gwApp.popupAboutWindow();"
      id="AboutTabBarLink"
      label="DisplayKey.get(&quot;Web.TabBar.About&quot;)"/>
    <TabBarLink
      action="UserPreferencesWorksheet.goInWorkspace()"
      id="PrefsTabBarLink"
      label="DisplayKey.get(&quot;Web.TabBar.Prefs&quot;)"/>
    <TabBarLink
      action="javascript:gw.globals.gwPrefPanel.open();"
      id="OpenPreferencesTabBarLink"
      label="DisplayKey.get(&quot;Web.Component.TabBar.Preferences&quot;)"/>
    <TabBarLink
      action="javascript:gw.globals.gwInternalTools.reloadPCF();"
      id="ReloadPCFTabBarLink"
      label="DisplayKey.get(&quot;Web.Component.TabBar.ReloadPCFs&quot;)"
      visible="gw.api.tools.InternalTools.isEnabled()"/>
    <TabBarLogout
      action="logout:*"
      id="LogoutTabBarLink"
      label="DisplayKey.get(&quot;Web.TabBar.Logout&quot;, entity.User.util.CurrentUser)"
      shortcut="Z"/>
    <HiddenLink
      action="ProfilerPopup.push()"
      id="ProfilerHiddenLink"
      shortcut="ShiftP"/>
    <HiddenLink
      action="InternalTools.go()"
      id="InternalToolsHiddenLink"
      shortcut="ShiftT"/>
  </TabBar>
</PCF>