<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewTile
    hideViewMoreIfShortList="true"
    id="ChangeRequestsListViewTile"
    stretch="true"
    title="DisplayKey.get('Web.Dashboard.Tile.ChangeRequests')"
    viewMoreAction="DesktopOtherWorkOrders.push()"
    viewMoreLabel="DisplayKey.get('Web.Tile.ViewAll')">
    <Require
      name="user"
      type="User"/>
    <Variable
      name="helper"
      type="gw.api.web.dashboard.ui.underwriter.OtherTransactionHelper"
      initialValue="new gw.api.web.dashboard.ui.underwriter.OtherTransactionHelper(user)"/>
    <RowIterator
      editable="false"
      elementName="job"
      value="helper.OtherTransactions"
      valueType="gw.api.database.IQueryBeanResult&lt;entity.Job&gt;">
      <ToolbarFilter
        name="workOrdersFilter">
        <ToolbarFilterOptionGroup
          filters="gw.api.web.desktop.DesktopJobFilters.filters()"/>
        <ToolbarFilterOptionGroup
          filters="gw.api.web.desktop.DesktopJobFilters.producerFilters()"
          visible="perm.System.viewproducerstyledesktopdetails"/>
      </ToolbarFilter>
      <IteratorSort
        sortBy="job.SelectedVersion.EditEffectiveDate"
        sortOrder="1"/>
      <Row>
        <TextCell
          action="JobForward.go(job)"
          available="job.Viewable"
          id="JobNumber"
          label="DisplayKey.get('Web.Dashboard.Tile.ChangeRequests.Transaction')"
          value="job.JobNumber"
          wrap="false"/>
        <TextCell
          action="JobForward.go(job)"
          available="job.Viewable"
          id="Type"
          label="DisplayKey.get('Web.Dashboard.Tile.ChangeRequests.Type')"
          value="job.DisplayType"
          wrap="false"/>
        <TextCell
          grow="true"
          id="Insured"
          action="ContactForward.go(job.Policy.Account.AccountHolderContact)"
          label="DisplayKey.get('Web.Dashboard.Tile.ChangeRequests.PrimaryInsured')"
          value="job.PrimaryInsuredName"/>
        <DateCell
          id="EffectiveDate"
          label="DisplayKey.get('Web.Dashboard.Tile.ChangeRequests.EffectiveDate')"
          value="job.SelectedVersion.EditEffectiveDate"
          wrap="false"/>
        <TypeKeyCell
          id="Status"
          label="DisplayKey.get('Web.Dashboard.Tile.ChangeRequests.Status')"
          value="job.SelectedVersion.Status"
          valueType="typekey.PolicyPeriodStatus"
          wrap="false"/>
        <TextCell
          action="PolicyFileForward.go(job.LatestPeriod.PolicyNumber)"
          id="PolicyNumber"
          label="DisplayKey.get('Web.Dashboard.Tile.ChangeRequests.Policy')"
          value="helper.getPolicyNumber(job)"
          valueType="String"
          wrap="false"/>
        <MonetaryAmountCell
          enableSort="false"
          id="Premium"
          label="DisplayKey.get('Web.Dashboard.Tile.ChangeRequests.Premium')"
          value="job.SelectedVersion.TotalPremiumRPT"
          wrap="false"/>
        <TextCell
          grow="true"
          id="Product"
          label="DisplayKey.get('Web.Dashboard.Tile.ChangeRequests.Product')"
          sortBy="job.Policy.ProductCode"
          value="job.Policy.Product"
          valueType="gw.api.productmodel.Product"/>
        <AltUserCell
          grow="true"
          id="Producer"
          label="DisplayKey.get('Web.Dashboard.Tile.ChangeRequests.Producer')"
          value="job.Policy.getUserRoleAssignmentByRole(TC_PRODUCER).AssignedUser"/>
      </Row>
    </RowIterator>
  </ListViewTile>
</PCF>