<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewTile
    hideViewMoreIfShortList="true"
    id="MyActivitiesListViewTile"
    stretch="true"
    title="DisplayKey.get('Web.Dashboard.Underwriter.MyActivities.Title')"
    viewMoreAction="DesktopActivities.push()"
    viewMoreLabel="DisplayKey.get('Web.Tile.ViewAll')">
    <RowIterator
      editable="false"
      elementName="activity"
      value="Activity.finder.getAssignedToCurrentUser()"
      valueType="gw.api.database.IQueryBeanResult&lt;entity.Activity&gt;">
      <ToolbarFilter
        name="activitiesFilter">
        <ToolbarFilterOptionGroup
          filters="gw.api.web.desktop.DesktopActivityFilters.filters()"/>
      </ToolbarFilter>
      <IteratorSort
        sortBy="activity.Priority"
        sortOrder="1"/>
      <IteratorSort
        sortBy="activity.TargetDate"
        sortOrder="2"/>
      <Row
        useArchivedStyle="return activity.associatedItemIsArchived();">
        <BooleanRadioCell
          align="right"
          id="EscalatedIcon"
          icon="&quot;escalated&quot;"
          iconColor="gw.api.web.color.GWColor.THEME_ALERT_ERROR"
          iconType="svgFileName"
          label="DisplayKey.get(&quot;Web.DesktopActivitiesLV.EscalatedActivityTooltip&quot;)"
          tooltip="DisplayKey.get(&quot;Web.DesktopActivitiesLV.EscalatedActivityTooltip&quot;)"
          value="activity.Escalated"
          valueType="boolean"/>
        <DateCell
          id="DueDate"
          fontColor="activity.UIOverdueColor"
          label="DisplayKey.get('Web.Dashboard.Underwriter.MyActivities.DueDate')"
          value="activity.TargetDate"
          wrap="false"/>
        <TextCell
          grow="true"
          id="Subject"
          action="ActivityForward.go(activity, activity.PolicyPeriod)"
          available="perm.Activity.view(activity)"
          label="DisplayKey.get('Web.Dashboard.Underwriter.MyActivities.Subject')"
          value="activity.Subject"
          wrap="true"/>
        <TypeKeyCell
          id="Priority"
          fontColor="activity.UIPriorityColor"
          label="DisplayKey.get('Web.Dashboard.Underwriter.MyActivities.Priority')"
          value="activity.Priority"
          valueType="typekey.Priority"
          wrap="false"/>
        <TypeKeyCell
          id="Status"
          label="DisplayKey.get('Web.Dashboard.Underwriter.MyActivities.Status')"
          value="activity.Status"
          valueType="typekey.ActivityStatus"
          wrap="false"/>
        <TextCell
          grow="true"
          id="AccountHolder"
          action="ContactForward.go(activity.Account.AccountHolderContact)"
          label="DisplayKey.get('Web.Dashboard.Underwriter.MyActivities.AccountHolder')"
          value="activity.Account.AccountHolderContact.DisplayName"/>
        <DateCell
          id="EscalationDate"
          label="DisplayKey.get('Web.Dashboard.Underwriter.MyActivities.EscalationDate')"
          value="activity.EscalationDate"
          wrap="false"/>
        <TextCell
          grow="true"
          id="Product"
          label="DisplayKey.get('Web.Dashboard.Underwriter.MyActivities.Product')"
          sortBy="activity.Policy.ProductCode"
          value="activity.Policy.Product"
          valueType="gw.api.productmodel.Product"/>
        <ButtonCell
          id="CompleteButton"
          action="gw.api.web.activity.ActivityUtil.completeActivity(activity, null)"
          value="DisplayKey.get('Web.Dashboard.Underwriter.MyActivities.Complete')"
          available="activity.canComplete() and activity.canRecur() == false"/>
      </Row>
    </RowIterator>
  </ListViewTile>
</PCF>