<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <Popup
    id="RateTableDiffPopup"
    title="DisplayKey.get(&quot;Web.Admin.LOB.ProductContentAnalysis.RateTableDiffs.Title&quot;)">
    <LocationEntryPoint
      signature="RateTableDiffPopup(rateTablePresenter : gw.sbt.pca.view.presenter.rating.RateTablePresenter)"/>
    <Variable
      name="rateTablePresenter"
      type="gw.sbt.pca.view.presenter.rating.RateTablePresenter"/>
    <Screen>
      <PanelRef
        def="InstructionsAndDocumentationPanelSet(rateTablePresenter.DecisionAndInstructions, rateTablePresenter.Description, rateTablePresenter.ReadOnly)"/>
      <DetailViewPanel>
        <InputColumn
          width="900">
          <TextInput
            align="left"
            boldLabel="true"
            id="Jurisdiction"
            label="DisplayKey.get(&quot;Web.Admin.LOB.ProductContentAnalysis.Jurisdiction&quot;)"
            value="rateTablePresenter.Jurisdiction" valueType="java.lang.String"/>
          <TextInput
            align="left"
            boldLabel="true"
            id="Line"
            label="DisplayKey.get(&quot;Web.Admin.LOB.ProductContentAnalysis.Table&quot;)"
            value="rateTablePresenter.Description" valueType="java.lang.String"/>
          <TextInput
            align="left"
            boldLabel="true"
            id="EffDate"
            label="DisplayKey.get(&quot;Web.Admin.LOB.ProductContentAnalysis.EffectiveDate&quot;)"
            value="rateTablePresenter.Edition" valueType="java.lang.String"/>
        </InputColumn>
      </DetailViewPanel>
      <DetailViewPanel>
        <InputColumn>
          <ListViewInput
            boldLabel="true"
            id="FactorsLV"
            labelAbove="true">
            <Toolbar/>
            <ListViewPanel>
              <Row
                renderAsSmartHeader="true">
                <CellIterator
                  elementName="paramHeader"
                  id="RateParameterHeadingIterator"
                  value="rateTablePresenter.ParameterNames" valueType="java.util.List&lt;java.lang.String&gt;">
                  <TextCell
                    id="RateParameterHeader"
                    value="paramHeader" valueType="java.lang.String"/>
                </CellIterator>
                <TextCell
                  align="left"
                  id="NewValueHeader"
                  value="rateTablePresenter.FactorName" valueType="java.lang.String"/>
              </Row>
              <RowIterator
                canPick="false"
                checkBoxVisible="false"
                editable="true"
                elementName="row"
                id="RateTableRowIterator"
                pageSize="20"
                value="rateTablePresenter.Rows" valueType="java.util.List&lt;gw.sbt.model.rating.FactorRow&gt;">
                <Row>
                  <CellIterator
                    elementName="param"
                    id="ParameterIterator"
                    value="row.ParameterValues"
                    valueType="gw.util.IOrderedList&lt;String&gt;">
                    <TextCell
                      align="left"
                      enableSort="false"
                      id="ParameterValue"
                      value="param"/>
                  </CellIterator>
                  <TextCell
                    align="left"
                    id="NewRate"
                    value="row.Rate"
                    valueVisible="true // TODO: row.IsDelete ? row.DestFactorValue.toString() != factor.toString(): true" valueType="java.lang.String"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Popup>
</PCF>