<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="Job_HistoryScreen">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="asOfDate"
      type="java.util.Date"/>
    <Toolbar/>
    <SearchPanel
      cachingEnabled="false"
      criteriaName="policyHistorySearch"
      resultsName="phResults"
      search="policyHistorySearch.performSearch()"
      searchCriteria="getSearchCriteria()"
      searchCriteriaType="gw.history.HistorySearchCriteria"
      searchOnEnter="true"
      searchResultsType="gw.api.database.IQueryBeanResult&lt;History&gt;">
      <PanelRef
        def="HistoryScreenDV(policyHistorySearch,null)"/>
      <ListViewPanel
        id="HistoryScreenResultsLV"
        stretch="true">
        <RowIterator
          editable="false"
          elementName="result"
          value="phResults"
          valueType="gw.api.database.IQueryBeanResult&lt;entity.History&gt;">
          <Row>
            <TextCell
              enableSort="false"
              id="History_Type1"
              label="DisplayKey.get(&quot;Web.History.Type&quot;)"
              value="result.CustomType.DisplayName"
              wrap="false"/>
            <AltUserCell
              enableSort="false"
              id="History_User"
              label="DisplayKey.get(&quot;Web.History.User&quot;)"
              value="result.User"
              wrap="false"/>
            <DateCell
              dateFormat="short"
              id="History_EventTimeStamp"
              label="DisplayKey.get(&quot;Web.History.EventTimeStamp&quot;)"
              sortDirection="descending"
              sortOrder="1"
              timeFormat="short"
              value="result.EventTimestamp"
              wrap="false"/>
            <TextCell
              grow="true"
              id="History_Description"
              label="DisplayKey.get(&quot;Web.History.Description&quot;)"
              value="result.Description"
              wrap="true"/>
            <TextCell
              grow="true"
              id="OriginalValue"
              label="DisplayKey.get(&quot;Web.History.OriginalValue&quot;)"
              value="result.OriginalValue"
              wrap="true"/>
            <TextCell
              grow="true"
              id="NewValue"
              label="DisplayKey.get(&quot;Web.History.NewValue&quot;)"
              value="result.NewValue"
              wrap="true"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </SearchPanel>
    <Code><![CDATA[function getSearchCriteria() : gw.history.HistorySearchCriteria {
  var sc = new gw.history.HistorySearchCriteria() {:RelatedItem = policyPeriod.Job}
  return sc
  }]]></Code>
  </Screen>
</PCF>