<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <InputSet
    id="AdditionalInterestInputSet">
    <Require
      name="displayable"
      type="gw.lob.common.displayable.Displayable&lt;AddlInterestDetail&gt;"/>
    <Require
      name="fieldDependencyInput"
      type="boolean"/>
    <Require
      name="wizard"
      type="gw.api.web.job.JobWizardHelper"/>
    <TextInput
      confirmMessage="displayable.ConfirmMessage"
      editable="displayable.Editable"
      id="Displayable"
      label="displayable.Label"
      required="displayable.Required"
      showConfirmMessage="displayable.ShowConfirmMessage"
      validationExpression="displayable.ValidateExpression"
      value="displayable.Value"
      visible="not fieldDependencyInput and displayable.Visible" valueType="entity.AddlInterestDetail">
      <PostOnChange
        onChange="displayable.onChange(wizard)"/>
    </TextInput>
    <TextInput
      confirmMessage="displayable.ConfirmMessage"
      editable="displayable.Editable"
      id="FieldDependencyDisplayable"
      label="displayable.Label"
      required="displayable.Required"
      showConfirmMessage="displayable.ShowConfirmMessage"
      validationExpression="displayable.ValidateExpression"
      value="displayable.Value"
      visible="fieldDependencyInput and displayable.Visible" valueType="entity.AddlInterestDetail">
      <PostOnChange
        onChange="displayable.onChange(wizard)"/>
    </TextInput>
  </InputSet>
</PCF>