<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="CovTermInputSet"
    mode="Option">
    <Require
      name="term"
      type="gw.api.domain.covterm.CovTerm"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <RangeInput
      editable="openForEdit and gw.web.productmodel.ChoiceCovTermUtil.isEditable(term)"
      id="OptionTermInput"
      label="term.Pattern.DisplayName"
      required="term.Pattern.Required"
      sortValueRange="false"
      value="(term as gw.api.domain.covterm.OptionCovTerm&lt;gw.api.domain.covterm.OptionCovTerm&lt;gw.api.domain.covterm.OptionCovTerm&gt;&gt;).OptionValue"
      valueRange="gw.web.productmodel.ChoiceCovTermUtil.getModelValueRange(term as gw.api.domain.covterm.OptionCovTerm, openForEdit)"
      valueType="gw.api.productmodel.CovTermOpt&lt;gw.api.domain.covterm.OptionCovTerm&lt;gw.api.domain.covterm.OptionCovTerm&gt;&gt;"/>
  </InputSet>
</PCF>