<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ModalCell
    id="LobScheduledItemColumnInput"
    mode="Boolean">
    <Require
      name="clause"
      type="gw.api.domain.Clause"/>
    <Require
      name="schedulePropertyInfo"
      type="gw.api.productmodel.SchedulePropertyInfo"/>
    <Variable
      initialValue="displayableFactory.createSchedulePropertyInfoDisplayable(clause, scheduledItem, schedulePropertyInfo) as gw.lob.common.displayable.Displayable&lt;Boolean&gt;"
      name="displayable"
      type="gw.lob.common.displayable.Displayable&lt;Boolean&gt;"/>
    <Require
      name="scheduledItem"
      type="ScheduledItem"/>
    <Require
      name="displayableFactory"
      type="gw.lob.common.displayable.SchedulePropertyInfoDisplayableFactoryV2"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="scheduledItemColumnHelper"
      type="gw.lob.common.schedules.ScheduledItemColumnHelper"/>
    <CheckBoxCell
      available="displayable.Available"
      editable="true"
      id="BoolValue"
      required="displayable.Required"
      value="displayable.Value">
      <PostOnChange
        onChange="displayable.onChange(jobWizardHelper)"/>
    </CheckBoxCell>
  </ModalCell>
</PCF>