<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ModalCell
    id="ScheduledItemCovTermInput"
    mode="Typekey">
    <Require
      name="covTerm"
      type="gw.api.domain.covterm.CovTerm"/>
    <Variable
      initialValue="covTerm as gw.api.domain.covterm.TypekeyCovTerm"
      name="typekeyCovTerm"
      type="gw.api.domain.covterm.TypekeyCovTerm"/>
    <RangeCell
      editable="true"
      id="TermValue"
      required="typekeyCovTerm.Pattern.Required"
      value="typekeyCovTerm.Value"
      valueRange="typekeyCovTerm.Pattern.OrderedAvailableValues"
      valueType="gw.entity.TypeKey"/>
  </ModalCell>
</PCF>