<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="ScheduleInputSet"
    mode="true">
    <Require
      name="clause"
      type="gw.api.domain.Clause"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Variable
      initialValue="clause as gw.api.domain.Schedule"
      name="schedule"
      recalculateOnRefresh="true"
      type="gw.api.domain.Schedule"/>
    <Variable
      initialValue="schedule.ScheduledItemMultiPatterns?.toList()"
      name="scheduledItemPatterns"
      recalculateOnRefresh="true"
      type="List&lt;gw.api.productmodel.ClausePattern&gt;"/>
    <ListViewInput
      boldLabel="true"
      editable="true"
      id="ScheduleLV"
      label="DisplayKey.get(&quot;Web.Policy.Schedule.ScheduledItems&quot;)"
      labelAbove="true">
      <Toolbar>
        <IteratorButtons
          iterator="ScheduledItemsIterator"/>
      </Toolbar>
      <ListViewPanel>
        <Variable
          initialValue="schedule.PropertyInfos"
          name="propertyInfos"
          recalculateOnRefresh="true"
          type="gw.api.productmodel.SchedulePropertyInfo[]"/>
        <Variable
          initialValue="gw.pcf.coverage.ScheduleInputSetHelper.getCovTermPatterns(scheduledItemPatterns)"
          name="covTermPatterns"
          recalculateOnRefresh="true"
          type="List&lt;gw.api.productmodel.CovTermPattern&gt;"/>
        <Row
          renderAsSmartHeader="true"
          visible="schedule.ScheduledItems.Count &gt; 0">
          <CellIterator
            elementName="columnInfo"
            id="ColumnHeaders"
            value="propertyInfos"
            valueType="gw.api.productmodel.SchedulePropertyInfo&lt;java.lang.Object&gt;[]">
            <IteratorSort
              sortBy="columnInfo.Priority"
              sortOrder="1"/>
            <TextCell
              id="ColumnHeader"
              required="false"
              value="columnInfo.Label"/>
          </CellIterator>
          <CellIterator
            elementName="covTermPattern"
            id="CovTermHeaders"
            value="covTermPatterns"
            valueType="java.util.List&lt;gw.api.productmodel.CovTermPattern&gt;">
            <IteratorSort
              sortBy="covTermPattern.Priority"
              sortOrder="1"/>
            <TextCell
              id="CovTermHeader"
              required="false"
              value="covTermPattern.Name"/>
          </CellIterator>
        </Row>
        <RowIterator
          editable="true"
          elementName="scheduledItem"
          hasCheckBoxes="true"
          hideCheckBoxesIfReadOnly="true"
          id="ScheduledItemsIterator"
          numEntriesRequired="0"
          toCreateAndAdd="schedule.createAndAddScheduledItem()"
          toRemove="schedule.removeScheduledItem(scheduledItem)"
          value="schedule.ScheduledItems"
          valueType="entity.ScheduledItem[]">
          <IteratorSort
            sortBy="scheduledItem.getFieldValue(&quot;StringCol1&quot;)"
            sortOrder="2"/>
          <Row>
            <CellIterator
              elementName="propertyInfo"
              id="PropertyValues"
              value="propertyInfos"
              valueType="gw.api.productmodel.SchedulePropertyInfo&lt;java.lang.Object&gt;[]">
              <IteratorSort
                sortBy="propertyInfo.Priority"
                sortOrder="1"/>
              <ModalCellRef
                def="ScheduledItemColumnInput(propertyInfo, scheduledItem)"
                editable="true"
                mode="propertyInfo.ValueType"
                required="propertyInfo.Required"/>
            </CellIterator>
            <CellIterator
              elementName="covTermPattern"
              id="CovTermValues"
              value="covTermPatterns"
              valueType="java.util.List&lt;gw.api.productmodel.CovTermPattern&gt;">
              <ModalCellRef
                def="ScheduledItemCovTermInput(scheduledItem.getCovTerm(covTermPattern))"
                editable="scheduledItem.getCovTerm(covTermPattern) != null"
                mode="covTermPattern.ValueTypeName"
                required="covTermPattern.Required"/>
            </CellIterator>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </ListViewInput>
  </InputSet>
</PCF>