<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canEdit="true"
    countsAsWork="false"
    id="WorkflowTriggerTool"
    parent="UnsupportedTools()"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.InternalTools.WorkflowTriggerTool&quot;)">
    <LocationEntryPoint
      signature="WorkflowTriggerTool()"/>
    <Variable
      name="result"
      type="String"/>
    <Variable
      initialValue="new String()"
      name="jobNumber"
      type="String"/>
    <Variable
      initialValue="new String()"
      name="triggerToCall"
      type="String"/>
    <Variable
      initialValue="1"
      name="branchNumber"
      type="int"/>
    <Screen
      id="WorkflowTriggerToolScreen">
      <Verbatim
        label="result"/>
      <DetailViewPanel>
        <InputColumn>
          <TextInput
            editable="true"
            id="JobNumber"
            label="DisplayKey.get(&quot;Web.InternalTools.WorkflowTriggerTool.JobNumber&quot;)"
            value="jobNumber"/>
          <TextInput
            editable="true"
            id="branchNumber"
            label="DisplayKey.get(&quot;Web.InternalTools.WorkflowTriggerTool.BranchNumber&quot;)"
            value="branchNumber"
            valueType="java.lang.Integer"/>
          <TextInput
            editable="true"
            id="TriggerToCall"
            label="DisplayKey.get(&quot;Web.InternalTools.WorkflowTriggerTool.TriggerToCall&quot;)"
            value="triggerToCall"/>
          <Label
            label="DisplayKey.get(&quot;Web.InternalTools.WorkflowTriggerTool.TriggerInfo&quot;)"/>
          <ButtonInput
            action="result = gw.api.web.policy.ExternalWorkflowTriggerUtil.doTriggerFromExternal(jobNumber, branchNumber, triggerToCall)"
            id="TriggerTrigger"
            value="DisplayKey.get(&quot;Web.InternalTools.WorkflowTriggerTool.SubmitTrigger&quot;)"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef
        def="UnsupportedToolsDisclaimerDV()"/>
    </Screen>
  </Page>
</PCF>