<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ImpactTestingSearchPoliciesDV">
    <Require
      name="criteria"
      type="gw.rating.impact.ImpactTestingSearchCriteria"/>
    <Require
      name="productToAdd"
      type="gw.api.productmodel.Product"/>
    <Require
      name="jurisdictionToAdd"
      type="Jurisdiction"/>
    <Require
      name="producerCodeToAdd"
      type="ProducerCode"/>
    <Variable
      initialValue="new gw.pcf.rating.impact.ImpactTestingSearchUIHelper(criteria, gw.plugin.util.CurrentUserUtil.getCurrentUser().getUser())"
      name="searchHelper"
      recalculateOnRefresh="true"
      type="gw.pcf.rating.impact.ImpactTestingSearchUIHelper"/>
    <Variable
      name="jurisdictionsToRemove"
      type="Jurisdiction[]"/>
    <Variable
      name="producerCodesToRemove"
      type="ProducerCode[]"/>
    <Variable
      name="postalCodes"
      type="String"/>
    <Variable
      name="productsToRemove"
      type="gw.api.productmodel.Product[]"/>
    <InputColumn>
      <InputSet>
        <Label
          label="DisplayKey.get(&quot;Web.Rating.ImpactTesting.Search.Product&quot;)"/>
        <RangeInput
          editable="true"
          id="products"
          noneSelectedLabel="DisplayKey.get(&quot;Web.Rating.Filter.MatchAll&quot;)"
          optionLabel="searchHelper.lineStyleProductDisplay(VALUE)"
          value="productToAdd"
          valueRange="searchHelper.availableProducts()"
          valueType="gw.api.productmodel.Product"/>
        <ContentInput>
          <Link
            action="searchHelper.addProduct(productToAdd)"
            id="addProductLink"
            label="DisplayKey.get(&quot;Web.Rating.ImpactTesting.Search.AddProduct&quot;)"
            styleClass="miniButton"/>
          <Link
            action="searchHelper.removeProducts(productsToRemove)"
            id="removeProductLink"
            label="DisplayKey.get(&quot;Web.Rating.ImpactTesting.Search.RemoveProducts&quot;)"
            styleClass="miniButton"/>
        </ContentInput>
        <CheckBoxGroupInput
          editable="true"
          id="includedProducts"
          required="false"
          value="productsToRemove"
          valueRange="criteria.Products"
          valueType="gw.api.productmodel.Product[]"/>
      </InputSet>
      <InputDivider/>
      <InputSet>
        <Label
          label="DisplayKey.get(&quot;Web.Rating.ImpactTesting.Search.Jurisdictions&quot;)"/>
        <RangeInput
          editable="true"
          id="jurisdictions"
          noneSelectedLabel="DisplayKey.get(&quot;Web.Rating.Filter.MatchAll&quot;)"
          value="jurisdictionToAdd"
          valueRange="searchHelper.availableJurisdictions()"
          valueType="typekey.Jurisdiction"/>
        <ContentInput>
          <Link
            action="searchHelper.addJurisdiction(jurisdictionToAdd)"
            id="addJurisdictionLink"
            label="DisplayKey.get(&quot;Web.Rating.ImpactTesting.Search.AddJurisdiction&quot;)"
            styleClass="miniButton"/>
          <Link
            action="searchHelper.removeJurisdictions(jurisdictionsToRemove)"
            id="removeJurisdictionLink"
            label="DisplayKey.get(&quot;Web.Rating.ImpactTesting.Search.RemoveJurisdictions&quot;)"
            styleClass="miniButton"/>
        </ContentInput>
        <CheckBoxGroupInput
          editable="true"
          id="includedJurisdictions"
          required="false"
          value="jurisdictionsToRemove"
          valueRange="criteria.Jurisdictions"
          valueType="typekey.Jurisdiction[]"/>
        <InputDivider/>
      </InputSet>
      <InputSet>
        <Label
          label="DisplayKey.get(&quot;Web.Rating.ImpactTesting.Search.ProducerCodes&quot;)"/>
        <ProducerCodeInput
          editable="true"
          id="producerCodePicker"
          onPick="searchHelper.addProducerCode(producerCodeToAdd)"
          pickLocation="ProducerCodeSearchPopup.push()"
          required="false"
          value="producerCodeToAdd"/>
        <ContentInput>
          <Link
            action="searchHelper.addProducerCode(producerCodeToAdd)"
            id="addProducerCodeLink"
            label="DisplayKey.get(&quot;Web.Rating.ImpactTesting.Search.AddProducerCode&quot;)"
            styleClass="miniButton"/>
          <Link
            action="searchHelper.removeProducerCodes(producerCodesToRemove)"
            id="removeProducerCodeLink"
            label="DisplayKey.get(&quot;Web.Rating.ImpactTesting.Search.RemoveProducerCodes&quot;)"
            styleClass="miniButton"/>
        </ContentInput>
        <CheckBoxGroupInput
          editable="true"
          id="includedProducerCodes"
          required="false"
          value="producerCodesToRemove"
          valueRange="criteria.ProducerCodes"
          valueType="entity.ProducerCode[]"/>
      </InputSet>
    </InputColumn>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.Rating.ImpactTesting.Search.PostalCodes&quot;)"/>
      <InputSet>
        <InputSet>
          <Choice
            id="usePostalCodeListChoice"
            option="true"
            value="criteria.SearchOnPostalCodeList"
            valueType="java.lang.Boolean">
            <TextAreaInput
              editable="true"
              helpText="DisplayKey.get(&quot;Web.Rating.ImpactTesting.Search.PostalCodesHelp&quot;)"
              id="postalCodesList"
              label="DisplayKey.get(&quot;Web.Rating.ImpactTesting.Search.SpecifyCodes&quot;)"
              labelAbove="true"
              numRows="3"
              required="false"
              value="criteria.PostalCodesList">
              <PostOnChange/>
            </TextAreaInput>
            <CheckBoxInput
              align="left"
              editable="true"
              helpText="DisplayKey.get(&quot;Web.Rating.ImpactTesting.Search.UseStartsWithHelp&quot;)"
              id="useStartsWith"
              labelAbove="true"
              required="false"
              value="criteria.UseStartsWithForPostalCodes"
              valueLabel="DisplayKey.get(&quot;Web.Rating.ImpactTesting.Search.UseStartsWith&quot;)">
              <PostOnChange/>
            </CheckBoxInput>
          </Choice>
          <Choice
            id="usePostalCodeRangeChoice"
            option="false"
            value="criteria.SearchOnPostalCodeList"
            valueType="java.lang.Boolean">
            <TextInput
              id="rangeInputImitatingLabel"
              label="DisplayKey.get(&quot;Web.Rating.ImpactTesting.Search.Range&quot;)"
              value="&quot;&quot;">
              <PostOnChange/>
            </TextInput>
            <TextInput
              editable="true"
              id="postalCodeMin"
              label="DisplayKey.get(&quot;Web.Rating.ImpactTesting.Search.PostalCodeMin&quot;)"
              value="criteria.PostalCodeRangeMin">
              <PostOnChange/>
            </TextInput>
            <TextInput
              editable="true"
              id="postalCodeMax"
              label="DisplayKey.get(&quot;Web.Rating.ImpactTesting.Search.PostalCodeMax&quot;)"
              value="criteria.PostalCodeRangeMax">
              <PostOnChange/>
            </TextInput>
          </Choice>
        </InputSet>
      </InputSet>
      <InputDivider/>
      <InputSet>
        <Label
          label="DisplayKey.get(&quot;Web.Rating.ImpactTesting.Search.EffectiveDateRange&quot;)"/>
        <DateInput
          editable="true"
          id="effectiveDateMin"
          label="DisplayKey.get(&quot;Web.Rating.ImpactTesting.Search.EffectiveDateMin&quot;)"
          value="criteria.EffectiveDateMin">
          <PostOnChange/>
        </DateInput>
        <DateInput
          editable="true"
          id="effectiveDateMax"
          label="DisplayKey.get(&quot;Web.Rating.ImpactTesting.Search.EffectiveDateMax&quot;)"
          value="criteria.EffectiveDateMax">
          <PostOnChange/>
        </DateInput>
      </InputSet>
      <InputDivider/>
      <InputSet>
        <Label
          label="DisplayKey.get(&quot;Web.Rating.ImpactTesting.Search.ExpirationDateRange&quot;)"/>
        <DateInput
          editable="true"
          id="expirationDateMin"
          label="DisplayKey.get(&quot;Web.Rating.ImpactTesting.Search.ExpirationDateMin&quot;)"
          value="criteria.ExpirationDateMin">
          <PostOnChange/>
        </DateInput>
        <DateInput
          editable="true"
          id="expirationDateMax"
          label="DisplayKey.get(&quot;Web.Rating.ImpactTesting.Search.ExpirationDateMax&quot;)"
          value="criteria.ExpirationDateMax">
          <PostOnChange/>
        </DateInput>
      </InputSet>
      <InputDivider/>
      <InputSet>
        <Label
          label="DisplayKey.get(&quot;Web.Rating.ImpactTesting.Search.InForceOnDate&quot;)"/>
        <DateInput
          editable="true"
          id="asOfDate"
          value="criteria.InForceOnDate">
          <PostOnChange/>
        </DateInput>
      </InputSet>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="SearchAndResetInputSet()"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>