<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <RowSet
    id="HOPCostChangeDetailRowSet">
    <Require
      name="period"
      type="entity.PolicyPeriod"/>
    <Require
      name="costChanges"
      type="java.util.List&lt;entity.HOPTransaction&gt;"/>
    <RowIterator
      editable="false"
      elementName="change"
      id="costChangesIterator"
      pageSize="0"
      value="costChanges"
      valueType="java.util.List&lt;entity.HOPTransaction&gt;">
      <IteratorSort
        sortBy="change.HOPCost.Coverage.Pattern.Priority"
        sortOrder="1"/>
      <IteratorSort
        sortBy="change.DisplayName"
        sortOrder="2"/>
      <IteratorSort
        sortBy="change.EffDate"
        sortOrder="3"/>
      <Row>
        <TextCell
          enableSort="false"
          footerLabel="DisplayKey.get(&quot;Web.Financials.Subtotal&quot;)"
          grow="true"
          id="Description"
          label="DisplayKey.get(&quot;Web.Policy.HOP.Financials.Description&quot;)"
          value="change.DisplayName"
          valueType="String"/>
        <TextCell
          enableSort="false"
          formatType="currency"
          id="Amount"
          label="DisplayKey.get(&quot;Web.Policy.HOP.Financials.Amount&quot;)"
          value="change.Cost.ActualTermAmountBilling"
          valueType="java.math.BigDecimal"
          wrap="false"/>
        <DateCell
          enableSort="false"
          id="EffectiveDate"
          label="DisplayKey.get(&quot;Web.Policy.HOP.Financials.EffDate&quot;)"
          value="change.EffDate"
          wrap="false"/>
        <DateCell
          enableSort="false"
          id="ExpirationDate"
          label="DisplayKey.get(&quot;Web.Policy.HOP.Financials.ExpDate&quot;)"
          value="change.ExpDate"
          wrap="false"/>
        <TextCell
          align="right"
          enableSort="false"
          id="Proration"
          label="DisplayKey.get(&quot;Web.Policy.HOP.Financials.Proration&quot;)"
          value="gw.api.util.StringUtil.formatNumber(change.Proration, &quot;#0.0000&quot;)"
          valueType="java.lang.String"
          wrap="false"/>
        <MonetaryAmountCell
          enableSort="false"
          formatType="currency"
          id="Premium"
          label="DisplayKey.get(&quot;Web.Policy.HOP.Financials.Premium&quot;)"
          value="change.AmountBilling"
          wrap="false">
          <ColumnFooter>
            <TextCell
              formatType="currency"
              id="CblSubTotal"
              value="costChanges.AmountSum(period.PreferredSettlementCurrency)"
              valueType="gw.pl.currency.MonetaryAmount"
              wrap="false"/>
          </ColumnFooter>
        </MonetaryAmountCell>
      </Row>
    </RowIterator>
  </RowSet>
</PCF>