<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Screen
    editable="openForEdit"
    id="HOPDwellingConstructionScreen">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <Variable
      initialValue="policyPeriod.Job"
      name="job"
      type="entity.Job"/>
    <Toolbar>
      <WizardButtons/>
      <ToolbarButtonSetRef
        mode="job.Subtype"
        toolbarButtonSet="JobWizardToolbarButtonSet(policyPeriod, job, jobWizardHelper)"/>
    </Toolbar>
    <AlertBar
      id="QuoteRequestedAlert"
      label="DisplayKey.get(&quot;Web.JobWizard.QuoteInProgressAlert&quot;)"
      visible="gw.web.job.JobUIHelper.isQuoteRequestInProgress(policyPeriod)"/>
    <PanelRef
      def="OOSEPanelSet(policyPeriod, jobWizardHelper)"/>
    <PanelRef
      def="HOPDwellingConstructionPanelSet(policyPeriod, openForEdit, jobWizardHelper)"/>
  </Screen>
</PCF>
