<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    disableUserCustomization="true"
    id="HOPOtherPremiumLV"
    stretch="true">
    <Require
      name="line"
      type="HOPLine"/>
    <Variable
      initialValue="line.LineAdditionalCovCosts"
      name="additionalLineCovCosts"
      type="List&lt;HOPCost&gt;"/>
    <Variable
      initialValue="line.DwellingAdditionalCovCosts"
      name="additionalDwellingCovCosts"
      type="List&lt;HOPCost&gt;"/>
    <Variable
      initialValue="line.LineOptionalCovCosts"
      name="optionalLineCovCosts"
      type="List&lt;HOPCost&gt;"/>
    <Variable
      initialValue="line.LineOptionalScheduledItemCovCosts"
      name="optionalLineScheduledItemCovCosts"
      type="List&lt;HOPCost&gt;"/>
    <Variable
      initialValue="line.DwellingOptionalCovCosts"
      name="optionalDwellingCovCosts"
      type="List&lt;HOPCost&gt;"/>
    <Variable
      initialValue="line.DwellingOptionalScheduledItemCovCosts"
      name="optionalDwellingScheduledItemCovCosts"
      type="List&lt;HOPCost&gt;"/>
    <Variable
      initialValue="line.OtherCosts.AnyProrated"
      name="proRatedCosts"
      type="Boolean"/>
    <Row
      id="CovCostHeaderRowId">
      <TextCell
        bold="true"
        grow="true"
        id="DescriptionHeader"
        value="DisplayKey.get(&quot;Web.Policy.HOP.Financials.Description&quot;)"/>
      <TextCell
        align="right"
        bold="true"
        id="AmountHeader"
        value="DisplayKey.get(&quot;Web.Policy.HOP.HOPQuoteScreen.Amount&quot;)"
        visible="proRatedCosts"
        wrap="false"/>
      <TextCell
        bold="true"
        id="PeriodStartHeader"
        value="DisplayKey.get(&quot;Web.Policy.HOP.HOPQuoteScreen.PeriodStart&quot;)"
        visible="proRatedCosts"
        wrap="false"/>
      <TextCell
        bold="true"
        id="PeriodEndHeader"
        value="DisplayKey.get(&quot;Web.Policy.HOP.HOPQuoteScreen.PeriodEnd&quot;)"
        visible="proRatedCosts"
        wrap="false"/>
      <TextCell
        align="right"
        bold="true"
        id="ProrationHeader"
        value="DisplayKey.get(&quot;Web.Policy.HOP.HOPQuoteScreen.Proration&quot;)"
        visible="proRatedCosts"
        wrap="false"/>
      <TextCell
        align="right"
        bold="true"
        id="PremiumHeader"
        value="DisplayKey.get(&quot;Web.Policy.Quote.Premium&quot;)"
        wrap="false"/>
    </Row>
    <RowSetRef
      def="HOPCoverageCostRowSet(additionalLineCovCosts, proRatedCosts)"
      id="AdditionalLineCovCostRow"/>
    <RowSetRef
      def="HOPCoverageCostRowSet(additionalDwellingCovCosts, proRatedCosts)"
      id="AdditionalDwellingCovCostRow"/>
    <RowSetRef
      def="HOPCoverageCostRowSet(optionalLineCovCosts, proRatedCosts)"
      id="OptionalLineCovCostRow"/>
    <RowSetRef
      def="HOPScheduledItemCovCostRowSet(optionalLineScheduledItemCovCosts, proRatedCosts)"
      id="OptionalLineScheduledItemCovCostRow"/>
    <RowSetRef
      def="HOPCoverageCostRowSet(optionalDwellingCovCosts, proRatedCosts)"
      id="OptionalDwellingCovCostRow"/>
    <RowSetRef
      def="HOPScheduledItemCovCostRowSet(optionalDwellingScheduledItemCovCosts, proRatedCosts)"
      id="OptionalDwellScheduledItemCovCostRow"/>
    <Row>
      <TextCell
        bold="true"
        grow="true"
        id="Subtotal"
        value="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.Subtotal&quot;)"/>
      <EmptyCell
        grow="true"
        id="Empty2"
        visible="proRatedCosts"/>
      <EmptyCell
        grow="true"
        id="Empty3"
        visible="proRatedCosts"/>
      <EmptyCell
        grow="true"
        id="Empty4"
        visible="proRatedCosts"/>
      <EmptyCell
        grow="true"
        id="Empty5"
        visible="proRatedCosts"/>
      <TextCell
        bold="true"
        formatType="currency"
        grow="true"
        id="SubtotalAmt"
        value="gw.lob.hop.financials.HOPQuoteDisplayUtil.getCostsSum({line.OtherCosts}, line.PreferredCoverageCurrency)"
        valueType="gw.pl.currency.MonetaryAmount"/>
    </Row>
  </ListViewPanel>
</PCF>