<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="RatingCumulDetailsPanelSet"
    mode="HOPLine">
    <Require
      name="period"
      type="PolicyPeriod"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <Require
      name="isEditable"
      type="boolean"/>
    <Variable
      initialValue="period.HOPLine"
      name="line"
      type="HOPLine"/>
    <Variable
      initialValue="line.HOPDwellings?.single()"
      name="dwelling"
      type="HOPDwelling"/>
    <PanelRef>
      <TitleBar
        title="DisplayKey.get(&quot;Web.Policy.HOP.HOPQuoteScreen.PolicyType&quot;, line.HOPCoverageParts.single().CoveragePartType.DisplayName, dwelling.CoverageForm.DisplayName)"/>
      <PanelSet>
        <PanelRef
          def="RatingOverrideButtonDV(period, period.HOPLine, jobWizardHelper, CurrentLocation.InEditMode)"
          id="RatingOverrideButtonDV"/>
        <PanelRef
          def="HOPBasePremiumLV(line)"
          id="BasePremiumCosts"
          visible="line.BasePremiumCosts.HasElements">
          <Verbatim
            label="DisplayKey.get(&quot;Web.PolicyFile.PolicyLine.HOP.DwellingAddress&quot;, dwelling.DisplayName)"/>
        </PanelRef>
        <PanelRef
          def="HOPAdjustmentsToBasePremiumLV(line)"
          id="AdjustmentsToBasePremiumCosts"
          visible="gw.lob.hop.financials.HOPQuoteDisplayUtil.hasNonZeroCostDataValues(line.AdjustmentsToBasePremiumCosts)">
          <Verbatim
            label="DisplayKey.get(&quot;Web.Policy.HOP.HOPQuoteScreen.AdjustmentsToBasePremium&quot;)"/>
        </PanelRef>
        <PanelRef
          def="HOPOtherPremiumLV(line)"
          id="OtherPremiumCosts"
          visible="gw.lob.hop.financials.HOPQuoteDisplayUtil.hasNonZeroCostDataValues(line.OtherCosts)">
          <Verbatim
            label="DisplayKey.get(&quot;Web.Policy.HOP.HOPQuoteScreen.OtherPremiums&quot;)"/>
        </PanelRef>
        <PanelRef
          def="HOPModifierCostLV(line)"
          id="ModifierCosts"
          visible="gw.lob.hop.financials.HOPQuoteDisplayUtil.hasNonZeroCostDataValues(line.ModifierCosts)">
          <Verbatim
            label="DisplayKey.get(&quot;Web.Policy.HOP.HOPCoveragesScreen.Modifiers&quot;)"/>
        </PanelRef>
        <PanelRef
          def="HOPTotalCostLV(line.Costs.toList().cast(HOPCost))"
          id="TotalCost"
          visible="line.BasePremiumCosts.HasElements">
        </PanelRef>
      </PanelSet>
    </PanelRef>
  </PanelSet>
</PCF>
