<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    editable="true"
    id="DemoPaymentGatewayScreen">
    <Require
      name="amount"
      type="java.math.BigDecimal"/>
    <Require
      name="jobNumber"
      type="String"/>
    <Variable
      initialValue="new gw.payment.paymentgateway.impl.DemoCreditCardDetails()"
      name="creditCard"
      type="gw.payment.paymentgateway.impl.DemoCreditCardDetails"/>
    <DetailViewPanel
      editable="true">
      <InputColumn>
        <Label
          label="DisplayKey.get('Web.UpFrontPayment.Demo.CardDetails')"/>
        <TextInput
          editable="true"
          id="CardNumber"
          label="DisplayKey.get('Web.UpFrontPayment.Demo.CardNumber')"
          required="true"
          value="creditCard.Number"
          valueType="String"/>
        <RangeInput
          editable="true"
          id="expiryMonth"
          label="DisplayKey.get('Web.UpFrontPayment.Demo.ExpirationMonth')"
          required="true"
          value="creditCard.ExpiryMonth"
          valueRange="typekey.Months.AllTypeKeys"
          valueType="String"/>
        <RangeInput
          editable="true"
          id="expiryYear"
          label="DisplayKey.get('Web.UpFrontPayment.Demo.ExpirationYear')"
          required="true"
          value="creditCard.ExpiryYear"
          valueRange="gw.payment.paymentgateway.PaymentGatewayDemoUtils.getExpiryYears()"
          valueType="String"/>
        <TextInput
          editable="true"
          id="CVV"
          label="DisplayKey.get('Web.UpFrontPayment.Demo.CVC')"
          required="true"
          value="creditCard.CVV"
          valueType="String"></TextInput>
        <InputDivider/>
        <Label
          label="DisplayKey.get('Web.UpFrontPayment.Demo.ShippingAddress')"/>
        <TextInput
          editable="true"
          id="AddressLine1"
          label="DisplayKey.get('Web.UpFrontPayment.Demo.AddressLine1')"
          required="false"
          value="creditCard.AddressLine1"
          valueType="String"></TextInput>
        <TextInput
          editable="true"
          id="AddressLine2"
          label="DisplayKey.get('Web.UpFrontPayment.Demo.AddressLine2')"
          required="false"
          value="creditCard.AddressLine2"
          valueType="String"></TextInput>
        <RangeInput
          editable="true"
          id="Country"
          label="DisplayKey.get('Web.UpFrontPayment.Demo.Country')"
          required="false"
          value="creditCard.Country"
          valueRange="typekey.Country.AllTypeKeys"
          valueType="typekey.Country">
          <PostOnChange
            deferUpdate="false"/>
        </RangeInput>
        <ContentInput>
          <Link
            action="gw.payment.paymentgateway.PaymentGatewayDemoUtils.validateMandatoryFieldsAndRedirectToConfirmationScreen(creditCard, amount)"
            id="DemoTakePaymentButton"
            label="DisplayKey.get('Web.UpFrontPaymentDV.TakePayment')"
            styleClass="bigButton"/>
        </ContentInput>
        <ContentInput>
          <Link
            action="gw.payment.paymentgateway.PaymentGatewayDemoUtils.removeLatestSavedTransactionDetails(); JobForward.go(Job.finder.findJobByJobNumber(jobNumber));"
            id="CancelLink"
            label="DisplayKey.get('Web.UpFrontPayment.Demo.ReturnToMerchantSite')"/>
        </ContentInput>
      </InputColumn>
      <InputColumn>
        <TextInput
          id="TransactionAmount"
          label="DisplayKey.get('Web.UpFrontPayment.Demo.TotalPurchaseAmount')"
          value="amount"
          valueType="java.math.BigDecimal"/>
      </InputColumn>
    </DetailViewPanel>
  </Screen>
</PCF>