<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="FormPatternSearchResultsLV"
    stretch="true">
    <Require
      name="formPatterns"
      type="gw.api.database.IQueryBeanResult&lt;FormPattern&gt;"/>
    <ExposeIterator
      flags="formPattern"
      valueType="entity.FormPattern"
      widget="FormPatternSearchResultsLV"/>
    <RowIterator
      appendPageInfo="true"
      checkBoxVisible="perm.System.formpatedit"
      editable="false"
      elementName="formPat"
      hasCheckBoxes="true"
      toRemove="gw.api.admin.FormPatternUtil.deleteFormPattern(formPat)"
      value="formPatterns"
      valueType="gw.api.database.IQueryBeanResult&lt;entity.FormPattern&gt;">
      <ToolbarFlag
        name="formPattern"/>
      <Row>
        <TextCell
          action="FormPatternDetail.go(formPat)"
          align="left"
          id="Code"
          label="DisplayKey.get(&quot;Web.Admin.FormPatternsLV.Code&quot;)"
          value="formPat.Code"/>
        <TextCell
          align="left"
          id="Number"
          label="DisplayKey.get(&quot;Web.Admin.FormPatternsLV.Number&quot;)"
          value="formPat.FormNumber"/>
        <TextCell
          align="left"
          id="Edition"
          label="DisplayKey.get(&quot;Web.Admin.FormPatternsLV.Edition&quot;)"
          value="formPat.Edition"/>
        <TextCell
          align="left"
          grow="true"
          id="Name"
          label="DisplayKey.get(&quot;Web.Admin.FormPatternsLV.Name&quot;)"
          value="formPat.Description"/>
        <TextCell
          align="left"
          id="GroupCode"
          label="DisplayKey.get(&quot;Web.Admin.FormPatternsLV.GroupCode&quot;)"
          value="formPat.InternalGroupCode"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>