<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="FormPatternDetail_BasicsDV">
    <Require
      name="formPattern"
      type="FormPattern"/>
    <InputColumn>
      <TextInput
        editable="formPattern.New"
        id="Code"
        label="DisplayKey.get(&quot;Web.Admin.FormPatternDetail.BasicsDV.Code&quot;)"
        required="true"
        value="formPattern.Code"/>
      <TextInput
        editable="true"
        id="Number"
        label="DisplayKey.get(&quot;Web.Admin.FormPatternDetail.BasicsDV.Number&quot;)"
        required="true"
        value="formPattern.FormNumber"/>
      <TextInput
        editable="true"
        id="Edition"
        label="DisplayKey.get(&quot;Web.Admin.FormPatternDetail.BasicsDV.Edition&quot;)"
        required="true"
        value="formPattern.Edition"/>
      <TextInput
        editable="true"
        id="Name"
        label="DisplayKey.get(&quot;Web.Admin.FormPatternDetail.BasicsDV.Name&quot;)"
        required="true"
        value="formPattern.Description"/>
      <RangeRadioInput
        editable="true"
        id="InferenceTime"
        label="DisplayKey.get(&quot;Web.Admin.FormPatternDetail.BasicsDV.InferenceTime&quot;)"
        optionLabel="VALUE == FormInferenceTime.TC_BIND ? DisplayKey.get(&quot;Button.Yes&quot;) : DisplayKey.get(&quot;Button.No&quot;)"
        required="true"
        sortValueRange="false"
        value="formPattern.InferenceTime"
        valueRange="{FormInferenceTime.TC_BIND, FormInferenceTime.TC_QUOTE}"
        valueType="typekey.FormInferenceTime"/>
      <BooleanRadioInput
        editable="true"
        id="EndorsementNumbered"
        label="DisplayKey.get(&quot;Web.Admin.FormPatternDetail.BasicsDV.EndorsementNumbered&quot;)"
        required="true"
        value="formPattern.EndorsementNumbered"/>
      <TextInput
        editable="true"
        id="Priority"
        label="DisplayKey.get(&quot;Web.Admin.FormPatternDetail.BasicsDV.Priority&quot;)"
        required="true"
        value="formPattern.Priority"
        valueType="java.lang.Integer"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.Admin.FormPatternDetail.BasicsDV.IntegrationFields&quot;)"/>
      <TextInput
        editable="true"
        id="RefCode"
        label="DisplayKey.get(&quot;Web.Admin.FormPatternDetail.BasicsDV.RefCode&quot;)"
        value="formPattern.RefCode"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>