<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    alwaysInEditMode="true"
    canEdit="true"
    countsAsWork="false"
    id="FormPatternCovTermPopup"
    returnType="gw.api.productmodel.CovTermPattern"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.Admin.FormPatternDetail.FormPatternCovTermPopup.Title&quot;)">
    <LocationEntryPoint
      signature="FormPatternCovTermPopup(formPattern : FormPattern)"/>
    <Variable
      name="formPattern"
      type="FormPattern"/>
    <Screen>
      <Toolbar>
        <EditButtons
          cancelVisible="true"
          editVisible="false"
          showUpdateConfirmMessage="false"
          updateVisible="false"/>
      </Toolbar>
      <ListViewPanel>
        <RowIterator
          checkBoxVisible="false"
          editable="true"
          elementName="covTermPattern"
          id="CovTermPatternIterator"
          pageSize="15"
          pickValue="covTermPattern"
          value="formPattern.AvailableFormPatternCovTerms"
          valueType="gw.api.productmodel.CovTermPattern[]">
          <Row>
            <TextCell
              id="Name"
              label="DisplayKey.get(&quot;Web.Admin.FormPatternDetail.FormPatternCovTermPopup.Name&quot;)"
              value="covTermPattern.Name"/>
            <TextCell
              id="Description"
              label="DisplayKey.get(&quot;Web.Admin.FormPatternDetail.FormPatternCovTermPopup.Description&quot;)"
              value="covTermPattern.Description"/>
            <TextCell
              id="Code"
              label="DisplayKey.get(&quot;Web.Admin.FormPatternDetail.FormPatternCovTermPopup.Code&quot;)"
              value="covTermPattern.PublicID"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </Screen>
  </Popup>
</PCF>