<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="FormPatternDetail_JurisdictionsLV">
    <ExposeIterator
      flags="lookup"
      valueType="entity.FormPatternLookup"
      widget="FormPatternDetail_JurisdictionsLV"/>
    <Require
      name="formPattern"
      type="FormPattern"/>
    <Variable
      initialValue="formPattern.Lookups"
      name="lookups"
      recalculateOnRefresh="true"
      type="FormPatternLookup[]"/>
    <RowIterator
      editable="true"
      elementName="lookup"
      hasCheckBoxes="true"
      hideCheckBoxesIfReadOnly="true"
      pageSize="0"
      toCreateAndAdd="formPattern.createAndAddLookup()"
      toRemove="formPattern.removeFromLookups(lookup)"
      value="lookups"
      valueType="entity.FormPatternLookup[]">
      <IteratorSort
        sortBy="new gw.admin.FormPatternLookupSortKey(lookup)"
        sortOrder="1"/>
      <ToolbarFlag
        name="lookup"/>
      <Row>
        <RangeRadioCell
          editable="true"
          enableSort="false"
          id="Availability"
          label="DisplayKey.get(&quot;Web.Admin.FormPatternDetail.JurisdictionsLV.Availability&quot;)"
          optionLabel="VALUE == AvailabilityType.TC_AVAILABLE ? DisplayKey.get(&quot;Button.Yes&quot;) : DisplayKey.get(&quot;Button.No&quot;)"
          required="true"
          sortValueRange="false"
          value="lookup.Availability"
          valueRange="{AvailabilityType.TC_AVAILABLE, AvailabilityType.TC_UNAVAILABLE}"
          valueType="typekey.AvailabilityType"/>
        <DateCell
          editable="true"
          enableSort="false"
          id="StartEffectiveDate"
          label="DisplayKey.get(&quot;Web.Admin.FormPatternDetail.JurisdictionsLV.StartEffectiveDate&quot;)"
          value="lookup.StartEffectiveDate"/>
        <DateCell
          editable="true"
          enableSort="false"
          id="EndEffectiveDate"
          label="DisplayKey.get(&quot;Web.Admin.FormPatternDetail.JurisdictionsLV.EndEffectiveDate&quot;)"
          value="lookup.EndEffectiveDate"/>
        <TypeKeyCell
          editable="true"
          enableSort="false"
          id="Jurisdiction"
          label="DisplayKey.get(&quot;Web.Admin.FormPatternDetail.JurisdictionsLV.Jurisdiction&quot;)"
          value="lookup.Jurisdiction"
          valueType="typekey.Jurisdiction"/>
        <TypeKeyCell
          editable="true"
          enableSort="false"
          id="UWCompanyCode"
          label="DisplayKey.get(&quot;Web.Admin.FormPatternDetail.JurisdictionsLV.UWCompanyCode&quot;)"
          value="lookup.UWCompanyCode"
          valueType="typekey.UWCompanyCode"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>