<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <PanelSet
    id="FormPatternDetail_InferencePanelSet">
    <Require
      name="formPattern"
      type="FormPattern"/>
    <Variable
      initialValue="formPattern.PolicyLinePatternRange"
      name="policyLineRange"
      recalculateOnRefresh="true"
      type="List&lt;gw.admin.PatternRef&lt;gw.api.productmodel.PolicyLinePattern&gt;&gt;"/>
    <PanelRef>
      <DetailViewPanel>
        <InputHeaderSection>
          <Label
            label="DisplayKey.get(&quot;Web.Admin.FormPatternDetail.InferenceDV.Caption&quot;)"/>
        </InputHeaderSection>
        <InputColumn>
          <InputSet
            visible="formPattern.HasCustomInference">
            <Label
              id="CustomInferenceLabel1"
              label="DisplayKey.get(&quot;Web.Admin.FormPatternDetail.InferenceDV.CustomInferenceClass&quot;)"
              visible="true"/>
            <HiddenInput
              id="CustomInferenceLabel"
              value="&quot;For testability&quot; "
              valueType="java.lang.String"
              visible="true"/>
          </InputSet>
          <RangeInput
            editable="true"
            id="LinePattern"
            label="DisplayKey.get(&quot;Web.Admin.FormPatternDetail.InferenceDV.LinePattern&quot;)"
            optionLabel="VALUE.DisplayName"
            required="formPattern.GenericInferenceClassRef.PolicyLineRequired"
            value="formPattern.PolicyLinePatternRef"
            valueRange="policyLineRange"
            valueType="gw.admin.PatternRef&lt;gw.api.productmodel.PolicyLinePattern&gt;">
            <PostOnChange
              onChange="formPattern.onPolicyLineChange()"/>
          </RangeInput>
        </InputColumn>
      </DetailViewPanel>
    </PanelRef>
    <PanelRef
      def="FormPatternCoveragePartTypesPanelSet(formPattern)"
      visible="formPattern.PolicyLinePatternRef.Pattern.CoveragePartTypes.HasElements"></PanelRef>
    <PanelRef>
      <DetailViewPanel>
        <InputColumn>
          <RangeInput
            editable="true"
            id="GenericInferenceClass"
            label="DisplayKey.get(&quot;Web.Admin.FormPatternDetail.InferenceDV.GenericInferenceClass&quot;)"
            optionLabel="VALUE.DisplayName"
            value="formPattern.GenericInferenceClassRef"
            valueRange="formPattern.getGenericInferenceClassRange(formPattern.PolicyLinePatternRef.Pattern)"
            valueType="gw.admin.FormInferenceClassRef"
            visible="not formPattern.HasCustomInference">
            <PostOnChange
              onChange="formPattern.clearCustomInferenceFields()"/>
          </RangeInput>
        </InputColumn>
      </DetailViewPanel>
    </PanelRef>
    <PanelRef
      def="GenericInferenceClassPanelSet(formPattern)"
      mode="formPattern.InferenceClassMode"></PanelRef>
  </PanelSet>
</PCF>