<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <PanelSet
    id="GenericInferenceClassPanelSet"
    mode="GenericClauseNonExistenceForm">
    <Require
      name="formPattern"
      type="FormPattern"/>
    <DetailViewPanel>
      <InputColumn>
        <PickerInput
          editable="true"
          freeInputEnabled="false"
          id="ClausePatternSelection"
          label="DisplayKey.get(&quot;Web.Admin.FormPatternDetail.InferenceDV.ClausePattern&quot;)"
          onPick="gw.api.web.PebblesUtil.invalidateIterators(CurrentLocation, entity.FormPatternCovTerm)"
          pickLocation="FormClausePatternSelectionPopup.push(formPattern)"
          required="true"
          value="formPattern.ClausePattern"
          valueType="gw.api.productmodel.ClausePattern"></PickerInput>
      </InputColumn>
    </DetailViewPanel>
  </PanelSet>
</PCF>