<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <PanelSet
    id="GenericInferenceClassPanelSet"
    mode="GenericCoverableTypeKeyForm">
    <Require
      name="formPattern"
      type="FormPattern"/>
    <Variable
      initialValue="formPattern.CoverableTypeRange"
      name="coverableTypeRange"
      recalculateOnRefresh="true"
      type="gw.admin.EntityTypeRef[]"/>
    <DetailViewPanel>
      <InputColumn>
        <RangeInput
          editable="true"
          id="SelectedCoverable"
          label="DisplayKey.get(&quot;Web.Admin.FormPatternDetail.InferenceDV.CoverableType&quot;)"
          optionLabel="VALUE.DisplayName"
          required="true"
          value="formPattern.CoverableTypeRef"
          valueRange="coverableTypeRange"
          valueType="gw.admin.EntityTypeRef">
          <PostOnChange/>
        </RangeInput>
        <RangeInput
          editable="true"
          id="SelectedTypeList"
          label="DisplayKey.get(&quot;Web.Admin.FormPatternDetail.InferenceDV.CoverableTypeList&quot;)"
          optionLabel="VALUE.DisplayName"
          required="true"
          value="formPattern.CoverableTypeListRef"
          valueRange="formPattern.CoverableTypeListRange"
          valueType="gw.lang.reflect.IPropertyInfo">
          <PostOnChange/>
        </RangeInput>
        <RangeInput
          editable="true"
          id="SelectedTypeKey"
          label="DisplayKey.get(&quot;Web.Admin.FormPatternDetail.InferenceDV.CoverableTypeKey&quot;)"
          optionLabel="VALUE.DisplayName"
          required="true"
          value="formPattern.CoverableTypeKeyRef"
          valueRange="formPattern.CoverableTypeKeyRange"
          valueType="gw.entity.TypeKey">
          <PostOnChange/>
        </RangeInput>
        <BooleanRadioInput
          editable="true"
          id="SelectionExistence"
          label="DisplayKey.get(&quot;Web.Admin.FormPatternDetail.InferenceDV.CoverableTypeKeyExistsOnAll&quot;)"
          required="true"
          value="formPattern.CoverableTypeKeyExistsOnAll"/>
      </InputColumn>
    </DetailViewPanel>
  </PanelSet>
</PCF>