<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <ListViewPanel
    id="RateRoutineEntityLV"
    validationExpression="helper.noneSelected() ? DisplayKey.get(&quot;Validation.Rating.RateRoutineDefinition.SelectInScopeItem&quot;) : null">
    <Require
      name="valueDelegate"
      type="CalcStepValueDelegate"/>
    <Require
      name="inScopeUsages"
      type="List&lt;gw.rating.flow.util.InScopeUsage&gt;"/>
    <Require
      name="helper"
      type="gw.pcf.rating.flow.RateRoutineEntityPopupHelper"/>
    <RowIterator
      editable="true"
      elementName="inScopeUsage"
      id="InScopeUsagesIterator"
      pageSize="50"
      value="inScopeUsages"
      valueType="java.util.List&lt;gw.rating.flow.util.InScopeUsage&gt;">
      <Row>
        <RadioButtonCell
          action="{valueDelegate.InScopeValue = inScopeUsage.Path; valueDelegate.InScopeValueType = inScopeUsage.FeatureType as String; valueDelegate.InScopeValueIsModifier = inScopeUsage.IsModifier; valueDelegate.CovTermCode = inScopeUsage.CovTermPattern.PublicID}"
          editable="true"
          enableSort="false"
          hideChildrenIfReadOnly="false"
          id="SelectRadio"
          radioButtonGroup="InScopeUsagesGroup"
          value="inScopeUsage.Path == valueDelegate.InScopeValue and (inScopeUsage.FeatureType as String) == valueDelegate.InScopeValueType"/>
        <TextCell
          id="FieldName"
          label="DisplayKey.get(&quot;Web.Rating.Flow.CalcRoutine.EntityPopup.FieldName&quot;)"
          outputConversion="VALUE==null ? DisplayKey.get(&quot;Web.Rating.Flow.CalcRoutine.EntityPopup.ThisEntity&quot;) : VALUE"
          value="inScopeUsage.UserFriendlyPath"/>
        <LinkCell
          label="DisplayKey.get(&quot;Web.Rating.Flow.CalcRoutine.EntityPopup.Type&quot;)">
          <Link
            id="FieldType"
            label="inScopeUsage.UserFriendlyDataType"
            styleClass="none"
            tooltip="inScopeUsage.FeatureType.Name"/>
        </LinkCell>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>