<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <PanelSet
    id="GL7ExclusionsAndConditionsPerSublinePanelSet">
    <Require
      name="coverablePerSubline"
      type="gw.lob.gl7.presenters.GL7CoverablePerSubline"/>
    <Require
      name="coverageCategories"
      type="String[]"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <Require
      name="label"
      type="String"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <PanelRef>
      <Toolbar
        id="AdditionalExclusionsConditionsToolbar">
        <ToolbarButton
          action="GL7CoveragePatternSearchPopup.push(new gw.lob.gl7.presenters.GL7SyncCoverageSearchPresenter(coverablePerSubline, coverageCategories, TC_EXCLCOND, label))"
          hideIfReadOnly="true"
          id="AddExclusionsOrCondition"
          label="DisplayKey.get(&quot;Web.Policy.Coverages.AddExclusionsOrCondition&quot;)"/>
      </Toolbar>
      <PanelSet>
        <PanelRef
          def="GL7CoveragesPerSublineDV(coverablePerSubline, gw.lob.gl7.presenters.GL7PresenterUtil.exclusionsProviderFor(coverageCategories), jobWizardHelper, openForEdit)"
          id="ExclusionsPanel">
          <TitleBar
            title="DisplayKey.get(&quot;Web.Policy.Coverages.Exclusions&quot;)"/>
        </PanelRef>
        <PanelRef
          def="GL7CoveragesPerSublineDV(coverablePerSubline, gw.lob.gl7.presenters.GL7PresenterUtil.conditionsProviderFor(coverageCategories), jobWizardHelper, openForEdit)"
          id="ConditionsPanel">
          <TitleBar
            title="DisplayKey.get(&quot;Web.Policy.Coverages.PolicyConditions&quot;)"/>
        </PanelRef>
      </PanelSet>
    </PanelRef>
  </PanelSet>
</PCF>
