<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <CardViewPanel
    id="GL7LocationDetailCV">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="presenter"
      type="gw.lob.gl7.presenters.GL7LocationPresenter"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="supportsNonSpecificLocation"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <Variable
      initialValue="presenter.PolicyLocation"
      name="polLocation"
      type="entity.PolicyLocation"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="gw.lob.gl7.presenters.GL7CoverablePerSubline.forLocation(policyPeriod.GL7Line, polLocation)"
      name="sublineLocations"
      type="gw.lob.gl7.presenters.GL7CoverablePerSubline&lt;entity.GL7Location&gt;"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="gw.lob.gl7.GL7Category"
      name="category"
      type="Type&lt;gw.lob.gl7.GL7Category&gt;"/>
    <Variable
      initialValue="sublineLocations.SublineSortedCoverables"
      name="coverables"
      type="entity.GL7Location[]"
      recalculateOnRefresh="true"/>
    <Card
      id="DetailsCard"
      title="DisplayKey.get(&quot;Web.Policy.LocationContainer.Location.Panel.GeneralInfo.Title&quot;)">
      <DetailViewPanel
        id="LocationDetailDV">
        <InputColumn>
          <InputSetRef
            def="GL7LocationDetailInputSet(presenter, supportsNonSpecificLocation, openForEdit)"/>
        </InputColumn>
      </DetailViewPanel>
      <DetailViewPanel>
        <InputColumn>
          <Label
            label="DisplayKey.get(&quot;Web.Policy.GL7.Location.SublineSelection&quot;)"/>
          <ListViewInput
            boldLabel="true"
            id="SelectedSublinesLV"
            labelAbove="true">
            <Toolbar/>
            <ListViewPanel>
              <RowIterator
                editable="true"
                elementName="sublineChoice"
                value="presenter.Choices"
                valueType="java.util.List&lt;gw.lob.gl7.presenters.GL7LocationPresenter.SublineChoice&gt;">
                <Row>
                  <CheckBoxCell
                    editable="true"
                    id="SublineSelection"
                    label="DisplayKey.get(&quot;Web.Policy.GL7.Selected&quot;)"
                    showConfirmMessage="false"
                    value="sublineChoice.Selected">
                    <PostOnChange
                      onChange="gw.api.web.PebblesUtil.invalidateIterators(CurrentLocation, GL7Location)"/>
                  </CheckBoxCell>
                  <TextCell
                    id="Subline"
                    label="DisplayKey.get(&quot;Web.Policy.GL7.Subline&quot;)"
                    required="false"
                    value="sublineChoice.Subline">
                    <PostOnChange/>
                  </TextCell>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
          <Label/>
        </InputColumn>
      </DetailViewPanel>
      <PanelIterator
        elementName="location"
        id="SublinePropertiesPanel"
        value="presenter.LocationsOfSelectedChoices"
        valueType="java.util.List&lt;entity.GL7Location&gt;">
        <PanelRef
          def="LobEntityDV(location, gw.lob.gl7.displayable.GL7LocationDisplayable, jobWizardHelper, openForEdit)"/>
      </PanelIterator>
      <DetailViewPanel
        id="AccountLocationUpToDateDV"
        visible="polLocation.Branch.Promoted and !polLocation.isUpToDate()">
        <InputColumn>
          <ContentInput
            boldLabel="true"
            id="SynchronizedMessage"
            label="DisplayKey.get(&quot;Web.Account.Locations.IsSynchronized.Policy.Message&quot;)">
            <Link
              action="AccountLocationPopup.push(polLocation.AccountLocation, polLocation.Branch.Policy.Account, false)"
              id="SynchronizedLink"
              label="DisplayKey.get(&quot;Web.Account.Locations.IsSynchronized.Policy.Link&quot;)"/>
          </ContentInput>
        </InputColumn>
      </DetailViewPanel>
    </Card>
    <Card
      id="AdditionalCoveragesCard"
      title="DisplayKey.get(&quot;Web.LineWizard.AdditionalCoverages&quot;)">
      <PanelRef
        def="GL7AdditionalCoveragesPerSublinePanelSet(sublineLocations, {gw.lob.gl7.GL7Category.LOCATION_ADDITIONAL_COVERAGE.PublicID}, jobWizardHelper, polLocation.DisplayName, openForEdit)"/>
    </Card>
    <Card
      id="ExclusionsAndConditionsCard"
      title="DisplayKey.get(&quot;Web.LineWizard.ExclusionsAndConditions&quot;)">
      <PanelRef
        def="GL7ExclusionsAndConditionsPerSublinePanelSet(sublineLocations, {gw.lob.gl7.GL7Category.LOCATION_EXCLUSION.PublicID, gw.lob.gl7.GL7Category.LOCATION_CONDITION.PublicID}, jobWizardHelper, polLocation.DisplayName, openForEdit)"/>
    </Card>
    <Card
      id="AdditionalInsuredsCard"
      title="DisplayKey.get(&quot;Web.Policy.GL7.AdditionalInsureds&quot;)">
      <PanelRef
        def="GL7AdditionalCoveragesPerSublinePanelSet(sublineLocations, {gw.lob.gl7.GL7Category.LOCATION_ADDITIONAL_INSURED.PublicID}, jobWizardHelper, polLocation.DisplayName, openForEdit)"
        id="GL7AdditionalInsuredsPanelSet"/>
    </Card>
  </CardViewPanel>
</PCF>
