<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <RowSet
    id="GL7RatingOverrideCostRowSet">
    <Require
      name="costs"
      type="List&lt;entity.GL7Cost&gt;"/>
    <Require
      name="presenter"
      type="gw.lob.gl7.presenters.GL7RatingOverridePresenter"/>
    <Require
      name="title"
      type="String"/>
    <Require
      name="isEditable"
      type="boolean"/>
    <Row
      visible="costs.HasElements and presenter.hasDisplayableCosts(costs)">
      <TextCell
        align="left"
        bold="true"
        colspan="19"
        enableSort="false"
        id="Title"
        value="title"/>
    </Row>
    <RowIterator
      editable="isEditable"
      elementName="cost"
      pageSize="0"
      value="costs"
      visible="presenter.hasDisplayableCosts(costs)"
      valueType="java.util.List&lt;entity.GL7Cost&gt;">
      <IteratorSort
        sortBy="cost.EffDate"
        sortOrder="2"/>
      <Row
        editable="presenter.isCostEditable(cost)"
        visible="presenter.isCostVisible(cost)">
        <TextCell
          id="EmptyColumn"
          value="java.lang.System.getProperty('line.separator')"/>
        <TextCell
          id="locationOrState"
          value="presenter.locationOrStateOrAircraftFor(cost)"/>
        <TextCell
          id="classCode"
          value="presenter.classCodeFor(cost)"/>
        <TextCell
          id="sublineType"
          value="presenter.sublineTypeNameFor(cost)"/>
        <TextCell
          id="Description"
          value="presenter.costDisplayName(cost)"/>
        <DateCell
          id="EffDate"
          value="cost.EffDate"/>
        <DateCell
          id="ExpDate"
          value="cost.ExpDate"/>
        <TextCell
          format="&quot;0.0000&quot;"
          id="ActualBaseRate"
          value="cost.ActualBaseRate"
          valueType="java.math.BigDecimal"/>
        <TextCell
          format="&quot;0.0000&quot;"
          id="ActualAdjustedRate"
          value="cost.ActualAdjRate"
          valueType="java.math.BigDecimal"/>
        <TextCell
          align="right"
          id="ActualTermAmount"
          value="cost.ActualTermAmount"
          valueType="java.math.BigDecimal"/>
        <TextCell
          align="right"
          id="ActualAmount"
          value="cost.ActualAmount"
          valueType="java.math.BigDecimal"/>
        <TextCell
          editable="cost.Overridable"
          format="&quot;0.0000&quot;"
          id="OverrideBaseRate"
          value="cost.OverrideBaseRate"
          valueType="java.math.BigDecimal"/>
        <TextCell
          editable="cost.Overridable"
          format="&quot;0.0000&quot;"
          id="OverrideAdjustedRate"
          value="cost.OverrideAdjRate"
          valueType="java.math.BigDecimal"/>
        <MonetaryAmountCell
          align="right"
          currency="presenter.PreferredCurrency"
          editable="cost.Overridable"
          id="OverrideTermAmount"
          value="cost.OverrideTermAmountBilling"/>
        <TextCell
          editable="cost.Overridable"
          id="OverrideReason"
          value="cost.OverrideReason"/>
        <TextCell
          format="&quot;0.0000&quot;"
          id="StandardBaseRate"
          value="cost.StandardBaseRate"
          valueType="java.math.BigDecimal"/>
        <TextCell
          format="&quot;0.0000&quot;"
          id="StandardAdjustedRate"
          value="cost.StandardAdjRate"
          valueType="java.math.BigDecimal"/>
        <MonetaryAmountCell
          align="right"
          id="StandardTermAmount"
          value="cost.StandardTermAmount"/>
        <MonetaryAmountCell
          align="right"
          id="StandardAmount"
          value="cost.StandardAmount"/>
      </Row>
    </RowIterator>
  </RowSet>
</PCF>