<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="GL7StateSpecificInfoPanelSet">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <Variable
      initialValue="policyPeriod.GL7Line"
      name="line"
      type="productmodel.GL7Line"/>
    <ListDetailPanel
      selectionName="selectedJurisdiction"
      selectionType="Jurisdiction">
      <PanelRef>
        <Toolbar/>
        <ListViewPanel>
          <Variable
            initialValue="line.JurisdictionsWithSublines.order()"
            name="jurisdictions"
            type="gw.util.IOrderedList&lt;typekey.Jurisdiction&gt;"/>
          <RowIterator
            editable="false"
            elementName="jurisdiction"
            id="JurisdictionIterator"
            value="jurisdictions"
            valueType="gw.util.IOrderedList&lt;typekey.Jurisdiction&gt;">
          <Row>
              <TextCell
                id="State"
                label="DisplayKey.get(&quot;Web.Policy.GL7.State&quot;)"
                value="jurisdiction"
                valueType="typekey.Jurisdiction"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
      <PanelRef
        def="GL7SublinesCV(gw.lob.gl7.presenters.GL7CoverablePerSubline.forSublines(line, selectedJurisdiction), true, jobWizardHelper, gw.lob.gl7.GL7Category.CategoriesForSublines)"
        visible="selectedJurisdiction != null"/>
    </ListDetailPanel>
  </PanelSet>
</PCF>
