<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    alternateEntryStyle="false"
    disableUserCustomization="true"
    id="BOPCoverageCostLV"
    stretch="true"
    visible="costs != null and not costs.Empty">
    <Require
      name="costs"
      type="java.util.Set&lt;BOPCost&gt;"/>
    <Variable
      initialValue="costs.AnyProrated"
      name="prorated"
      type="boolean"/>
    <RowIterator
      editable="false"
      elementName="cost"
      pageSize="0"
      value="costs.toTypedArray()"
      valueType="entity.BOPCost[]">
      <Variable
        initialValue="cost.Coverage"
        name="theCoverage"
        type="entity.Coverage"/>
      <IteratorSort
        sortBy="(typeof cost).AllTypesInHierarchy.Count"
        sortOrder="1"/>
      <IteratorSort
        sortBy="typeof cost"
        sortOrder="2"/>
      <IteratorSort
        sortBy="cost.Coverage.Pattern.Priority"
        sortOrder="3"/>
      <IteratorSort
        sortBy="cost.EffDate"
        sortOrder="4"/>
      <Row
        useTitleStyle="true">
        <TextCell
          bold="true"
          enableSort="false"
          footerLabel="DisplayKey.get(&quot;Web.Policy.BA.Subtotal&quot;)"
          grow="true"
          id="Description"
          label="DisplayKey.get(&quot;Web.PolicyLine.Coverages.Description&quot;)"
          value="theCoverage.Pattern.DisplayName"/>
        <EmptyCell
          align="right"
          grow="true"
          id="CovTerm"
          label="DisplayKey.get(&quot;Web.PolicyLine.Coverage.CovTermValue&quot;,  gw.pcf.line.common.CostUIHelper.getDisplayableCurrency(new java.util.ArrayList&lt;Cost&gt;(costs)) )"/>
        <MonetaryAmountCell
          enableSort="false"
          formatType="currency"
          id="TermAmount"
          label="DisplayKey.get(&quot;Web.SubmissionWizard.Quote.WC.Amount&quot;)"
          value="cost.ActualTermAmountBilling"
          visible="prorated"
          wrap="false"/>
        <DateCell
          align="right"
          enableSort="false"
          id="EffDate"
          label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.PeriodStart&quot;)"
          value="cost.EffDate"
          visible="prorated"
          wrap="false"/>
        <DateCell
          align="right"
          enableSort="false"
          id="ExpDate"
          label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.PeriodEnd&quot;)"
          value="cost.ExpDate"
          visible="prorated"
          wrap="false"/>
        <TextCell
          align="right"
          enableSort="false"
          id="Proration"
          label="DisplayKey.get(&quot;Web.SubmissionWizard.Quote.WC.Prorata&quot;)"
          value="gw.api.util.StringUtil.formatNumber(cost.ProRataByDaysValue, &quot;#0.0000&quot;)"
          visible="prorated"
          wrap="false"/>
        <MonetaryAmountCell
          align="right"
          enableSort="false"
          footerSumValue="cost.ActualAmountBilling"
          formatType="currency"
          id="Amount"
          label="DisplayKey.get(&quot;Web.Policy.BA.Premium&quot;)"
          value="cost.ActualAmountBilling"
          wrap="false"/>
      </Row>
      <RowIterator
        editable="false"
        elementName="covTerm"
        pageSize="0"
        value="theCoverage.CovTerms"
        valueType="gw.api.domain.covterm.CovTerm[]">
        <IteratorSort
          sortBy="covTerm.Pattern.Priority"
          sortOrder="1"/>
        <IteratorSort
          sortBy="covTerm.Pattern.PublicID"
          sortOrder="2"/>
        <Row>
          <TextCell
            grow="true"
            id="Description"
            value="covTerm.DisplayName.leftPad( 7 )"/>
          <TextCell
            align="right"
            grow="true"
            id="CovTermValue"
            value="covTerm.DisplayValue"/>
          <EmptyCell
            id="TermAmount"
            visible="prorated"/>
          <EmptyCell
            id="EffDate"
            visible="prorated"/>
          <EmptyCell
            id="ExpDate"
            visible="prorated"/>
          <EmptyCell
            id="Proration"
            visible="prorated"/>
          <EmptyCell
            id="Amount"/>
        </Row>
      </RowIterator>
    </RowIterator>
  </ListViewPanel>
</PCF>