<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="MessageResultsLV">
    <ExposeIterator
      flags="retryableMessage"
      valueType="entity.Message"
      widget="MessageResultsLV"/>
    <Require
      name="messageQuery"
      type="gw.api.database.IQueryBeanResult&lt;Message&gt;"/>
    <RowIterator
      appendPageInfo="true"
      editable="false"
      elementName="message"
      hasCheckBoxes="true"
      value="messageQuery"
      valueType="gw.api.database.IQueryBeanResult&lt;entity.Message&gt;">
      <ToolbarFlag
        condition="message.canRetry()"
        name="retryableMessage"/>
      <Row>
        <TextCell
          align="left"
          id="JobNumber"
          label="DisplayKey.get(&quot;Web.Admin.MessageSearch.JobNumber&quot;)"
          value="message.PolicyPeriod.Job.JobNumber"
          valueType="java.lang.String"/>
        <TextCell
          align="left"
          enableSort="false"
          id="JobType"
          label="DisplayKey.get(&quot;Web.Admin.MessageSearch.JobType&quot;)"
          value="message.PolicyPeriod.Job.DisplayType"
          valueType="java.lang.String"/>
        <TextCell
          align="left"
          id="Policy"
          label="DisplayKey.get(&quot;Web.Admin.MessageSearch.PolicyNumber&quot;)"
          sortBy="message.PolicyPeriod.PolicyNumber"
          value="message.PolicyPeriod.PolicyNumberDisplayString"
          valueType="java.lang.String"/>
        <TextCell
          align="left"
          enableSort="false"
          id="Product"
          label="DisplayKey.get(&quot;Web.Admin.MessageSearch.Product&quot;)"
          value="message.PolicyPeriod.Policy.Product"
          valueType="gw.api.productmodel.Product"/>
        <TextCell
          align="left"
          enableSort="false"
          id="PrimaryNamedInsured"
          label="DisplayKey.get(&quot;Web.Admin.MessageSearch.PrimaryNamedInsured&quot;)"
          value="message.PolicyPeriod.PrimaryInsuredName"
          valueType="java.lang.String"/>
        <TextCell
          align="left"
          id="Status"
          label="DisplayKey.get(&quot;Web.Admin.MessageSearch.MessageStatus&quot;)"
          value="message.Status"
          valueType="java.lang.Integer"/>
        <TextCell
          align="left"
          id="Error"
          label="DisplayKey.get(&quot;Web.Admin.MessageSearch.ErrorDescription&quot;)"
          value="message.ErrorDescription"
          valueType="java.lang.String"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>