<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="AffinityGroupJurisdictionsLV">
    <ExposeIterator
      valueType="AffinityGroupJurisdiction"
      widget="AffinityGroupJurisdictionsLV"/>
    <Require
      name="affinityGroup"
      type="AffinityGroup"/>
    <RowIterator
      checkBoxVisible="true"
      editable="true"
      elementName="AffinityGroupJurisdiction"
      hasCheckBoxes="true"
      hideCheckBoxesIfReadOnly="true"
      toAdd="affinityGroup.addToJurisdictions(AffinityGroupJurisdiction)"
      toRemove="affinityGroup.removeFromJurisdictions(AffinityGroupJurisdiction)"
      value="affinityGroup.Jurisdictions"
      valueType="entity.AffinityGroupJurisdiction[]">
      <IteratorSort
        sortBy="AffinityGroupJurisdiction.Jurisdiction"
        sortOrder="1"/>
      <Row>
        <TypeKeyCell
          align="left"
          editable="true"
          id="Jurisdiction"
          label="DisplayKey.get(&quot;Web.Admin.AffinityGroupDetail.Jurisdictions.Jurisdiction&quot;)"
          required="true"
          value="AffinityGroupJurisdiction.Jurisdiction"
          valueType="typekey.Jurisdiction">
          <PostOnChange
            onChange="gw.admin.affinitygroup.AffinityGroupUIHelper.checkDuplicateJurisdictions(affinityGroup)"/>
        </TypeKeyCell>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>