<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="AffinityGroupSearchScreen">
    <SearchPanel
      criteriaName="searchCriteria"
      resultsName="affinityGroups"
      search="searchCriteria.performSearch()"
      searchCriteria="new gw.admin.affinitygroup.AffinityGroupSearchCriteria()"
      searchCriteriaType="gw.admin.affinitygroup.AffinityGroupSearchCriteria"
      searchResultsType="gw.api.database.IQueryBeanResult&lt;AffinityGroup&gt;">
      <DetailViewPanel
        editable="true"
        id="AffinityGroupSearchDV"
        visible="true">
        <Variable
          initialValue="gw.api.system.PCDependenciesGateway.getProductModel().getAllInstances(gw.api.productmodel.Product)?.toTypedArray()"
          name="products"
          type="gw.api.productmodel.Product[]"/>
        <Variable
          initialValue="new gw.admin.affinitygroup.AffinityGroupSearchCriteriaAdapter(searchCriteria)"
          name="groupSearchAdapter"
          recalculateOnRefresh="true"
          type="gw.admin.affinitygroup.AffinityGroupSearchCriteriaAdapter"/>
        <InputColumn>
          <InputSetRef
            def="GlobalContactNameInputSet(new gw.search.AffinityGroupNameOwner(groupSearchAdapter))"
            mode="gw.api.name.NameLocaleSettings.PCFMode"/>
          <OrgInput
            editable="not User.util.CurrentUser.ExternalUser"
            id="Organization"
            label="DisplayKey.get(&quot;Web.Admin.Organization&quot;)"
            pickLocation="OrganizationSearchPopup.push(null,true)"
            value="searchCriteria.Organization"
            valueType="java.lang.String"/>
          <TypeKeyInput
            editable="true"
            id="GroupType"
            label="DisplayKey.get(&quot;Web.GroupSearch.GroupType&quot;)"
            value="searchCriteria.AffinityGroupType"
            valueType="typekey.AffinityGroupType"/>
          <TextInput
            editable="true"
            id="ProducerCode"
            label="DisplayKey.get(&quot;Web.Admin.AffinityGroupSearch.ProducerCode&quot;)"
            value="searchCriteria.ProducerCode"/>
          <RangeInput
            editable="true"
            id="Product"
            label="DisplayKey.get(&quot;Web.Admin.AffinityGroupSearch.Product&quot;)"
            optionLabel="VALUE.DisplayName"
            value="searchCriteria.Product"
            valueRange="products"
            valueType="gw.api.productmodel.Product"/>
          <CheckBoxInput
            editable="true"
            id="SearchOnlyAvailableGroups"
            label="DisplayKey.get(&quot;Web.Admin.SearchOnlyAvailableGroups&quot;)"
            value="searchCriteria.OnlyAvailableGroups"/>
        </InputColumn>
        <InputFooterSection>
          <InputSetRef
            def="SearchAndResetInputSet()"/>
        </InputFooterSection>
      </DetailViewPanel>
      <PanelRef>
        <TitleBar
          title="DisplayKey.get(&quot;Web.Search.Results&quot;)"/>
        <Toolbar/>
        <!-- ListView that displays the results of a Group search. The group name is a hyperlink
    that navigates to the GroupDetailPage. -->
        <ListViewPanel
          id="AffinityGroupSearchResultsLV"
          stretch="true">
          <RowIterator
            appendPageInfo="true"
            editable="false"
            elementName="group"
            value="affinityGroups"
            valueType="gw.api.database.IQueryBeanResult&lt;entity.AffinityGroup&gt;">
            <Row>
              <TextCell
                action="AffinityGroupDetailPage.go(group)"
                grow="true"
                id="Name"
                label="DisplayKey.get(&quot;Web.Admin.GroupSearchResults.Name&quot;)"
                sortOrder="1"
                value="group"
                valueType="entity.AffinityGroup"/>
              <TypeKeyCell
                id="Type"
                label="DisplayKey.get(&quot;Web.Admin.GroupSearchResults.Type&quot;)"
                value="group.AffinityGroupType"
                valueType="typekey.AffinityGroupType"
                wrap="false"/>
              <TextCell
                action="OrganizationDetail.go(group.Organization)"
                grow="true"
                id="Organization"
                label="DisplayKey.get(&quot;Web.Admin.GroupSearchResults.Organization&quot;)"
                value="group.Organization"
                valueType="entity.Organization"
                wrap="false"/>
              <DateCell
                id="StartDate"
                label="DisplayKey.get(&quot;Web.Admin.AffinityGroupDetail.BasicsDV.StartDate&quot;)"
                value="group.StartDate"
                wrap="false"/>
              <DateCell
                id="EndDate"
                label="DisplayKey.get(&quot;Web.Admin.AffinityGroupDetail.BasicsDV.EndDate&quot;)"
                value="group.EndDate"
                wrap="false"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
    </SearchPanel>
  </Screen>
</PCF>