<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    afterCancel="Admin.go()"
    afterCommit="AffinityGroupDetailPage.go(affinityGroup)"
    beforeCommit="gw.admin.affinitygroup.AffinityGroupValidation.validate(affinityGroup)"
    canEdit="true"
    canVisit="perm.System.affinitygroupadmin"
    id="NewAffinityGroup"
    parent="Admin()"
    showUpLink="true"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.Admin.NewAffinityGroup&quot;)">
    <LocationEntryPoint
      signature="NewAffinityGroup()"/>
    <Variable
      initialValue="new AffinityGroup()"
      name="affinityGroup"
      type="AffinityGroup"/>
    <ScreenRef
      def="AffinityGroupDetailScreen(affinityGroup)"/>
  </Page>
</PCF>