<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Page
    id="PolicyFile_IMBuildingsAndLocations"
    parent="PolicyFile(period, asOfDate)"
    title="DisplayKey.get(&quot;Web.PolicyFile.BuildingsAndLocations&quot;)">
    <LocationEntryPoint
      signature="PolicyFile_IMBuildingsAndLocations(period : PolicyPeriod, asOfDate : java.util.Date)"/>
    <Variable
      name="period"
      type="PolicyPeriod"/>
    <Variable
      name="asOfDate"
      type="java.util.Date"/>
    <ScreenRef
      def="PolicyFile_IMBuildingsScreen(period.IMLine, false, null as gw.api.web.job.JobWizardHelper)"
      id="PolicyFile_IMBuildingsScreen"/>
  </Page>
</PCF>