<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="FederatedTeamActivitiesLV">
    <ExposeIterator
      flags="alwaysTrue,canAssignActivity,canSkipActivity,canCompleteActivity"
      valueType="gw.api.web.desktop.data.activity.ActivityDTO"
      widget="FederatedTeamActivitiesLV"/>
    <Require
      name="teamModel"
      type="gw.api.web.team.PCTeamModel"/>
    <Variable
      initialValue="teamModel as gw.api.web.team.PCFederatedTeamModel"
      name="pcFederatedTeamModel"
      type="gw.api.web.team.PCFederatedTeamModel"/>
    <Variable
      initialValue="pcFederatedTeamModel.Activities as gw.api.web.team.federated.TeamFederatedIteratorBackingData"
      name="activities"
      type="gw.api.web.team.federated.TeamFederatedIteratorBackingData"/>
    <RowIterator
      appendPageInfo="true"
      checkBoxVisible="true"
      editable="false"
      elementName="activity"
      hasCheckBoxes="true"
      type="gw.api.web.desktop.data.activity.ActivityDTO"
      value="activities"
      valueType="gw.api.web.team.federated.TeamFederatedIteratorBackingData">
      <ToolbarFilter
        name="activitiesFilter">
        <ToolbarFilterOptionGroup
          filters="new gw.api.web.team.federated.FederatedTeamViewActivityFilters().FilterOptions"/>
      </ToolbarFilter>
      <ToolbarFlag
        name="alwaysTrue"/>
      <ToolbarFlag
        condition="gw.api.web.activity.FederatedActivityUtil.canAssignOwnedActivity()"
        name="canAssignActivity"/>
      <ToolbarFlag
        condition="gw.api.web.activity.FederatedActivityUtil.canSkipOwnedActivity(activity)"
        name="canSkipActivity"/>
      <ToolbarFlag
        condition="gw.api.web.activity.FederatedActivityUtil.canCompleteOwnedActivity(activity)"
        name="canCompleteActivity"/>
      <Row>
        <BooleanRadioCell
          enableSort="false"
          icon="&quot;new&quot;"
          iconType="svgFileName"
          id="UpdatedSinceLastViewed"
          value="activity.UpdatedSinceLastViewed"/>
        <BooleanRadioCell
          icon="&quot;escalated&quot;"
          iconColor="gw.api.web.color.GWColor.THEME_ALERT_ERROR"
          iconType="svgFileName"
          id="Escalated"
          value="activity.Escalated"/>
        <DateCell
          fontColor="activity.UIOverdueColor"
          id="DueDate"
          label="DisplayKey.get(&quot;Web.DesktopActivitiesLV.DueDate&quot;)"
          sortDirection="descending"
          value="activity.TargetDate"/>
        <TypeKeyCell
          id="Priority"
          label="DisplayKey.get(&quot;Web.DesktopActivitiesLV.Priority&quot;)"
          sortBy="activity.PriorityValue,activity.PriorityCode"
          value="typekey.Priority.get(activity.PriorityCode)"
          valueType="typekey.Priority"/>
        <TypeKeyCell
          id="Status"
          label="DisplayKey.get(&quot;Web.DesktopActivitiesLV.Status&quot;)"
          sortBy="activity.StatusPriority,activity.StatusCode"
          value="typekey.ActivityStatus.get(activity.StatusCode)"
          valueType="typekey.ActivityStatus"/>
        <TextCell
          action="FederatedActivityForward.push(activity.PublicId, activity.AccountPublicId, activity.Id)"
          id="Subject"
          label="DisplayKey.get(&quot;Web.DesktopActivitiesLV.Subject&quot;)"
          value="activity.Subject"/>
        <TextCell
          enableSort="false"
          id="SearchResultID"
          label="DisplayKey.get(&quot;Web.DesktopActivitiesLV.ID&quot;)"
          value="activity.SearchResultID"/>
        <TextCell
          enableSort="false"
          id="Insured"
          label="DisplayKey.get(&quot;Web.DesktopActivitiesLV.AccountHolder&quot;)"
          value="activity.ContactName"/>
        <TextCell
          id="Product"
          label="DisplayKey.get(&quot;Web.DesktopActivitiesLV.Product&quot;)"
          sortBy="activity.PolicyProductCode"
          value="activity.PolicyProduct"/>
        <TextCell
          id="AssignedBy"
          label="DisplayKey.get(&quot;Web.DesktopActivitiesLV.AssignedBy&quot;)"
          value="activity.AssignedByUser"/>
        <TypeKeyCell
          enableSort="false"
          id="State"
          label="DisplayKey.get(&quot;Web.DesktopActivitiesLV.State&quot;)"
          value="activity.UIDisplayState"
          valueType="typekey.State"/>
        <TextCell
          enableSort="false"
          id="AssignedTo"
          label="DisplayKey.get(&quot;Web.Team.LV.AssignedTo&quot;)"
          value="activity.AssignedUser"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>