<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">

  <Screen
    id="TeamOtherWorkOrdersScreen"
  mode="default">
    <Require
      name="teamModel"
      type="gw.api.web.team.PCTeamModel"/>
    <Variable
      initialValue="teamModel.canViewOtherWorkOrders()"
      name="canViewMisassignedWorkOrders"
      type="boolean"/>
    <TitleBar
      title="DisplayKey.get(&quot;Web.Team.WorkOrders&quot;, teamModel.Label, teamModel.getDisplayMode(true), gw.api.domain.statistics.StatsWindowUtil.getOtherWorkOrdersWindow())"/>
    <Verbatim
      label="DisplayKey.get(&quot;Web.Team.JobCountToDisplayExceedsMax&quot;, gw.api.system.PCConfigParameters.TeamScreenTabVisibilityRowCountCutoff.Value, &quot;policy changes&quot;, teamModel.Label)"
      visible="not canViewMisassignedWorkOrders"/>
    <PanelRef
      def="TeamOtherWorkOrdersLV(teamModel)"
      visible="canViewMisassignedWorkOrders">
      <Toolbar>
        <CheckedValuesToolbarButton
          flags="all openWorkOrder"
          id="ReassignmentButton"
          iterator="TeamOtherWorkOrdersLV.OtherWorkOrdersIterator"
          label="DisplayKey.get(&quot;Web.Team.Reassign&quot;)"
          visible="perm.System.userroleassignmentbulkassign">
          <CheckedValuesMenuItemIterator
            elementName="typekeyMenuItem"
            value="gw.assignment.AssignmentUtil.getMultipleAssignmentRoles(UserRoleConstraint.TC_JOBEXCLUSIVE)"
            valueType="typekey.UserRole[]">
            <CheckedValuesMenuItem
              allCheckedRowsAction="AssignUserRoleOwnerPopup.push(CheckedValues.cast(Job), typekeyMenuItem )"
              id="AssignmentMenuItem"
              label="typekeyMenuItem.DisplayName"/>
          </CheckedValuesMenuItemIterator>
        </CheckedValuesToolbarButton>
      </Toolbar>
    </PanelRef>
  </Screen>
</PCF>