<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimDetailsDV">
    <Require
      name="claimDetail"
      type="ClaimDetail"/>
    <Require
      name="showPolicyNumberAndType"
      type="boolean"/>
    <InputColumn>
      <TextInput
        boldValue="true"
        id="ClaimSecurityType"
        label="DisplayKey.get(&quot;Web.Claims.ClaimSecurityType&quot;)"
        value="DisplayKey.get(&quot;Web.Claims.RestrictedClaim&quot;)"
        visible="claimDetail.Claim.RestrictedClaim"/>
      <TextInput
        id="PolicyNumber"
        label="DisplayKey.get(&quot;Web.Claims.PolicyNumber&quot;)"
        value="claimDetail.Claim.PolicyPeriod.PolicyNumberDisplayString"
        visible="showPolicyNumberAndType"/>
      <TextInput
        id="PolicyType"
        label="DisplayKey.get(&quot;Web.Claims.Product&quot;)"
        value="claimDetail.Claim.PolicyPeriod.Policy.Product.DisplayName"
        visible="showPolicyNumberAndType"/>
      <DateInput
        id="PolicyPeriodStart"
        label="DisplayKey.get(&quot;Web.Claims.PolicyPeriodStart&quot;)"
        value="claimDetail.Claim.PolicyPeriod.PeriodStart"/>
      <DateInput
        id="PolicyPeriodEnd"
        label="DisplayKey.get(&quot;Web.Claims.PolicyPeriodEnd&quot;)"
        value="claimDetail.Claim.PolicyPeriod?.getCoverageEndDate()"/>
      <TextInput
        id="ClaimNumber"
        label="DisplayKey.get(&quot;Web.Claims.ClaimNumber&quot;)"
        value="claimDetail.Claim.ClaimNumber"/>
      <DateInput
        id="LossDate"
        label="DisplayKey.get(&quot;Web.Claims.LossDate&quot;)"
        value="claimDetail.Claim.LossDate"/>
      <TextInput
        id="LossCause"
        label="DisplayKey.get(&quot;Web.Claims.LossCause&quot;)"
        value="claimDetail.LossCause"/>
      <TextInput
        id="Status"
        label="DisplayKey.get(&quot;Web.Claims.Status&quot;)"
        value="claimDetail.Claim.Status"/>
      <TextInput
        id="Description"
        label="DisplayKey.get(&quot;Web.Claims.Description&quot;)"
        value="claimDetail.Description"/>
    </InputColumn>
    <InputColumn>
      <BooleanRadioInput
        id="Litigation"
        label="DisplayKey.get(&quot;Web.Claims.Litigation&quot;)"
        value="claimDetail.Litigation"
        visible="(not claimDetail.Claim.RestrictedClaim) or perm.System.viewrestrictedclaim"/>
      <BooleanRadioInput
        id="Injury"
        label="DisplayKey.get(&quot;Web.Claims.Injuries&quot;)"
        value="claimDetail.Injuries"
        visible="(not claimDetail.Claim.RestrictedClaim) or perm.System.viewrestrictedclaim"/>
      <InputDivider/>
      <MonetaryAmountInput
        id="Reserves"
        label="DisplayKey.get(&quot;Web.Claims.Reserves&quot;)"
        value="claimDetail.RemainingReserves"/>
      <MonetaryAmountInput
        id="PaidToDate"
        label="DisplayKey.get(&quot;Web.Claims.PaidToDate&quot;)"
        value="claimDetail.TotalPaid"/>
      <MonetaryAmountInput
        id="TotalIncurred"
        label="DisplayKey.get(&quot;Web.Claims.TotalIncurred&quot;)"
        value="claimDetail.Claim.TotalIncurred"/>
      <MonetaryAmountInput
        id="TotalPaidLoss"
        label="DisplayKey.get(&quot;Web.Claims.Recoveries&quot;)"
        value="claimDetail.Recoveries"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>