<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InfoBar
    id="PolicyFileMenuInfoBar">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <InfoBarElement
      icon="&quot;policy_file&quot;"
      iconType="svgFileName"
      id="PolicyFileLabel"
      label="DisplayKey.get(&quot;Web.PolicyFile.InfoBar.PolicyFile&quot;)"/>
    <InfoBarElement
      icon="policyPeriod.Policy.Product.Icon"
      iconType="svgFileName"
      id="LOBLabel"
      label="policyPeriod.Policy.ProductDisplayName"/>
    <InfoBarElement
      id="AccountName"
      value="policyPeriod.PrimaryInsuredName"/>
    <InfoBarElement
      action="AccountFileForward.go(policyPeriod.Policy.Account)"
      id="AccountNumber"
      label="DisplayKey.get(&quot;Web.PolicyFile.InfoBar.AccountNumber&quot;)"
      value="policyPeriod.Policy.Account.AccountNumber"/>
    <InfoBarElement
      id="PolicyNumber"
      label="DisplayKey.get(&quot;Web.PolicyFile.InfoBar.PolicyNumber&quot;)"
      value="policyPeriod.PolicyNumberDisplayString"/>
    <InfoBarElement
      id="StatusAndExpDate"
      label="formatStatusLabel(policyPeriod)"/>
    <Code><![CDATA[
function formatStatusLabel(pp : PolicyPeriod) : String {
  if (pp.Canceled) {
    var cancDate = pp.CancellationDate
    var cancDateStr = gw.api.util.StringUtil.formatDate(cancDate,"short")
    if (cancDate == pp.PeriodStart) {
     return DisplayKey.get("Web.Wizard.InfoBar.CanceledFlatStatus", cancDateStr) 
    }
    else {
     return DisplayKey.get("Web.Wizard.InfoBar.CanceledStatus", cancDateStr) 
    }
  }
  else {
    var endDateStr = gw.api.util.StringUtil.formatDate(pp.PeriodEnd,"short")
    return DisplayKey.get("Web.Wizard.InfoBar.StatusAndExpDate", pp.PeriodDisplayStatus,endDateStr)
  }
}
    ]]></Code>
  </InfoBar>
</PCF>