<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    desc="Shows all forms"
    id="PolicyFileFormsDV">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.Policy.Form.FormsLabel&quot;)"/>
      <InputDivider/>
      <ListViewInput
        available="true"
        editable="false"
        labelAbove="true"
        visible="true">
        <Toolbar/>
        <ListViewPanel
          id="FormsLV">
          <RowIterator
            editable="false"
            elementName="form"
            hideCheckBoxesIfReadOnly="true"
            value="policyPeriod.Forms"
            valueType="entity.Form[]">
            <Row>
              <TextCell
                id="FormNumber"
                label="DisplayKey.get(&quot;Web.Policy.Form.FormNumber&quot;)"
                sortOrder="2"
                value="form.FormNumber"/>
              <TextCell
                id="Description"
                label="DisplayKey.get(&quot;Web.Policy.Form.Description&quot;)"
                value="form.FormDescription"/>
              <TextCell
                id="EndorsementNumber"
                label="DisplayKey.get(&quot;Web.Policy.Form.EndorsementNumber&quot;)"
                sortOrder="1"
                value="form.EndorsementNumber"
                valueType="java.lang.Integer"/>
              <TextCell
                id="ReplacingEndorsement"
                label="DisplayKey.get(&quot;Web.Policy.Form.ReplacingEndorsement&quot;)"
                value="form.ReplacingEndorsementNumbersString"/>
              <BooleanRadioCell
                id="removed"
                label="DisplayKey.get(&quot;Web.Policy.Form.InForce&quot;)"
                value="!form.RemovedOrSuperseded"/>
              <DateCell
                id="effectiveDate"
                label="DisplayKey.get(&quot;Web.Policy.Form.EffectiveDate&quot;)"
                value="form.FormEffDate"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>