<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="PolicyFile_PriorHistoryDV">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="policy"
      type="Policy"/>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.PolicyFile.PriorHistory.PriorPolicies&quot;)"/>
      <Label
        label="DisplayKey.get(&quot;Web.PolicyFile.PriorHistory.NoPriorPolicies&quot;)"
        visible="policy.PriorPolicies.length == 0"/>
      <ListViewInput
        editable="false"
        labelAbove="true"
        visible="policy.PriorPolicies.length != 0">
        <Toolbar/>
        <ListViewPanel
          id="PriorPoliciesLV">
          <RowIterator
            editable="false"
            elementName="priorPolicy"
            value="policy.PriorPolicies"
            valueType="entity.PriorPolicy[]">
            <Row>
              <TextCell
                footerLabel="DisplayKey.get(&quot;Web.Policy.PriorPolicy.Sum&quot;)"
                id="Carrier"
                label="DisplayKey.get(&quot;Web.Policy.PriorPolicy.Carrier&quot;)"
                value="priorPolicy.Carrier"/>
              <TextCell
                id="PolicyLinePattern"
                label="DisplayKey.get(&quot;Web.Policy.PriorPolicy.PolicyLinePattern&quot;)"
                value="priorPolicy.PolicyLinePattern"
                valueType="gw.api.productmodel.PolicyLinePattern"/>
              <TextCell
                id="PolicyNumber"
                label="DisplayKey.get(&quot;Web.Policy.PriorPolicy.PolicyNumber&quot;)"
                value="priorPolicy.PolicyNumber"/>
              <DateCell
                id="EffectiveDate"
                label="DisplayKey.get(&quot;Web.Policy.PriorPolicy.EffectiveDate&quot;)"
                required="true"
                value="priorPolicy.EffectiveDate"/>
              <DateCell
                id="ExpirationDate"
                label="DisplayKey.get(&quot;Web.Policy.PriorPolicy.ExpirationDate&quot;)"
                value="priorPolicy.ExpirationDate"/>
              <TextCell
                footerSumValue="priorPolicy.AnnualPremium"
                id="AnnualPremium"
                label="DisplayKey.get(&quot;Web.Policy.PriorPolicy.AnnualPremium&quot;)"
                value="priorPolicy.AnnualPremium"
                valueType="gw.pl.currency.MonetaryAmount"/>
              <TextCell
                footerSumValue="priorPolicy.NumLosses"
                id="NumLosses"
                label="DisplayKey.get(&quot;Web.Policy.PriorPolicy.NumLosses&quot;)"
                value="priorPolicy.NumLosses"
                valueType="java.lang.Integer"/>
              <TextCell
                footerSumValue="priorPolicy.TotalLosses"
                id="TotalLosses"
                label="DisplayKey.get(&quot;Web.Policy.PriorPolicy.TotalLosses&quot;)"
                value="priorPolicy.TotalLosses"
                valueType="gw.pl.currency.MonetaryAmount"/>
              <TextCell
                id="LossRatio"
                label="DisplayKey.get(&quot;Web.Policy.PriorPolicy.LossRatio&quot;)"
                value="gw.api.util.StringUtil.formatNumber(((priorPolicy.TotalLosses != null and priorPolicy.AnnualPremium != null and priorPolicy.AnnualPremium.IsNotZero) ? (priorPolicy.TotalLosses / priorPolicy.AnnualPremium) : null) as java.lang.Double, &quot;#.0%&quot;)"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>