<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <MenuItemSet
    id="PolicyMenuItemSet"
    mode="BusinessAuto">
    <Require
      name="period"
      type="PolicyPeriod"/>
    <Require
      name="asOfDate"
      type="java.util.Date"/>
    <MenuItem
      action="PolicyFile_PolicyInfo.go(period, asOfDate)"
      id="PolicyMenuItemSet_PolicyInfo"
      label="DisplayKey.get(&quot;Web.PolicyFile.PolicyInfo&quot;)"/>
    <MenuItem
      action="PolicyFile_Locations.go(period, asOfDate)"
      id="PolicyMenuItemSet_Locations"
      label="DisplayKey.get(&quot;Web.PolicyFile.Locations&quot;)"/>
    <MenuItem
      action="PolicyFile_Vehicles.go(period, asOfDate)"
      id="PolicyMenuItemSet_Vehicles"
      label="DisplayKey.get(&quot;Web.PolicyFile.Vehicles&quot;)"/>
    <MenuItem
      action="PolicyFile_CommercialAuto.go(period, asOfDate)"
      id="PolicyMenuItemSet_CommAuto"
      label="DisplayKey.get(&quot;Web.PolicyFile.CommercialAutoLine&quot;)"/>
    <MenuItem
      action="PolicyFile_StateInfo.go(period, asOfDate)"
      id="PolicyMenuItemSet_StateInfo"
      label="DisplayKey.get(&quot;Web.PolicyFile.StateInfo&quot;)"/>
    <MenuItem
      action="PolicyFile_Drivers.go(period, asOfDate)"
      id="PolicyMenuItemSet_Drivers"
      label="DisplayKey.get(&quot;Web.PolicyFile.Drivers&quot;)"/>
    <MenuItem
      action="PolicyFile_CoveredAutoSymbols.go(period, asOfDate)"
      id="PolicyMenuItemSet_AutoSymbols"
      label="DisplayKey.get(&quot;Web.PolicyFile.AutoSymbols&quot;)"/>
    <MenuItem
      action="PolicyFile_Modifiers_BA.go(period, asOfDate)"
      id="PolicyMenuItemSet_Modifiers"
      label="DisplayKey.get(&quot;Web.PolicyFile.Modifiers&quot;)"/>
    <MenuItem
      action="PolicyFile_Pricing.go(period, asOfDate)"
      id="PolicyMenuItemSet_Pricing"
      label="DisplayKey.get(&quot;Web.PolicyFile.Pricing&quot;)"/>
    <MenuItem
      action="PolicyFile_Forms_BA.go(period, asOfDate)"
      id="PolicyMenuItemSet_Endorsements"
      label="DisplayKey.get(&quot;Web.PolicyFile.Endorsements&quot;)"/>
  </MenuItemSet>
</PCF>