<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../../pcf.xsd">
  <Screen
    id="ExportPropertiesScreen">
    <Require
      name="exportOptions"
      type="gw.api.properties.PropertyExportOptions"/>
    <Toolbar>
      <ToolbarButton
        action="exportOptions.clear(); Properties.go()"
        available="true"
        id="ExportPropertiesScreenCancelButton"
        label="DisplayKey.get(&quot;RuntimeProperties.Property.Export.Cancel&quot;)"/>
      <ToolbarButton
        action="CurrentLocation.commit(); gw.api.properties.PropertyLoader.exportProperties(exportOptions); exportOptions.clear(); Properties.go()"
        available="true"
        download="true"
        id="ExportPropertiesDVExportButton"
        label="DisplayKey.get(&quot;RuntimeProperties.Property.Export.Button&quot;)"/>
    </Toolbar>
    <PanelRef
      def="ExportPropertiesDV(exportOptions)"/>
  </Screen>
</PCF>