<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ExportPropertiesDV">
    <Require
      name="exportOptions"
      type="gw.api.properties.PropertyExportOptions"/>
    <InputColumn>
      <TypeKeyInput
        editable="true"
        id="Group"
        label="DisplayKey.get(&quot;RuntimeProperties.Property.Group&quot;)"
        noneSelectedLabel="DisplayKey.get(&quot;RuntimeProperties.Property.Export.All&quot;)"
        required="false"
        value="exportOptions.Group"
        valueType="typekey.RuntimePropertyGroup"/>
      <CheckBoxInput
        editable="true"
        id="ExportPropertiesDVDefaultsInput"
        label="DisplayKey.get(&quot;RuntimeProperties.Property.Export.Environment.Default&quot;)"
        value="exportOptions.ExportDefault"/>
      <CheckBoxInput
        editable="true"
        id="ExportPropertiesDVCurrentInput"
        label="DisplayKey.get(&quot;RuntimeProperties.Property.Export.Environment.Current&quot;)"
        value="exportOptions.ExportCurrentEnvironment"/>
      <CheckBoxInput
        editable="true"
        id="ExportPropertiesDVTargetInput"
        label="DisplayKey.get(&quot;RuntimeProperties.Property.Export.Environment.Target&quot;)"
        value="exportOptions.ExportTargetEnvironment">
        <PostOnChange/>
      </CheckBoxInput>
      <TextInput
        editable="true"
        id="ExportPropertiesDVTargetName"
        label="DisplayKey.get(&quot;RuntimeProperties.Property.Export.Environment.Target.Name&quot;)"
        required="exportOptions.ExportTargetEnvironment"
        value="exportOptions.TargetEnvironmentName"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>