<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="CPPRatingCumulPanelSet"
    mode="drilldown">
    <Require
      name="period"
      type="PolicyPeriod"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <Require
      name="isEditable"
      type="boolean"/>
    <DetailViewPanel>
      <InputColumn>
        <Label
          label="DisplayKey.get(&quot;Web.Policy.PolicyLine.Summary&quot;)"/>
        <ListViewInput
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel
            stretch="true">
            <RowIterator
              editable="false"
              elementName="line"
              value="period.Lines"
              valueType="entity.PolicyLine[]">
              <IteratorSort
                sortBy="line.Pattern.Priority"
                sortOrder="1"/>
              <Row>
                <TextCell
                  action="CPPRatingCumulPopup.push(period, line, isEditable, jobWizardHelper)"
                  grow="true"
                  id="linedescription"
                  label="DisplayKey.get(&quot;Web.Policy.Quote.PolicyLine&quot;)"
                  value="line.DisplayName"/>
                <MonetaryAmountCell
                  formatType="currency"
                  grow="true"
                  id="linePremium"
                  label="DisplayKey.get(&quot;Web.Policy.Quote.Premium&quot;)"
                  value="line.Costs.AmountSum(period.PreferredSettlementCurrency)"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
      </InputColumn>
    </DetailViewPanel>
  </PanelSet>
</PCF>