<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <PanelSet
    id="AuditDetailsPanelSet"
    mode="GeneralLiability">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      initialValue="policyPeriod.GLLine"
      name="glLine"
      type="productmodel.GLLine"/>
    <Variable
      initialValue="glLine.CoveredStates"
      name="coveredStates"
      type="typekey.Jurisdiction[]"/>
    <Variable
      initialValue="glLine.ExposuresByState"
      name="exposuresByState"
      type="java.util.Map&lt;typekey.State, entity.GLExposure[]&gt;"/>
    <PanelIterator
      elementName="state"
      value="coveredStates"
      valueType="typekey.Jurisdiction[]">
      <IteratorSort
        sortBy="state"
        sortOrder="1"/>
      <PanelRef
        editable="policyPeriod.OpenForEdit">
        <TitleBar
          id="StateTitle"
          title="state.DisplayName"/>
        <DetailViewPanel
          id="PeriodDV">
          <InputColumn>
            <ListViewInput>
              <Toolbar/>
              <ListViewPanel>
                <RowIterator
                  editable="true"
                  elementName="glExposure"
                  pageSize="0"
                  value="exposuresByState.get(gw.api.util.StateJurisdictionMappingUtil.getStateMappingForJurisdiction(state))"
                  valueType="entity.GLExposure[]">
                  <Row>
                    <TextCell
                      align="left"
                      id="Location"
                      label="DisplayKey.get(&quot;Web.AuditWizard.Details.Location&quot;)"
                      sortOrder="1"
                      value="glExposure.Location.LocationNum"
                      valueType="java.lang.Integer"/>
                    <TextCell
                      id="ClassCode"
                      label="DisplayKey.get(&quot;Web.AuditWizard.Details.ClassCode&quot;)"
                      sortOrder="2"
                      value="glExposure.ClassCode.Code"/>
                    <TextCell
                      id="Description"
                      label="DisplayKey.get(&quot;Web.AuditWizard.Details.Description&quot;)"
                      value="glExposure.ClassCode.Classification"/>
                    <DateCell
                      id="FromDate"
                      label="DisplayKey.get(&quot;Web.AuditWizard.Details.Basis.Start&quot;)"
                      value="glExposure.EffectiveDate"/>
                    <DateCell
                      id="ToDate"
                      label="DisplayKey.get(&quot;Web.AuditWizard.Details.Basis.End&quot;)"
                      value="glExposure.EndOfCoverageDate"/>
                    <TextCell
                      id="BasisType"
                      label="DisplayKey.get(&quot;Web.Policy.GL.ExposureUnits.BasisType&quot;)"
                      value="glExposure.ClassCode.Basis.Code"/>
                    <TextCell
                      id="EstimatedBasis"
                      label="DisplayKey.get(&quot;Web.AuditWizard.EstBasis&quot;)"
                      value="glExposure.BasisAmount"
                      valueType="java.lang.Integer"/>
                    <TextCell
                      editable="true"
                      id="AuditedBasis"
                      label="DisplayKey.get(&quot;Web.AuditWizard.AuditedBasis&quot;)"
                      value="glExposure.AuditedBasis"
                      valueType="java.lang.Integer"/>
                  </Row>
                </RowIterator>
              </ListViewPanel>
            </ListViewInput>
          </InputColumn>
        </DetailViewPanel>
      </PanelRef>
    </PanelIterator>
  </PanelSet>
</PCF>