<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <RowSet
    id="GLAuditStateCostRowSet"
    mode="total">
    <Require
      name="auditCostWrapper"
      type="gw.api.ui.AuditCostWrapper"/>
    <Row
      visible="auditCostWrapper.Bold">
      <EmptyCell
        id="Empty1"/>
      <EmptyCell
        id="Empty2"/>
      <TextCell
        bold="true"
        id="Description"
        value="auditCostWrapper.Description"/>
      <EmptyCell
        id="Empty3"/>
      <EmptyCell
        id="Empty4"/>
      <EmptyCell
        id="Empty5"/>
      <MonetaryAmountCell
        align="right"
        bold="true"
        formatType="currency"
        id="EstimatedPremium"
        value="auditCostWrapper.EstimatedTotal"/>
      <MonetaryAmountCell
        align="right"
        bold="true"
        formatType="currency"
        id="AuditedPremium"
        value="auditCostWrapper.AuditedTotal"/>
      <MonetaryAmountCell
        align="right"
        bold="true"
        formatType="currency"
        id="Change"
        value="auditCostWrapper.Change"/>
    </Row>
    <Row
      visible="not auditCostWrapper.Bold">
      <EmptyCell
        id="Empty8"/>
      <EmptyCell
        id="Empty9"/>
      <TextCell
        id="SubDescription"
        value="auditCostWrapper.Description"/>
      <EmptyCell
        id="Empty10"/>
      <EmptyCell
        id="Empty11"/>
      <EmptyCell
        id="Empty12"/>
      <MonetaryAmountCell
        align="right"
        formatType="currency"
        id="SubEstimatedPremium"
        value="auditCostWrapper.EstimatedTotal"/>
      <MonetaryAmountCell
        align="right"
        formatType="currency"
        id="SubAuditedPremium"
        value="auditCostWrapper.AuditedTotal"/>
      <MonetaryAmountCell
        align="right"
        formatType="currency"
        id="SubChange"
        value="auditCostWrapper.Change"/>
    </Row>
  </RowSet>
</PCF>