<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../../pcf.xsd">
  <DetailViewPanel
    editable="openForEdit"
    id="IMARPartLevelInformationDV">
    <Require
      name="accountsRecPart"
      type="IMAccountsRecPart"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Variable
      initialValue="accountsRecPart.InlandMarineLine.Pattern.getCoverageCategoryByPublicId(&quot;IMARPartCategory&quot;)"
      name="accountsRecPartCategory"
      type="gw.api.productmodel.CoverageCategory"/>
    <Variable
      initialValue="accountsRecPart == null ? null : accountsRecPartCategory.coveragePatternsForEntity(IMAccountsRecPart).whereSelectedOrAvailable(accountsRecPart, openForEdit)"
      name="accountsRecPartCategoryCoveragePatterns"
      recalculateOnRefresh="true"
      type="gw.api.productmodel.CoveragePattern[]"/>
    <InputColumn>
      <BooleanRadioInput
        editable="true"
        id="reporting"
        label="DisplayKey.get(&quot;Web.Policy.IM.AccountsReceivable.Reporting&quot;)"
        value="accountsRecPart.Reporting"/>
      <TypeKeyInput
        editable="true"
        id="businessClass"
        label="DisplayKey.get(&quot;Web.Policy.IM.AccountsReceivable.BusinesClass&quot;)"
        required="true"
        value="accountsRecPart.BusinessClass"
        valueType="typekey.BusinessClass"/>
      <TypeKeyInput
        editable="true"
        id="coinsurance"
        label="DisplayKey.get(&quot;Web.Policy.IM.AccountsReceivable.Coinsurance&quot;)"
        required="true"
        value="accountsRecPart.Coinsurance"
        valueType="typekey.Coinsurance"/>
    </InputColumn>
    <InputColumn>
      <InputIterator
        elementName="coveragePattern"
        forceRefreshDespiteChangedEntries="true"
        id="partLevelCovs"
        value="accountsRecPartCategoryCoveragePatterns"
        valueType="gw.api.productmodel.CoveragePattern[]">
        <IteratorSort
          sortBy="coveragePattern.Priority"
          sortOrder="1"/>
        <InputSetRef
          def="CoverageInputSet(coveragePattern, accountsRecPart, openForEdit)"
          mode="coveragePattern.PublicID"/>
      </InputIterator>
    </InputColumn>
  </DetailViewPanel>
</PCF>