<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../../pcf.xsd">
  <PanelSet
    id="IMPartTxDetailsPanelSet"
    mode="IMAccountsRecPart">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      initialValue="policyPeriod.IMTransactions.where(\ trans -&gt; trans.Cost typeis IMAccountsRecPartCovCost).toList()"
      name="accountsRecPartTxs"
      recalculateOnRefresh="true"
      type="java.util.List&lt;entity.IMTransaction&gt;"/>
    <Variable
      initialValue="policyPeriod.IMTransactions.where(\ trans -&gt; trans.Cost typeis IMAccountsRecCovCost).toSet().byFixedARItem()"
      name="arItemToTxsMap"
      recalculateOnRefresh="true"
      type="java.util.Map&lt;entity.IMAccountsReceivable, java.util.Set&lt;entity.IMTransaction&gt;&gt;"/>
    <PanelRef
      visible="arItemToTxsMap.Keys.HasElements or accountsRecPartTxs.HasElements">
      <TitleBar
        title="DisplayKey.get(&quot;Web.Policy.IM.AccountsReceivable&quot;)"/>
      <PanelSet>
        <PanelRef
          visible="arItemToTxsMap.Keys.HasElements">
          <Verbatim
            label="DisplayKey.get(&quot;Web.Policy.IM.ARScheduledItems&quot;)"/>
          <PanelSet>
            <PanelIterator
              elementName="arItem"
              value="arItemToTxsMap.Keys.toTypedArray()"
              valueType="entity.IMAccountsReceivable[]">
              <IteratorSort
                sortBy="arItem.AccountsRecNumber"
                sortOrder="1"/>
              <Variable
                initialValue="arItemToTxsMap.get(arItem)"
                name="txs"
                type="java.util.Set&lt;entity.IMTransaction&gt;"/>
              <PanelRef>
                <Verbatim
                  label="arItem.DisplayName"/>
                <ListViewPanel
                  disableUserCustomization="true"
                  id="ARItemLV"
                  stretch="true">
                  <Variable
                    initialValue="arItem.IMAccountReceivableCov"
                    name="theCoverage"
                    type="productmodel.IMAccountReceivableCov"/>
                  <Variable
                    initialValue="txs.AnyProrated"
                    name="prorated"
                    type="boolean"/>
                  <RowIterator
                    editable="false"
                    elementName="theTx"
                    value="txs.toTypedArray()"
                    valueType="entity.IMTransaction[]">
                    <IteratorSort
                      sortBy="theCoverage.Pattern.Priority"
                      sortOrder="1"/>
                    <IteratorSort
                      sortBy="theTx.AmountBilling"
                      sortOrder="2"/>
                    <Row>
                      <TextCell
                        enableSort="false"
                        footerLabel="DisplayKey.get(&quot;Web.Policy.BA.Subtotal&quot;)"
                        grow="true"
                        id="CovDescription"
                        label="DisplayKey.get(&quot;Web.Policy.IM.Description&quot;)"
                        value="theCoverage.Pattern.DisplayName"
                        wrap="true"/>
                      <MonetaryAmountCell
                        enableSort="false"
                        formatType="currency"
                        id="CovTermAmount"
                        label="DisplayKey.get(&quot;Web.SubmissionWizard.Quote.WC.Amount&quot;)"
                        value="theTx.Cost.ActualTermAmountBilling"
                        visible="prorated"/>
                      <DateCell
                        id="CovEffDate"
                        label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.PeriodStart&quot;)"
                        value="theTx.EffDate"
                        visible="prorated"/>
                      <DateCell
                        id="CovExpDate"
                        label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.PeriodEnd&quot;)"
                        value="theTx.ExpDate"
                        visible="prorated"/>
                      <TextCell
                        id="CovTxProration"
                        label="DisplayKey.get(&quot;Web.SubmissionWizard.Quote.WC.Prorata&quot;)"
                        value="gw.api.util.StringUtil.formatNumber(theTx.Proration, &quot;#0.0000&quot;)"
                        visible="prorated"/>
                      <MonetaryAmountCell
                        align="right"
                        enableSort="false"
                        footerSumValue="theTx.AmountBilling"
                        formatType="currency"
                        id="CovAmount"
                        label="DisplayKey.get(&quot;Web.Policy.BA.Premium&quot;)"
                        value="theTx.AmountBilling"/>
                    </Row>
                  </RowIterator>
                </ListViewPanel>
              </PanelRef>
            </PanelIterator>
          </PanelSet>
        </PanelRef>
        <PanelRef
          visible="accountsRecPartTxs.HasElements">
          <Verbatim
            label="DisplayKey.get(&quot;Web.Policy.IM.AccountsReceivable.PartLevelCoverages&quot;)"/>
          <ListViewPanel
            disableUserCustomization="true"
            id="ARPartLV"
            stretch="true">
            <RowIterator
              editable="false"
              elementName="partTransaction"
              id="partCovIterator"
              value="accountsRecPartTxs.toTypedArray()"
              valueType="entity.IMTransaction[]">
              <Variable
                initialValue="(partTransaction.Cost as IMAccountsRecPartCovCost).IMAccountsRecPartCov"
                name="partCov"
                recalculateOnRefresh="true"
                type="entity.IMAccountsRecPartCov"/>
              <Variable
                initialValue="accountsRecPartTxs.AnyProrated"
                name="prorated"
                recalculateOnRefresh="true"
                type="boolean"/>
              <IteratorSort
                sortBy="(partTransaction.Cost as IMAccountsRecPartCovCost).IMAccountsRecPartCov.Pattern"
                sortOrder="1"/>
              <IteratorSort
                sortBy="partTransaction.AmountBilling"
                sortOrder="2"/>
              <Row>
                <TextCell
                  enableSort="false"
                  footerLabel="DisplayKey.get(&quot;Web.Policy.BA.Subtotal&quot;)"
                  grow="true"
                  id="PartCovDescription"
                  label="DisplayKey.get(&quot;Web.PolicyLine.Coverages.Description&quot;)"
                  value="partCov.Pattern.DisplayName"/>
                <MonetaryAmountCell
                  enableSort="false"
                  formatType="currency"
                  id="PartCovTermAmount"
                  label="DisplayKey.get(&quot;Web.SubmissionWizard.Quote.WC.Amount&quot;)"
                  value="partTransaction.Cost.ActualTermAmountBilling"
                  valueVisible="prorated"
                  wrap="false"/>
                <DateCell
                  id="PartCovEffDate"
                  label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.PeriodStart&quot;)"
                  value="partTransaction.EffDate"
                  valueVisible="prorated"
                  wrap="false"/>
                <DateCell
                  id="PartCovExpDate"
                  label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.PeriodEnd&quot;)"
                  value="partTransaction.ExpDate"
                  valueVisible="prorated"
                  wrap="false"/>
                <TextCell
                  id="PartCovTxProration"
                  label="DisplayKey.get(&quot;Web.SubmissionWizard.Quote.WC.Prorata&quot;)"
                  value="gw.api.util.StringUtil.formatNumber(partTransaction.Proration, &quot;#0.0000&quot;)"
                  valueVisible="prorated"
                  wrap="false"/>
                <MonetaryAmountCell
                  align="right"
                  enableSort="false"
                  footerSumValue="partTransaction.AmountBilling"
                  formatType="currency"
                  id="PartCovAmount"
                  label="DisplayKey.get(&quot;Web.Policy.BA.Premium&quot;)"
                  value="partTransaction.AmountBilling"
                  wrap="false"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </PanelRef>
      </PanelSet>
    </PanelRef>
  </PanelSet>
</PCF>