<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    canEdit="perm.System.editinboundfiles"
    id="InboundConfigPopup"
    title="DisplayKey.get(&quot;InboundFile.Config.Title&quot;)">
    <Screen
      id="InboundConfigScreen">
      <Variable
        initialValue="gw.api.database.Query.make(InboundS3FileConfig).select().toList()"
        name="s3ConfigsList"
        recalculateOnRefresh="true"
        type="List&lt;entity.InboundS3FileConfig&gt;"/>
      <Variable
        initialValue="gw.api.database.Query.make(InboundLocalFileConfig).select().toList()"
        name="localConfigsList"
        recalculateOnRefresh="true"
        type="List&lt;entity.InboundLocalFileConfig&gt;"/>
      <TitleBar
        title="DisplayKey.get(&quot;InboundFile.Config.Title&quot;)"/>
      <CardViewPanel>
        <Card
          id="InboundLocalFileConfigCard"
          title="DisplayKey.get(&quot;InboundFile.Config.LocalConfig&quot;)">
          <PanelRef>
            <Toolbar
              id="InboundLocalFileConfigToolbar">
              <ToolbarButton
                action="NewInboundLocalConfigPopup.push()"
                id="LocalConfigsNewButton"
                label="DisplayKey.get(&quot;Button.Add&quot;)"
                showConfirmMessage="false"
                visible="perm.System.editinboundfiles"/>
              <EditButtons
                cancelVisible="false"
                id="LocalEditButtons"/>
              <CheckedValuesToolbarButton
                allCheckedRowsAction="deleteConfigs(CheckedValues)"
                confirmMessage="DisplayKey.get(&quot;RuntimeProperties.Property.Delete.Selected.Confirmation&quot;)"
                id="LocalConfigsDeleteButton"
                iterator="LocalConfigsIterator"
                label="DisplayKey.get(&quot;Button.Delete&quot;)"
                visible="perm.System.editinboundfiles"/>
            </Toolbar>
            <ListViewPanel
              id="InboundLocalConfigsLV">
              <RowIterator
                editable="true"
                elementName="localInboundConfig"
                hasCheckBoxes="true"
                id="LocalConfigsIterator"
                value="localConfigsList"
                valueType="java.util.List&lt;entity.InboundLocalFileConfig&gt;">
                <Row>
                  <TextCell
                    editable="true"
                    id="Name"
                    label="DisplayKey.get(&quot;InboundFile.Config.Name&quot;)"
                    sortOrder="1"
                    value="localInboundConfig.Name"
                    valueType="String"/>
                  <TextCell
                    editable="true"
                    id="InputDir"
                    label="DisplayKey.get(&quot;InboundFile.Config.InputDir&quot;)"
                    sortOrder="2"
                    value="localInboundConfig.InputPath"/>
                  <TextCell
                    editable="true"
                    id="ArchiveDir"
                    label="DisplayKey.get(&quot;InboundFile.Config.ArchiveDir&quot;)"
                    value="localInboundConfig.ArchivePath"/>
                  <TextCell
                    editable="true"
                    id="ChunkSize"
                    label="DisplayKey.get(&quot;InboundFile.Config.ChunkSize&quot;)"
                    value="localInboundConfig.ChunkSize"
                    valueType="java.lang.Integer"/>
                  <TextCell
                    editable="true"
                    id="HandlerClass"
                    label="DisplayKey.get(&quot;InboundFile.Config.HandlerClass&quot;)"
                    validationExpression="gw.inboundfile.InboundFileUtils.validateFileHandlerClass(localInboundConfig.FileHandlerClass)"
                    value="localInboundConfig.FileHandlerClass"/>
                  <TextCell
                    editable="true"
                    id="DaysTillPurge"
                    label="DisplayKey.get(&quot;InboundFile.Config.DaysTillPurge&quot;)"
                    value="localInboundConfig.DaysTillPurge"
                    valueType="java.lang.Integer"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
        </Card>
        <Card
          id="InboundS3FileConfigCard"
          title="DisplayKey.get(&quot;InboundFile.Config.S3Config&quot;)">
          <PanelRef>
            <Toolbar
              id="InboundS3FileConfigToolbar">
              <ToolbarButton
                action="NewInboundS3ConfigPopup.push()"
                id="S3ConfigsNewButton"
                label="DisplayKey.get(&quot;Button.Add&quot;)"
                showConfirmMessage="false"
                visible="perm.System.editinboundfiles"/>
              <EditButtons
                cancelVisible="false"
                id="S3EditButtons"/>
              <CheckedValuesToolbarButton
                allCheckedRowsAction="deleteConfigs(CheckedValues)"
                confirmMessage="DisplayKey.get(&quot;RuntimeProperties.Property.Delete.Selected.Confirmation&quot;)"
                id="S3ConfigsDeleteButton"
                iterator="S3ConfigsIterator"
                label="DisplayKey.get(&quot;Button.Delete&quot;)"
                visible="perm.System.editinboundfiles"/>
            </Toolbar>
            <ListViewPanel
              id="InboundS3ConfigsLV">
              <RowIterator
                editable="true"
                elementName="s3InboundConfig"
                hasCheckBoxes="true"
                id="S3ConfigsIterator"
                value="s3ConfigsList"
                valueType="java.util.List&lt;entity.InboundS3FileConfig&gt;">
                <Row>
                  <TextCell
                    editable="true"
                    id="Name"
                    label="DisplayKey.get(&quot;InboundFile.Config.Name&quot;)"
                    sortOrder="1"
                    value="s3InboundConfig.Name"
                    valueType="String"/>
                  <TextCell
                    editable="true"
                    id="InputS3UserProfile"
                    label="DisplayKey.get(&quot;InboundFile.Config.UserProfile&quot;)"
                    sortOrder="2"
                    value="s3InboundConfig.ProfileName"/>
                  <TextCell
                    editable="true"
                    id="InputS3Bucket"
                    label="DisplayKey.get(&quot;InboundFile.Config.InputBucket&quot;)"
                    value="s3InboundConfig.InputS3Bucket"/>
                  <TextCell
                    editable="true"
                    id="InputS3Prefix"
                    label="DisplayKey.get(&quot;InboundFile.Config.InputPrefix&quot;)"
                    value="s3InboundConfig.InputS3Prefix"/>
                  <TextCell
                    editable="true"
                    id="ArchiveS3Bucket"
                    label="DisplayKey.get(&quot;InboundFile.Config.ArchiveBucket&quot;)"
                    value="s3InboundConfig.ArchiveS3Bucket"/>
                  <TextCell
                    editable="true"
                    id="ArchiveS3Prefix"
                    label="DisplayKey.get(&quot;InboundFile.Config.ArchivePrefix&quot;)"
                    value="s3InboundConfig.ArchiveS3Prefix"/>
                  <TextCell
                    editable="true"
                    id="ChunkSize"
                    label="DisplayKey.get(&quot;InboundFile.Config.ChunkSize&quot;)"
                    value="s3InboundConfig.ChunkSize"
                    valueType="java.lang.Integer"/>
                  <TextCell
                    editable="true"
                    id="HandlerClass"
                    label="DisplayKey.get(&quot;InboundFile.Config.HandlerClass&quot;)"
                    validationExpression="gw.inboundfile.InboundFileUtils.validateFileHandlerClass(s3InboundConfig.FileHandlerClass)"
                    value="s3InboundConfig.FileHandlerClass"/>
                  <TextCell
                    editable="true"
                    id="DaysTillPurge"
                    label="DisplayKey.get(&quot;InboundFile.Config.DaysTillPurge&quot;)"
                    value="s3InboundConfig.DaysTillPurge"
                    valueType="java.lang.Integer"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
        </Card>
      </CardViewPanel>
    </Screen>
    <Code>function deleteConfigs(configs : InboundFileConfig[]) : void {
      var bundle = gw.transaction.Transaction.newBundle()
      for (conf in configs) {
        conf = bundle.add(conf)
        conf.remove()
      }
      bundle.commit()
    }
    </Code>
  </Popup>
</PCF>