<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../../pcf.xsd">
  <Popup
    canEdit="true"
    id="NewInboundLocalConfigPopup"
    startInEditMode="true"
    title="DisplayKey.get(&quot;InboundFile.Config.New&quot;)">
    <LocationEntryPoint
      signature="NewInboundLocalConfigPopup()"/>
    <Variable
      initialValue="new InboundLocalFileConfig()"
      name="inboundFileConfig"
      type="entity.InboundLocalFileConfig"/>
    <Screen
      editable="true"
      id="NewInboundLocalConfigScreen">
      <Toolbar>
        <EditButtons/>
      </Toolbar>
      <DetailViewPanel
        editable="true"
        id="ConfigDV">
        <InputColumn
          id="ConfigInput">
          <TextInput
            editable="true"
            id="ConfigName"
            label="DisplayKey.get(&quot;InboundFile.Config.Name&quot;)"
            required="true"
            value="inboundFileConfig.Name"/>
          <TextInput
            editable="true"
            id="ConfigInputDir"
            label="DisplayKey.get(&quot;InboundFile.Config.InputDir&quot;)"
            required="true"
            value="inboundFileConfig.InputPath"/>
          <TextInput
            editable="true"
            id="ConfigArchiveDir"
            label="DisplayKey.get(&quot;InboundFile.Config.ArchiveDir&quot;)"
            required="true"
            value="inboundFileConfig.ArchivePath"/>
          <TextInput
            editable="true"
            id="ConfigChunkSize"
            label="DisplayKey.get(&quot;InboundFile.Config.ChunkSize&quot;)"
            required="true"
            value="inboundFileConfig.ChunkSize"
            valueType="java.lang.Integer"/>
          <TextInput
            editable="true"
            helpText="DisplayKey.get(&quot;InboundFile.Config.HandlerClass.Full&quot;)"
            id="HandlerClass"
            label="DisplayKey.get(&quot;InboundFile.Config.HandlerClass&quot;)"
            required="true"
            validationExpression="gw.inboundfile.InboundFileUtils.validateFileHandlerClass(inboundFileConfig.FileHandlerClass)"
            value="inboundFileConfig.FileHandlerClass"/>
          <TextInput
            editable="true"
            id="DaysTilPurge"
            label="DisplayKey.get(&quot;InboundFile.Config.DaysTillPurge&quot;)"
            required="true"
            value="inboundFileConfig.DaysTillPurge"
            valueType="java.lang.Integer"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Popup>
</PCF>