<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="RatingOverridePanelSet"
    mode="IMLine">
    <Require
      name="period"
      type="PolicyPeriod"/>
    <Variable
      initialValue="period.IMLine.IMCoverageParts"
      name="covParts"
      type="IMCoveragePart[]"/>
    <PanelIterator
      elementName="covPart"
      id="CovPart"
      value="covParts"
      valueType="entity.IMCoveragePart[]">
      <PanelRef>
        <TitleBar
          title="covPart.Subtype.DisplayName"/>
        <Toolbar/>
        <ListViewPanel>
          <Variable
            initialValue="period.IMLine.costMapsFor(covPart)"
            name="costMaps"
            type="List&lt;java.util.Map&lt;String, Cost&gt;&gt;"/>
          <Row
            renderAsSmartHeader="true">
            <EmptyCell
              align="center"
              id="EmptyHeader1"/>
            <TextCell
              align="center"
              colspan="4"
              id="ActualHeader"
              value="DisplayKey.get(&quot;Web.Policy.RatingOverride.Actual&quot;)"/>
            <TextCell
              align="center"
              colspan="5"
              id="OverrideHeader"
              value="DisplayKey.get(&quot;Web.Policy.RatingOverride.Override&quot;)"/>
            <TextCell
              align="center"
              colspan="4"
              id="StandardHeader"
              value="DisplayKey.get(&quot;Web.Policy.RatingOverride.Standard&quot;)"/>
          </Row>
          <Row
            renderAsSmartHeader="true">
            <TextCell
              id="DescriptionHeader"
              value="DisplayKey.get(&quot;Web.SubmissionWizard.Quote.WC.Desc&quot;)"/>
            <TextCell
              align="right"
              id="ActualBaseRateHeader"
              value="DisplayKey.get(&quot;Web.Policy.RatingOverride.BaseRate&quot;)"/>
            <TextCell
              align="right"
              id="ActualAdjustedRateHeader"
              value="DisplayKey.get(&quot;Web.Policy.RatingOverride.AdjustedRate&quot;)"/>
            <TextCell
              align="right"
              id="ActualTermAmountHeader"
              value="DisplayKey.get(&quot;Web.Policy.RatingOverride.TermAmount&quot;)"/>
            <TextCell
              align="right"
              id="ActualAmountHeader"
              value="DisplayKey.get(&quot;Web.Policy.RatingOverride.Amount&quot;)"/>
            <TextCell
              align="right"
              id="OverrideBaseRateHeader"
              value="DisplayKey.get(&quot;Web.Policy.RatingOverride.BaseRate&quot;)"/>
            <TextCell
              align="right"
              id="OverrideAdjustedRateHeader"
              value="DisplayKey.get(&quot;Web.Policy.RatingOverride.AdjustedRate&quot;)"/>
            <TextCell
              align="right"
              id="OverrideTermAmountHeader"
              value="DisplayKey.get(&quot;Web.Policy.RatingOverride.TermAmount&quot;)"/>
            <TextCell
              align="right"
              id="OverrideAmountHeader"
              value="DisplayKey.get(&quot;Web.Policy.RatingOverride.Amount&quot;)"/>
            <TextCell
              align="left"
              id="OverrideReasonHeader"
              value="DisplayKey.get(&quot;Web.Policy.RatingOverride.Reason&quot;)"/>
            <TextCell
              align="right"
              id="StandardBaseRateHeader"
              value="DisplayKey.get(&quot;Web.Policy.RatingOverride.BaseRate&quot;)"/>
            <TextCell
              align="right"
              id="StandardAdjustedRateHeader"
              value="DisplayKey.get(&quot;Web.Policy.RatingOverride.AdjustedRate&quot;)"/>
            <TextCell
              align="right"
              id="StandardTermAmountHeader"
              value="DisplayKey.get(&quot;Web.Policy.RatingOverride.TermAmount&quot;)"/>
            <TextCell
              align="right"
              id="StandardAmountHeader"
              value="DisplayKey.get(&quot;Web.Policy.RatingOverride.Amount&quot;)"/>
          </Row>
          <RowIterator
            editable="CurrentLocation.InEditMode"
            elementName="costMap"
            value="costMaps"
            valueType="java.util.List&lt;java.util.Map&lt;java.lang.String, entity.Cost&gt;&gt;">
            <Variable
              initialValue="costMap.Keys.first()"
              name="description"
              type="String"/>
            <Variable
              initialValue="costMap.Values.first()"
              name="cost"
              type="Cost"/>
            <Row>
              <TextCell
                id="Description"
                value="description"/>
              <TextCell
                format="&quot;0.0000&quot;"
                id="ActualBaseRate"
                value="cost.ActualBaseRate"
                valueType="java.math.BigDecimal"/>
              <TextCell
                format="&quot;0.0000&quot;"
                id="ActualAdjustedRate"
                value="cost.ActualAdjRate"
                valueType="java.math.BigDecimal"/>
              <MonetaryAmountCell
                align="right"
                id="ActualTermAmount"
                value="cost.ActualTermAmountBilling"/>
              <MonetaryAmountCell
                align="right"
                id="ActualAmount"
                value="cost.ActualAmountBilling"/>
              <TextCell
                align="right"
                editable="CurrentLocation.InEditMode and cost.Overridable"
                id="OverrideBaseRate"
                maxWidth="8em"
                value="cost.OverrideBaseRate"
                valueType="java.math.BigDecimal"/>
              <TextCell
                align="right"
                editable="CurrentLocation.InEditMode and cost.Overridable"
                format="&quot;0.0000&quot;"
                id="OverrideAdjustedRate"
                maxWidth="8em"
                value="cost.OverrideAdjRate"
                valueType="java.math.BigDecimal"/>
              <MonetaryAmountCell
                align="right"
                currency="(cost.BranchUntyped as PolicyPeriod).PreferredSettlementCurrency"
                editable="CurrentLocation.InEditMode and cost.Overridable"
                id="OverrideTermAmount"
                maxWidth="12em"
                value="cost.OverrideTermAmountBilling"/>
              <MonetaryAmountCell
                align="right"
                currency="(cost.BranchUntyped as PolicyPeriod).PreferredSettlementCurrency"
                editable="CurrentLocation.InEditMode and cost.Overridable"
                id="OverrideAmount"
                maxWidth="12em"
                value="cost.OverrideAmountBilling"/>
              <TextCell
                editable="CurrentLocation.InEditMode and cost.Overridable"
                id="OverrideReason"
                value="cost.OverrideReason"/>
              <TextCell
                format="&quot;0.0000&quot;"
                id="StandardBaseRate"
                value="cost.StandardBaseRate"
                valueType="java.math.BigDecimal"/>
              <TextCell
                format="&quot;0.0000&quot;"
                id="StandardAdjustedRate"
                value="cost.StandardAdjRate"
                valueType="java.math.BigDecimal"/>
              <MonetaryAmountCell
                align="right"
                id="StandardTermAmount"
                value="cost.StandardTermAmountBilling"/>
              <MonetaryAmountCell
                align="right"
                id="StandardAmount"
                value="cost.StandardAmountBilling"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
    </PanelIterator>
  </PanelSet>
</PCF>