<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Worksheet
    alwaysInEditMode="true"
    beforeCommit="userPreferences.commitUserPreferences()"
    canEdit="true"
    id="UserPreferencesWorksheet"
    startInEditMode="true"
    tabLabel="DisplayKey.get(&quot;Web.UserPreferences&quot;)"
    title="DisplayKey.get(&quot;Web.UserPreferences&quot;)">
    <LocationEntryPoint
      signature="UserPreferencesWorksheet()"/>
    <Scope
      location="*"/>
    <Variable
      initialValue="User.util.CurrentUser"
      name="userBase"
      type="User"/>
    <Variable
      initialValue="new gw.api.web.userpreference.UserPreferencesOfCurrentUser()"
      name="userPreferences"
      type="gw.api.web.userpreference.UserPreferencesOfCurrentUser"/>
    <ScreenRef
      def="UserPreferencesScreen(userPreferences, userBase)"/>
  </Worksheet>
</PCF>