<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <LocationGroup
    canVisit="gw.bizrules.system.BizRulesConfigParameters.BizRulesEnabled.Value"
    id="BizRules"
    title="DisplayKey.get('Web.BizRules.LG.Title')">
    <LocationRef
      location="UWRules()"/>
    <LocationRef
      location="PCBizRulesExportImportStatus()"/>
    <LocationRef
      location="LookupPage()"/>
  </LocationGroup>
</PCF>
