<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ToolbarButtonSet
    id="CreateRuleToolbarButtonSet">
    <ReferencedIterator
      flags="AlwaysTrue"
      valueType="Object"
      widget="Rules"/>
    <Require
      name="navigationSupport"
      type="gw.bizrules.pcf.BizRulesPageNavigationSupport"/>
    <Require
      name="checkedValuesAccessor"
      type="gw.bizrules.pcf.RuleListPageHelper.IteratorCheckedValuesRuleVersionAccessor"/>
    <Require
      name="ruleTypeRef"
      type="gw.pl.persistence.type.EntityTypeReference&lt;Rule&gt;"/>
    <ToolbarButton
      action="navigationSupport.goToCreateRulePage(ruleTypeRef.get().getSubtypeTypeKey() as typekey.Rule)"
      id="Add"
      label="DisplayKey.get('Button.Add')"
      tooltip="DisplayKey.get('BizRules.RulesPage.AddButtonTooltip')"
      visible="gw.bizrules.pcf.RulePermissionUIHelper.canEditRule(ruleTypeRef.get())"/>
    <CheckedValuesToolbarButton
      allCheckedRowsAction="navigationSupport.goToCloneRulePage(checkedValuesAccessor.SingleRule)"
      flags="one AlwaysTrue"
      id="Clone"
      iterator="Rules"
      label="DisplayKey.get('BizRules.RulesPage.CloneButton')"
      tooltip="DisplayKey.get('BizRules.RulesPage.CloneButtonTooltip')"
      visible="gw.bizrules.pcf.RulePermissionUIHelper.canEditRule(ruleTypeRef.get())"/>
  </ToolbarButtonSet>
</PCF>