<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canEdit="true"
    canVisit="perm.System.lookuptableview"
    id="LookupPage"
    title="DisplayKey.get(&quot;Web.BizRules.Lookup.LookupPage.ManageLookupTables&quot;)">
    <Variable
      initialValue="gw.web.bizrules.LookupUIHelper.findExistingLookups()"
      name="allExistingLookups"
      recalculateOnRefresh="true"
      type="LookupTableDefinition[]"/>
    <Screen>
      <Variable
        initialValue="new gw.web.bizrules.LookupUIHelper()"
        name="uiHelper"
        type="gw.web.bizrules.LookupUIHelper"/>
      <Toolbar>
        <ToolbarButton
          action="CreateLookup.go()"
          id="CreateButton"
          label="DisplayKey.get(&quot;Web.BizRules.Lookup.LookupPage.AddLookup&quot;)"
          visible="perm.System.lookuptableedit"/>
        <CheckedValuesToolbarButton
          allCheckedRowsAction="uiHelper.removeLookups(CheckedValues)"
          confirmMessage="DisplayKey.get(&quot;Web.BizRules.Lookup.LookupPage.RemoveConfirmation&quot;)"
          id="RemoveButton"
          iterator="lookupIterator"
          label="DisplayKey.get(&quot;Web.BizRules.Lookup.LookupPage.DeleteLookup&quot;)"
          visible="perm.System.lookuptableedit"/>
      </Toolbar>
      <AlertBar
        action="null"
        allowDismiss="false"
        id="DeleteAlert"
        label="DisplayKey.get(&quot;Web.BizRules.Lookup.LookupPage.DeleteInUseLookupAlert&quot;)"
        visible="uiHelper.ShowDeleteMessage"/>
      <ListViewPanel
        id="ManageLV">
        <RowIterator
          editable="true"
          elementName="lookupDef"
          hasCheckBoxes="true"
          id="lookupIterator"
          value="allExistingLookups"
          valueType="LookupTableDefinition[]">
          <IteratorSort
            sortBy="lookupDef.TableName"
            sortOrder="1"/>
          <Row>
            <ButtonCell
              action="LookupPopup.push(lookupDef, false)"
              id="ViewButton"
              value="DisplayKey.get(&quot;Web.BizRules.Lookup.LookupPage.View&quot;)"
              visible="perm.System.lookuptableview"/>
            <ButtonCell
              action="LookupPopup.push(lookupDef, true)"
              id="EditButton"
              value="DisplayKey.get(&quot;Web.BizRules.Lookup.LookupPage.Edit&quot;)"
              visible="perm.System.lookuptableedit"/>
            <TextCell
              align="left"
              id="Name"
              label="DisplayKey.get(&quot;Web.BizRules.Lookup.LookupPage.Name&quot;)"
              value="lookupDef.TableName"/>
            <TextCell
              align="left"
              id="Output"
              label="DisplayKey.get(&quot;Web.BizRules.Lookup.LookupPage.Output&quot;)"
              value="lookupDef.Output?.ColumnLabel"/>
            <TextCell
              align="left"
              id="OutputType"
              label="DisplayKey.get(&quot;Web.BizRules.Lookup.LookupPage.OutputType&quot;)"
              value="lookupDef.DisplayFactorDataType"/>
            <TextCell
              align="left"
              id="Inputs"
              label="DisplayKey.get(&quot;Web.BizRules.Lookup.LookupPage.Inputs&quot;)"
              value="lookupDef.InputListDisplay"/>
            <TextCell
              id="SourceTable"
              label="DisplayKey.get(&quot;Web.BizRules.Lookup.LookupPage.SourceTable&quot;)"
              value="lookupDef.SourceTableName"/>
            <TextCell
              id="Description"
              label="DisplayKey.get(&quot;Web.BizRules.Lookup.LookupPage.Description&quot;)"
              value="lookupDef.TableDesc"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </Screen>
  </Page>
</PCF>