<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <PanelSet
    id="LookupColumnPanelSet">
    <Require
      name="helper"
      type="gw.web.bizrules.LookupUIHelper"/>
    <Require
      name="lookupDefDTO"
      type="gw.lookup.LookupDefinitionDTO"/>
    <PanelRef
      id="LookupPanel"
      visible="lookupDefDTO.SourceTable != null">
      <Toolbar
        id="AddRemoveToolbar">
        <AddButton
          hideIfReadOnly="true"
          id="AddLookupCol"
          label="DisplayKey.get(&quot;Web.BizRules.Lookup.CreateLookupPage.AddLookupColumn&quot;)"
          visible="CurrentLocation.InEditMode">
          <AddMenuItemIterator
            elementName="availableColumn"
            value="helper.AvailableLookupTableColumns"
            valueType="gw.plugin.lookup.LookupSourceColumnDTO[]">
            <IteratorSort
              sortBy="availableColumn.ColumnLabel"
              sortOrder="1"/>
            <AddMenuItem
              id="availableColumnName"
              iterator="LookupColumnsLV"
              label="availableColumn.ColumnName"
              toCreateAndAdd="helper.addLookupTableColumn(availableColumn); return availableColumn"/>
          </AddMenuItemIterator>
        </AddButton>
        <RemoveButton
          hideIfReadOnly="true"
          id="DeleteLookupCol"
          iterator="LookupColumnsLV"
          label="DisplayKey.get(&quot;Web.BizRules.Lookup.CreateLookupPage.DeleteLookupColumn&quot;)"/>
      </Toolbar>
      <ListViewPanel
        id="LookupColumnsLV">
        <RowIterator
          editable="true"
          elementName="lookupColumn"
          forceRefreshDespiteChangedEntries="true"
          hasCheckBoxes="true"
          hideCheckBoxesIfReadOnly="true"
          id="LookupColumnIterator"
          pageSize="0"
          toRemove="helper.removeLookupTableColumn(lookupColumn)"
          value="helper.LookupColumns.toTypedArray()"
          valueType="gw.plugin.lookup.LookupSourceColumnDTO[]">
          <IteratorSort
            sortBy="lookupColumn.ColumnName"
            sortOrder="1"/>
          <Row>
            <TextCell
              align="left"
              id="LookupColumnName"
              label="DisplayKey.get(&quot;Web.BizRules.Lookup.CreateLookupPage.LookupColumns&quot;)"
              value="lookupColumn.ColumnLabel"></TextCell>
            <TextCell
              align="left"
              id="LookupColumnType"
              label="DisplayKey.get(&quot;Web.BizRules.Lookup.CreateLookupPage.LookupType&quot;)"
              value="lookupColumn.DataType.RelativeName"></TextCell>
            <RangeRadioCell
              align="left"
              editable="true"
              id="IsInputGroup"
              optionLabel="VALUE ? DisplayKey.get(&quot;Web.BizRules.Lookup.CreateLookupPage.Input&quot;) : DisplayKey.get(&quot;Web.BizRules.Lookup.CreateLookupPage.Output&quot;)"
              sortValueRange="false"
              value="lookupColumn.Input"
              valueRange="{true, false}"
              valueType="boolean">
              <PostOnChange
                onChange="helper.changeOtherLookupColumnsToInput(lookupColumn)"/>
            </RangeRadioCell>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </PanelRef>
  </PanelSet>
</PCF>