<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    id="PCBizRulesExportImportStatus"
    canVisit="perm.System.uwruleview or perm.Rule.view"
    parent="UWRules()"
    showUpLink="true"
    title="DisplayKey.get('BizRules.RuleExportImportStatusScreen.Title')">
    <ScreenRef
      def="RuleExportImportStatusScreen(gw.bizrules.PCBizRulesNavigationSupport.Instance)"/>
  </Page>
</PCF>