<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListDetailPanel
    id="RuleCommandDefinitionsListDetailView"
    selectionName="commandDefinition"
    selectionType="gw.bizrules.pcf.RuleCommandDefinitionHolder">
    <Require
      name="controller"
      type="gw.bizrules.pcf.CommandDefinitionController"/>
    <Require
      name="ruleSubType"
      type="typekey.Rule"/>
    <PanelRef>
      <Toolbar>
        <IteratorButtons
          addLabel="DisplayKey.get(&quot;BizRules.CommandDefinitionLDV.AddAction&quot;)"
          iterator="CommandDefinitionsLV"
          removeLabel="DisplayKey.get(&quot;BizRules.CommandDefinitionLDV.RemoveAction&quot;)"/>
        <CheckedValuesToolbarButton
          allCheckedRowsAction="controller.moveLinesUp(CheckedValues)"
          flags="all CanMoveUp"
          hideIfReadOnly="true"
          icon="&quot;long-arrow-alt-up-solid&quot;"
          iconType="gwFontGlyph"
          id="MoveUp"
          iterator="CommandDefinitionsLV"/>
        <CheckedValuesToolbarButton
          allCheckedRowsAction="controller.moveLinesDown(CheckedValues)"
          flags="all CanMoveDown"
          hideIfReadOnly="true"
          icon="&quot;long-arrow-alt-down-solid&quot;"
          iconType="gwFontGlyph"
          id="MoveDown"
          iterator="CommandDefinitionsLV"/>
      </Toolbar>
      <ListViewPanel
        stretch="true">
        <RowIterator
          checkBoxVisible="CurrentLocation.InEditMode"
          editable="false"
          elementName="commandDefinitionElement"
          hasCheckBoxes="true"
          id="CommandDefinitionsLV"
          pageSize="0"
          startChecked="controller.isLineChecked(commandDefinitionElement)"
          toCreateAndAdd="controller.addCommandDefinition()"
          toRemove="controller.removeCommandDefinition(commandDefinitionElement)"
          type="gw.bizrules.pcf.RuleCommandDefinitionHolder"
          value="controller.CommandDefinitionHolders"
          valueType="java.util.List&lt;gw.bizrules.pcf.RuleCommandDefinitionHolder&gt;">
          <ToolbarFlag
            condition="controller.canMoveUp(commandDefinitionElement)"
            name="CanMoveUp"/>
          <ToolbarFlag
            condition="controller.canMoveDown(commandDefinitionElement)"
            name="CanMoveDown"/>
          <IteratorSort
            sortBy="commandDefinitionElement.CommandDefinition.OrderNumber"
            sortOrder="1"/>
          <Row>
            <TextCell
              align="left"
              id="actionSequence"
              label="DisplayKey.get(&quot;BizRules.CommandDefinitionLDV.Sequence&quot;)"
              value="commandDefinitionElement.CommandDefinition.SequenceNumber"
              valueType="java.lang.Integer"/>
            <TextCell
              align="left"
              id="actionType"
              label="DisplayKey.get(&quot;BizRules.CommandDefinitionLDV.Action&quot;)"
              value="commandDefinitionElement.Label"/>
            <TextCell
              align="left"
              grow="true"
              id="actionDescription"
              label="DisplayKey.get(&quot;BizRules.CommandDefinitionLDV.Description&quot;)"
              value="commandDefinitionElement.Description"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </PanelRef>
    <CardViewPanel>
      <Card
        id="card"
        title="DisplayKey.get(&quot;BizRules.CommandDefinitionLDV.Parameters&quot;)">
        <DetailViewPanel>
          <InputColumn>
            <TypeKeyInput
              editable="commandDefinition.getAllRuleActionKeys().size() &gt; 1"
              filter="VALUE.hasCategory(ruleSubType)"
              id="RuleActionKey"
              label="DisplayKey.get(&quot;BizRules.CommandDefinitionLDV.Action&quot;)"
              value="commandDefinition.RuleActionKey"
              valueType="typekey.RuleActionKey">
              <PostOnChange/>
            </TypeKeyInput>
            <InputSetRef
              def="ValidationErrorsInputSet(commandDefinition == null ? {} : commandDefinition.validate(), true)"
              id="CommandDefinitionValidationErrors"/>
            <InputDivider/>
          </InputColumn>
        </DetailViewPanel>
        <PanelRef
          def="CommandDefinitionDV(commandDefinition)"
          id="CommandDefinitionDV"
          mode="commandDefinition.getUIMode()"
          visible="commandDefinition.RuleActionKey != null"/>
      </Card>
    </CardViewPanel>
  </ListDetailPanel>
</PCF>
