<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <PanelSet
    id="RuleVariablesPanelSet">
    <Require
      name="controller"
      type="gw.bizrules.pcf.RuleVariableController"/>
    <DetailViewPanel
      visible="!CurrentLocation.InEditMode and controller.RuleVariableHolders.size() == 0">
      <InputColumn>
        <TextInput
          id="NoVariableText"
          label="DisplayKey.get('BizRules.RuleVariableLV.NoVariables')"
          value="&quot;&quot;"/>
      </InputColumn>
    </DetailViewPanel>
    <PanelRef
      visible="CurrentLocation.InEditMode or controller.RuleVariableHolders.size() &gt; 0">
      <Toolbar>
        <IteratorButtons
          addLabel="DisplayKey.get('BizRules.RuleVariableLV.AddAction')"
          iterator="RuleVariablesHolderLV"
          removeLabel="DisplayKey.get('BizRules.RuleVariableLV.RemoveAction')"/>
      </Toolbar>
      <ListViewPanel
        id="RuleVariableLV"
        stretch="true">
        <Row
          renderAsSmartHeader="true">
          <TextCell
            align="left"
            enableSort="false"
            id="VariableNameID"
            value="DisplayKey.get('BizRules.RuleVariableLV.Name')"/>
          <TextCell
            align="left"
            enableSort="false"
            id="VariableDescriptionID"
            value="DisplayKey.get('BizRules.RuleVariableLV.Description')"/>
          <TextCell
            align="left"
            id="ExpressionID"
            value="DisplayKey.get('BizRules.RuleVariableLV.Expression')"/>
          <TextCell
            align="left"
            enableSort="false"
            id="TypeId"
            value="DisplayKey.get('BizRules.RuleVariableLV.Type')"/>
        </Row>
        <RowIterator
          checkBoxVisible="CurrentLocation.InEditMode"
          editable="true"
          elementName="ruleVariableHolder"
          hasCheckBoxes="true"
          hideCheckBoxesIfReadOnly="true"
          id="RuleVariablesHolderLV"
          pageSize="0"
          startChecked="controller.isLineChecked(ruleVariableHolder)"
          toCreateAndAdd="controller.addRuleVariable()"
          toRemove="controller.removeRuleVariable(ruleVariableHolder)"
          type="gw.bizrules.pcf.RuleVariableHolder"
          value="controller.RuleVariableHolders"
          valueType="java.util.List&lt;gw.bizrules.pcf.RuleVariableHolder&gt;">
          <IteratorSort
            sortBy="ruleVariableHolder.Variable.OrderNumber"
            sortOrder="1"/>
          <Row>
            <TextCell
              editable="true"
              id="variableName"
              value="ruleVariableHolder.Variable.Name">
              <PostOnChange
                onChange="ruleVariableHolder.validate()"/>
            </TextCell>
            <TextCell
              editable="true"
              id="variableDescription"
              value="ruleVariableHolder.Variable.Description">
              <PostOnChange
                onChange="ruleVariableHolder.validate()"/>
            </TextCell>
            <ModalCellRef
              def="VariableExpressionFragCell(ruleVariableHolder)"
              editable="true"
              grow="true"
              id="ExpressionOperandCell"
              mode="ruleVariableHolder.ExpressionFragHolder.PCFMode"/>
            <TextCell
              id="variableType"
              value="ruleVariableHolder.Type">
              <PostOnChange
                onChange="ruleVariableHolder.validate()"/>
            </TextCell>
          </Row>
          <Row
            id="RuleVariableHolderErrorRow"
            visible="ruleVariableHolder.displayValidations(CurrentLocation) and (ruleVariableHolder.HasErrors or ruleVariableHolder.ExpressionFragHolder.HasErrors)">
            <FormatCell
              colspan="2"
              id="NameValidationErrorsCell"
              wrap="true">
              <ContentInput
                id="NameValidationErrorsCellHeader"
                visible="!ruleVariableHolder.isNameValid()">
                <Link
                  icon="'alert'"
                  iconColor="gw.api.web.color.GWColor.THEME_ALERT_ERROR"
                  iconType="svgFileName"
                  id="NameValidationErrorIcon"
                  visible="!ruleVariableHolder.isNameValid()"/>
                <Link
                  id="NameValidationLabel"
                  label="DisplayKey.get('BizRules.RuleVariablePanelSet.Name')"
                  styleClass="bold"/>
              </ContentInput>
              <InputIterator
                elementName="error"
                id="NameValidationErrors"
                type="java.lang.String"
                value="ruleVariableHolder.getRuleVariableNameValidations()"
                valueType="java.lang.String[]">
                <TextInput
                  id="NameValidationError"
                  value="error"/>
              </InputIterator>
            </FormatCell>
            <FormatCell
              id="ExpressionValidationErrorsCell"
              colspan="2"
              wrap="true">
              <ContentInput
                id="ExpressionValidationErrorsCellHeader"
                visible="!ruleVariableHolder.isExpressionValid()">
                <Link
                  icon="'alert'"
                  iconColor="gw.api.web.color.GWColor.THEME_ALERT_ERROR"
                  iconType="svgFileName"
                  id="ExpressionErrorIcon"
                  visible="!ruleVariableHolder.isExpressionValid()"/>
                <Link
                  id="ExpressionValidationLabel"
                  label="DisplayKey.get('BizRules.RuleVariablePanelSet.Expression.Operand')"
                  styleClass="bold"/>
              </ContentInput>
              <InputIterator
                elementName="error"
                id="ExpressionValidationErrors"
                type="java.lang.String"
                value="ruleVariableHolder.getRuleVariableExpressionValidations()"
                valueType="java.lang.String[]">
                <TextInput
                  id="ExpressionValidationError"
                  value="error"/>
              </InputIterator>
            </FormatCell>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </PanelRef>
  </PanelSet>
</PCF>