<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    afterReturnFromPopup="if (popupCommitted) CurrentLocation.commit()"
    canEdit="true"
    id="UWRuleComparisonPopup"
    title="DisplayKey.get('Web.BizRules.UWRules.Comparison.Title')">
    <LocationEntryPoint
      signature="UWRuleComparisonPopup(version1 : RuleVersion, version2 : RuleVersion)"/>
    <LocationEntryPoint
      signature="UWRuleComparisonPopup(importEntry : RuleImportTaskEntry, importHelper : gw.bizrules.pcf.RuleExportImportPageHelper)"/>
    <Variable
      name="importEntry"
      type="RuleImportTaskEntry"/>
    <Variable
      name="importHelper"
      type="gw.bizrules.pcf.RuleExportImportPageHelper"/>
    <Variable
      initialValue="importEntry.ExistingVersion"
      name="version1"
      type="RuleVersion"/>
    <Variable
      initialValue="importEntry.ImportedVersion"
      name="version2"
      type="RuleVersion"/>
    <Variable
      initialValue="new gw.web.bizrules.UWRuleVersionComparisonHelper(version1, version2, CurrentLocation)"
      name="controller"
      type="gw.web.bizrules.UWRuleVersionComparisonHelper"/>
    <Variable
      initialValue="gw.bizrules.PCBizRulesNavigationSupport.Instance"
      name="navSupport"
      type="gw.bizrules.pcf.BizRulesPageNavigationSupport"/>
    <Screen>
      <Toolbar>
        <ToolbarButtonSetRef
          toolbarButtonSet="RuleComparisonToolbarButtonSet(importEntry, importHelper, navSupport)"/>
      </Toolbar>
      <AlertBar
        id="ExistingInDraftAlert"
        label="DisplayKey.get(&quot;BizRules.Import.Comparison.NoEditOfExistingDraftAlert&quot;)"
        visible="perm.Rule.edit(importEntry.ImportedVersion.Rule) and importEntry.ExistingVersionDraft"/>
      <DetailViewPanel>
        <Layout
          columns="controller.TotalColumns"
          type="table"/>
        <InputSetRef
          def="RuleComparisonColumnHeadingsInputSet(controller, {DisplayKey.get(&quot;BizRules.Import.Comparison.Existing&quot;,navSupport.VersionController.getLabelForExistingVersion(version1,false)), DisplayKey.get(&quot;BizRules.Import.Comparison.Importing&quot;,navSupport.VersionController.getLabelForImportingVersion(version2))})"
          id="ComparisonHeadings"/>
        <InputSetRef
          def="RuleComparisonSectionLabelInputSet(controller, DisplayKey.get(&quot;BizRules.Import.Comparison.RuleDetails&quot;))"
          id="RuleDetailsSectionLabel"/>
        <InputSetRef
          def="RuleComparisonRowStringInputSet(controller.NameRow)"
          id="NameRow"/>
        <InputSetRef
          def="RuleComparisonRowStringInputSet(controller.CodeRow)"
          id="CodeRow"/>
        <InputSetRef
          def="RuleComparisonRowTypeKeyInputSet(controller.CheckingSetRow)"
          id="CheckingSetRow"/>
        <InputSetRef
          def="RuleComparisonRowTypeKeyInputSet(controller.BlockingPointRow)"
          id="BlockingPointRow"/>
        <InputSetRef
          def="RuleComparisonRowTypeKeyInputSet(controller.DefaultDurationRow)"
          id="DefaultDurationRow"/>
        <InputSetRef
          def="RuleComparisonRowTextAreaInputSet(controller.DescriptionRow)"
          id="DescriptionRow"
          visible="controller.DescriptionRowVisible"/>
        <InputSetRef
          def="RuleComparisonRowBooleanInputSet(controller.AvailableToRunRow)"
          id="AvailableToRunRow"
          visible="controller.AvailableToRunRowVisible"/>
        <InputSetRef
          def="RuleComparisonRowDateInputSet(controller.StartDateRow)"
          id="StartDateRow"
          visible="controller.StartDateRowVisible"/>
        <InputSetRef
          def="RuleComparisonRowDateInputSet(controller.EndDateRow)"
          id="EndDateRow"
          visible="controller.EndDateRowVisible"/>
        <InputSetRef
          def="RuleComparisonSectionLabelInputSet(controller, DisplayKey.get('Web.BizRules.UWRulePanelSet.RuleContextTitle'))"
          id="ContextSectionLabel"
          visible="controller.RuleContextVisible"/>
        <InputSetRef
          def="RuleComparisonRowTypeKeyInputSet(controller.ContextRow)"
          id="ContextRow"
          visible="controller.RuleContextVisible"/>
        <InputSetRef
          def="RuleComparisonSectionLabelInputSet(controller, DisplayKey.get('Web.BizRules.UWRules.Comparison.ApplicabilityCriteria'))"
          id="ApplicabilityCriteriaSectionLabel"
          visible="controller.ApplicabilityCriteriaHeaderVisible"/>
        <InputSetRef
          def="RuleComparisonRowListInputSet(controller.PolicyLineRow)"
          id="PolicyLineRowRow"
          visible="controller.PolicyLineRowVisible"/>
        <InputSetRef
          def="RuleComparisonRowListInputSet(controller.JurisdictionRow)"
          id="StateRow"
          visible="controller.JurisdictionRowVisible"/>
        <InputSetRef
          def="RuleComparisonRowListInputSet(controller.PolicyTransactionRow)"
          id="PolicyTransactionRow"
          visible="controller.PolicyTransactionRowVisible"/>
        <InputSetRef
          def="RuleComparisonVariablesSectionInputSet(controller)"
          id="RuleVariables"
          visible="controller.RuleVariablesVisible"/>
        <InputSetRef
          def="RuleComparisonConditionInputSet(controller)"
          id="RuleCondition"
          visible="controller.RuleConditionVisible"/>
        <InputSetRef
          def="RuleComparisonActionsInputSet(controller)"
          id="RuleActions"
          visible="controller.ActionsVisible"/>
        <InputSetRef
          def="RuleComparisonSectionLabelInputSet(controller, DisplayKey.get(&quot;Web.BizRules.UWRulePanelSet.AdvancedInfoTitle&quot;))"
          id="AdvancedSectionLabel"/>
        <InputSetRef
          def="RuleComparisonRowBooleanInputSet(controller.AutoApprovableRow)"
          id="AutoApprovableRow"/>
        <InputSetRef
          def="RuleComparisonRowBooleanInputSet(controller.DefaultEditBeforeBindRow)"
          id="DefaultEditBeforeBindRow"/>
        <InputSetRef
          def="RuleComparisonRowTypeKeyInputSet(controller.DefaultApprovalBlockingPointRow)"
          id="DefaultApprovalBlockingPointRow"/>
        <InputSetRef
          def="RuleComparisonRowTypeKeyInputSet(controller.ComparatorRow)"
          id="ComparatorRow"/>
        <InputSetRef
          def="RuleComparisonRowTypeKeyInputSet(controller.ValueFormatterTypeRow)"
          id="ValueFormatterTypeRow"/>
        <InputSetRef
          def="RuleComparisonRowTypeKeyInputSet(controller.DefaultValueAssignmentTypeRow)"
          id="DefaultValueAssignmentTypeRow"/>
        <InputSetRef
          def="RuleComparisonRowStringInputSet(controller.DefaultValueOffsetAmountRow)"
          id="DefaultValueOffsetAmountRow"/>
        <InputSetRef
          def="RuleComparisonRowTypeKeyInputSet(controller.DefaultValueOffsetCurrencyRow)"
          id="DefaultValueOffsetCurrencyRow"/>
      </DetailViewPanel>
    </Screen>
  </Popup>
</PCF>
