<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <PanelSet
    editable="version.Rule.Editable"
    id="UWRulePanelSet">
    <Require
      name="version"
      type="RuleVersion"/>
    <Require
      name="importingVersion"
      type="boolean"/>
    <Require
      name="controller"
      type="gw.bizrules.pcf.RulePageController"/>
    <Variable
      initialValue="new gw.web.bizrules.UWRulePanelSetHelper(version, controller, CurrentLocation)"
      name="helper"
      recalculateOnRefresh="true"
      type="gw.web.bizrules.UWRulePanelSetHelper"/>
    <Variable
      initialValue="version.Rule as UWRule"
      name="uwRule"
      recalculateOnRefresh="true"
      type="UWRule"/>
    <Variable
      initialValue="new gw.web.bizrules.UWRuleInteractiveWidgetSet(uwRule, controller)"
      name="interactiveWidgets"
      recalculateOnRefresh="true"
      type="gw.web.bizrules.UWRuleInteractiveWidgetSet"/>
    <Variable
      initialValue="interactiveWidgets.createParameterCache()"
      name="valueParamCache"
      type="gw.web.bizrules.UWRuleInteractiveWidgetSet.ValueParameterCache"/>
    <CardViewPanel>
      <Card
        id="RuleDetails"
        title="DisplayKey.get('Web.BizRules.UWRulePanelSet.RuleDetailsTitle')">
        <DetailViewPanel>
          <InputColumn>
            <TextInput
              editable="true"
              id="Name"
              label="DisplayKey.get('Web.BizRules.UWRulePanelSet.RuleName')"
              required="true"
              value="helper.Name">
              <PostOnChange/>
            </TextInput>
            <TextInput
              editable="uwRule.isFirstVersion()"
              id="Code"
              label="DisplayKey.get(&quot;Web.BizRules.UWRulePanelSet.Code&quot;)"
              required="true"
              validationExpression="uwRule.UWIssueType.CodeUnique ? null : DisplayKey.get(&quot;Web.BizRules.UWRulePanelSet.CodeIsNotUnique&quot;)"
              value="uwRule.UWIssueType.Code">
              <PostOnChange/>
            </TextInput>
            <TypeKeyInput
              editable="true"
              filter="TriggeringPointKey.TF_UWRULECHECKINGSETFILTER.TypeKeys.contains(VALUE)"
              id="TriggeringPointKey"
              label="DisplayKey.get('Web.BizRules.UWRulePanelSet.CheckingSet')"
              required="true"
              value="uwRule.TriggeringPointKey"
              valueType="typekey.TriggeringPointKey">
              <PostOnChange
                deferUpdate="false"
                onChange="if (!gw.bizrules.BizRulesComponentMapper.getInstance().isSupportedContextForTriggeringPoint(uwRule.TriggeringPointKey, controller.RuleContextDefinitionKey)) {controller.RuleContextDefinitionKey = null}"/>
            </TypeKeyInput>
            <TypeKeyInput
              editable="true"
              id="BlockingPoint"
              label="DisplayKey.get('Web.BizRules.UWRulePanelSet.BlockingPoint')"
              value="uwRule.UWIssueType.BlockingPoint"
              valueType="typekey.UWIssueBlockingPoint"/>
            <TypeKeyInput
              editable="true"
              id="DefaultDurationType"
              label="DisplayKey.get('Web.BizRules.UWRulePanelSet.DefaultDurationType')"
              value="uwRule.UWIssueType.DefaultDurationType"
              valueType="typekey.UWApprovalDurationType"/>
            <InputSetRef
              def="AvailableToRunInputSet(version)"
              visible="not uwRule.ExternallyManaged"/>
          </InputColumn>
          <InputColumn>
            <InputSetRef
              def="RuleManagementAuditLinkInputSet(gw.bizrules.PCBizRulesNavigationSupport.Instance.VersionController, importingVersion, version)"
              visible="not uwRule.ExternallyManaged"/>
            <TextInput
              id="VersionId"
              label="DisplayKey.get('Web.BizRules.Rule.GlobalVersionId')"
              value="version.GlobalVersionID"
              visible="not uwRule.ExternallyManaged"/>
            <TextAreaInput
              editable="true"
              id="Description"
              label="DisplayKey.get('Web.BizRules.Rule.RuleDescription')"
              numRows="5"
              required="false"
              value="uwRule.Description"
              visible="not uwRule.ExternallyManaged"/>
            <DateInput
              editable="true"
              id="RuleStartDate"
              label="DisplayKey.get('Web.BizRules.UWRules.ApplicabilityCriteria.RuleStartDate')"
              value="helper.RuleStartDate"
              visible="not uwRule.ExternallyManaged"/>
            <DateInput
              editable="true"
              id="RuleEndDate"
              label="DisplayKey.get('Web.BizRules.UWRules.ApplicabilityCriteria.RuleEndDate')"
              validationExpression="helper.validateRuleEnd()"
              value="helper.RuleEndDate"
              visible="not uwRule.ExternallyManaged"/>
          </InputColumn>
        </DetailViewPanel>
        <PanelRef
          id="ApplicabilityCriteria"
          visible="not uwRule.ExternallyManaged">
          <TitleBar
            title="DisplayKey.get('Web.BizRules.UWRulePanelSet.ApplicabilityCriteriaTitle')"/>
          <DetailViewPanel>
            <InputColumn>
              <InputSetRef
                def="ApplicabilityCriteriaInputSet(helper.LinesOfBusinessBundle)"
                id="PolicyLines"/>
              <InputSetRef
                def="ApplicabilityCriteriaInputSet(helper.JurisdictionsBundle)"
                id="Jurisdictions"/>
              <InputSetRef
                def="ApplicabilityCriteriaInputSet(helper.PolicyTransactionsBundle)"
                id="PolicyTransactions"/>
            </InputColumn>
          </DetailViewPanel>
        </PanelRef>
        <PanelRef
          id="RuleContext"
          visible="not uwRule.ExternallyManaged">
          <TitleBar
            title="DisplayKey.get('Web.BizRules.UWRulePanelSet.RuleContextTitle')"/>
          <DetailViewPanel>
            <InputColumn>
              <TypeKeyInput
                editable="true"
                filter="helper.isContextDefinitionsAvailable(VALUE)"
                id="RuleContextDefinitionKey"
                label="DisplayKey.get('BizRules.RuleDetailsPage.Context')"
                required="true"
                value="controller.RuleContextDefinitionKey"
                valueType="typekey.RuleContextDefinitionKey">
                <PostOnChange/>
              </TypeKeyInput>
              <TextInput
                id="ContextDescription"
                value="controller.RuleContextDefinitionKeyDescription"/>
            </InputColumn>
          </DetailViewPanel>
        </PanelRef>
        <PanelRef
          def="RuleVariablesPanelSet(controller.RuleVariableController)"
          visible="not uwRule.ExternallyManaged">
          <TitleBar
            id="RuleVariableTitle"
            title="DisplayKey.get('Web.BizRules.UWRulePanelSet.RuleVariableTitle')"/>
        </PanelRef>
        <PanelRef
          def="ConditionBuilderPanelSet(controller.ConditionBuilderController)"
          visible="not uwRule.ExternallyManaged">
          <TitleBar
            title="DisplayKey.get('Web.BizRules.UWRulePanelSet.RuleConditionTitle')"/>
        </PanelRef>
        <PanelRef
          def="UWIssueCommandDefinitionDV(controller, helper, interactiveWidgets)"
          visible="not uwRule.ExternallyManaged">
          <TitleBar
            title="DisplayKey.get('Web.BizRules.UWRulePanelSet.UWIssueTitle')"/>
        </PanelRef>
      </Card>
      <Card
        id="AdvancedInfo"
        title="DisplayKey.get('Web.BizRules.UWRulePanelSet.AdvancedInfoTitle')">
        <DetailViewPanel>
          <InputColumn>
            <BooleanRadioInput
              editable="true"
              id="AutoApprovable"
              label="DisplayKey.get('Web.BizRules.UWRulePanelSet.AutoApprovable')"
              value="uwRule.UWIssueType.AutoApprovable"/>
            <BooleanRadioInput
              editable="true"
              id="DefaultEditBeforeBind"
              label="DisplayKey.get('Web.BizRules.UWRulePanelSet.DefaultEditBeforeBind')"
              value="uwRule.UWIssueType.DefaultEditBeforeBind"/>
            <TypeKeyInput
              editable="true"
              id="DefaultApprovalBlockingPoint"
              label="DisplayKey.get('Web.BizRules.UWRulePanelSet.DefaultApprovalBlockingPoint')"
              value="uwRule.UWIssueType.DefaultApprovalBlockingPoint"
              valueType="typekey.UWIssueBlockingPoint"/>
            <TypeKeyInput
              editable="interactiveWidgets.Comparator.Editable"
              id="Comparator"
              label="DisplayKey.get('Web.BizRules.UWRulePanelSet.ValueComparator')"
              required="true"
              value="interactiveWidgets.Comparator.Value"
              valueType="typekey.ValueComparator"
              visible="interactiveWidgets.Comparator.Visible">
              <PostOnChange
                onChange="interactiveWidgets.ValueParameter.onComparatorChange(valueParamCache)"/>
            </TypeKeyInput>
            <TypeKeyInput
              editable="interactiveWidgets.Formatter.Editable"
              filter="interactiveWidgets.Formatter.filter(VALUES)"
              id="ValueFormatterType"
              label="DisplayKey.get('Web.BizRules.UWRulePanelSet.ValueFormatterType')"
              required="true"
              value="interactiveWidgets.Formatter.Value"
              valueType="typekey.ValueFormatterType"
              visible="interactiveWidgets.Formatter.Visible"/>
            <TypeKeyInput
              editable="interactiveWidgets.AssignmenType.Editable"
              id="DefaultValueAssignmentType"
              label="DisplayKey.get('Web.BizRules.UWRulePanelSet.DefaultValueAssignmentType')"
              value="interactiveWidgets.AssignmenType.Value"
              valueType="typekey.UWValueAssignmentType"
              visible="interactiveWidgets.AssignmenType.Visible"/>
            <TextInput
              editable="interactiveWidgets.OffsetAmount.Editable"
              id="DefaultValueOffsetAmount"
              label="DisplayKey.get('Web.BizRules.UWRulePanelSet.DefaultValueOffsetAmount')"
              value="interactiveWidgets.OffsetAmount.Value"
              valueType="java.math.BigDecimal"
              visible="interactiveWidgets.OffsetAmount.Visible"/>
            <TypeKeyInput
              editable="interactiveWidgets.OffsetCurrency.Editable"
              id="DefaultValueOffsetCurrency"
              label="DisplayKey.get('Web.BizRules.UWRulePanelSet.DefaultValueOffsetCurrency')"
              value="interactiveWidgets.OffsetCurrency.Value"
              valueType="typekey.Currency"
              visible="interactiveWidgets.OffsetCurrency.Visible"/>
          </InputColumn>
        </DetailViewPanel>
      </Card>
    </CardViewPanel>
    <PanelDivider/>
  </PanelSet>
</PCF>
