<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    canEdit="perm.System.editoutboundfiles"
    id="OutboundConfigPopup"
    title="DisplayKey.get(&quot;OutboundFile.Config.Title&quot;)">
    <Screen
      id="OutboundConfigScreen">
      <Variable
        initialValue="gw.api.database.Query.make(OutboundFileLocalConfig).select().toList()"
        name="localConfigsList"
        recalculateOnRefresh="true"
        type="List&lt;entity.OutboundFileLocalConfig&gt;"/>
      <Variable
        initialValue="gw.api.database.Query.make(OutboundFileS3Config).select().toList()"
        name="s3ConfigList"
        recalculateOnRefresh="true"
        type="List&lt;entity.OutboundFileS3Config&gt;"/>
      <TitleBar
        title="DisplayKey.get(&quot;OutboundFile.Config.Title&quot;)"/>
      <CardViewPanel>
        <Card
          id="ConfigsLocalCard"
          title="DisplayKey.get(&quot;OutboundFile.Config.LocalConfig&quot;)">
          <PanelRef>
            <Toolbar
              id="LocalToolbar">
              <ToolbarButton
                action="NewOutboundLocalConfigPopup.push()"
                id="OutboundConfigNewButton"
                label="DisplayKey.get(&quot;Button.Add&quot;)"
                showConfirmMessage="false"
                visible="perm.System.editoutboundfiles"/>
              <EditButtons
                cancelVisible="false"/>
              <CheckedValuesToolbarButton
                allCheckedRowsAction="deleteConfigs(CheckedValues)"
                confirmMessage="DisplayKey.get(&quot;RuntimeProperties.Property.Delete.Selected.Confirmation&quot;)"
                id="ConfigsDeleteButton"
                iterator="LocalConfigsIterator"
                label="DisplayKey.get(&quot;Button.Delete&quot;)"
                visible="perm.System.editoutboundfiles"/>
            </Toolbar>
            <ListViewPanel
              id="OutboundLocalConfigsLV">
              <RowIterator
                editable="true"
                elementName="outboundConfig"
                hasCheckBoxes="true"
                id="LocalConfigsIterator"
                value="localConfigsList"
                valueType="java.util.List&lt;entity.OutboundFileLocalConfig&gt;">
                <Row>
                  <TextCell
                    editable="true"
                    id="Name"
                    label="DisplayKey.get(&quot;OutboundFile.Config.Name&quot;)"
                    sortOrder="1"
                    value="outboundConfig.Name"
                    valueType="String"/>
                  <TextCell
                    editable="true"
                    id="ConfigTemporaryDir"
                    label="DisplayKey.get(&quot;OutboundFile.Config.TemporaryDirectory&quot;)"
                    sortOrder="2"
                    value="outboundConfig.TemporaryDirectory"/>
                  <TextCell
                    editable="true"
                    id="ConfigPermanentDir"
                    label="DisplayKey.get(&quot;OutboundFile.Config.PermanentDirectory&quot;)"
                    sortOrder="3"
                    value="outboundConfig.PermanentDirectory"/>
                  <TextCell
                    editable="true"
                    id="ConfigPrefix"
                    label="DisplayKey.get(&quot;OutboundFile.Config.Prefix&quot;)"
                    sortOrder="4"
                    value="outboundConfig.Prefix"/>
                  <TextCell
                    editable="true"
                    id="ConfigExtension"
                    label="DisplayKey.get(&quot;OutboundFile.Config.Extension&quot;)"
                    sortOrder="5"
                    value="outboundConfig.Extension"/>
                  <TextCell
                    editable="true"
                    id="HandlerClass"
                    label="DisplayKey.get(&quot;OutboundFile.Config.HandlerClass&quot;)"
                    validationExpression="com.guidewire.outboundfile.batch.file.OutboundFileUtils.validateFileHandlerAndDisplayError(outboundConfig.FileHandlerClass)"
                    sortOrder="6"
                    value="outboundConfig.FileHandlerClass"/>
                  <TextCell
                    editable="true"
                    id="DaysTillPurge"
                    label="DisplayKey.get(&quot;OutboundFile.Config.DaysTillPurge&quot;)"
                    value="outboundConfig.DaysTillPurge"
                    sortOrder="7"
                    valueType="java.lang.Integer"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
        </Card>
        <Card
          id="ConfigsS3Card"
          title="DisplayKey.get(&quot;OutboundFile.Config.S3Config&quot;)">
          <PanelRef>
            <Toolbar
              id="S3Toolbar">
              <ToolbarButton
                action="NewOutboundS3ConfigPopup.push()"
                id="OutboundConfigNewButton"
                label="DisplayKey.get(&quot;Button.Add&quot;)"
                showConfirmMessage="false"
                visible="perm.System.editoutboundfiles"/>
              <EditButtons
                cancelVisible="false"/>
              <CheckedValuesToolbarButton
                allCheckedRowsAction="deleteConfigs(CheckedValues)"
                confirmMessage="DisplayKey.get(&quot;RuntimeProperties.Property.Delete.Selected.Confirmation&quot;)"
                id="ConfigsDeleteButton"
                iterator="S3ConfigsIterator"
                label="DisplayKey.get(&quot;Button.Delete&quot;)"
                visible="perm.System.editoutboundfiles"/>
            </Toolbar>
            <ListViewPanel
              id="OutboundS3ConfigsLV">
              <RowIterator
                editable="true"
                elementName="outboundConfig"
                hasCheckBoxes="true"
                id="S3ConfigsIterator"
                value="s3ConfigList"
                valueType="java.util.List&lt;entity.OutboundFileS3Config&gt;">
                <Row>
                  <TextCell
                    editable="true"
                    id="ConfigName"
                    label="DisplayKey.get(&quot;OutboundFile.Config.Name&quot;)"
                    sortOrder="1"
                    value="outboundConfig.Name"
                    valueType="String"/>
                  <TextCell
                    editable="true"
                    id="ConfigProfile"
                    label="DisplayKey.get(&quot;OutboundFile.Config.UserProfile&quot;)"
                    sortOrder="2"
                    value="outboundConfig.ProfileName"
                    valueType="String"/>
                  <TextCell
                    editable="true"
                    id="ConfigTemporaryDir"
                    label="DisplayKey.get(&quot;OutboundFile.Config.TemporaryDirectory&quot;)"
                    sortOrder="3"
                    value="outboundConfig.TemporaryDirectory"/>
                  <TextCell
                    editable="true"
                    id="ConfigBucket"
                    label="DisplayKey.get(&quot;OutboundFile.Config.PermanentBucket&quot;)"
                    sortOrder="4"
                    value="outboundConfig.DestinationS3Bucket"/>
                  <TextCell
                    editable="true"
                    id="ConfigS3Prefix"
                    label="DisplayKey.get(&quot;OutboundFile.Config.PermanentPrefix&quot;)"
                    sortOrder="4"
                    value="outboundConfig.DestinationS3Prefix"/>
                  <TextCell
                    editable="true"
                    id="ConfigPrefix"
                    label="DisplayKey.get(&quot;OutboundFile.Config.Prefix&quot;)"
                    sortOrder="5"
                    value="outboundConfig.Prefix"/>
                  <TextCell
                    editable="true"
                    id="ConfigExtension"
                    label="DisplayKey.get(&quot;OutboundFile.Config.Extension&quot;)"
                    sortOrder="6"
                    value="outboundConfig.Extension"/>
                  <TextCell
                    editable="true"
                    id="ConfigHandlerClass"
                    label="DisplayKey.get(&quot;OutboundFile.Config.HandlerClass&quot;)"
                    validationExpression="com.guidewire.outboundfile.batch.file.OutboundFileUtils.validateFileHandlerAndDisplayError(outboundConfig.FileHandlerClass)"
                    sortOrder="7"
                    value="outboundConfig.FileHandlerClass"/>
                  <TextCell
                    editable="true"
                    id="ConfigDaysTillPurge"
                    label="DisplayKey.get(&quot;OutboundFile.Config.DaysTillPurge&quot;)"
                    value="outboundConfig.DaysTillPurge"
                    sortOrder="8"
                    valueType="java.lang.Integer"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
        </Card>
      </CardViewPanel>
    </Screen>
    <Code>function deleteConfigs(configs : OutboundFileConfig[]) : void {
      var bundle = gw.transaction.Transaction.newBundle()
      for (src in configs) {
        src = bundle.add(src)
        src.remove()
      }
      bundle.commit()
    }
    </Code>
  </Popup>
</PCF>