<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Popup
    canEdit="false"
    id="DriverMVRInfoPopup"
    title="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.MotorVehicleRecords&quot;)">
    <LocationEntryPoint
      signature="DriverMVRInfoPopup(mvrOrderArray : gw.api.motorvehiclerecord.IMVROrder[])"/>
    <Variable
      name="mvrOrderArray"
      type="gw.api.motorvehiclerecord.IMVROrder[]"/>
    <Variable
      initialValue="mvrOrderArray*.MVRData"
      name="allMVRs"
      type="gw.api.motorvehiclerecord.IMVRData[]"/>
    <Screen>
      <Toolbar/>
      <ListDetailPanel
        id="MVRList"
        selectionName="selectedMVR"
        selectionType="gw.api.motorvehiclerecord.IMVRData">
        <Variable
          initialValue="new gw.webservice.LazyUpdater&lt;gw.api.motorvehiclerecord.IMVRData, gw.api.motorvehiclerecord.IMVRIncident[]&gt;(selectedMVR)"
          name="lazyUpdater"
          type="gw.webservice.LazyUpdater&lt;gw.api.motorvehiclerecord.IMVRData, gw.api.motorvehiclerecord.IMVRIncident[]&gt;"/>
        <ListViewPanel>
          <RowIterator
            editable="false"
            elementName="currentMVR"
            id="MVRRowIterator"
            value="allMVRs"
            valueType="gw.api.motorvehiclerecord.IMVRData[]">
            <Row>
              <DateCell
                id="ReportDate"
                label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.ReportDate&quot;)"
                sortDirection="descending"
                sortOrder="1"
                value="currentMVR.ReportDate"/>
              <DateCell
                dateFormat="short"
                id="RequestedDate"
                label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.RequestedDate&quot;)"
                sortDirection="descending"
                sortOrder="2"
                timeFormat="short"
                value="currentMVR.MVROrderParent.ReportRequestedDate"/>
              <TextCell
                align="center"
                id="YearsRequested"
                label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.YearsRequested&quot;)"
                value="currentMVR.YearsRequested"
                valueType="java.lang.Integer"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
        <CardViewPanel>
          <Card
            id="DriverCard"
            title="DisplayKey.get(&quot;Web.Policy.PolicyDriver&quot;)">
            <PanelRef
              def="MVRDriverDV(selectedMVR)"/>
          </Card>
          <Card
            id="Incidents"
            title="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.Incidents&quot;)">
            <ListDetailPanel
              id="MVRIncidentLDV"
              selectionName="mvrIncident"
              selectionType="gw.api.motorvehiclerecord.IMVRIncident">
              <Variable
                initialValue="lazyUpdater.refresh(selectedMVR, \ sMVR -&gt; sMVR.Incidents)"
                name="refresher"
                recalculateOnRefresh="true"
                type="boolean"/>
              <ListViewPanel>
                <RowIterator
                  editable="true"
                  elementName="incident"
                  pageSize="0"
                  value="lazyUpdater.DependentComponent"
                  valueType="gw.api.motorvehiclerecord.IMVRIncident[]">
                  <Row>
                    <TypeKeyCell
                      id="RecordType"
                      label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.RecordType&quot;)"
                      value="incident.getIncidentType()"
                      valueType="typekey.MVRIncidentType"/>
                    <DateCell
                      id="ViolationDate"
                      label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.ViolationDate&quot;)"
                      sortOrder="1"
                      value="incident.getViolationDate()"/>
                    <DateCell
                      id="ConvictionDate"
                      label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.ConvictionDate&quot;)"
                      value="incident.getConvictionDate()"/>
                    <TextCell
                      id="Description"
                      label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.Description&quot;)"
                      sortOrder="2"
                      value="incident.getDescription()"/>
                    <TextCell
                      id="Location"
                      label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.Location&quot;)"
                      value="incident.getLocation()"/>
                    <TextCell
                      id="Code"
                      label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.ViolationCode&quot;)"
                      value="incident.getViolationCode()"/>
                    <TextCell
                      align="center"
                      id="Points"
                      label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.Points&quot;)"
                      value="incident.getPoints()"
                      valueType="java.lang.Integer"/>
                  </Row>
                </RowIterator>
              </ListViewPanel>
              <CardViewPanel
                hideTabIfSingle="true">
                <Card
                  id="MVRIncidentCard"
                  title="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.IncidentDetails&quot;)">
                  <DetailViewPanel>
                    <InputColumn>
                      <TypeKeyInput
                        id="IncidentType"
                        label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.RecordType&quot;)"
                        value="mvrIncident.IncidentType"
                        valueType="typekey.MVRIncidentType"/>
                      <TextInput
                        id="IncidentDescription"
                        label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.Description&quot;)"
                        value="mvrIncident.Description"/>
                      <TextInput
                        id="IncidentCode"
                        label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.CarrierViolationCode&quot;)"
                        value="mvrIncident.CarrierViolationCode"/>
                      <TextInput
                        id="IncidentPoints"
                        label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.Points&quot;)"
                        value="mvrIncident.Points"
                        valueType="java.lang.Integer"/>
                      <TextInput
                        id="IncidentLocation"
                        label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.Location&quot;)"
                        value="mvrIncident.Location"/>
                      <TextInput
                        id="IncidentState"
                        label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.State&quot;)"
                        value="mvrIncident.State"/>
                      <TextInput
                        id="IncidentStateCode"
                        label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.ViolationCode&quot;)"
                        value="mvrIncident.ViolationCode "/>
                      <TextInput
                        id="IncidentCourt"
                        label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.Court&quot;)"
                        value="mvrIncident.Court"/>
                    </InputColumn>
                    <InputColumn>
                      <DateInput
                        id="IncidentViolDate"
                        label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.ViolationDate&quot;)"
                        value="mvrIncident.ViolationDate"/>
                      <DateInput
                        id="IncidentConvReinDate"
                        label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.ConvictionDate&quot;)"
                        value="mvrIncident.ConvictionDate"/>
                      <DateInput
                        id="IncidentEligibleDate"
                        label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.EligibleDate&quot;)"
                        value="mvrIncident.EligibleDate"/>
                      <TextInput
                        id="IncidentViolationNumber"
                        label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.ViolationNumber&quot;)"
                        value="mvrIncident.OrderNumber"/>
                      <TextInput
                        id="IncidentDisposition"
                        label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.Disposition&quot;)"
                        value="mvrIncident.Disposition"/>
                      <TextInput
                        id="IncidentVehicleSpeed"
                        label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.VehicleSpeed&quot;)"
                        value="mvrIncident.Speed"/>
                      <TextInput
                        id="IncidentSpeedZone"
                        label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.SpeedZone&quot;)"
                        value="mvrIncident.SpeedZone"/>
                      <TextInput
                        id="IncidentAccidentInvolved"
                        label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.AccidentInvolved&quot;)"
                        value="mvrIncident.Accident"/>
                    </InputColumn>
                  </DetailViewPanel>
                </Card>
              </CardViewPanel>
            </ListDetailPanel>
          </Card>
          <Card
            id="AdditionalInfo"
            title="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.AdditionalInfo&quot;)">
            <PanelRef>
              <TitleBar
                id="MiscTitleBar"
                title="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.SpecificInformation&quot;)"/>
              <DetailViewPanel>
                <InputColumn>
                  <Label
                    id="MiscellaneousInfo"
                    label="selectedMVR.Miscellaneous"/>
                </InputColumn>
              </DetailViewPanel>
            </PanelRef>
            <PanelRef>
              <TitleBar
                id="AdditionalDriversTitle"
                title="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.AdditionalDrivers&quot;)"/>
              <DetailViewPanel>
                <InputColumn>
                  <Label
                    id="AdditionalDriversInfo"
                    label="selectedMVR.AdditionalDrivers"/>
                </InputColumn>
              </DetailViewPanel>
            </PanelRef>
          </Card>
        </CardViewPanel>
      </ListDetailPanel>
    </Screen>
  </Popup>
</PCF>