<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="MVRDriverDV">
    <Require
      name="mvrDriver"
      type="gw.api.motorvehiclerecord.IMVRData"/>
    <InputColumn>
      <InputSet>
        <InputSetRef
          def="GlobalPersonNameInputSet(new gw.lob.pa.mvr.MVRDriverNameOwner(new gw.lob.pa.mvr.MVRDriverNameAdapter(mvrDriver)))"
          editable="false"
          mode="gw.api.name.NameLocaleSettings.PCFMode"/>
        <TextInput
          id="SSN"
          label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.SSN&quot;)"
          value="mvrDriver.SSN"/>
        <DateInput
          id="DOB"
          label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.DOB&quot;)"
          value="mvrDriver.DateOfBirth"/>
        <TypeKeyInput
          id="Gender"
          label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.Gender&quot;)"
          value="mvrDriver.Gender"
          valueType="typekey.GenderType"/>
        <TextInput
          id="Address"
          label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.Address&quot;)"
          value="mvrDriver.Address"/>
      </InputSet>
    </InputColumn>
    <InputColumn>
      <InputSet>
        <TextInput
          id="Height"
          label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.Height&quot;)"
          value="mvrDriver.Height"/>
        <TextInput
          id="Weight"
          label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.Weight&quot;)"
          value="mvrDriver.Weight"/>
        <TextInput
          id="Eyes"
          label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.Eyes&quot;)"
          value="mvrDriver.Eyes"/>
        <TextInput
          id="Hair"
          label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.Hair&quot;)"
          value="mvrDriver.Hair"/>
        <TextInput
          id="Race"
          label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.Race&quot;)"
          value="mvrDriver.Race"/>
        <BooleanRadioInput
          id="Donor"
          label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.Donor&quot;)"
          value="mvrDriver.Donor"/>
      </InputSet>
    </InputColumn>
  </DetailViewPanel>
</PCF>