<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="MVRIncidentLV">
    <Require
      name="driverMVRArr"
      type="gw.api.motorvehiclerecord.IMVRData[]"/>
    <RowIterator
      editable="false"
      elementName="incident"
      pageSize="0"
      value="driverMVRArr*.getIncidents()"
      valueType="gw.api.motorvehiclerecord.IMVRIncident[]"
      visible="driverMVRArr != null">
      <Row>
        <TypeKeyCell
          id="RecordType"
          label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.RecordType&quot;)"
          value="incident.getIncidentType()"
          valueType="typekey.MVRIncidentType"/>
        <DateCell
          id="ViolationDate"
          label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.ViolationDate&quot;)"
          sortOrder="1"
          value="incident.getViolationDate()"/>
        <DateCell
          id="ConvictionDate"
          label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.ConvictionDate&quot;)"
          value="incident.getConvictionDate()"/>
        <TextCell
          id="Description"
          label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.Description&quot;)"
          sortOrder="2"
          value="incident.getDescription()"/>
        <TextCell
          id="Location"
          label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.Location&quot;)"
          value="incident.getLocation()"/>
        <TextCell
          id="Code"
          label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.ViolationCode&quot;)"
          value="incident.getViolationCode()"/>
        <TextCell
          align="center"
          id="Points"
          label="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord.Points&quot;)"
          value="incident.getPoints()"
          valueType="java.lang.Integer"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>