<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="PADriversPanelSet">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="paLine"
      type="PersonalAutoLine"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Variable
      initialValue="gw.plugin.Plugins.get(gw.plugin.contact.IContactConfigPlugin)"
      name="contactConfigPlugin"
      type="gw.plugin.contact.IContactConfigPlugin"/>
    <Variable
      initialValue="paLine.UnassignedDrivers"
      name="unassignedDrivers"
      recalculateOnRefresh="true"
      type="entity.AccountContact[]"/>
    <ListDetailPanel
      id="DriversListDetailPanel"
      selectionName="selectedDriver"
      selectionType="PolicyDriver">
      <PanelRef>
        <TitleBar
          id="DriverDetailTitle"
          title="DisplayKey.get(&quot;Web.PolicyLine.DriverDetail&quot;)"/>
        <Toolbar
          visible="openForEdit">
          <AddButton
            hideIfReadOnly="true"
            id="AddDriver"
            iterator="DriverIterator"
            label="DisplayKey.get(&quot;Button.Add&quot;)">
            <AddMenuItemIterator
              elementName="contactType"
              value="contactConfigPlugin.getAllowedContactTypesForPolicyContactRoleType(typekey.PolicyContactRole.TC_POLICYDRIVER)"
              valueType="typekey.ContactType[]">
              <IteratorSort
                sortBy="contactType.DisplayName"
                sortOrder="1"/>
              <AddMenuItem
                id="ContactType"
                iterator="DriverIterator"
                label="DisplayKey.get(&quot;Web.Contact.AddNewOfType&quot;, contactType)"
                pickLocation="NewPolicyDriverPopup.push(paLine, contactType)"/>
            </AddMenuItemIterator>
            <AddMenuItem
              conversionExpression="paLine.addNewPolicyDriverForContact(PickedValue)"
              id="AddFromSearch"
              iterator="DriverIterator"
              label="DisplayKey.get(&quot;Web.Policy.Contact.FromAddressBook&quot;)"
              pickLocation="ContactSearchPopup.push(TC_DRIVER)"/>
            <AddMenuItem
              id="AddExistingContact"
              iterator="DriverIterator"
              label="DisplayKey.get(&quot;Web.Policy.Contact.AddExisting&quot;, PolicyDriver.Type.TypeInfo.DisplayName)"
              visible="!policyPeriod.Promoted and unassignedDrivers.HasElements">
              <AddMenuItemIterator
                elementName="unassignedDriver"
                id="ContactOfSameType"
                value="unassignedDrivers"
                valueType="entity.AccountContact[]">
                <AddMenuItem
                  id="UnassignedDriver"
                  iterator="DriverIterator"
                  label="unassignedDriver"
                  toCreateAndAdd="paLine.addNewPolicyDriverForContact(unassignedDriver.Contact)"/>
              </AddMenuItemIterator>
            </AddMenuItem>
          </AddButton>
          <IteratorButtons
            addVisible="false"
            iterator="DriverIterator"
            removeVisible="true"/>
          <CheckedValuesToolbarButton
            allCheckedRowsAction="gw.web.line.pa.policy.PADriversPanelSetUIHelper.attachMVRToPolicyDriver(CurrentLocation, policyPeriod, CheckedValues)"
            id="RetrieveMVRButton"
            iterator="DriverIterator"
            label="DisplayKey.get(&quot;Web.PolicyLine.Drivers.RetrieveMVRButton&quot;)"/>
        </Toolbar>
        <ListViewPanel
          id="DriversLV">
          <RowIterator
            editable="openForEdit"
            elementName="driver"
            hasCheckBoxes="true"
            hideCheckBoxesIfReadOnly="true"
            id="DriverIterator"
            toRemove="gw.lob.pa.PALineStepsValidator.validateRemovingDriver( paLine, driver ); paLine.removePolicyDriver(driver)"
            value="paLine.PolicyDrivers"
            valueType="entity.PolicyDriver[]">
            <ToolbarFlag
              name="vehicle"/>
            <Row>
              <TextCell
                align="left"
                id="Name"
                label="DisplayKey.get(&quot;Web.PolicyLine.Drivers.FullName&quot;)"
                sortBy="driver.FirstName"
                sortOrder="1"
                value="driver.DisplayName"/>
              <TextCell
                align="left"
                id="LicenseNumber"
                label="DisplayKey.get(&quot;Web.PolicyLine.Drivers.LicenseNumber&quot;)"
                value="driver.LicenseNumber"/>
              <TypeKeyCell
                align="left"
                id="LicenseState"
                label="DisplayKey.get(&quot;Web.PolicyLine.Drivers.LicenseState&quot;)"
                value="driver.LicenseState"
                valueType="typekey.Jurisdiction"/>
              <TextCell
                id="MVRStatus"
                label="DisplayKey.get(&quot;Web.PolicyLine.Drivers.MVRStatus&quot;)"
                value="driver.MVROrderStatus"/>
              <DateCell
                id="StatusDate"
                label="DisplayKey.get(&quot;Web.PolicyLine.Drivers.StatusDate&quot;)"
                value="driver.refreshAndReturnPolicyDriverMVR().StatusDate"/>
              <TextCell
                align="center"
                id="DoNotOrderMVR"
                label="DisplayKey.get(&quot;Web.PolicyLine.Drivers.DoNotOrderMVR&quot;)"
                required="false"
                value="driver.DoNotOrderMVRDisplay"/>
              <LinkCell
                align="center"
                id="GoToContact"
                label="DisplayKey.get(&quot;Web.AccountContactsLV.GoToContact&quot;)">
                <Link
                  action="ContactForward.go(driver.AccountContactRole.AccountContact.Contact)"
                  icon="&quot;view_detail&quot;"
                  iconType="svgFileName"
                  id="GoToContactButton"
                  label="DisplayKey.get(&quot;Web.AccountContactsLV.GoToContact&quot;)"/>
              </LinkCell>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
      <CardViewPanel
        id="DriverDetailsCV">
        <Variable
          initialValue="gw.web.line.pa.policy.PADriversPanelSetUIHelper.getMVROrder(selectedDriver != null ? selectedDriver.refreshAndReturnPolicyDriverMVR() : null)"
          name="mvrOrder"
          recalculateOnRefresh="true"
          type="gw.api.motorvehiclerecord.IMVROrder"/>
        <Card
          id="PolicyContactDetailCard"
          title="DisplayKey.get(&quot;Web.AccountContacts.AccountDetail&quot;)">
          <PanelRef
            def="PolicyContactDetailsDV(selectedDriver, false)"/>
        </Card>
        <Card
          id="RolesCard"
          title="DisplayKey.get(&quot;Web.Admin.UserDetailDV.Roles&quot;)">
          <PanelIterator
            elementName="currentPolicyContactRole"
            id="PolicyContactRoleIterator"
            value="selectedDriver.Branch.PolicyContactRoles.where(\ pcr -&gt; pcr.AccountContactRole.AccountContact == selectedDriver.AccountContactRole.AccountContact)"
            valueType="entity.PolicyContactRole[]">
            <PanelRef
              def="PolicyContactRolePanelSet(currentPolicyContactRole)"
              mode="currentPolicyContactRole.Subtype"/>
          </PanelIterator>
        </Card>
        <Card
          id="AddressDetailCard"
          title="DisplayKey.get(&quot;Web.Contact.Addresses.Title&quot;)"
          visible="selectedDriver.AccountContactRole.AccountContact.Contact != null">
          <PanelRef
            def="AddressesPanelSet(selectedDriver.AccountContactRole.AccountContact.Contact,false, policyPeriod.Policy.Account, policyPeriod)"/>
        </Card>
        <Card
          id="MVRDetailCard"
          title="DisplayKey.get(&quot;Web.PersonalAuto.MotorVehicleRecord&quot;)">
          <PanelRef
            def="PersonalMotorVehicleRecordsDV(mvrOrder, selectedDriver)"
            id="MotorVehicleRecordCard"/>
          <PanelRef
            def="MVRIncidentLV(mvrOrder.MVRData)"
            id="MVRIncidentCard"
            visible="mvrOrder != null ? mvrOrder.OrderStatus == typekey.MVRStatus.TC_RECEIVED and not (mvrOrder.MVRResponse == typekey.MVRResponse.TC_NOTFOUND) : false"/>
        </Card>
      </CardViewPanel>
    </ListDetailPanel>
  </PanelSet>
</PCF>