<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="PersonalAuto_VehicleDV">
    <Require
      name="vehicle"
      type="PersonalVehicle"/>
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="line"
      type="PersonalAutoLine"/>
    <Require
      name="openForEdit"
      type="Boolean"/>
    <Variable
      name="totalPercentage"
      type="java.lang.Double"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.BasicVehicleInformation&quot;)"/>
      <TextInput
        id="VehicleNumber_DV"
        label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.VehicleNumber&quot;)"
        value="vehicle.VehicleNumber"
        valueType="java.lang.Integer"/>
      <TypeKeyInput
        editable="true"
        filter="VALUE.hasCategory(vehicle.PolicyLine.Subtype)"
        id="Type_DV"
        label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Type&quot;)"
        required="true"
        value="vehicle.VehicleType"
        valueType="typekey.VehicleType">
        <PostOnChange
          deferUpdate="false"/>
      </TypeKeyInput>
      <TextInput
        editable="true"
        id="Vin_DV"
        label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Vin&quot;)"
        required="true"
        value="vehicle.Vin">
        <PostOnChange
          deferUpdate="false"
          onChange="vehicle.setValuesBasedOnVin( vehicle.Vin )"/>
      </TextInput>
      <TextInput
        editable="true"
        id="Year_DV"
        label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Year&quot;)"
        value="vehicle.Year"
        valueType="java.lang.Integer"/>
      <TextInput
        editable="true"
        id="Make_DV"
        label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Make&quot;)"
        value="vehicle.Make"/>
      <TextInput
        editable="true"
        id="Model_DV"
        label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Model&quot;)"
        value="vehicle.Model"/>
      <TypeKeyInput
        editable="true"
        id="BodyType_DV"
        label="vehicle.VehicleType==TC_AUTO ? DisplayKey.get(&quot;Web.PolicyLine.Vehicle.BodyType&quot;) : DisplayKey.get(&quot;Web.PolicyLine.Vehicle.SubType&quot;)"
        value="vehicle.BodyType"
        valueType="typekey.BodyType"/>
      <TextInput
        editable="true"
        id="Color_DV"
        label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Color&quot;)"
        value="vehicle.Color"/>
      <TextInput
        editable="true"
        id="LicensePlate_DV"
        label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.LicensePlate&quot;)"
        value="vehicle.LicensePlate"/>
      <RangeInput
        editable="true"
        id="LicenseState_DV"
        label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.LicenseState&quot;)"
        required="true"
        value="vehicle.LicenseState"
        valueRange="State.getTypeKeys(false).where(\ s -&gt; s.hasCategory(vehicle.AccountLocation.Country))"
        valueType="typekey.State"/>
      <InputSetRef
        def="PAGarageLocationInputSet(vehicle, policyPeriod, openForEdit, jobWizardHelper)"/>
    <InputDivider/>
    <InputSetRef
      def="PersonalAuto_AssignDriversInputSet(vehicle, policyPeriod, line, openForEdit)"/>
    </InputColumn>
    <InputColumn>
      <MonetaryAmountInput
        currency="vehicle.PreferredCoverageCurrency"
        editable="true"
        formatType="currency"
        id="CostNew_DV"
        label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.CostNew&quot;)"
        required="true"
        value="vehicle.CostNew"/>
      <MonetaryAmountInput
        currency="vehicle.PreferredCoverageCurrency"
        editable="true"
        formatType="currency"
        id="StatedValue_DV"
        label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.StatedValue&quot;)"
        value="vehicle.StatedValue"/>
      <BooleanRadioInput
        editable="true"
        id="LeaseOrRent_DV"
        label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.LeaseOrRent&quot;)"
        value="vehicle.LeaseOrRent">
        <PostOnChange
          deferUpdate="false"/>
      </BooleanRadioInput>
      <TypeKeyInput
        available="vehicle.LeaseOrRent"
        editable="true"
        id="LengthOfLease_DV"
        label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.LengthOfLease&quot;)"
        value="vehicle.LengthOfLease"
        valueType="typekey.LengthOfLease"/>
      <InputDivider/>
      <TextInput
        editable="true"
        id="annualmiles_DV"
        label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.AnnualMileage&quot;)"
        value="vehicle.AnnualMileage"
        valueType="java.lang.Integer"
        visible="vehicle.VehicleType!=TC_OTHER"/>
      <TextInput
        editable="true"
        id="commutemiles_DV"
        label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.CommutingMiles&quot;)"
        value="vehicle.CommutingMiles"
        valueType="java.lang.Integer"
        visible="vehicle.VehicleType!=TC_OTHER"/>
      <InputDivider/>
      <TypeKeyInput
        editable="true"
        filter="vehicle.VehicleType != null and VALUE.hasCategory(vehicle.VehicleType)"
        id="primaryuse_DV"
        label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.PrimaryUse&quot;)"
        value="vehicle.PrimaryUse"
        valueType="typekey.VehiclePrimaryUse"
        visible="vehicle.VehicleType!=TC_OTHER"/>
      <InputDivider/>
      <InputSetRef
        def="PAVehicleModifiersInputSet(vehicle, policyPeriod)"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>