<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="RatingTxDetailsPanelSet"
    mode="PersonalAutoLine">
    <Require
      name="thePeriod"
      type="PolicyPeriod"/>
    <Require
      name="totalPremLabel"
      type="String"/>
    <Require
      name="totalCostLabel"
      type="String"/>
    <Require
      name="revOpenForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <Variable
      initialValue="thePeriod.PersonalAutoLine.PATransactions.toSet().partition( \ tx -&gt; tx.PACost.Vehicle == null ).toAutoMap( \ b -&gt; java.util.Collections.emptySet&lt;PATransaction&gt;() )"
      name="transactionAndVehicleMap"
      recalculateOnRefresh="true"
      type="java.util.Map&lt;java.lang.Boolean, java.util.Set&lt;entity.PATransaction&gt;&gt;"/>
    <Variable
      initialValue="transactionAndVehicleMap.get(true)"
      name="transactionsWithoutVehicle"
      recalculateOnRefresh="true"
      type="java.util.Set&lt;entity.PATransaction&gt;"/>
    <Variable
      initialValue="transactionAndVehicleMap.get(false)"
      name="transactionsWithVehicle"
      recalculateOnRefresh="true"
      type="java.util.Set&lt;entity.PATransaction&gt;"/>
    <Variable
      initialValue="transactionsWithVehicle.byFixedVehicle()"
      name="transactionsByVehicle"
      recalculateOnRefresh="true"
      type="java.util.Map&lt;entity.PersonalVehicle, java.util.Set&lt;entity.PATransaction&gt;&gt;"/>
    <Variable
      initialValue="thePeriod.PersonalAutoLine"
      name="paline"
      type="productmodel.PersonalAutoLine"/>
    <PanelIterator
      elementName="vehicle"
      id="vehicleIterator"
      value="transactionsByVehicle.Keys.toTypedArray()"
      valueType="entity.PersonalVehicle[]">
      <Variable
        initialValue="transactionsByVehicle.get( vehicle ).AnyProrated"
        name="prorated"
        recalculateOnRefresh="true"
        type="boolean"/>
      <IteratorSort
        sortBy="vehicle.VehicleNumber"
        sortOrder="1"/>
      <PanelRef>
        <TitleBar
          subtitle="DisplayKey.get(&quot;Web.Policy.PA.Garage&quot;, vehicle.GarageLocation.LocationNum, vehicle.GarageLocation.CompactName)"
          title="DisplayKey.get(&quot;Web.Policy.BA.Review.VehicleNumber&quot;, vehicle.VehicleNumber)"/>
        <PanelSet>
          <ListViewPanel
            disableUserCustomization="true"
            stretch="true">
            <Row
              useSubHeaderStyle="true">
              <TextCell
                id="YearHeader"
                value="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Year&quot;)"/>
              <TextCell
                id="MakeHeader"
                grow="true"
                value="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Make&quot;)"/>
              <TextCell
                id="ModelHeader"
                grow="true"
                value="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Model&quot;)"/>
              <TextCell
                id="VinHeader"
                grow="true"
                value="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Vin&quot;)"/>
            </Row>
            <Row>
              <TextCell
                id="Year"
                value="vehicle?.Year?.toString()"/>
              <TextCell
                grow="true"
                id="Make"
                value="vehicle?.Make"/>
              <TextCell
                grow="true"
                id="Model"
                value="vehicle?.Model"/>
              <TextCell
                grow="true"
                id="Vin"
                value="vehicle?.Vin"/>
            </Row>
          </ListViewPanel>
          <ListViewPanel
            disableUserCustomization="true">
            <RowIterator
              editable="false"
              elementName="transaction"
              id="transactionIterator"
              pageSize="0"
              value="transactionsByVehicle.get( vehicle ).toTypedArray()"
              valueType="entity.PATransaction[]">
              <IteratorSort
                sortBy="transaction.PACost.Coverage.Pattern.Priority"
                sortOrder="1"/>
              <IteratorSort
                sortBy="transaction.PACost.ID"
                sortOrder="2"/>
              <Row>
                <TextCell
                  footerLabel="DisplayKey.get(&quot;Web.Financials.Subtotal&quot;)"
                  id="Description"
                  label="DisplayKey.get(&quot;Web.PolicyLine.Coverages.Description&quot;)"
                  value="alterCoveragePatternName(DisplayKey.get(&quot;Web.PolicyLine.Coverage&quot;, transaction.PACost.Coverage.Pattern), transaction.PACost)"
                  wrap="true"/>
                <MonetaryAmountCell
                  enableSort="false"
                  formatType="currency"
                  id="TermAmount"
                  label="DisplayKey.get(&quot;Web.SubmissionWizard.Quote.WC.Amount&quot;)"
                  value="transaction.PACost.ActualTermAmountBilling"
                  visible="prorated"/>
                <DateCell
                  enableSort="false"
                  id="EffDate"
                  label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.PeriodStart&quot;)"
                  value="transaction.EffDate"
                  visible="prorated"/>
                <DateCell
                  enableSort="false"
                  id="ExpDate"
                  label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.PeriodEnd&quot;)"
                  value="transaction.ExpDate"
                  visible="prorated"/>
                <TextCell
                  align="right"
                  id="TxProration"
                  label="DisplayKey.get(&quot;Web.SubmissionWizard.Quote.WC.Prorata&quot;)"
                  value="gw.api.util.StringUtil.formatNumber(transaction.Proration, &quot;#0.0000&quot;)"
                  visible="prorated"/>
                <MonetaryAmountCell
                  enableSort="false"
                  formatType="currency"
                  id="TxAmount"
                  label="DisplayKey.get(&quot;Web.Policy.BA.Premium&quot;)"
                  value="transaction.AmountBilling">
                  <ColumnFooter>
                    <TextCell
                      formatType="currency"
                      id="VehicleSubTotal"
                      value="transactionsByVehicle.get( vehicle ).AmountSum(thePeriod.PreferredSettlementCurrency)"
                      valueType="gw.pl.currency.MonetaryAmount"/>
                  </ColumnFooter>
                </MonetaryAmountCell>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </PanelSet>
      </PanelRef>
    </PanelIterator>
    <PanelRef>
      <TitleBar
        title="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.PremiumSubtotalAndTaxes&quot;)"/>
      <ListViewPanel
        disableUserCustomization="true"
        stretch="true">
        <Row>
          <TextCell
            align="right"
            bold="true"
            grow="true"
            id="SubTotalLabel"
            value="DisplayKey.get(&quot;Web.Financials.PremiumSubtotal&quot;)"/>
          <MonetaryAmountCell
            bold="true"
            formatType="currency"
            id="SubTotal"
            value="transactionsWithVehicle.AmountSum(thePeriod.PreferredSettlementCurrency)"/>
        </Row>
        <RowIterator
          canPick="false"
          editable="false"
          elementName="otherTx"
          pageSize="0"
          value="transactionsWithoutVehicle.toTypedArray()"
          valueType="entity.PATransaction[]">
          <IteratorSort
            sortBy="(typeof otherTx.PACost).AllTypesInHierarchy.Count"
            sortDirection="descending"
            sortOrder="1"/>
          <IteratorSort
            sortBy="typeof otherTx.PACost"
            sortOrder="2"/>
          <IteratorSort
            sortBy="otherTx.EffDate"
            sortOrder="3"/>
          <Row>
            <TextCell
              align="right"
              enableSort="false"
              grow="true"
              id="Description"
              value="otherTx.Cost"
              valueType="entity.Cost"/>
            <MonetaryAmountCell
              enableSort="false"
              formatType="currency"
              id="Amount"
              value="otherTx.AmountBilling"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </PanelRef>
    <Code><![CDATA[function alterCoveragePatternName(name : String, cost : PACost) : String {
      if (name.contains("PIP")) {
        return name + " - " + (cost as PersonalAutoPIPCovCost).PAPIPCovCostType.DisplayName
      } else {
        return name
      }
    }]]></Code>
  </PanelSet>
</PCF>