<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="BillingPoliciesLV">
    <Require
      name="account"
      type="Account"/>
    <Require
      name="areOwnedPolicies"
      type="boolean"/>
    <Variable
      initialValue="account.retrievePolicies(areOwnedPolicies)"
      name="policyPeriods"
      recalculateOnRefresh="true"
      type="gw.plugin.billing.BillingPeriodInfo[]"/>
    <RowIterator
      editable="false"
      elementName="billingPeriod"
      pageSize="0"
      value="policyPeriods"
      valueType="gw.plugin.billing.BillingPeriodInfo[]">
      <Variable
        initialValue="billingPeriod.findPolicyPeriod()?.LatestPeriod"
        name="policyPeriod"
        type="entity.PolicyPeriod"/>
      <IteratorSort
        sortBy="billingPeriod.EffectiveDate"
        sortOrder="1"/>
      <IteratorSort
        sortBy="billingPeriod.Product"
        sortOrder="2"/>
      <Row
        useArchivedStyle="policyPeriod.PolicyTerm.CheckArchived">
        <TextCell
          action="PolicyFileForward.go(policyPeriod, policyPeriod.PeriodStart, &quot;PolicyBilling&quot;)"
          id="PolicyNumber"
          label="DisplayKey.get(&quot;Web.AccountBasics.PoliciesLV.PolicyNumber&quot;)"
          value="billingPeriod.PolicyNumber"/>
        <TextCell
          id="Product"
          label="DisplayKey.get(&quot;Web.AccountBasics.PoliciesLV.Product&quot;)"
          value="billingPeriod.Product"
          wrap="true"/>
        <DateCell
          id="EffDate"
          label="DisplayKey.get(&quot;Web.AccountBasics.PoliciesLV.PolicyEffDate&quot;)"
          value="billingPeriod.EffectiveDate"/>
        <DateCell
          id="ExpDate"
          label="DisplayKey.get(&quot;Web.AccountBasics.PoliciesLV.PolicyExpirDate&quot;)"
          value="billingPeriod.ExpirationDate"/>
        <TypeKeyCell
          id="Billed"
          label="DisplayKey.get(&quot;Web.Policy.Payment.BillingMethod&quot;)"
          value="billingPeriod.BillingMethod"
          valueType="typekey.BillingMethod"
          visible="areOwnedPolicies"/>
        <TextCell
          id="AltBillingAccount"
          label="DisplayKey.get(&quot;Web.Policy.Payment.AltBillingAccount&quot;)"
          value="billingPeriod.AltBillingAccount"
          visible="areOwnedPolicies"/>
        <TextCell
          id="OwningAccount"
          label="DisplayKey.get(&quot;Web.Policy.Payment.OwningAccount&quot;)"
          value="billingPeriod.OwningAccount"
          visible="not areOwnedPolicies"/>
        <TextCell
          id="Status"
          label="DisplayKey.get(&quot;Web.Billing.Status&quot;)"
          value="billingPeriod.Delinquent ? DisplayKey.get(&quot;Web.Billing.Status.Delinquent&quot;) : DisplayKey.get(&quot;Web.Billing.Status.InGoodStanding&quot;)"
          wrap="true"/>
        <MonetaryAmountCell
          formatType="currency"
          id="BilledAmount"
          label="DisplayKey.get(&quot;Web.Billing.BilledAmount&quot;)"
          value="billingPeriod.TotalBilled"/>
        <MonetaryAmountCell
          formatType="currency"
          id="PastDue"
          label="DisplayKey.get(&quot;Web.Billing.PastDue&quot;)"
          value="billingPeriod.PastDue"/>
        <MonetaryAmountCell
          formatType="currency"
          id="Unbilled"
          label="DisplayKey.get(&quot;Web.Billing.Unbilled&quot;)"
          value="billingPeriod.Unbilled"/>
        <TextCell
          id="InvoiceStream"
          label="DisplayKey.get(&quot;Web.Billing.Invoicing&quot;)"
          value="billingPeriod.InvoiceStream"
          valueVisible="not areOwnedPolicies or billingPeriod.AltBillingAccount == null // only for periods billed to this account"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>