<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="BillingInvoicesLV">
    <Require
      name="account"
      type="Account"/>
    <RowIterator
      editable="false"
      elementName="invoice"
      value="account.retrieveAccountInvoices()"
      valueType="gw.plugin.billing.BillingInvoiceInfo[]">
      <ToolbarFilter
        name="invoiceFilter">
        <ToolbarFilterOption
          filter="new gw.api.filters.StandardBeanFilter(&quot;last3months&quot;, \ i -&gt; (i as gw.plugin.billing.BillingInvoiceInfo).InvoiceDate.addMonths( 3 ).afterNow())"
          label="DisplayKey.get(&quot;Web.Billing.Invoice.Last3Months&quot;)"/>
        <ToolbarFilterOption
          filter="new gw.api.filters.StandardBeanFilter(&quot;last6months&quot;, \ i -&gt; (i as gw.plugin.billing.BillingInvoiceInfo).InvoiceDate.addMonths( 6 ).afterNow())"
          label="DisplayKey.get(&quot;Web.Billing.Invoice.Last6Months&quot;)"/>
        <ToolbarFilterOption
          filter="new gw.api.filters.StandardBeanFilter(&quot;last12months&quot;, \ i -&gt; (i as gw.plugin.billing.BillingInvoiceInfo).InvoiceDate.addMonths( 12 ).afterNow())"
          label="DisplayKey.get(&quot;Web.Billing.Invoice.Last12Months&quot;)"/>
      </ToolbarFilter>
      <IteratorSort
        sortBy="invoice.InvoiceDate"
        sortOrder="1"/>
      <Row>
        <DateCell
          id="InvoiceDate"
          label="DisplayKey.get(&quot;Web.Billing.StatementDate&quot;)"
          value="invoice.InvoiceDate"/>
        <DateCell
          id="DueDate"
          label="DisplayKey.get(&quot;Web.Billing.DueDate&quot;)"
          value="invoice.InvoiceDueDate"/>
        <TextCell
          id="InvoiceNumber"
          label="DisplayKey.get(&quot;Web.Billing.InvoiceNumber&quot;)"
          value="invoice.InvoiceNumber"/>
        <TextCell
          id="InvoiceStream"
          label="DisplayKey.get(&quot;Web.Billing.Invoicing&quot;)"
          value="invoice.InvoiceStream"/>
        <TextCell
          id="Status"
          label="DisplayKey.get(&quot;Web.Billing.Invoice.Status&quot;)"
          value="invoice.Status"/>
        <TextCell
          id="PaidStatus"
          label="DisplayKey.get(&quot;Web.Billing.Invoice.PaidStatus&quot;)"
          value="invoice.PaidStatus"/>
        <MonetaryAmountCell
          formatType="currency"
          id="Amount"
          label="DisplayKey.get(&quot;Web.Billing.Amount&quot;)"
          value="invoice.Amount"/>
        <MonetaryAmountCell
          formatType="currency"
          id="Unpaid"
          label="DisplayKey.get(&quot;Web.Billing.Unpaid&quot;)"
          value="invoice.Unpaid"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>