<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="NewNoteDV">
    <Require
      name="newNoteHelper"
      type="gw.note.NewNoteHelper"/>
    <InputColumn>
      <TypeKeyInput
        editable="true"
        id="Topic"
        label="DisplayKey.get(&quot;Web.NewNote.Topic&quot;)"
        required="true"
        value="newNoteHelper.Note.Topic"
        valueType="typekey.NoteTopicType"/>
      <TextInput
        editable="true"
        id="Subject"
        label="DisplayKey.get(&quot;Web.NewNote.Subject&quot;)"
        value="newNoteHelper.Note.Subject"/>
      <RangeInput
        editable="newNoteHelper.RelatedToEditable"
        id="RelatedTo"
        label="DisplayKey.get(&quot;Web.NewNote.RelatedTo&quot;)"
        optionLabel="newNoteHelper.Note.getLevelDisplayString(VALUE)"
        required="true"
        sortValueRange="false"
        value="newNoteHelper.Note.Level"
        valueRange="newNoteHelper.LevelsValueRange"
        valueType="gw.api.domain.linkedobject.LinkedObjectContainer"
        visible="(!(newNoteHelper.Job typeis Submission) or (newNoteHelper.Job as Submission).FullMode)"/>
      <TypeKeyInput
        editable="true"
        filter="newNoteHelper.Note.hasCreatePermission(VALUE)"
        id="SecurityLevel"
        label="DisplayKey.get(&quot;Web.NewNote.SecurityLevel&quot;)"
        required="true"
        value="newNoteHelper.Note.SecurityType"
        valueType="typekey.NoteSecurityType"/>
      <TextAreaInput
        editable="true"
        id="Text"
        label="DisplayKey.get(&quot;Web.NewNote.Text&quot;)"
        numRows="15"
        required="true"
        value="newNoteHelper.Note.Body"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>
