<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="AdditionalInsuredInfoDV"
    mode="default">
    <Require
      name="policyAddlInsuredDetail"
      type="entity.PolicyAddlInsuredDetail"/>
    <InputColumn>
      <TypeKeyInput
        editable="true"
        id="Type"
        label="DisplayKey.get(&quot;Web.LineWizard.AdditionalInsured.Type&quot;)"
        required="true"
        value="policyAddlInsuredDetail.AdditionalInsuredType" valueType="typekey.AdditionalInsuredType"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>