<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    editable="openForEdit"
    id="AdditionalInterestDetailsDV"
    visible="!(policyPeriod.Job typeis Submission) or perm.System.viewsubmission">
    <Require
      name="interestContainer"
      type="gw.api.contact.AdditionalInterestContainer"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Variable
      initialValue="interestContainer.PolicyPeriod"
      name="policyPeriod"
      recalculateOnRefresh="true"
      type="entity.PolicyPeriod"/>
    <Variable
      initialValue="interestContainer.AdditionalInterestCandidates"
      name="existingAdditionalInterests"
      recalculateOnRefresh="true"
      type="entity.AccountContact[]"/>
    <Variable
      initialValue="interestContainer.AdditionalInterestOtherCandidates"
      name="otherContacts"
      recalculateOnRefresh="true"
      type="entity.AccountContact[]"/>
    <Variable
      initialValue="gw.plugin.Plugins.get(gw.plugin.contact.IContactConfigPlugin)"
      name="contactConfigPlugin"
      type="gw.plugin.contact.IContactConfigPlugin"/>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.PolicyLine.AdditionalInterest.LVLabel&quot;, interestContainer.TypeLabel)"/>
      <ListViewInput
        labelAbove="true">
        <Toolbar>
          <AddButton
            hideIfReadOnly="true"
            id="AddContactsButton"
            iterator="AdditionalInterestLV"
            label="DisplayKey.get(&quot;Web.Contact.Add&quot;)"
            visible="openForEdit">
            <AddMenuItemIterator
              elementName="contactType"
              value="contactConfigPlugin.getAllowedContactTypesForPolicyContactRoleType(typekey.PolicyContactRole.TC_POLICYADDLINTEREST)"
              valueType="typekey.ContactType[]">
              <IteratorSort
                sortBy="contactType.DisplayName"
                sortOrder="1"/>
              <AddMenuItem
                id="ContactType"
                iterator="AdditionalInterestLV"
                label="DisplayKey.get(&quot;Web.Contact.AddNewOfType&quot;, contactType)"
                pickLocation="NewAdditionalInterestPopup.push(interestContainer, contactType)"/>
            </AddMenuItemIterator>
            <AddMenuItem
              conversionExpression="interestContainer.addAdditionalInterestDetail(PickedValue)"
              id="AddFromSearch"
              iterator="AdditionalInterestLV"
              label="DisplayKey.get(&quot;Web.Policy.Contact.FromAddressBook&quot;)"
              pickLocation="ContactSearchPopup.push(TC_ADDITIONALINTEREST)"/>
            <AddMenuItem
              id="AddExistingContact"
              iterator="AdditionalInterestLV"
              label="DisplayKey.get(&quot;Web.Policy.Contact.AddExisting&quot;, PolicyAddlInterest.Type.TypeInfo.DisplayName)"
              visible="true">
              <AddMenuItemIterator
                elementName="additionalInterest"
                id="ContactOfSameType"
                value="existingAdditionalInterests"
                valueType="entity.AccountContact[]">
                <IteratorSort
                  sortBy="additionalInterest.DisplayName"
                  sortOrder="1"/>
                <AddMenuItem
                  id="ExistingAdditionalInterest"
                  iterator="AdditionalInterestLV"
                  label="additionalInterest"
                  toCreateAndAdd="interestContainer.addAdditionalInterestDetail(additionalInterest.Contact)"/>
              </AddMenuItemIterator>
            </AddMenuItem>
            <AddMenuItem
              id="AddOtherContact"
              iterator="AdditionalInterestLV"
              label="DisplayKey.get(&quot;Web.Policy.Contact.AddOtherContacts&quot;)"
              visible="otherContacts.Count &gt; 0">
              <AddMenuItemIterator
                elementName="acctContact"
                id="ContactOfOtherType"
                value="otherContacts"
                valueType="entity.AccountContact[]">
                <IteratorSort
                  sortBy="acctContact.DisplayName"
                  sortOrder="1"/>
                <AddMenuItem
                  id="acctContact"
                  iterator="AdditionalInterestLV"
                  label="acctContact"
                  toCreateAndAdd="interestContainer.addAdditionalInterestDetail(acctContact.Contact)"/>
              </AddMenuItemIterator>
            </AddMenuItem>
          </AddButton>
          <IteratorButtons
            addVisible="false"
            id="IteratorButtons"
            iterator="AdditionalInterestLV"
            removeVisible="true"/>
        </Toolbar>
        <ListViewPanel
          id="AdditionalInterestLV">
          <RowIterator
            checkBoxVisible="openForEdit"
            editable="true"
            elementName="addlInterestDetail"
            hasCheckBoxes="true"
            pageSize="0"
            toRemove="interestContainer.removeFromAdditionalInterestDetails(addlInterestDetail)"
            value="interestContainer.AdditionalInterestDetails"
            valueType="entity.AddlInterestDetail[]">
            <Variable
              initialValue="addlInterestDetail.PolicyAddlInterest"
              name="policyAddlInterest"
              type="entity.PolicyAddlInterest"/>
            <IteratorSort
              sortBy="addlInterestDetail.PolicyAddlInterest.DisplayName"
              sortOrder="1"/>
            <IteratorSort
              sortBy="addlInterestDetail.AdditionalInterestType.Code"
              sortOrder="2"/>
            <IteratorSort
              sortBy="addlInterestDetail.ContractNumber"
              sortOrder="3"/>
            <Row>
              <TextCell
                action="EditPolicyContactRolePopup.push(addlInterestDetail.PolicyAddlInterest, openForEdit)"
                id="Name"
                label="DisplayKey.get(&quot;Web.Policy.AdditionalInterest.Name&quot;)"
                required="false"
                value="addlInterestDetail.PolicyAddlInterest"
                valueType="entity.PolicyAddlInterest"/>
              <TypeKeyCell
                editable="true"
                id="Type"
                label="DisplayKey.get(&quot;Web.Policy.AdditionalInterest.Type&quot;)"
                required="true"
                value="addlInterestDetail.AdditionalInterestType"
                valueType="typekey.AdditionalInterestType"/>
              <BooleanRadioCell
                editable="true"
                id="CertRequired"
                label="DisplayKey.get(&quot;Web.Policy.AdditionalInterest.CertificateRequired&quot;)"
                value="addlInterestDetail.CertRequired"/>
              <TextCell
                editable="true"
                id="ContractNumber"
                label="DisplayKey.get(&quot;Web.Policy.AdditionalInterest.ContractNumber&quot;)"
                value="addlInterestDetail.ContractNumber"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>