<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="ContactNameInputSet"
    mode="company">
    <Require
      name="contact"
      type="Contact"/>
    <Variable
      initialValue="new gw.api.name.ContactNameDelegate(contact)"
      name="contactNameDelegate"
      recalculateOnRefresh="true"
      type="gw.api.name.ContactNameDelegate"/>
    <Label
      label="DisplayKey.get(&quot;Web.ContactDetail.Company&quot;)"/>
    <InputSetRef
      def="GlobalContactNameInputSet(new gw.contact.ContactNameNoSummaryOwner(contactNameDelegate))"
      mode="gw.api.name.NameLocaleSettings.PCFMode"/>
    <InputSetRef
      def="GlobalPhoneInputSet(new gw.api.phone.BasicPhoneOwner(new gw.api.phone.ContactPhoneDelegate(contact, contact#WorkPhone),DisplayKey.get(&quot;Web.ContactDetail.Company.WorkPhone&quot;) ))"
      editable="true"
      id="WorkPhone"/>
    <InputSetRef
      def="GlobalPhoneInputSet(new gw.api.phone.BasicPhoneOwner(new gw.api.phone.ContactPhoneDelegate(contact, contact#FaxPhone),DisplayKey.get(&quot;Web.ContactDetail.Company.FaxPhone&quot;)))"
      editable="true"
      id="FaxPhone"/>
    <TextInput
      editable="true"
      id="EmailAddress1"
      label="DisplayKey.get(&quot;Web.ContactDetail.Company.EmailAddress1&quot;)"
      value="(contact as Company).EmailAddress1"/>
    <TextInput
      editable="true"
      id="EmailAddress2"
      label="DisplayKey.get(&quot;Web.ContactDetail.Company.EmailAddress2&quot;)"
      value="(contact as Company).EmailAddress2"/>
  </InputSet>
</PCF>