<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    beforeCommit="policyAddlNamedInsured.resetContactAndRoles(duplicateContactsPopupHelper.existingPCContactWithABContactMatch)"
    canEdit="true"
    countsAsWork="false"
    id="NewAdditionalNamedInsuredPopup"
    returnType="PolicyAddlNamedInsured"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.Contact.NewContact&quot;, entity.PolicyAddlNamedInsured.Type.TypeInfo.DisplayName)">
    <LocationEntryPoint
      signature="NewAdditionalNamedInsuredPopup(period: PolicyPeriod, contactType: typekey.ContactType)"/>
    <Variable
      name="period"
      type="PolicyPeriod"/>
    <Variable
      name="contactType"
      type="typekey.ContactType"/>
    <Variable
      initialValue="period.addNewPolicyAddlNamedInsuredOfContactType(contactType)"
      name="policyAddlNamedInsured"
      type="entity.PolicyAddlNamedInsured"/>
    <Variable
      initialValue="period.Job.NewTerm ? null : policyAddlNamedInsured.BasedOn.IndustryCode"
      name="previousIndustryCode"
      type="IndustryCode"/>
    <Variable
      initialValue="period.PolicyContactRoles.whereTypeIs(entity.PolicyAddlNamedInsured).map(\ p -&gt; p.AccountContactRole.AccountContact.Contact)"
      name="existingContacts"
      type="Contact[]"/>
    <Variable
      initialValue="new gw.pcf.duplicatecontacts.DuplicateContactsPopupHelper(policyAddlNamedInsured.AccountContactRole.AccountContact.Contact, existingContacts)"
      name="duplicateContactsPopupHelper"
      type="gw.pcf.duplicatecontacts.DuplicateContactsPopupHelper"/>
    <Screen
      editable="true"
      id="ContactDetailScreen">
      <Toolbar>
        <ToolbarButton
          action="duplicateContactsPopupHelper.checkForDuplicatesOrUpdate(\ -&gt; CurrentLocation.pickValueAndCommit(policyAddlNamedInsured))"
          id="ForceDupCheckUpdate"
          label="DisplayKey.get(&quot;Button.OK&quot;)"
          visible="duplicateContactsPopupHelper.ShowButton"/>
        <EditButtons
          pickValue="policyAddlNamedInsured"
          updateVisible="not duplicateContactsPopupHelper.ShowButton"/>
        <ToolbarButton
          action="duplicateContactsPopupHelper.push()"
          id="CheckForDuplicates"
          label="DisplayKey.get(&quot;Web.Contact.CheckForDuplicates&quot;)"
          visible="duplicateContactsPopupHelper.ShowButton"/>
      </Toolbar>
      <DetailViewPanel
        id="AdditionalNamedInsuredInfoDV">
        <InputColumn>
          <TextInput
            editable="true"
            id="Relationship"
            label="DisplayKey.get(&quot;Web.Policy.NamedInsured.Relationship&quot;)"
            value="policyAddlNamedInsured.Relationship"/>
          <IndustryCodeInput
            domain="typekey.IndustryCodeType.TC_SIC"
            editable="true"
            id="IndustryCode"
            label="DisplayKey.get(&quot;Web.EditAccount.IndustryCode&quot;)"
            pickLocation="IndustryCodeSearchPopup.push(typekey.IndustryCodeType.TC_SIC, ReferenceDate, previousIndustryCode)"
            previousCode="previousIndustryCode.Code"
            referenceDate="ReferenceDate"
            value="(policyAddlNamedInsured.AccountContactRole as NamedInsured).IndustryCode"
            visible="policyAddlNamedInsured.AccountContactRole.AccountContact.Company"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef
        def="NewPolicyContactRoleDetailsCV(policyAddlNamedInsured, false)"/>
    </Screen>
    <Code><![CDATA[property get ReferenceState() : Jurisdiction {
  return gw.api.util.JurisdictionMappingUtil.getJurisdiction(policyAddlNamedInsured.AccountContactRole.AccountContact.Contact.PrimaryAddress)
}

property get ReferenceDate() : java.util.Date {
  return ReferenceState == null ? period.EditEffectiveDate : period.getReferenceDateForCurrentJob(ReferenceState)
}]]></Code>
  </Popup>
</PCF>