<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <CardViewPanel
    id="PolicyContactRoleDetailsCV">
    <Require
      name="policyContactRole"
      type="PolicyContactRole"/>
    <Require
      name="openForEditOverride"
      type="boolean"/>
    <Card
      id="PolicyContactRoleDetailCard"
      title="DisplayKey.get(&quot;Web.AccountContacts.AccountDetail&quot;)">
      <PanelRef
        def="PolicyContactDetailsDV(policyContactRole, openForEditOverride)">
        <Toolbar/>
      </PanelRef>
    </Card>
    <Card
      id="RolesCard"
      title="DisplayKey.get(&quot;Web.Admin.UserDetailDV.Roles&quot;)">
      <PanelIterator
        elementName="currentPolicyContactRole"
        id="PolicyContactRoleIterator"
        value="policyContactRole.Branch.PolicyContactRoles.where(\ pcr -&gt; pcr.AccountContactRole.AccountContact == policyContactRole.AccountContactRole.AccountContact)"
        valueType="entity.PolicyContactRole[]">
        <IteratorSort
          sortBy="currentPolicyContactRole.Subtype.DisplayName"
          sortOrder="1"/>
        <PanelRef
          def="PolicyContactRolePanelSet(currentPolicyContactRole)"
          mode="currentPolicyContactRole.Subtype"/>
      </PanelIterator>
    </Card>
    <Card
      id="AddressesCard"
      title="DisplayKey.get(&quot;Web.Contact.Addresses.Title&quot;)">
      <PanelRef
        def="AddressesPanelSet(policyContactRole.AccountContactRole.AccountContact.Contact,false,policyContactRole.Branch.Policy.Account, policyContactRole.Branch)"/>
    </Card>
  </CardViewPanel>
</PCF>