<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <PanelSet
    id="PolicyContactRolePanelSet"
    mode="PolicyLaborClient">
    <Require
      name="policyContactRole"
      type="PolicyContactRole"/>
    <Variable
      initialValue="policyContactRole as PolicyLaborClient"
      name="policyLaborClient"
      type="entity.PolicyLaborClient"/>
    <PanelRef>
      <TitleBar
        id="LaborClientTitle"
        title="DisplayKey.get(&quot;Web.Contact.LaborClient&quot;)"/>
      <ListViewPanel
        id="LaborClientDetailsLV">
        <RowIterator
          canPick="false"
          checkBoxVisible="false"
          editable="true"
          elementName="policyLaborClientDetail"
          pageSize="0"
          value="policyLaborClient.Details"
          valueType="entity.WCLaborContactDetail[]">
          <Row>
            <TypeKeyCell
              editable="true"
              id="LaborClientInclusion"
              label="DisplayKey.get(&quot;Web.Policy.WC.EmployeeLeasing.Supplier.Include&quot;)"
              required="true"
              value="policyLaborClientDetail.Inclusion"
              valueType="typekey.Inclusion"/>
            <TypeKeyCell
              id="LaborClientState"
              label="DisplayKey.get(&quot;Web.Policy.WC.EmployeeLeasing.Supplier.State&quot;)"
              required="false"
              value="policyLaborClientDetail.WCLaborContact.AccountContactRole.AccountContact.Contact.PrimaryAddress.State"
              valueType="typekey.State"/>
            <DateCell
              editable="true"
              id="LaborClientEffectiveDate"
              label="DisplayKey.get(&quot;Web.PolicyLine.LeasedEmployee.ContractEffectiveDate&quot;)"
              required="true"
              value="policyLaborClientDetail.ContractEffectiveDate"/>
            <DateCell
              editable="true"
              id="LaborClientExpirationDate"
              label="DisplayKey.get(&quot;Web.PolicyLine.LeasedEmployee.ContractExpirationDate&quot;)"
              required="true"
              value="policyLaborClientDetail.ContractExpirationDate"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </PanelRef>
  </PanelSet>
</PCF>