<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    desc="Shows all forms"
    id="FormsDV">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <InputColumn>
      <ListViewInput
        available="true"
        editable="false"
        labelAbove="true"
        visible="true">
        <Toolbar/>
        <ListViewPanel
          id="FormsLV">
          <RowIterator
            editable="false"
            elementName="form"
            hideCheckBoxesIfReadOnly="true"
            value="policyPeriod.NewlyAddedForms"
            valueType="entity.Form[]">
            <Row>
              <TextCell
                id="FormNumber"
                label="DisplayKey.get(&quot;Web.Policy.Form.FormNumber&quot;)"
                sortOrder="2"
                value="form.FormNumber"/>
              <TextCell
                id="Description"
                label="DisplayKey.get(&quot;Web.Policy.Form.Description&quot;)"
                value="form.FormDescription"
                wrap="true"/>
              <TextCell
                id="EndorsementNumber"
                label="DisplayKey.get(&quot;Web.Policy.Form.EndorsementNumber&quot;)"
                sortOrder="1"
                value="form.EndorsementNumber"
                valueType="java.lang.Integer"/>
              <TextCell
                id="ReplacingEndorsement"
                label="DisplayKey.get(&quot;Web.Policy.Form.ReplacingEndorsement&quot;)"
                value="form.ReplacingEndorsementNumbersString"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>