<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="AdminProducerCodeSearchLV"
    stretch="true">
    <Require
      name="producerCodes"
      type="gw.api.database.IQueryBeanResult&lt;ProducerCode&gt;"/>
    <Require
      name="carrier"
      type="Organization"/>
    <Require
      name="filter"
      type="java.util.Set"/>
    <Require
      name="havingRoles"
      type="boolean"/>
    <RowIterator
      appendPageInfo="true"
      canPick="!filter.contains(producerCode) and (!havingRoles or producerCode.ProducerCodeRoles.Count != 0)"
      editable="false"
      elementName="producerCode"
      pickValue="producerCode"
      value="producerCodes"
      valueType="gw.api.database.IQueryBeanResult&lt;entity.ProducerCode&gt;">
      <Row>
        <TextCell
          action="AdminProducerCodeDetail.go(producerCode)"
          id="Code"
          label="DisplayKey.get(&quot;Web.ProducerCodeSearchLV.Code&quot;)"
          value="producerCode.Code"
          wrap="false"/>
        <TextCell
          grow="true"
          id="Description"
          label="DisplayKey.get(&quot;Web.ProducerCodeSearchLV.Description&quot;)"
          value="producerCode.Description"
          wrap="true"/>
        <TypeKeyCell
          id="Status"
          label="DisplayKey.get(&quot;Web.ProducerCodeSearchLV.Status&quot;)"
          value="producerCode.ProducerStatus"
          valueType="typekey.ProducerStatus"
          wrap="false"/>
        <TextCell
          action="OrganizationDetail.go(producerCode.Organization)"
          id="Org"
          label="DisplayKey.get(&quot;Web.ProducerCodeSearchLV.Organization&quot;)"
          value="producerCode.Organization"
          valueType="entity.Organization"
          wrap="false"/>
        <TextCell
          id="BranchCode"
          label="DisplayKey.get(&quot;Web.ProducerCodeSearchLV.BranchCode&quot;)"
          value="producerCode.Branch.BranchCode"
          wrap="false"/>
        <AltGroupCell
          action="GroupDetailPage.go(producerCode.Branch)"
          available="producerCode.Branch != null and producerCode.Branch.GroupType != TC_ROOT"
          id="Branch"
          label="DisplayKey.get(&quot;Web.ProducerCodeSearchLV.Branch&quot;)"
          value="producerCode.Branch"
          wrap="false"/>
        <TextCell
          action="AdminProducerCodeDetail.go(producerCode.Parent)"
          available="producerCode.Parent != null"
          id="Parent"
          label="DisplayKey.get(&quot;Web.ProducerCodeSearchLV.Parent&quot;)"
          value="producerCode.Parent.Code"
          wrap="false"/>
        <AltUserCell
          action="UserDetailPage.go(producerCode.PreferredUnderwriter)"
          available="producerCode.PreferredUnderwriter != null"
          grow="true"
          id="PrefUW"
          label="DisplayKey.get(&quot;Web.ProducerCodeSearchLV.PrefUW&quot;)"
          value="producerCode.PreferredUnderwriter"
          visible="perm.System.prodcodeviewprefuw"
          wrap="true"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>