<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Popup
    id="BAVehicleCostDetailPopup"
    title="DisplayKey.get(&quot;Web.Policy.BA.VehiclePremiums&quot;)">
    <LocationEntryPoint
      signature="BAVehicleCostDetailPopup(vehicle: BusinessVehicle, vehicleCosts : java.util.List&lt;entity.BACost&gt;)"/>
    <Variable
      name="vehicle"
      type="BusinessVehicle"/>
    <Variable
      name="vehicleCosts"
      type="java.util.List&lt;entity.BACost&gt;"/>
    <Screen>
      <PanelSet>
        <DetailViewPanel>
          <InputColumn>
            <InputSet>
              <Label
                label="DisplayKey.get(&quot;Web.Policy.BA.Review.VehicleNumber&quot;, vehicle)"/>
              <TextInput
                boldLabel="true"
                id="GarageLocation"
                label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.GarageLocation&quot;)"
                value="vehicle.Location"
                valueType="entity.PolicyLocation"/>
              <TextInput
                boldLabel="true"
                id="Vin"
                label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Vin&quot;)"
                value="vehicle.Vin"/>
              <TypeKeyInput
                boldLabel="true"
                id="VehType"
                label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Type&quot;)"
                value="vehicle.VehicleType"
                valueType="typekey.VehicleType"/>
              <TextInput
                boldLabel="true"
                id="ClassCode"
                label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.ClassCode&quot;)"
                value="vehicle.VehicleClassCode"/>
              <TextInput
                boldLabel="true"
                id="Year"
                label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Year&quot;)"
                value="vehicle.Year"
                valueType="java.lang.Integer"/>
              <TextInput
                boldLabel="true"
                id="Make"
                label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Make&quot;)"
                value="vehicle.Make"/>
              <TextInput
                boldLabel="true"
                id="Model"
                label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Model&quot;)"
                value="vehicle.Model"/>
            </InputSet>
          </InputColumn>
        </DetailViewPanel>
      </PanelSet>
      <PanelRef
        def="BACoverageCostLV(vehicleCosts.toTypedArray(), vehicleCosts.AnyProrated, false)"/>
    </Screen>
  </Popup>
</PCF>