<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Popup
    countsAsWork="false"
    id="BAVehicleSchedulePopup"
    title="DisplayKey.get(&quot;Web.Policy.BA.Review.VehicleSchedule&quot;)">
    <LocationEntryPoint
      signature="BAVehicleSchedulePopup(baLine : BusinessAutoLine, selectedState : State)"/>
    <Variable
      name="baLine"
      type="BusinessAutoLine"/>
    <Variable
      name="selectedState"
      type="State"/>
    <Screen
      editable="false"
      id="BAVehicleScheduleScreen">
      <Toolbar/>
      <ListViewPanel
        id="BAScheduleLV">
        <RowIterator
          editable="false"
          elementName="vehicle"
          value="baLine.Vehicles"
          valueType="entity.BusinessVehicle[]">
          <Row>
            <TextCell
              align="left"
              id="VehicleNumber"
              label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.VehicleNumber&quot;)"
              sortBy="vehicle.VehicleNumber"
              sortOrder="1"
              value="vehicle.VehicleNumber"
              valueType="java.lang.Integer"/>
            <TypeKeyCell
              align="left"
              id="State"
              label="DisplayKey.get(&quot;Web.Policy.LocationContainer.Location.State&quot;)"
              value="vehicle.Location.State"
              valueType="typekey.State"/>
            <TextCell
              align="left"
              id="Location"
              label="DisplayKey.get(&quot;Web.Policy.LocationContainer.Location.LocationName&quot;)"
              value="vehicle.Location.AccountLocation.LocationName"/>
            <TextCell
              align="left"
              id="Territory"
              label="DisplayKey.get(&quot;Web.Policy.BA.TerritoryCode&quot;)"
              value="vehicle.Location.TerritoryCodes[0].Code"
              wrapLabel="true"/>
            <TextCell
              align="left"
              id="ClassCode"
              label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.ClassCode&quot;)"
              value="vehicle.VehicleClassCode"/>
            <TypeKeyCell
              align="left"
              id="Type"
              label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Type&quot;)"
              value="vehicle.VehicleType"
              valueType="typekey.VehicleType"/>
            <TextCell
              action="BAVehiclePopup.push(vehicle, baLine.Branch, false, true, null)"
              align="left"
              id="Vin"
              label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Vin&quot;)"
              value="vehicle.Vin"/>
            <TextCell
              align="left"
              id="Year"
              label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Year&quot;)"
              value="vehicle.Year"
              valueType="java.lang.Integer"/>
            <TextCell
              align="left"
              id="Make"
              label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Make&quot;)"
              value="vehicle.Make"/>
            <TextCell
              align="left"
              id="Model"
              label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Model&quot;)"
              value="vehicle.Model"/>
            <BooleanRadioCell
              id="PIP"
              label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.PipCovered&quot;)"
              value="(vehicle.VehicleType == TC_PP and gw.api.domain.StateSet.get( gw.api.domain.StateSet.PIPSTATES ).contains(vehicle.Location.State)) or vehicle.Location.State == TC_HI"/>
            <TextCell
              id="Collision"
              label="DisplayKey.get(&quot;Web.Policy.BA.Collision&quot;)"
              value="(vehicle.BACollisionCovExists ? vehicle.BACollisionCov.BACollisionDeductTerm.DisplayValue : DisplayKey.get(&quot;Web.Policy.BA.Declined&quot;))"
              wrapLabel="true"/>
            <TextCell
              id="Comprehensive"
              label="DisplayKey.get(&quot;Web.Policy.BA.Comprehensive&quot;)"
              value="(vehicle.BAComprehensiveCovExists ? vehicle.BAComprehensiveCov.BAComprehensiveDdctTerm.DisplayValue : DisplayKey.get(&quot;Web.Policy.BA.Declined&quot;))"
              wrapLabel="true"/>
            <TextCell
              id="Specified"
              label="DisplayKey.get(&quot;Web.Policy.BA.Specified&quot;)"
              value="(vehicle.BASpecCausesLossCovExists ? vehicle.BASpecCausesLossCov.BASpecCausesLossDdctTerm.DisplayValue : DisplayKey.get(&quot;Web.Policy.BA.Declined&quot;))"
              wrapLabel="true"/>
            <TextCell
              id="Towing"
              label="DisplayKey.get(&quot;Web.Policy.BA.Towing&quot;)"
              value="(vehicle.BATowingLaborCovExists ? DisplayKey.get(&quot;Web.Policy.BA.Selected&quot;) : DisplayKey.get(&quot;Web.Policy.BA.Declined&quot;))"
              wrapLabel="true"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </Screen>
  </Popup>
</PCF>