<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="CoveredAutoSymbolsPanelSet">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Variable
      initialValue="policyPeriod.BusinessAutoLine"
      name="businessAutoLine"
      type="productmodel.BusinessAutoLine"/>
    <Variable
      initialValue="businessAutoLine.AutoSymbolsManualEditDate"
      name="manualEditDate"
      recalculateOnRefresh="true"
      type="java.util.Date"/>
    <PanelRow>
      <PanelColumn>
        <PanelRef>
          <TitleBar
            title="DisplayKey.get(&quot;Web.Policy.CoveredAutoSymbol.CoveredAutoSymbols&quot;)"/>
          <Toolbar>
            <ToolbarButton
              action="businessAutoLine.AutoSymbolsManualEditDate = java.util.Date.CurrentDate"
              id="EditAutoSymbols"
              label="DisplayKey.get(&quot;Web.Policy.CoveredAutoSymbol.EditButton&quot;)"
              visible="perm.System.editautosymbol and manualEditDate == null and openForEdit"/>
          </Toolbar>
          <Verbatim
            label="DisplayKey.get(&quot;Web.Policy.CoveredAutoSymbol.EditedMessage&quot;)"
            visible="manualEditDate != null"
            warning="true"/>
          <ListViewPanel
            id="CoveredAutoSymbolsLV">
            <RowIterator
              editable="perm.System.editautosymbol and manualEditDate != null"
              elementName="coverageSymbolGroup"
              value="businessAutoLine.CoverageSymbolGroups"
              valueType="entity.CoverageSymbolGroup[]">
              <IteratorSort
                sortBy="coverageSymbolGroup.Pattern.Priority"
                sortOrder="1"/>
              <Row>
                <TextCell
                  id="CoveredAutoSymbolGrpName"
                  label="DisplayKey.get(&quot;Web.Policy.CoveredAutoSymbol.Coverage&quot;)"
                  value="coverageSymbolGroup.Pattern.Name"/>
                <CheckBoxCell
                  editable="coverageSymbolGroup.ANYAvailable"
                  id="Symbol1"
                  label="typekey.CoverageSymbolType.TC_ANY.DisplayName"
                  value="coverageSymbolGroup.ANYSelected"/>
                <CheckBoxCell
                  editable="coverageSymbolGroup.OVOAvailable"
                  id="Symbol2"
                  label="typekey.CoverageSymbolType.TC_OVO.DisplayName"
                  value="coverageSymbolGroup.OVOSelected"/>
                <CheckBoxCell
                  editable="coverageSymbolGroup.OPVAvailable"
                  id="Symbol3"
                  label="typekey.CoverageSymbolType.TC_OPV.DisplayName"
                  value="coverageSymbolGroup.OPVSelected"/>
                <CheckBoxCell
                  editable="coverageSymbolGroup.OCVAvailable"
                  id="Symbol4"
                  label="typekey.CoverageSymbolType.TC_OCV.DisplayName"
                  value="coverageSymbolGroup.OCVSelected"/>
                <CheckBoxCell
                  editable="coverageSymbolGroup.SRCAvailable"
                  id="Symbol5"
                  label="typekey.CoverageSymbolType.TC_SRC.DisplayName"
                  value="coverageSymbolGroup.SRCSelected"/>
                <CheckBoxCell
                  editable="coverageSymbolGroup.DVOAvailable"
                  id="Symbol7"
                  label="typekey.CoverageSymbolType.TC_DVO.DisplayName"
                  value="coverageSymbolGroup.DVOSelected"/>
                <CheckBoxCell
                  editable="coverageSymbolGroup.HVOAvailable"
                  id="Symbol8"
                  label="typekey.CoverageSymbolType.TC_HVO.DisplayName"
                  value="coverageSymbolGroup.HVOSelected"/>
                <CheckBoxCell
                  editable="coverageSymbolGroup.NOVAvailable"
                  id="Symbol9"
                  label="typekey.CoverageSymbolType.TC_NOV.DisplayName"
                  value="coverageSymbolGroup.NOVSelected"/>
                <CheckBoxCell
                  editable="coverageSymbolGroup.CUSAvailable"
                  id="Symbol10"
                  label="typekey.CoverageSymbolType.TC_CUS.DisplayName"
                  value="coverageSymbolGroup.CUSSelected">
                  <PostOnChange
                    deferUpdate="false"/>
                </CheckBoxCell>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </PanelRef>
      </PanelColumn>
    </PanelRow>
    <PanelRow>
      <PanelColumn>
        <DetailViewPanel>
          <InputColumn>
            <Label
              label="DisplayKey.get(&quot;Web.Policy.CoveredAutoSymbol.Symbols&quot;)"/>
            <ListViewInput
              labelAbove="true">
              <Toolbar/>
              <ListViewPanel
                id="SymbolsLV">
                <RowIterator
                  editable="false"
                  elementName="symbol"
                  pageSize="0"
                  value="CoverageSymbolType.getTypeKeys(false)?.toTypedArray()"
                  valueType="typekey.CoverageSymbolType[]">
                  <IteratorSort
                    sortBy="symbol.Priority"
                    sortOrder="1"/>
                  <Row>
                    <TextCell
                      id="Name"
                      label="DisplayKey.get(&quot;Web.Policy.CoveredAutoSymbol.Symbol&quot;)"
                      value="symbol.DisplayName"/>
                    <TextCell
                      id="Description"
                      label="DisplayKey.get(&quot;Web.Policy.CoveredAutoSymbol.Description&quot;)"
                      value="symbol.Description"
                      wrap="true"/>
                  </Row>
                </RowIterator>
                <Row>
                  <TextCell
                    id="Name"
                    value="null"
                    valueType="java.lang.Object"/>
                  <TextAreaCell
                    editable="perm.System.editautosymbol                                   and openForEdit                                    and businessAutoLine.isCUSSelected()"
                    id="CustomAutoSymbol"
                    numRows="5"
                    value="businessAutoLine.CustomAutoSymbolDesc"
                    wrap="true"/>
                </Row>
              </ListViewPanel>
            </ListViewInput>
          </InputColumn>
        </DetailViewPanel>
      </PanelColumn>
    </PanelRow>
  </PanelSet>
</PCF>