<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="RatingCumulDetailsPanelSet"
    mode="BusinessAutoLine">
    <Require
      name="period"
      type="PolicyPeriod"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <Require
      name="isEditable"
      type="boolean"/>
    <Variable
      initialValue="period.BusinessAutoLine"
      name="baLine"
      type="productmodel.BusinessAutoLine"/>
    <Variable
      initialValue="baLine.Costs.whereTypeIs(BALineCovCost).where(\ cost -&gt; cost.Vehicle.FixedId == null)"
      name="lineLevelCosts"
      type="java.util.List&lt;entity.BALineCovCost&gt;"/>
    <Variable
      initialValue="baLine.Costs.whereTypeIs(BACost).where(\ cost -&gt; cost.Vehicle.FixedId != null)"
      name="vehicleCosts"
      type="java.util.List&lt;BACost&gt;"/>
    <Variable
      initialValue="vehicleCosts.partition(\ vehCost -&gt; vehCost.Vehicle )"
      name="vehicleCostsByVehicle"
      type="java.util.Map&lt;entity.BusinessVehicle, java.util.List&lt;entity.BACost&gt;&gt;"/>
    <Variable
      initialValue="baLine.Costs.whereTypeIs(BACost).where(\ cost -&gt; cost.RatedOrder != typekey.BARatedOrderType.TC_COVERAGEPREMIUM)"
      name="otherCosts"
      type="java.util.List&lt;BACost&gt;"/>
    <PanelRef
      def="RatingOverrideButtonDV(period, period.BusinessAutoLine, jobWizardHelper, CurrentLocation.InEditMode)"
      id="RatingOverrideButtonDV"/>
    <PanelRef
      def="BACoverageCostLV(lineLevelCosts.toTypedArray(), lineLevelCosts.AnyProrated, true)">
      <Verbatim
        label="DisplayKey.get(&quot;Web.Policy.BA.LineLevelPremiums&quot;)"/>
    </PanelRef>
    <PanelRef>
      <Verbatim
        label="DisplayKey.get(&quot;Web.Policy.BA.VehiclePremiums&quot;)"/>
      <ListViewPanel
        disableUserCustomization="true"
        id="vehicleLV"
        stretch="true">
        <RowIterator
          editable="false"
          elementName="vehicle"
          id="vehicleList"
          pageSize="0"
          value="vehicleCostsByVehicle.Keys.toTypedArray()"
          valueType="entity.BusinessVehicle[]">
          <IteratorSort
            sortBy="vehicle.Location.LocationNum"
            sortOrder="1"/>
          <IteratorSort
            sortBy="vehicle.VehicleNumber"
            sortOrder="2"/>
          <Row>
            <TextCell
              grow="true"
              id="vehLoc"
              label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.GarageLocation&quot;)"
              value="vehicle.Location.DisplayName"
              wrap="true"/>
            <TextCell
              action="BAVehicleCostDetailPopup.push(vehicle, vehicleCostsByVehicle.get(vehicle))"
              id="vehNum"
              label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.VehicleNumber&quot;)"
              value="vehicle.VehicleNumber"
              valueType="java.lang.Integer"
              wrap="false"/>
            <TextCell
              action="BAVehicleCostDetailPopup.push(vehicle, vehicleCostsByVehicle.get(vehicle))"
              id="vehVIN"
              label="DisplayKey.get(&quot;Web.Policy.BA.VIN&quot;)"
              value="vehicle.Vin"
              wrap="false"/>
            <TypeKeyCell
              id="vehType"
              label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Type&quot;)"
              value="vehicle.VehicleType"
              valueType="typekey.VehicleType"
              wrap="false"/>
            <TextCell
              id="vehClass"
              label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.ClassCode&quot;)"
              value="vehicle.VehicleClassCode"
              wrap="false"/>
            <TextCell
              align="left"
              id="vehYear"
              label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Year&quot;)"
              value="vehicle.Year"
              valueType="java.lang.Integer"
              wrap="false"/>
            <TextCell
              id="vehMake"
              label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Make&quot;)"
              value="vehicle.Make"
              wrap="false"/>
            <TextCell
              id="vehModel"
              label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Model&quot;)"
              value="vehicle.Model"
              wrap="false"/>
            <MonetaryAmountCell
              footerSumValue="vehicleCostsByVehicle.get(vehicle).AmountSum(period.PreferredSettlementCurrency)"
              formatType="currency"
              id="vehAmount"
              label="DisplayKey.get(&quot;Web.Policy.BA.Premium&quot;)"
              value="vehicleCostsByVehicle.get(vehicle).AmountSum(period.PreferredSettlementCurrency)"
              wrap="false"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </PanelRef>
    <PanelRef>
      <Verbatim
        label="DisplayKey.get(&quot;Web.Policy.BOP.Quote.OtherPremiums.Title&quot;)"/>
      <ListViewPanel
        disableUserCustomization="true"
        stretch="true">
        <RowIterator
          canPick="false"
          editable="false"
          elementName="otherCost"
          pageSize="0"
          value="otherCosts.toTypedArray()"
          valueType="entity.BACost[]">
          <IteratorSort
            sortBy="otherCost.RateAmountType.Priority"
            sortOrder="1"/>
          <IteratorSort
            sortBy="otherCost.EffDate"
            sortOrder="2"/>
          <Row>
            <TextCell
              enableSort="false"
              footerLabel="DisplayKey.get(&quot;Web.Policy.BA.Subtotal&quot;)"
              grow="true"
              id="Description"
              label="DisplayKey.get(&quot;Web.Policy.BOP.Quote.OtherPremiums.Description&quot;)"
              value="otherCost.DisplayName"
              wrap="true"/>
            <TypeKeyCell
              enableSort="false"
              id="Jurisdiction"
              label="DisplayKey.get(&quot;Web.Policy.BOP.Quote.Jurisdiction&quot;)"
              value="otherCost.State"
              valueType="typekey.Jurisdiction"
              wrap="false"/>
            <MonetaryAmountCell
              enableSort="false"
              footerSumValue="otherCost.ActualAmountBilling"
              formatType="currency"
              id="Amount"
              label="DisplayKey.get(&quot;Web.Policy.BOP.Quote.Amount&quot;)"
              value="otherCost.ActualAmountBilling"
              wrap="false"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </PanelRef>
  </PanelSet>
</PCF>