<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="RatingTxDetailsPanelSet"
    mode="BusinessAutoLine">
    <Require
      name="thePeriod"
      type="PolicyPeriod"/>
    <Require
      name="totalPremLabel"
      type="String"/>
    <Require
      name="totalCostLabel"
      type="String"/>
    <Require
      name="revOpenForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <Variable
      initialValue="thePeriod.BATransactions.where(\ tx -&gt; ((typeof tx.BACost == BALineCovCost or typeof tx.BACost == BALineCovNonownedCost) and tx.BACost.Vehicle == null) ).toList()"
      name="lineLevelTransactions"
      type="java.util.List&lt;entity.BATransaction&gt;"/>
    <Variable
      initialValue="thePeriod.BATransactions.where(\ tx -&gt; tx.BACost.Vehicle != null ).toList()"
      name="vehicleTransactions"
      type="java.util.List&lt;entity.BATransaction&gt;"/>
    <Variable
      initialValue="thePeriod.BATransactions.where(\ tx -&gt; tx.BACost.RatedOrder != typekey.BARatedOrderType.TC_COVERAGEPREMIUM )?.toList()"
      name="otherTransactions"
      type="java.util.List&lt;entity.BATransaction&gt;"/>
    <Variable
      initialValue="vehicleTransactions.partition(\ tx -&gt; (tx.Cost as BACost).Vehicle)"
      name="vehicleTranactionsByVehicle"
      type="java.util.Map&lt;entity.BusinessVehicle, List&lt;entity.BATransaction&gt;&gt;"/>
    <PanelRef
      def="BACoverageTxLV(lineLevelTransactions,  true)">
      <Verbatim
        label="DisplayKey.get(&quot;Web.Policy.BA.LineLevelTransactions&quot;)"/>
    </PanelRef>
    <PanelRef>
      <Verbatim
        label="DisplayKey.get(&quot;Web.Policy.BA.VehicleTransactions&quot;)"/>
      <ListViewPanel
        disableUserCustomization="true"
        id="vehicleLV"
        stretch="true">
        <RowIterator
          editable="false"
          elementName="vehicle"
          id="vehicleList"
          pageSize="0"
          value="vehicleTranactionsByVehicle.Keys.toTypedArray()"
          valueType="entity.BusinessVehicle[]">
          <IteratorSort
            sortBy="vehicle.Location.LocationNum"
            sortOrder="1"/>
          <IteratorSort
            sortBy="vehicle.VehicleNumber"
            sortOrder="2"/>
          <Row>
            <TextCell
              footerLabel="DisplayKey.get(&quot;Web.Policy.BA.Subtotal&quot;)"
              grow="true"
              id="vehLoc"
              label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.GarageLocation&quot;)"
              value="vehicle.Location.DisplayName"/>
            <TextCell
              action="BAVehicleTxDetailPopup.push(vehicle, vehicleTranactionsByVehicle.get(vehicle))"
              align="right"
              id="vehNum"
              label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.VehicleNumber&quot;)"
              value="vehicle.VehicleNumber"
              valueType="java.lang.Integer"
              wrap="false"/>
            <TextCell
              action="BAVehicleTxDetailPopup.push(vehicle, vehicleTranactionsByVehicle.get(vehicle))"
              align="right"
              id="vehVIN"
              label="DisplayKey.get(&quot;Web.Policy.BA.VIN&quot;)"
              value="vehicle.Vin"
              wrap="false"/>
            <TypeKeyCell
              id="vehType"
              label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Type&quot;)"
              value="vehicle.VehicleType"
              valueType="typekey.VehicleType"
              wrap="false"/>
            <TextCell
              align="right"
              id="vehClass"
              label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.ClassCode&quot;)"
              value="vehicle.VehicleClassCode"
              wrap="false"/>
            <TextCell
              align="right"
              id="vehYear"
              label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Year&quot;)"
              value="vehicle.Year"
              valueType="java.lang.Integer"
              wrap="false"/>
            <TextCell
              id="vehMake"
              label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Make&quot;)"
              value="vehicle.Make"
              wrap="false"/>
            <TextCell
              id="vehModel"
              label="DisplayKey.get(&quot;Web.PolicyLine.Vehicle.Model&quot;)"
              value="vehicle.Model"
              wrap="false"/>
            <MonetaryAmountCell
              align="right"
              footerSumValue="vehicleTranactionsByVehicle.get(vehicle).AmountSum(thePeriod.PreferredSettlementCurrency)"
              formatType="currency"
              id="vehAmount"
              label="DisplayKey.get(&quot;Web.Policy.BA.Premium&quot;)"
              value="vehicleTranactionsByVehicle.get(vehicle).AmountSum(thePeriod.PreferredSettlementCurrency)"
              wrap="false"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </PanelRef>
    <PanelRef>
      <Verbatim
        label="DisplayKey.get(&quot;Web.Policy.BOP.Quote.OtherPremiums.Title&quot;)"/>
      <ListViewPanel
        disableUserCustomization="true"
        stretch="true">
        <RowIterator
          canPick="false"
          editable="false"
          elementName="otherTransaction"
          pageSize="0"
          value="otherTransactions"
          valueType="java.util.List&lt;entity.BATransaction&gt;">
          <IteratorSort
            sortBy="otherTransaction.BACost.RateAmountType.Priority"
            sortOrder="1"/>
          <IteratorSort
            sortBy="otherTransaction.BACost.EffDate"
            sortOrder="2"/>
          <Row>
            <TextCell
              enableSort="false"
              footerLabel="DisplayKey.get(&quot;Web.Policy.BA.Subtotal&quot;)"
              grow="true"
              id="Description"
              label="DisplayKey.get(&quot;Web.Policy.BOP.Quote.OtherPremiums.Description&quot;)"
              value="otherTransaction"
              valueType="entity.BATransaction"/>
            <TypeKeyCell
              enableSort="false"
              id="Jurisdiction"
              label="DisplayKey.get(&quot;Web.Policy.BOP.Quote.Jurisdiction&quot;)"
              value="otherTransaction.BACost.State"
              valueType="typekey.Jurisdiction"
              wrap="false"/>
            <MonetaryAmountCell
              enableSort="false"
              footerSumValue="otherTransaction.AmountBilling"
              formatType="currency"
              id="Amount"
              label="DisplayKey.get(&quot;Web.Policy.BOP.Quote.Amount&quot;)"
              value="otherTransaction.AmountBilling"
              wrap="false"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </PanelRef>
  </PanelSet>
</PCF>