<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="DesktopRenewalsLV"
    stretch="true"
    mode="federated">
    <Variable
      initialValue="new gw.api.web.desktop.data.renewal.RenewalFederatedData()"
      name="federatedDataRenewals"
      type="gw.api.web.desktop.data.FederatedDataIteratorBackingData"/>
    <RowIterator
      appendPageInfo="true"
      editable="false"
      elementName="renewal"
      type="gw.api.web.desktop.data.renewal.RenewalDTO"
      value="federatedDataRenewals"
      valueType="gw.api.web.desktop.data.FederatedDataIteratorBackingData">
      <ToolbarFilter
        name="renewalsFilter">
        <ToolbarFilterOptionGroup
          filters="gw.api.web.desktop.data.JobDataFilters.activityFilters()"/>
        <ToolbarFilterOptionGroup
          filters="gw.api.web.desktop.data.JobDataFilters.producerFilters()"
          visible="perm.System.viewproducerstyledesktopdetails"/>
      </ToolbarFilter>
      <IteratorSort
        sortBy="renewal.EditEffectiveDate"
        sortOrder="1"/>
      <Row>
        <TextCell
          grow="true"
          id="Insured"
          label="DisplayKey.get(&quot;Web.DesktopJobsLV.Insured&quot;)"
          value="renewal.ContactName"/>
        <DateCell
          id="EffectiveDate"
          label="DisplayKey.get(&quot;Web.DesktopJobsLV.EffectiveDate&quot;)"
          sortDirection="descending"
          value="renewal.EditEffectiveDate"
          wrap="false"/>
        <TextCell
          action="FederatedJobForward.push(renewal.JobNumber, renewal.AccountPublicId)"
          available="renewal.Viewable"
          enableSort="false"
          id="JobNumber"
          label="DisplayKey.get(&quot;Web.DesktopJobsLV.WorkOrderNumber&quot;)"
          value="renewal.JobNumber"
          wrap="false"/>
        <TextCell
          enableSort="false"
          id="Status"
          label="DisplayKey.get(&quot;Web.DesktopJobsLV.Status&quot;)"
          value="renewal.DisplayStatus"
          wrap="false"/>
        <TextCell
          action="FederatedJobForward.push(renewal.JobNumber, renewal.AccountPublicId)"
          available="gw.api.web.desktop.data.FederatedJobPermissionHandler.canViewJob(User.util.getCurrentUser(), renewal, SystemPermissionType.TC_VIEWRENEWAL)"
          id="Product"
          label="DisplayKey.get(&quot;Web.DesktopJobsLV.Product&quot;)"
          sortBy="renewal.PolicyProductCode"
          value="renewal.PolicyProduct"
          wrap="false"/>
        <TextCell
          enableSort="false"
          grow="true"
          id="Producer"
          label="DisplayKey.get(&quot;Web.DesktopJobsLV.Producer&quot;)"
          value="renewal.ProducerDisplayName"
          valueType="java.lang.String"
          visible="!perm.System.viewproducerstyledesktopdetails"/>
        <TextCell
          enableSort="false"
          grow="true"
          id="Underwriter"
          label="DisplayKey.get(&quot;Web.DesktopJobsLV.Underwriter&quot;)"
          value="renewal.UnderwriterDisplayName"
          valueType="java.lang.String"
          visible="perm.System.viewproducerstyledesktopdetails"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>