<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canEdit="true"
    canVisit="perm.System.viewmyactivities"
    id="DesktopActivities"
    title="DisplayKey.get(&quot;Web.DesktopActivities&quot;)">
    <LocationEntryPoint
      signature="DesktopActivities()"/>
    <ScreenRef
      def="DesktopActivitiesScreen()"
      mode="gw.api.web.desktop.data.FederatedDataUIHelper.mode()"/>

  </Page>
</PCF>