<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Forward
    id="PolicyCenterStartupPage">
    <LocationEntryPoint
      signature="PolicyCenterStartupPage()"/>
    <Variable
      initialValue="User.util.CurrentUser"
      name="userBase"
      recalculateOnRefresh="true"
      type="entity.User"/>
    <Variable
      initialValue="new gw.api.web.userpreference.UserPreferencesOfCurrentUser()"
      name="userPreferences"
      recalculateOnRefresh="true"
      type="gw.api.web.userpreference.UserPreferencesOfCurrentUser"/>
    <!-- First try to determine the correct location based on startup page. -->
    <ForwardCondition
      action="DesktopActivities.go()"
      condition="userPreferences.StartupPage == TC_DESKTOPACTIVITIES"/>
    <ForwardCondition
      action="DesktopSubmissions.go()"
      condition="userPreferences.StartupPage == TC_DESKTOPSUBMISSIONS"/>
    <ForwardCondition
      action="DesktopRenewals.go()"
      condition="userPreferences.StartupPage == TC_DESKTOPRENEWALS"/>
    <ForwardCondition
      action="DesktopOtherWorkOrders.go()"
      condition="userPreferences.StartupPage == TC_DESKTOPOTHERWORKORDERS"/>
    <ForwardCondition
      action="DesktopAssignableQueues.go()"
      condition="userPreferences.StartupPage == TC_DESKTOPQUEUES"/>
    <ForwardCondition
      action="Search.go()"
      condition="userPreferences.StartupPage == TC_SEARCH"/>
    <ForwardCondition
      action="Admin.go()"
      condition="userPreferences.StartupPage == TC_ADMIN"/>
    <!-- Next attempt to simply go to the locations in order, checking permissions along the way. -->
    <ForwardCondition
      action="Underwriter_MySummary.go(userBase)"/>
    <ForwardCondition
      action="DesktopActivities.go()"/>
    <ForwardCondition
      action="DesktopSubmissions.go()"/>
    <ForwardCondition
      action="DesktopRenewals.go()"/>
    <ForwardCondition
      action="DesktopOtherWorkOrders.go()"/>
    <ForwardCondition
      action="DesktopAssignableQueues.go()"/>
    <ForwardCondition
      action="TeamForward.go()"/>
    <ForwardCondition
      action="Search.go()"/>
    <ForwardCondition
      action="Admin.go()"/>
    <!-- Finally go to the no permissions error page. -->
    <ForwardCondition
      action="StartupPageError.go()"/>
  </Forward>
</PCF>