<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    disableUserCustomization="true"
    id="GLExpCovCumulDetailLV"
    stretch="true">
    <Require
      name="locCosts"
      type="java.util.Set&lt;GLCovExposureCost&gt;"/>
    <Variable
      initialValue="locCosts.AnyProrated"
      name="prorated"
      type="boolean"/>
    <RowIterator
      editable="false"
      elementName="cost"
      pageSize="0"
      value="locCosts?.toTypedArray()"
      valueType="entity.GLCovExposureCost[]">
      <IteratorSort
        sortBy="cost.Location.LocationNum"
        sortOrder="1"/>
      <IteratorSort
        sortBy="cost.GLExposure.ClassCode"
        sortOrder="2"/>
      <IteratorSort
        sortBy="cost.Subline"
        sortOrder="3"/>
      <IteratorSort
        sortBy="cost.SplitType"
        sortOrder="4"/>
      <Row
        id="ExpCovRow">
        <TextCell
          enableSort="false"
          id="LocIndex"
          label="DisplayKey.get(&quot;Web.Policy.GL.Loc&quot;)"
          value="cost.GLExposure.Location.LocationNum"
          valueType="java.lang.Integer"
          wrap="false"/>
        <TextCell
          enableSort="false"
          id="ClassCode"
          label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.ClassCode&quot;)"
          value="cost.GLExposure.ClassCode.Code"
          wrap="false"/>
        <TextCell
          enableSort="false"
          footerLabel="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.Subtotal&quot;)"
          grow="true"
          id="Description"
          label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.Desc.EUDesc&quot;)"
          value="cost.GLExposure.ClassCode.Classification"/>
        <TypeKeyCell
          enableSort="false"
          id="Subline"
          label="DisplayKey.get(&quot;Web.Policy.GL.Subline&quot;)"
          value="cost.Subline"
          valueType="typekey.GLCostSubline"
          wrap="false"/>
        <TypeKeyCell
          enableSort="false"
          id="Split"
          label="DisplayKey.get(&quot;Web.Policy.GL.Split&quot;)"
          value="cost.SplitType"
          valueType="typekey.GLCostSplitType"
          wrap="false"/>
        <TextCell
          align="right"
          enableSort="false"
          id="Basis"
          label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.Basis&quot;)"
          value="cost.Basis == null or cost.Basis == 0? &quot;&quot; : cost.Basis.DisplayValue"
          wrap="false"/>
        <TextCell
          align="right"
          enableSort="false"
          id="Rate"
          label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.Rate&quot;)"
          value="cost.ActualAdjRate"
          valueType="java.math.BigDecimal"
          wrap="false"/>
        <MonetaryAmountCell
          enableSort="false"
          formatType="currency"
          id="TermAmount"
          label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.TermPremium&quot;)"
          value="cost.ActualTermAmountBilling"
          visible="true //prorated"
          wrap="false"/>
        <DateCell
          enableSort="false"
          id="EffDate"
          label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.PeriodStart&quot;)"
          value="cost.EffDate"
          visible="true //prorated"
          wrap="false"/>
        <DateCell
          enableSort="false"
          id="ExpDate"
          label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.PeriodEnd&quot;)"
          value="cost.ExpDate"
          visible="true //prorated"
          wrap="false"/>
        <TextCell
          align="right"
          enableSort="false"
          id="Proration"
          label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.Prorata&quot;)"
          value="gw.api.util.StringUtil.formatNumber(cost.ProRataByDaysValue, &quot;#0.0000&quot;)"
          visible="true //prorated"
          wrap="false"/>
        <MonetaryAmountCell
          align="right"
          enableSort="false"
          footerSumValue="cost.ActualAmountBilling"
          formatType="currency"
          id="Amount"
          label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.Amount&quot;)"
          value="cost.ActualAmountBilling"
          wrap="false"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>