<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    disableUserCustomization="true"
    id="GLExpCovTxDetailLV"
    stretch="true">
    <Require
      name="locationTxs"
      type="java.util.Set&lt;GLTransaction&gt;"/>
    <Variable
      initialValue="locationTxs.AnyProrated"
      name="prorated"
      type="boolean"/>
    <RowIterator
      editable="false"
      elementName="tx"
      pageSize="0"
      value="locationTxs.toTypedArray()"
      valueType="entity.GLTransaction[]">
      <Variable
        initialValue="tx.GLCost as GLCovExposureCost"
        name="cost"
        type="entity.GLCovExposureCost"/>
      <IteratorSort
        sortBy="(tx.GLCost as GLCovExposureCost).GLExposure.ClassCode"
        sortOrder="1"/>
      <IteratorSort
        sortBy="tx.GLCost.Coverage.Pattern"
        sortOrder="2"/>
      <Row
        id="ExpCovRow">
        <TextCell
          enableSort="false"
          id="ClassCode"
          label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.ClassCode&quot;)"
          value="cost.GLExposure.ClassCode.Code"
          wrap="false"/>
        <TextCell
          enableSort="false"
          footerLabel="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.Subtotal&quot;)"
          grow="true"
          id="Description"
          label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.Desc.EUDesc&quot;)"
          value="cost.GLExposure.ClassCode.Classification"/>
        <TextCell
          enableSort="false"
          id="Coverage"
          label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.Desc.Cov&quot;)"
          value="cost.GeneralLiabilityCov.Pattern"
          valueType="gw.api.productmodel.ClausePattern"
          wrap="false"/>
        <TextCell
          enableSort="false"
          id="Basis"
          label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.Basis&quot;)"
          value="cost.Basis"
          valueType="java.math.BigDecimal"
          wrap="false"/>
        <TextCell
          enableSort="false"
          id="Rate"
          label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.Rate&quot;)"
          value="cost.ActualAdjRate"
          valueType="java.math.BigDecimal"
          wrap="false"/>
        <MonetaryAmountCell
          enableSort="false"
          formatType="currency"
          id="TermAmount"
          label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.TermAmount&quot;)"
          value="cost.ActualTermAmountBilling"
          visible="prorated"
          wrap="false"/>
        <DateCell
          enableSort="false"
          id="EffDate"
          label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.PeriodStart&quot;)"
          value="tx.EffDate"
          visible="prorated"
          wrap="false"/>
        <DateCell
          enableSort="false"
          id="ExpDate"
          label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.PeriodEnd&quot;)"
          value="tx.ExpDate"
          visible="prorated"
          wrap="false"/>
        <TextCell
          align="right"
          enableSort="false"
          id="Proration"
          label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.Prorata&quot;)"
          value="gw.api.util.StringUtil.formatNumber(tx.Proration, &quot;#0.0000&quot;)"
          visible="prorated"
          wrap="false"/>
        <MonetaryAmountCell
          enableSort="false"
          footerSumValue="tx.AmountBilling"
          formatType="currency"
          id="Amount"
          label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.Amount&quot;)"
          value="tx.AmountBilling"
          wrap="false"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>