<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <MenuActions
    flatten="true"
    id="AdminMenuActions">
    <MenuItem
      id="AdminMenuActions_Create"
      label="DisplayKey.get(&quot;Web.Admin.Create&quot;)"
      shortcut="C">
      <MenuItem
        action="NewUser.go()"
        id="AdminMenuActions_NewUser"
        label="DisplayKey.get(&quot;Web.Admin.NewUser&quot;)"
        shortcut="N"/>
      <MenuItem
        action="NewGroup.go()"
        id="AdminMenuActions_NewGroup"
        label="DisplayKey.get(&quot;Web.Admin.NewGroup&quot;)"
        shortcut="G"/>
      <MenuItem
        action="NewOrganization.go()"
        id="AdminMenuActions_NewOrganization"
        label="DisplayKey.get(&quot;Web.Admin.NewOrganization&quot;)"
        shortcut="O"/>
      <MenuItem
        action="NewProducerCode.go()"
        id="AdminMenuActions_NewProducerCode"
        label="DisplayKey.get(&quot;Web.Admin.NewProducerCode&quot;)"
        shortcut="P"/>
      <MenuItem
        action="NewAffinityGroup.go()"
        id="AdminMenuActions_NewAffinityGroup"
        label="DisplayKey.get(&quot;Web.Admin.NewAffinityGroup&quot;)"
        shortcut="A"/>
    </MenuItem>
    <MenuItem
      id="AdminMenuActions_Validate"
      label="DisplayKey.get(&quot;Web.Admin.Validate&quot;)"
      shortcut="V">
      <MenuItem
        action="FormPatternsValidation.go(); gw.admin.FormPatternValidation.validateAll(); gw.api.util.LocationUtil.addRequestScopedInfoMessage(DisplayKey.get(&quot;Web.Admin.FormPatternsValidationSuccessful&quot;))"
        id="AdminMenuActions_ValidateFormPatterns"
        label="DisplayKey.get(&quot;Web.Admin.ValidateFormPatterns&quot;)"
        shortcut="F"
        visible="perm.System.formpatedit"/>
    </MenuItem>
  </MenuActions>
</PCF>