<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="RoleDetailDV">
    <Require
      name="role"
      type="Role"/>
    <Variable
      initialValue="role.RoleType"
      name="oldRoleType"
      type="RoleType"/>
    <Variable
      initialValue="gw.web.admin.RoleUIHelper.getAvailablePermissions(role)"
      name="availablePermissions"
      recalculateOnRefresh="true"
      type="typekey.SystemPermissionType[]"/>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.Admin.RoleDetailDV.Role&quot;)"/>
      <TextInput
        editable="true"
        id="Name"
        label="DisplayKey.get(&quot;Web.Admin.RoleDetailDV.Name&quot;)"
        required="true"
        value="role.Name"/>
      <TypeKeyInput
        editable="oldRoleType == null"
        id="RoleType"
        label="DisplayKey.get(&quot;Web.Admin.RoleDetailDV.RoleType&quot;)"
        required="true"
        value="role.RoleType"
        valueType="typekey.RoleType">
        <PostOnChange/>
      </TypeKeyInput>
      <BooleanRadioInput
        confirmMessage="DisplayKey.get(&quot;Web.Admin.RoleDetailDV.CarrierInternalRole.SwitchToInternalConfirm&quot;)"
        editable="perm.System.roleedittype"
        id="CarrierInternalRole"
        label="DisplayKey.get(&quot;Web.Admin.RoleDetailDV.CarrierInternalRole&quot;)"
        required="true"
        showConfirmMessage="!role.CarrierInternalRole"
        value="role.CarrierInternalRole"
        visible="perm.System.roleedittype">
        <PostOnChange
          onChange="gw.api.web.admin.CarrierInternalUtil.setCarrierInternalRole(role)"/>
      </BooleanRadioInput>
      <TextAreaInput
        editable="true"
        id="Description"
        label="DisplayKey.get(&quot;Web.Admin.RoleDetailDV.Description&quot;)"
        numRows="3"
        value="role.Description"/>
      <ListViewInput
        boldLabel="true"
        label="DisplayKey.get(&quot;Web.Admin.RoleDetail.Permissions&quot;)"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons
            addVisible="perm.RolePrivilege.create"
            iterator="RolePrivilegesLV"
            removeVisible="perm.RolePrivilege.delete"/>
        </Toolbar>
        <ListViewPanel
          id="RolePrivilegesLV"
          stretch="true">
          <RowIterator
            editable="true"
            elementName="rolePrivilege"
            hasCheckBoxes="true"
            hideCheckBoxesIfReadOnly="true"
            toAdd="role.addToPrivileges(rolePrivilege)"
            toRemove="role.removeFromPrivileges(rolePrivilege)"
            value="role.Privileges"
            valueType="entity.RolePrivilege[]">
            <Row>
              <RangeCell
                editable="perm.RolePrivilege.edit"
                id="Permission"
                label="DisplayKey.get(&quot;Web.Admin.RolePrivileges.Permission&quot;)"
                required="true"
                sortBy="rolePrivilege.Permission"
                sortOrder="1"
                unique="true"
                value="rolePrivilege.Permission"
                valueRange="gw.web.admin.RoleUIHelper.getValueRange(rolePrivilege.Permission, availablePermissions)"
                valueType="typekey.SystemPermissionType"
                wrap="false">
                <PostOnChange/>
              </RangeCell>
              <TextCell
                id="PermissionCode"
                label="DisplayKey.get(&quot;Web.Admin.RolePrivileges.Permission.Code&quot;)"
                value="rolePrivilege.Permission.Code"
                wrap="false"/>
              <TextCell
                grow="true"
                id="PermissionDescription"
                label="DisplayKey.get(&quot;Web.Admin.RolePrivileges.Permission.Description&quot;)"
                value="rolePrivilege.Permission.Description"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>