<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="UserAttributesLV">
    <ExposeIterator
      valueType="entity.AttributeUser"
      widget="UserAttributesLV"/>
    <Require
      name="user"
      type="User"/>
    <RowIterator
      conversionExpression="gw.api.admin.UserAttributeUtil.createAttributeUsers(PickedValue, CurrentLocation)"
      editable="true"
      elementName="attribute"
      hasCheckBoxes="true"
      pickLocation="UserAttributesPopup.push()"
      toAdd="user.addToAttributes(attribute)"
      toRemove="user.removeFromAttributes(attribute)"
      value="user.Attributes"
      valueType="entity.AttributeUser[]">
      <Row>
        <TextCell
          id="Name"
          label="DisplayKey.get(&quot;Web.Admin.UserAttributes.Name&quot;)"
          validationExpression="gw.web.admin.UserUIHelper.verifyAttributeNameIsUnique(attribute, user.Attributes.toList())"
          value="attribute.Attribute.Name"/>
        <TextCell
          id="Description"
          label="DisplayKey.get(&quot;Web.Admin.UserAttributes.Description&quot;)"
          value="attribute.Attribute.Description"/>
        <TypeKeyCell
          id="Type"
          label="DisplayKey.get(&quot;Web.Admin.UserAttributes.Type&quot;)"
          value="attribute.Attribute.Type"
          valueType="typekey.UserAttributeType"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>