<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="RateTableDefinitionSearchScreen">
    <SearchPanel
      criteriaName="searchCriteria"
      resultsName="RateTableDefinitionSearchResults"
      search="searchCriteria.performSearch()"
      searchCriteria="new gw.rating.rtm.query.RateTableDefinitionSearchCriteria()"
      searchCriteriaType="gw.rating.rtm.query.RateTableDefinitionSearchCriteria"
      searchResultsType="gw.api.database.IQueryBeanResult&lt;entity.RateTableDefinition&gt;">
      <PanelRef
        def="RateTableDefinitionSearchDV(searchCriteria)"/>
      <PanelRef>
        <TitleBar
          title="DisplayKey.get(&quot;Web.Search.Results&quot;)"/>
        <Toolbar>
          <ToolbarButton
            action="NewRateTableDefinition.go()"
            id="AddRateTableDefButton"
            label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.NewRateTableDefButton&quot;)"
            visible="perm.System.ratebookedit"/>
          <CheckedValuesToolbarButton
            checkedRowAction="CheckedValue.delete()"
            confirmMessage="DisplayKey.get(&quot;Web.Rating.RateTableDefinitions.DeleteCheckedConfirmation&quot;)"
            id="DeleteSelectedDefinitions"
            iterator="DefinitionsLV"
            label="DisplayKey.get(&quot;Web.Rating.RateTableDefinitions.DeleteChecked&quot;)"
            visible="perm.System.ratebookedit"/>
        </Toolbar>
        <ListViewPanel
          id="DefinitionsLV">
          <RowIterator
            appendPageInfo="true"
            checkBoxVisible="perm.System.ratebookedit and ((not RateTableDefinitionElement.TableCode.HasContent) or (RateTableDefinitionElement.tablesUsingDefinition().Empty and RateTableDefinitionElement.ReferencingRateRoutines.Empty))"
            editable="false"
            elementName="RateTableDefinitionElement"
            hasCheckBoxes="true"
            id="SearchResultsRowIterator"
            value="RateTableDefinitionSearchResults"
            valueType="gw.api.database.IQueryBeanResult&lt;entity.RateTableDefinition&gt;">
            <Row>
              <TextCell
                action="RateTableDefinitionDetail.go(RateTableDefinitionElement)"
                id="Name"
                label="DisplayKey.get(&quot;Web.Rating.RateTables.Name&quot;)"
                sortOrder="1"
                value="RateTableDefinitionElement.TableName"/>
              <TextCell
                id="Code"
                label="DisplayKey.get(&quot;Web.Rating.RateTables.Code&quot;)"
                sortOrder="3"
                value="RateTableDefinitionElement.TableCode"/>
              <TextCell
                id="Description"
                label="DisplayKey.get(&quot;Web.Rating.RateTables.Description&quot;)"
                value="RateTableDefinitionElement.TableDesc"/>
              <TextCell
                id="PolicyLine"
                label="DisplayKey.get(&quot;Web.Rating.RateTables.PolicyLine&quot;)"
                outputConversion="gw.api.productmodel.PolicyLinePatternLookup.getByPublicID(VALUE).DisplayName"
                sortOrder="2"
                value="RateTableDefinitionElement.PolicyLine"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
    </SearchPanel>
  </Screen>
</PCF>