<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    editable="true"
    id="RateTableDefinitionDetailsScreen">
    <Require
      name="tableDefinition"
      type="RateTableDefinition"/>
    <Require
      name="disallowUpdate"
      type="boolean"/>
    <Variable
      initialValue="new gw.pcf.rating.rtm.RateTableParameterSetHelper(tableDefinition)"
      name="helper"
      type="gw.pcf.rating.rtm.RateTableParameterSetHelper"/>
    <Variable
      initialValue="new gw.web.rating.RateTableDefinitionDetailsScreenUIHelper(tableDefinition)"
      name="screenHelper"
      recalculateOnRefresh="true"
      type="gw.web.rating.RateTableDefinitionDetailsScreenUIHelper"/>
    <Variable
      initialValue="gw.web.rating.RateTableDefinitionDetailsScreenUIHelper.calcParameterSet(tableDefinition)"
      name="parameterSet"
      type="CalcRoutineParameterSet"/>
    <Variable
      initialValue="gw.web.rating.RateTableDefinitionDetailsScreenUIHelper.calcParameterSets(tableDefinition)"
      name="paramSets"
      recalculateOnRefresh="true"
      type="List&lt;CalcRoutineParameterSet&gt;"/>
    <Variable
      initialValue="tableDefinition.ArgumentSourceSetsUsedInPromotedRateBooks"
      name="argumentSourceSetsUsedInPromotedBooks"
      recalculateOnRefresh="true"
      type="java.util.Set&lt;RateTableArgumentSourceSet&gt;"/>
    <Variable
      initialValue="tableDefinition.ArgumentSourceSetsUsedInRateBooks"
      name="argumentSourceSetsUsedInAnyRateBooks"
      recalculateOnRefresh="true"
      type="java.util.Set&lt;entity.RateTableArgumentSourceSet&gt;"/>
    <Toolbar
      visible="true">
      <ToolbarButton
        action="copyDetailsToParameters(); CurrentLocation.commit()"
        id="myUpdate"
        label="DisplayKey.get(&quot;Button.Update&quot;)"
        visible="perm.System.ratebookedit and not disallowUpdate and CurrentLocation.InEditMode"/>
      <EditButtons
        editVisible="perm.System.ratebookedit"
        updateVisible="false"/>
      <ToolbarButton
        action="NewRateTableDefinition.go(tableDefinition)"
        id="Copy"
        label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.CopyRateTableDefButton&quot;)"
        visible="not CurrentLocation.InEditMode and perm.System.ratebookedit"/>
      <ToolbarButton
        action="tableDefinition.delete(); RateTableDefinitions.go()"
        confirmMessage="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.DeleteConfirmation&quot;)"
        id="Delete"
        label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.Delete&quot;)"
        visible="screenHelper.RateTables.Empty and not CurrentLocation.InEditMode and perm.System.ratebookedit"/>
    </Toolbar>
    <AlertBar
      hideIfReadOnly="true"
      id="RateTableDefinitionReferencedMessage"
      label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.NoEditDueToReferencedMessage&quot;)"
      showConfirmMessage="false"
      visible="not screenHelper.TableDefinitionEditable "/>
    <CardViewPanel>
      <Variable
        initialValue="gw.api.util.LocaleUtil.getAllLanguages()?.toTypedArray()"
        name="languages"
        type="LanguageType[]"/>
      <Card
        id="Basics"
        title="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.Basics&quot;)">
        <PanelRow>
          <PanelColumn>
            <PanelRef
              def="RateTableDefinitionDV(tableDefinition, screenHelper.TableDefinitionEditable)"/>
          </PanelColumn>
          <PanelColumn>
            <PanelRef
              def="LocalizedValuesDV(tableDefinition, { &quot;TableName&quot;, &quot;TableDesc&quot; }, { DisplayKey.get(&quot;Web.Rating.RateBooks.Name&quot;), DisplayKey.get(&quot;Web.Rating.RateBooks.Description&quot;) })"/>
          </PanelColumn>
        </PanelRow>
      </Card>
      <Card
        id="ParametersCard"
        title="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.Parameters&quot;)">
        <ListDetailPanel
          selectionName="selectedMatchOp"
          selectionType="RateTableMatchOp">
          <PanelRef>
            <Toolbar
              visible="true">
              <AddButton
                hideIfReadOnly="true"
                id="AddParameter"
                iterator="MatchOpsIterator"
                label="DisplayKey.get(&quot;Button.Add&quot;)">
                <AddMenuItemIterator
                  elementName="matchOp"
                  id="MatchOps"
                  value="gw.web.rating.RateTableDefinitionDetailsScreenUIHelper.MatchOpDefinitions.orderBy(gw.api.database.QuerySelectColumns.path(gw.api.path.Paths.make(RateTableMatchOpDefinition#SortOrder))).toList()"
                  valueType="java.util.List&lt;entity.RateTableMatchOpDefinition&gt;">
                  <AddMenuItem
                    id="MatchOp"
                    iterator="MatchOpsIterator"
                    label="matchOp.OpName"
                    toCreateAndAdd="gw.web.rating.RateTableDefinitionDetailsScreenUIHelper.addMatchOperation(tableDefinition, matchOp)"/>
                </AddMenuItemIterator>
              </AddButton>
              <IteratorButtons
                addVisible="false"
                iterator="MatchOpsIterator"/>
            </Toolbar>
            <ListViewPanel
              id="MatchOpLV"
              validationExpression="helper.validateChange()">
              <RowIterator
                checkBoxVisible="isMatchOpRemovable"
                editable="true"
                elementName="matchOp"
                hasCheckBoxes="true"
                hideCheckBoxesIfReadOnly="true"
                id="MatchOpsIterator"
                toRemove="tableDefinition.removeFromMatchOps(matchOp)"
                value="tableDefinition.MatchOps"
                valueType="entity.RateTableMatchOp[]">
                <Variable
                  initialValue="matchOp.Params.sortBy(\ p -&gt; p.SortOrder)"
                  name="orderedParams"
                  type="entity.RateTableColumn[]"/>
                <Variable
                  initialValue="orderedParams == null ? null : orderedParams.first()"
                  name="currentFirstParam"
                  recalculateOnRefresh="true"
                  type="entity.RateTableColumn"/>
                <Variable
                  initialValue="helper.canRemoveParameter(matchOp.Params.first())"
                  name="isMatchOpRemovable"
                  recalculateOnRefresh="true"
                  type="boolean"/>
				<IteratorSort
                  sortBy="matchOp.sortedParams().first().SortOrder"
                  sortOrder="1"/>
                <Row>
                  <TextCell
                    enableSort="false"
                    id="name"
                    label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.DisplayText&quot;)"
                    unique="true"
                    value="matchOp.DisplayText"/>
                  <TextCell
                    align="center"
                    enableSort="false"
                    id="sortOrder"
                    label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.Priority&quot;)"
                    value="orderedParams*.SortOrder.join(&quot;, &quot;)"/>
                  <TextCell
                    enableSort="false"
                    id="matchingRule"
                    label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.MatchingRule&quot;)"
                    value="gw.web.rating.RateTableDefinitionDetailsScreenUIHelper.getOpCodeLabel(matchOp)"/>
                  <TypeKeyCell
                    align="center"
                    enableSort="false"
                    id="dataType"
                    label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.ColumnDataType&quot;)"
                    value="currentFirstParam.ColumnType"
                    valueType="typekey.RateTableDataType"/>
                  <TextCell
                    enableSort="false"
                    id="labels"
                    label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.ColumnLabels&quot;)"
                    value="orderedParams*.ColumnLabel.map(\ s -&gt; s == null ? &quot;&quot; : s) .join(&quot;, &quot;)"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
          <CardViewPanel
            id="ParameterCV">
            <Variable
              initialValue="selectedMatchOp.Params == null ? null : selectedMatchOp.Params.sortBy(\ p -&gt; p.SortOrder).first()"
              name="firstParam"
              recalculateOnRefresh="true"
              type="entity.RateTableColumn"/>
            <Variable
              initialValue="selectedMatchOp.Params == null or selectedMatchOp.Params.Count &lt; 2 ? null : selectedMatchOp.Params.sortBy(\ p -&gt; p.SortOrder)[1]"
              name="secondParam"
              recalculateOnRefresh="true"
              type="entity.RateTableColumn"/>
            <Variable
              initialValue="helper.canEditMatchOp(selectedMatchOp)"
              name="isSelectedMatchOpEditable"
              recalculateOnRefresh="true"
              type="boolean"/>
            <Card
              id="ParameterDetailsCard"
              title="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.ParameterDetails&quot;)">
              <DetailViewPanel>
                <InputColumn>
                  <TextInput
                    id="MatchingRule"
                    label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.MatchingRule&quot;)"
                    required="false"
                    value="selectedMatchOp.MatchOpDefinition.OpName"/>
                  <TextInput
                    editable="isSelectedMatchOpEditable"
                    id="Name"
                    label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.Code&quot;)"
                    required="true"
                    value="selectedMatchOp.Name">
                    <PostOnChange
                      onChange="copyDetailsToParameters()"/>
                  </TextInput>
                  <TextInput
                    editable="isSelectedMatchOpEditable"
                    id="DisplayText"
                    label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.DisplayText&quot;)"
                    required="true"
                    value="selectedMatchOp.DisplayText">
                    <PostOnChange
                      onChange="copyDetailsToParameters()"/>
                  </TextInput>
                  <RangeInput
                    editable="isSelectedMatchOpEditable"
                    id="DataType"
                    label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.DataType&quot;)"
                    required="true"
                    value="firstParam.ColumnType"
                    valueRange="selectedMatchOp.MatchOpDefinition.AllowedParameterTypeSet.toTypedArray().sortBy(\ r -&gt; r.Priority)"
                    valueType="typekey.RateTableDataType">
                    <PostOnChange
                      onChange="firstParam.PhysicalColumnName = null; selectedMatchOp.Params.first().MultiSelect = false; if(selectedMatchOp.Params.Count &gt; 1){secondParam.ColumnType = firstParam.ColumnType; secondParam.PhysicalColumnName = null}"/>
                  </RangeInput>
                  <TextInput
                    editable="isSelectedMatchOpEditable"
                    id="ParamsColumnScale"
                    label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.DecimalPlaces&quot;)"
                    required="false"
                    value="selectedMatchOp.AllParamColumnScales"
                    valueType="java.lang.Integer"
                    visible="firstParam.ColumnType == RateTableDataType.TC_DECIMAL"/>
                </InputColumn>
              </DetailViewPanel>
              <PanelRef
                def="LocalizedValuesDV(selectedMatchOp, { &quot;DisplayText&quot;}, { DisplayKey.get(&quot;Web.Rating.RateTableDefinition.DisplayText&quot;) })"
                id="LocalizedLabelValues"/>
              <PanelDivider/>
              <PanelRow
                columnDivider="true">
                <PanelColumn>
                  <DetailViewPanel>
                    <InputColumn>
                      <Label
                        label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.MatchOpColumnHeader&quot;, 1)"
                        visible="selectedMatchOp.Params.Count &gt; 1"/>
                      <InputSetRef
                        def="ColumnDefinitionInputSet(firstParam, tableDefinition, isSelectedMatchOpEditable, true, helper)"
                        id="ParameterColumn1Details"/>
                    </InputColumn>
                  </DetailViewPanel>
                  <PanelRef
                    def="LocalizedValuesDV(firstParam, { &quot;ColumnLabel&quot;}, { DisplayKey.get(&quot;Web.Rating.RateTableDefinition.ColumnLabel&quot;) })"
                    id="LocalizedColumnLabelValues"
                    visible="selectedMatchOp.Params.length &gt; 1"/>
                </PanelColumn>
                <PanelColumn
                  visible="selectedMatchOp.Params.Count &gt; 1">
                  <DetailViewPanel>
                    <InputColumn>
                      <Label
                        label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.MatchOpColumnHeader&quot;, 2)"/>
                      <InputSetRef
                        def="ColumnDefinitionInputSet(secondParam, tableDefinition, isSelectedMatchOpEditable, true, helper)"
                        id="ParameterColumn2Details"/>
                    </InputColumn>
                  </DetailViewPanel>
                  <PanelRef
                    def="LocalizedValuesDV(secondParam, { &quot;ColumnLabel&quot;}, { DisplayKey.get(&quot;Web.Rating.RateTableDefinition.ColumnLabel&quot;) })"
                    id="LocalizedValuesDV2"/>
                </PanelColumn>
              </PanelRow>
            </Card>
          </CardViewPanel>
        </ListDetailPanel>
      </Card>
      <Card
        id="FactorsCard"
        title="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.Factors&quot;)">
        <ListDetailPanel
          selectionName="selectedFactor"
          selectionType="RateTableColumn">
          <Variable
            initialValue="helper.canAddFactor()"
            name="canAddFactor"
            recalculateOnRefresh="true"
            type="boolean"/>
          <PanelRef>
            <Toolbar>
              <IteratorButtons
                addVisible="canAddFactor"
                iterator="FactorsIterator"/>
            </Toolbar>
            <ListViewPanel
              id="FactorLV">
              <RowIterator
                checkBoxVisible="isFactorRemovable"
                editable="true"
                elementName="factor"
                hasCheckBoxes="true"
                hideCheckBoxesIfReadOnly="true"
                id="FactorsIterator"
                toCreateAndAdd="gw.web.rating.RateTableDefinitionDetailsScreenUIHelper.addFactorDefinition(tableDefinition)"
                toRemove="tableDefinition.removeFromFactors(factor)"
                value="tableDefinition.Factors"
                valueType="entity.RateTableColumn[]">
                <Variable
                  initialValue="helper.canRemoveFactor(factor)"
                  name="isFactorRemovable"
                  recalculateOnRefresh="true"
                  type="boolean"/>
                <IteratorSort
                  sortBy="factor.SortOrder"
                  sortOrder="1"/>
                <Row>
                  <TextCell
                    id="name"
                    label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.ColumnCode&quot;)"
                    unique="true"
                    value="factor.ColumnName"/>
                  <TextCell
                    align="center"
                    id="priority"
                    label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.Priority&quot;)"
                    value="factor.SortOrder"
                    valueType="java.lang.Integer"/>
                  <TypeKeyCell
                    id="dataType"
                    label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.ColumnDataType&quot;)"
                    value="factor.ColumnType"
                    valueType="typekey.RateTableDataType"/>
                  <TextCell
                    id="labels"
                    label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.ColumnLabels&quot;)"
                    value="factor.ColumnLabel"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
          <CardViewPanel
            id="FactorCV">
            <Variable
              initialValue="selectedFactor == null or selectedFactor.New or helper.canEditFactor(selectedFactor)"
              name="isSelectedFactorEditable"
              recalculateOnRefresh="true"
              type="boolean"/>
            <Card
              id="FactorDetailsCard"
              title="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.FactorDetails&quot;)">
              <PanelRow>
                <PanelColumn>
                  <DetailViewPanel>
                    <InputColumn>
                      <TypeKeyInput
                        editable="isSelectedFactorEditable"
                        filter="gw.web.rating.RateTableDefinitionDetailsScreenUIHelper.tableFactorFilter(tableDefinition, VALUE)"
                        id="DataType"
                        label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.DataType&quot;)"
                        required="true"
                        value="selectedFactor.ColumnType"
                        valueType="typekey.RateTableDataType">
                        <PostOnChange
                          onChange="selectedFactor.PhysicalColumnName = null"/>
                      </TypeKeyInput>
                      <TextInput
                        editable="isSelectedFactorEditable"
                        id="ColumnScale"
                        label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.DecimalPlaces&quot;)"
                        required="true"
                        value="selectedFactor.ColumnScale"
                        valueType="java.lang.Integer"
                        visible="selectedFactor.ColumnType == RateTableDataType.TC_DECIMAL"/>
                      <InputSetRef
                        def="ColumnDefinitionInputSet(selectedFactor, tableDefinition, isSelectedFactorEditable, false, helper)"
                        id="FactorColumnDetails"/>
                    </InputColumn>
                  </DetailViewPanel>
                  <PanelRef
                    def="LocalizedValuesDV(selectedFactor, { &quot;ColumnLabel&quot;}, { DisplayKey.get(&quot;Web.Rating.RateTableDefinition.ColumnLabel&quot;) })"/>
                </PanelColumn>
              </PanelRow>
            </Card>
          </CardViewPanel>
        </ListDetailPanel>
      </Card>
      <Card
        id="ArgumentSourceCard"
        onSelect="gw.api.web.PebblesUtil.invalidateIterators(CurrentLocation, entity.RateTableMatchOp)"
        title="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.ArgumentSources&quot;)">
        <DetailViewPanel>
          <InputColumn>
            <RangeInput
              editable="argumentSourceSetsUsedInPromotedBooks.Empty"
              id="RoutineParamSet"
              label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.ParameterSet&quot;)"
              optionLabel="VALUE.Name"
              required="false"
              value="parameterSet"
              valueRange="paramSets"
              valueType="entity.CalcRoutineParameterSet">
              <PostOnChange
                onChange="tableDefinition.setParameterSet(parameterSet)"/>
            </RangeInput>
            <ContentInput
              label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.ParametersInSet&quot;)"
              visible="parameterSet != null">
              <Link
                id="ParamInfo"
                label="helper.getStringForParamTypes(parameterSet)"
                styleClass="none"
                tooltip="helper.getHelpStringForParamTypes(parameterSet)"/>
            </ContentInput>
          </InputColumn>
        </DetailViewPanel>
        <PanelRef
          id="SingleArgSourcePanel"
          visible="tableDefinition.ArgumentSourceSets.Count &lt;= 1 and parameterSet != null">
          <TitleBar
            id="SingleArgSrcSetTitleBar"
            title="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.ArgumentSourceSet.SingleSetTitle&quot;)"/>
          <Toolbar>
            <ToolbarButton
              action="helper.addNewArgumentSourceSet(parameterSet)"
              hideIfReadOnly="true"
              id="SingleSourceSetAddButton"
              label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.ArgumentSourceSet.AddButton&quot;)"/>
          </Toolbar>
          <ListViewPanel
            id="SingleSrcSetLV">
            <RowIterator
              editable="true"
              elementName="matchOp"
              id="SingleArgumentSourcesIterator"
              pageSize="0"
              value="tableDefinition.MatchOps"
              valueType="entity.RateTableMatchOp[]"
              visible="true">
              <Variable
                initialValue="matchOp.Params.sortBy(\ p -&gt; p.SortOrder)"
                name="orderedParams"
                recalculateOnRefresh="true"
                type="RateTableColumn[]"/>
              <Variable
                initialValue="orderedParams.first()"
                name="currentFirstParam"
                recalculateOnRefresh="true"
                type="RateTableColumn"/>
              <Variable
                initialValue="tableDefinition.ArgumentSourceSets.first()"
                name="firstSourceSet"
                recalculateOnRefresh="true"
                type="entity.RateTableArgumentSourceSet"/>
              <IteratorSort
                sortBy="matchOp.sortedParams().first().SortOrder"
                sortOrder="1"/>
              <Row
                visible="firstSourceSet.RateTableArgumentSources*.Parameter.contains(matchOp)">
                <TextCell
                  enableSort="false"
                  id="name"
                  label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.ParameterName&quot;)"
                  unique="true"
                  value="matchOp.Name"/>
                <TextCell
                  enableSort="false"
                  id="matchingRule"
                  label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.MatchingRule&quot;)"
                  value="matchOp.MatchOpDefinition.OpCode"/>
                <TypeKeyCell
                  align="center"
                  enableSort="false"
                  id="dataType"
                  label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.ColumnDataType&quot;)"
                  value="matchOp.Params.sortBy(\ p -&gt; p.SortOrder).first().ColumnType"
                  valueType="typekey.RateTableDataType"/>
                <ModalCellRef
                  def="RateTableArgumentValue(new gw.pcf.rating.rtm.RateTableArgumentSourceHelper(matchOp, firstSourceSet))"
                  editable="not argumentSourceSetsUsedInPromotedBooks.contains(firstSourceSet)"
                  label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.ArgumentSource&quot;)"
                  mode="matchOp.ModeForRateTableArgumentValue"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </PanelRef>
        <PanelRef
          id="MultiArgSourceSetPanel"
          visible="tableDefinition.ArgumentSourceSets.Count &gt; 1 // nested panel refs for visibility">
          <ListDetailPanel
            id="ArgSrcSetDetailPanel"
            selectionName="selectedArgSrcSet"
            selectionType="RateTableArgumentSourceSet">
            <PanelRef>
              <TitleBar
                id="MultipleArgSrcSetsTitleBar"
                title="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.ArgumentSourceSet.MultipleSetsTitle&quot;)"/>
              <Toolbar>
                <IteratorButtons
                  addLabel="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.ArgumentSourceSet.AddButton&quot;)"
                  addVisible="true"
                  iterator="ArgSrcSetIterator"
                  removeVisible="true"/>
                <CheckedValuesToolbarButton
                  allCheckedRowsAction="helper.deleteSelectedArgSrcSets(CheckedValues); gw.api.web.PebblesUtil.invalidateIterators(CurrentLocation, entity.RateTableArgumentSourceSet)"
                  hideIfReadOnly="true"
                  id="SourceSetDeleteButton"
                  iterator="ArgSrcSetIterator"
                  label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.ArgumentSourceSet.DeleteButton&quot;)"/>
              </Toolbar>
              <ListViewPanel
                id="ArgSrcSetLV">
                <RowIterator
                  checkBoxVisible="isArgSrcSetRemovable"
                  editable="true"
                  elementName="argumentSrcSet"
                  hasCheckBoxes="true"
                  hideCheckBoxesIfReadOnly="true"
                  id="ArgSrcSetIterator"
                  toCreateAndAdd="helper.addNewArgumentSourceSet(parameterSet)"
                  value="tableDefinition.ArgumentSourceSets"
                  valueType="entity.RateTableArgumentSourceSet[]">
                  <Variable
                    initialValue="argumentSrcSet.NotUsedByRateRoutines"
                    name="isArgSrcSetRemovable"
                    recalculateOnRefresh="true"
                    type="boolean"/>
                  <IteratorSort
                    sortBy="argumentSrcSet.Name"
                    sortOrder="1"/>
                  <Row>
                    <TextCell
                      enableSort="false"
                      id="ArgSrcSetName"
                      label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.ArgumentSourceSet.Name&quot;)"
                      unique="true"
                      value="argumentSrcSet.Name"/>
                    <TextCell
                      enableSort="false"
                      id="ArgSrcSetCode"
                      label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.ArgumentSourceSet.Code&quot;)"
                      unique="true"
                      value="argumentSrcSet.Code"/>
                  </Row>
                </RowIterator>
              </ListViewPanel>
            </PanelRef>
            <CardViewPanel
              id="ArgSrcSetCV">
              <Card
                id="ArgumentSetCard"
                title="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.ArgumentSourceSet.Parameters&quot;)">
                <DetailViewPanel>
                  <InputColumn>
                    <TextInput
                      editable="not argumentSourceSetsUsedInPromotedBooks.contains(selectedArgSrcSet)"
                      id="ArgSrcName"
                      label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.ArgumentSourceSet.Name&quot;)"
                      required="true"
                      value="selectedArgSrcSet.Name"/>
                    <TextInput
                      editable="selectedArgSrcSet.Code == null or selectedArgSrcSet.NotUsedByRateRoutines"
                      id="ArgSrcSetCode"
                      label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.ArgumentSourceSet.Code&quot;)"
                      required="true"
                      validationExpression="var setCodes = tableDefinition.ArgumentSourceSets.map(\aSet -&gt; aSet.Code); return (setCodes.Count == setCodes.toSet().Count ? null : DisplayKey.get(&quot;Web.Rating.Errors.DuplicateArgSrcSetCode&quot;) )"
                      value="selectedArgSrcSet.Code"/>
                  </InputColumn>
                </DetailViewPanel>
                <PanelRef>
                  <ListViewPanel
                    id="ArgSrcSetLV">
                    <RowIterator
                      editable="true"
                      elementName="matchOp"
                      id="ArgumentSourcesIterator"
                      pageSize="0"
                      value="tableDefinition.MatchOps"
                      valueType="entity.RateTableMatchOp[]"
                      visible="true">
                      <Variable
                        initialValue="matchOp.Params.sortBy(\ p -&gt; p.SortOrder)"
                        name="orderedParams"
                        recalculateOnRefresh="true"
                        type="RateTableColumn[]"/>
                      <Variable
                        initialValue="orderedParams.first()"
                        name="currentFirstParam"
                        recalculateOnRefresh="true"
                        type="RateTableColumn"/>
                      <IteratorSort
                        sortBy="matchOp.sortedParams().first().SortOrder"
                        sortOrder="1"/>
                      <Row
                        visible="selectedArgSrcSet.RateTableArgumentSources*.Parameter.contains(matchOp)">
                        <TextCell
                          enableSort="false"
                          id="name"
                          label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.ParameterName&quot;)"
                          unique="true"
                          value="matchOp.Name"/>
                        <TextCell
                          enableSort="false"
                          id="matchingRule"
                          label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.MatchingRule&quot;)"
                          value="matchOp.MatchOpDefinition.OpCode"/>
                        <TypeKeyCell
                          align="center"
                          enableSort="false"
                          id="dataType"
                          label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.ColumnDataType&quot;)"
                          value="matchOp.Params.sortBy(\ p -&gt; p.SortOrder).first().ColumnType"
                          valueType="typekey.RateTableDataType"/>
                        <ModalCellRef
                          def="RateTableArgumentValue(new gw.pcf.rating.rtm.RateTableArgumentSourceHelper(matchOp, selectedArgSrcSet))"
                          editable="not argumentSourceSetsUsedInPromotedBooks.contains(selectedArgSrcSet)"
                          id="RateTableArgumentValues"
                          label="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.ArgumentSource&quot;)"
                          mode="matchOp.ModeForRateTableArgumentValue"/>
                      </Row>
                    </RowIterator>
                  </ListViewPanel>
                </PanelRef>
              </Card>
            </CardViewPanel>
          </ListDetailPanel>
        </PanelRef>
      </Card>
      <Card
        id="Usage"
        title="DisplayKey.get(&quot;Web.Rating.RateTableDefinition.Usage&quot;)">
        <PanelRef
          def="RateTableDefinitionUsagePanelSet(screenHelper.RateTables)"/>
      </Card>
    </CardViewPanel>
    <Code><![CDATA[public function copyDetailsToParameters() {
  helper.copyNameLabelAndLocalizationDataOnSingleParameterOps()
}]]></Code>
  </Screen>
</PCF>