<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="RateTableDefinitionSearchDV">
    <Require
      name="searchCriteria"
      type="gw.rating.rtm.query.RateTableDefinitionSearchCriteria"/>
    <InputColumn>
      <RangeInput
        editable="true"
        id="PolicyLine"
        label="DisplayKey.get(&quot;Web.Rating.RateTables.PolicyLine&quot;)"
        noneSelectedLabel="DisplayKey.get(&quot;Web.Rating.Filter.MatchAll&quot;)"
        optionLabel="searchCriteria.policyLineCodeToDescription(VALUE)"
        required="false"
        value="searchCriteria.PolicyLine"
        valueRange="gw.rating.rtm.util.ProductModelUtils.getAllPolicyLinesForSearch()"
        valueType="java.lang.String">
        <PostOnChange/>
      </RangeInput>
      <TextInput
        editable="true"
        id="code"
        label="DisplayKey.get(&quot;Web.Rating.RateTables.Code&quot;)"
        value="searchCriteria.TableCode"/>
      <TextInput
        editable="true"
        id="name"
        label="DisplayKey.get(&quot;Web.Rating.RateTables.Name&quot;)"
        value="searchCriteria.TableName"/>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="SearchAndResetInputSet()"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>