<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="RateBookSearchDV">
    <Require
      name="searchCriteria"
      type="gw.rating.rtm.query.RateBookSearchCriteria"/>
    <InputColumn>
      <RangeInput
        editable="true"
        id="PolicyLine"
        label="DisplayKey.get(&quot;Web.Rating.RateBooks.PolicyLine&quot;)"
        noneSelectedLabel="DisplayKey.get(&quot;Web.Rating.Filter.MatchAll&quot;)"
        optionLabel="searchCriteria.policyLineCodeToDescription(VALUE)"
        value="searchCriteria.PolicyLine"
        valueRange="gw.rating.rtm.util.ProductModelUtils.getAllPolicyLinesForSearch()"
        valueType="java.lang.String">
        <PostOnChange/>
      </RangeInput>
      <TextInput
        editable="true"
        id="Code"
        label="DisplayKey.get(&quot;Web.Rating.RateBooks.Code&quot;)"
        value="searchCriteria.BookCode"/>
      <TextInput
        editable="true"
        id="Name"
        label="DisplayKey.get(&quot;Web.Rating.RateBooks.Name&quot;)"
        value="searchCriteria.BookName"/>
      <RangeInput
        editable="true"
        id="Jurisdiction"
        label="DisplayKey.get(&quot;Web.Rating.RateBooks.Jurisdiction&quot;)"
        noneSelectedLabel="DisplayKey.get(&quot;Web.Rating.Filter.MatchAll&quot;)"
        optionLabel="VALUE.First"
        required="false"
        value="searchCriteria.Jurisdiction"
        valueRange="gw.rating.rtm.util.ProductModelUtils.getAllJurisdictionsForSearch()"
        valueType="gw.util.Pair&lt;java.lang.String, typekey.Jurisdiction&gt;"/>
      <RangeInput
        editable="true"
        id="UWCompany"
        label="DisplayKey.get(&quot;Web.Rating.RateBooks.UWCompany&quot;)"
        noneSelectedLabel="DisplayKey.get(&quot;Web.Rating.Filter.MatchAll&quot;)"
        optionLabel="VALUE.First"
        value="searchCriteria.UWCompany"
        valueRange="gw.rating.rtm.util.ProductModelUtils.getAllUWCompaniesForSearch()"
        valueType="gw.util.Pair&lt;java.lang.String, entity.UWCompany&gt;"/>
      <RangeInput
        editable="true"
        id="Offering"
        label="DisplayKey.get(&quot;Web.Rating.RateBooks.Offering&quot;)"
        noneSelectedLabel="DisplayKey.get(&quot;Web.Rating.Filter.MatchAll&quot;)"
        optionLabel="searchCriteria.offeringCodeToDescription(VALUE)"
        required="false"
        sortValueRange="false"
        value="searchCriteria.BookOffering"
        valueRange="gw.rating.rtm.util.ProductModelUtils.getAllSearchOfferingsFor(searchCriteria.PolicyLine)"
        valueType="java.lang.String"/>
      <TypeKeyInput
        editable="true"
        id="Status"
        label="DisplayKey.get(&quot;Web.Rating.RateBooks.Status&quot;)"
        noneSelectedLabel="DisplayKey.get(&quot;Web.Rating.Filter.MatchAll&quot;)"
        value="searchCriteria.Status"
        valueType="typekey.RateBookStatus"/>
      <DateInput
        editable="true"
        id="EffectiveDate"
        label="DisplayKey.get(&quot;Web.Rating.RateBooks.EffectiveDate&quot;)"
        value="searchCriteria.EffectiveDate"/>
      <BooleanRadioInput
        editable="true"
        falseLabel="DisplayKey.get(&quot;Web.Rating.RateBooks.EffectiveDate.LaterThan&quot;)"
        id="RadioButtonEffecDate"
        trueLabel="DisplayKey.get(&quot;Web.Rating.RateBooks.EffectiveDate.AsOf&quot;)"
        value="searchCriteria.BeforeDate">
        <PostOnChange/>
      </BooleanRadioInput>
      <DateInput
        editable="true"
        id="LastStatusChangeDate"
        label="DisplayKey.get(&quot;Web.Rating.RateBooks.ActivationDate&quot;)"
        value="searchCriteria.LastStatusChangeDate"/>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="SearchAndResetInputSet()"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>