<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    editable="true"
    id="RatingParameterSetScreen">
    <Variable
      initialValue="new gw.pcf.rating.flow.RatingParameterSetScreenHelper()"
      name="helper"
      type="gw.pcf.rating.flow.RatingParameterSetScreenHelper"/>
    <Toolbar>
      <ToolbarRangeInput
        editable="true"
        id="PolicyLineSelection"
        label="DisplayKey.get(&quot;Web.Rating.ParameterSets.PolicyLine&quot;)"
        noneSelectedLabel="DisplayKey.get(&quot;Web.Rating.Filter.MatchAll&quot;)"
        optionLabel="helper.policyLineCodeToDescription(VALUE)"
        value="helper.LinePattern"
        valueRange="gw.rating.rtm.util.ProductModelUtils.getAllPolicyLinesForSearch()"
        valueType="java.lang.String">
        <PostOnChange
          onChange="gw.api.web.util.SessionUtil.putSetting(DisplayKey.get(&quot;Web.Rating.ParameterSets.PolicyLineSetting&quot;), helper.LinePattern)"/>
      </ToolbarRangeInput>
    </Toolbar>
    <ListDetailPanel
      id="CalcRoutineParameterSetsLDV"
      selectionName="parameterSet"
      selectionType="CalcRoutineParameterSet">
      <PanelRef>
        <Toolbar
          id="ParamSetToolbar">
          <IteratorButtons
            addVisible="perm.System.ratebookedit"
            hideIfReadOnly="false"
            id="ParamSetIteratorButtons"
            iterator="ParameterSetIterator"
            removeLabel="DisplayKey.get(&quot;Web.Rating.ParameterSet.RemoveLabel&quot;)"
            removeVisible="perm.System.ratebookedit"/>
        </Toolbar>
        <ListViewPanel
          id="CalcRoutineParameterSetsLV"
          validationExpression="helper.validateParameterSet(parameterSet)">
          <RowIterator
            checkBoxVisible="helper.canRemoveParameterSet(paramSet)"
            editable="false"
            elementName="paramSet"
            hasCheckBoxes="true"
            id="ParameterSetIterator"
            toCreateAndAdd="helper.newParameterSet()"
            toRemove="paramSet.remove()"
            value="helper.ParameterSets"
            valueType="gw.api.database.IQueryBeanResult&lt;entity.CalcRoutineParameterSet&gt;">
            <Row>
              <TextCell
                id="ParameterSetCode"
                label="DisplayKey.get(&quot;Web.Rating.ParameterSet.Code&quot;)"
                required="true"
                sortBy="paramSet.Code"
                sortOrder="1"
                value="paramSet.Code"
                wrap="true"/>
              <TextCell
                id="ParameterSetName"
                label="DisplayKey.get(&quot;Web.Rating.ParameterSet.Name&quot;)"
                required="true"
                sortBy="paramSet.Name"
                sortOrder="2"
                value="paramSet.Name"
                wrap="true"/>
              <TextCell
                id="ParameterSetPolicyLine"
                label="DisplayKey.get(&quot;Web.Rating.ParameterSets.PolicyLine&quot;)"
                required="true"
                sortBy="paramSet.PolicyLinePatternCode"
                sortOrder="2"
                value="gw.api.productmodel.PolicyLinePattern.DisplayNameForCode(paramSet.PolicyLinePatternCode)"
                wrap="true"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
      <CardViewPanel
        id="ParameterCV">
        <Card
          id="parameters"
          title="DisplayKey.get(&quot;Web.Rating.ParameterSet.Parameters&quot;)">
          <PanelRef>
            <Toolbar>
              <ToolbarButton
                action="helper.updateParameterSetIfModified(parameterSet); CurrentLocation.commit()"
                id="paramSetUpdate"
                label="DisplayKey.get(&quot;Button.Update&quot;)"
                visible="CurrentLocation.InEditMode"/>
              <EditButtons
                editVisible="helper.editVisibleForParameterSet(parameterSet)"
                updateVisible="false"/>
            </Toolbar>
            <DetailViewPanel
              editable="helper.canEditParameterSet(parameterSet)">
              <InputColumn>
                <TextInput
                  editable="true"
                  id="ParamsetCode"
                  label="DisplayKey.get(&quot;Web.Rating.ParameterSet.Code&quot;)"
                  required="true"
                  value="parameterSet.Code"/>
                <TextInput
                  editable="true"
                  id="ParamSetName"
                  label="DisplayKey.get(&quot;Web.Rating.ParameterSet.Name&quot;)"
                  required="true"
                  value="parameterSet.Name"/>
                <RangeInput
                  editable="true"
                  id="ParamSetPolicyLine"
                  label="DisplayKey.get(&quot;Web.Rating.ParameterSets.PolicyLine&quot;)"
                  noneSelectedLabel="DisplayKey.get(&quot;Web.Rating.Filter.Generic&quot;)"
                  optionLabel="gw.api.productmodel.PolicyLinePattern.DisplayNameForCode(VALUE)"
                  required="false"
                  value="parameterSet.PolicyLinePatternCode"
                  valueRange="gw.rating.rtm.util.ProductModelUtils.getAllPolicyLines()"
                  valueType="java.lang.String">
                  <PostOnChange/>
                </RangeInput>
                <CheckBoxInput
                  editable="true"
                  id="ParamSetContainsCost"
                  label="DisplayKey.get(&quot;Web.Rating.ParameterSets.IncludeCost&quot;)"
                  required="false"
                  value="parameterSet.IncludesCost"/>
              </InputColumn>
            </DetailViewPanel>
          </PanelRef>
          <PanelRef
            def="LocalizedValuesDV(parameterSet, { &quot;Name&quot; }, { DisplayKey.get(&quot;Web.Rating.ParameterSet.Name&quot;) })"/>
          <PanelRef
            editable="helper.canEditParameterSet(parameterSet)">
            <Toolbar
              id="ParameterToolbar">
              <IteratorButtons
                id="ParameterIteratorButtons"
                iterator="ParameterIterator"
                removeLabel="DisplayKey.get(&quot;Web.Rating.Parameter.RemoveLabel&quot;)"/>
            </Toolbar>
            <ListViewPanel
              id="ParameterLV">
              <RowIterator
                checkBoxVisible="helper.canRemoveParameter(parameterSet, parameter)"
                editable="true"
                elementName="parameter"
                hasCheckBoxes="true"
                hideCheckBoxesIfReadOnly="true"
                id="ParameterIterator"
                toCreateAndAdd="helper.newParameter(parameterSet)"
                toRemove="parameter.remove()"
                value="parameterSet.Parameters"
                valueType="entity.CalcRoutineParameter[]">
                <Row
                  editable="helper.canEditParameter(parameterSet, parameter)">
                  <RangeCell
                    editable="true"
                    id="ParameterCode"
                    label="DisplayKey.get(&quot;Web.Rating.Parameter.Name&quot;)"
                    required="true"
                    sortBy="parameter.Code"
                    sortOrder="1"
                    value="parameter.Code"
                    valueRange="typekey.CalcRoutineParamName.getTypeKeys(false)"
                    valueType="typekey.CalcRoutineParamName"
                    wrap="true">
                    <PostOnChange
                      onChange="parameter.ParamType = helper.codeToDefaultType(parameter.Code)"/>
                  </RangeCell>
                  <TextCell
                    editable="true"
                    id="ParameterParamType"
                    label="DisplayKey.get(&quot;Web.Rating.Parameter.ParamType&quot;)"
                    validationExpression="helper.validateParameterType(parameter.ParamType)"
                    value="parameter.ParamType"
                    wrap="true">
                    <PostOnChange/>
                  </TextCell>
                  <CheckBoxCell
                    editable="helper.isUseWrapperEditable(parameterSet, parameter)"
                    id="useWrapper"
                    label="DisplayKey.get(&quot;Web.Rating.Parameter.UseWrapper&quot;)"
                    required="false"
                    value="parameter.UseWrapper">
                    <PostOnChange/>
                  </CheckBoxCell>
                  <ModalCellRef
                    def="WrapperOrCovCode(parameter, parameterSet, helper)"
                    editable="true"
                    focusOnStartEditing="true"
                    id="WrapperOrCovCode"
                    label="DisplayKey.get(&quot;Web.Rating.Parameter.WrapperOrCovCode&quot;)"
                    mode="helper.parameterWrapperMode(parameterSet, parameter)"/>
                  <CheckBoxCell
                    editable="true"
                    id="ParameterWritable"
                    label="DisplayKey.get(&quot;Web.Rating.Parameter.Writable&quot;)"
                    value="parameter.Writable"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
        </Card>
      </CardViewPanel>
    </ListDetailPanel>
  </Screen>
</PCF>