<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="WorkflowsInputSet"
    mode="PolicyPeriodWorkflow">
    <Require
      name="searchCriteria"
      type="WorkflowSearchCriteria"/>
    <Variable
      initialValue="gw.api.productmodel.ProductLookup.getAll()"
      name="products"
      type="java.util.List&lt;gw.api.productmodel.Product&gt;"/>
    <TextInput
      editable="true"
      id="JobNumber"
      label="DisplayKey.get(&quot;Web.Admin.WorkflowSearch.JobNumber&quot;)"
      value="searchCriteria.JobNumber"/>
    <TextInput
      editable="true"
      id="PolicyNumber"
      label="DisplayKey.get(&quot;Web.Admin.WorkflowSearch.PolicyNumber&quot;)"
      value="searchCriteria.PolicyNumber"/>
    <RangeInput
      editable="true"
      id="Product"
      label="DisplayKey.get(&quot;Web.Admin.WorkflowSearch.Product&quot;)"
      value="searchCriteria.Product"
      valueRange="products"
      valueType="gw.api.productmodel.Product"/>
    <RangeInput
      editable="true"
      id="JobType"
      label="DisplayKey.get(&quot;Web.Admin.WorkflowSearch.JobType&quot;)"
      value="searchCriteria.JobType"
      valueRange="gw.api.web.admin.workflow.JobTypes.getJobTypes()"
      valueType="typekey.Job"/>
  </InputSet>
</PCF>