<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="CoveragePatternSearchResultsLV"
    width="60em">
    <ExposeIterator
      valueType="gw.api.productmodel.ClausePattern"
      widget="CoveragePatternSearchResultsLV"/>
    <Require
      name="coveragePatterns"
      type="gw.api.productmodel.ClausePattern[]"/>
    <RowIterator
      editable="true"
      elementName="pattern"
      hasCheckBoxes="true"
      value="coveragePatterns"
      valueType="gw.api.productmodel.ClausePattern[]">
      <Row>
        <TextCell
          id="Coverage"
          label="DisplayKey.get(&quot;Web.Coverage.SearchPage.Coverage&quot;)"
          value="pattern.DisplayName"
          wrap="true"/>
        <TextCell
          id="Category"
          label="DisplayKey.get(&quot;Web.Coverage.SearchPage.Category&quot;)"
          value="pattern.CoverageCategory.DisplayName"
          wrap="true"/>
        <TextCell
          id="ClauseType"
          label="DisplayKey.get(&quot;Web.Coverage.SearchPage.Type&quot;)"
          value="pattern.ClauseName"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>