<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <CardViewPanel
    id="LocationDetailCV">
    <Require
      name="polLocation"
      type="PolicyLocation"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="supportsNonSpecificLocation"
      type="boolean"/>
    <Card
      id="GeneralInfoCard"
      title="DisplayKey.get(&quot;Web.Policy.LocationContainer.Location.Panel.GeneralInfo.Title&quot;)">
      <DetailViewPanel
        id="LocationDetailDV">
        <InputColumn>
          <InputSetRef
            def="LocationDetailInputSet(polLocation, supportsNonSpecificLocation, openForEdit)"/>
        </InputColumn>
        <InputColumn>
          <InputSetRef
            def="LineLocationDetailInputSet(polLocation, openForEdit)"
            mode="polLocation.Branch.Policy.Product.PublicID"/>
        </InputColumn>
      </DetailViewPanel>
      <DetailViewPanel
        id="AccountLocationUpToDateDV"
        visible="polLocation.Branch.Promoted and !polLocation.isUpToDate()">
        <InputColumn>
          <ContentInput
            boldLabel="true"
            id="SynchronizedMessage"
            label="DisplayKey.get(&quot;Web.Account.Locations.IsSynchronized.Policy.Message&quot;)">
            <Link
              action="AccountLocationPopup.push(polLocation.AccountLocation, polLocation.Branch.Policy.Account, false)"
              id="SynchronizedLink"
              label="DisplayKey.get(&quot;Web.Account.Locations.IsSynchronized.Policy.Link&quot;)"/>
          </ContentInput>
        </InputColumn>
      </DetailViewPanel>
    </Card>
    <Card
      id="AdditionalCoveragesCard"
      title="DisplayKey.get(&quot;Web.Policy.LocationContainer.Location.Panel.AdditionalCoverages.Location.Title&quot;)"
      visible="polLocation.Branch.Policy.Product == gw.api.upgrade.PCCoercions.makeProductModel&lt;gw.api.productmodel.Product&gt;(&quot;BusinessOwners&quot;)">
      <PanelRef
        def="AdditionalCoveragesCardPanelSet(polLocation, openForEdit)"
        mode="polLocation.Branch.Policy.Product.PublicID"/>
    </Card>
    <Card
      id="LocationQuestionsCard"
      title="DisplayKey.get(&quot;Web.Policy.LocationContainer.Location.Panel.Questions.Title&quot;)"
      visible="polLocation.LocationAnswers.Count &gt; 0">
      <PanelRef
        def="QuestionSetsDV(polLocation != null ? polLocation.Branch.Policy.Product.getQuestionSetsByType(QuestionSetType.TC_LOCATION) : null, polLocation, null)"/>
    </Card>
  </CardViewPanel>
</PCF>