<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    disableUserCustomization="true"
    id="ModifierSummaryLV"
    stretch="true">
    <Require
      name="modifiers"
      type="Modifier[]"/>
    <RowIterator
      editable="false"
      elementName="modifier"
      pageSize="0"
      value="modifiers"
      valueType="entity.Modifier[]">
      <IteratorSort
        sortBy="modifier.Pattern.Priority"
        sortOrder="1"/>
      <IteratorSort
        sortBy="modifier.Pattern.PublicID"
        sortOrder="2"/>
      <Row>
        <TextCell
          align="left"
          enableSort="false"
          grow="true"
          id="ModifierName"
          label="DisplayKey.get(&quot;Web.PolicyLine.Modifiers.Description&quot;)"
          value="modifier.Pattern.DisplayName"/>
        <ModifierCell
          align="right"
          id="ModifierValue"
          label="DisplayKey.get(&quot;Web.PolicyLine.Modifiers.Value&quot;)"
          value="modifier"
          wrap="false"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>