<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <PanelSet
    id="RatingCumulDetailsPanelSet"
    mode="default">
    <Require
      name="period"
      type="PolicyPeriod"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <Require
      name="isEditable"
      type="boolean"/>
    <PanelIterator
      elementName="line"
      value="period.Lines"
      valueType="PolicyLine[]">
      <Variable
        initialValue="new gw.apd.policy.QuoteHelper(line)"
        name="quoteHelper"
        type="gw.apd.policy.QuoteHelper"/>
      <PanelRef
        def="RatingOverrideButtonDV(period, line, jobWizardHelper, CurrentLocation.InEditMode)"
        id="RatingOverrideButtonDV"/>
      <PanelRef>
        <Toolbar>
          <IteratorButtons
            iterator="ChargeLV"/>
        </Toolbar>
        <ListViewPanel>
          <Row
            renderAsSmartHeader="true">
            <TextCell
              id="TypeHeading"
              value="DisplayKey.get(&quot;Web.Policy.Default.Financials.Type&quot;)"/>
            <TextCell
              id="GroupHeading"
              value="DisplayKey.get(&quot;Web.Policy.Default.Financials.Group&quot;)"/>
            <TextCell
              id="SettlementAmountHeading"
              value="DisplayKey.get(&quot;Web.Policy.Default.Financials.SettlementAmount&quot;)"/>
            <TextCell
              id="AmountHeading"
              value="DisplayKey.get(&quot;Web.Policy.Default.Financials.Amount&quot;)"/>
            <TextCell
              id="CurrentTermHeading"
              value="DisplayKey.get(&quot;Web.Policy.Default.Financials.CurrentTerm&quot;)"/>
            <TextCell
              id="FutureTermHeading"
              value="period.Policy.Product.DefaultTermType == TermType.TC_ANNUAL ?  DisplayKey.get(&quot;Web.Policy.Default.Financials.FutureAnnual&quot;) : DisplayKey.get(&quot;Web.Policy.Default.Financials.FutureTerm&quot;)"/>
          </Row>
          <RowIterator
            editable="false"
            elementName="charge"
            id="ChargeLV"
            type="gw.apd.policy.QuoteHelperLine"
            value="quoteHelper.Charges"
            valueType="List&lt; gw.apd.policy.QuoteHelperLine &gt;">
            <IteratorSort
              sortBy="charge.Order"
              sortOrder="1"/>
            <IteratorSort
              sortBy="charge.Description"
              sortOrder="2"/>
            <Row
              useSubHeaderStyle="true">
              <TextCell
                action="if (charge.getCostsByCost(charge.Costs).Count &gt; 1) RatingCostBreakdownPopup.push(period, charge) else RatingCostDetailPopup.push(period, charge.Costs)"
                actionAvailable="charge.Details.Count == 0"
                id="Type"
                value="charge.LineType"/>
              <TextCell
                id="Description"
                value="charge.Description"/>
              <TextCell
                formatType="currency"
                id="SettlementAmount"
                value="charge.SettlementAmount"
                valueType="gw.pl.currency.MonetaryAmount"/>
              <TextCell
                formatType="currency"
                id="Amount"
                value="charge.Amount"
                valueType="gw.pl.currency.MonetaryAmount"/>
              <TextCell
                formatType="currency"
                id="CurrentTerm"
                value="charge.CurrentTerm"
                valueType="gw.pl.currency.MonetaryAmount"/>
              <TextCell
                formatType="currency"
                id="FutureTerm"
                value="charge.FutureTerm"
                valueType="gw.pl.currency.MonetaryAmount"/>
            </Row>
            <RowIterator
              editable="false"
              elementName="detail"
              pageSize="0"
              type="gw.apd.policy.QuoteHelperLine"
              value="charge.Details"
              valueType="List&lt; gw.apd.policy.QuoteHelperLine &gt;">
              <IteratorSort
                sortBy="detail.Description"
                sortOrder="1"/>
              <IteratorSort
                sortBy="detail.Order"
                sortOrder="2"/>
              <Row>
                <TextCell
                  action="if (detail.getCostsByCost(detail.Costs).Count &gt; 1) RatingCostBreakdownPopup.push(period, detail) else RatingCostDetailPopup.push(period, detail.Costs)"
                  align="right"
                  id="Type"
                  value="detail.LineType"/>
                <TextCell
                  id="Description"
                  value="detail.Description"/>
                <TextCell
                  formatType="currency"
                  id="SettlementAmount"
                  value="detail.SettlementAmount"
                  valueType="gw.pl.currency.MonetaryAmount"/>
                <TextCell
                  formatType="currency"
                  id="Amount"
                  value="detail.Amount"
                  valueType="gw.pl.currency.MonetaryAmount"/>
                <TextCell
                  formatType="currency"
                  id="CurrentTerm"
                  value="detail.CurrentTerm"
                  valueType="gw.pl.currency.MonetaryAmount"/>
                <TextCell
                  formatType="currency"
                  id="FutureTerm"
                  value="detail.FutureTerm"
                  valueType="gw.pl.currency.MonetaryAmount"/>
              </Row>
            </RowIterator>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
    </PanelIterator>
  </PanelSet>
</PCF>