<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="ScheduleRateLV">
    <Require
      name="credit"
      type="Modifier"/>
    <RowIterator
      editable="true"
      elementName="rateFactor"
      value="credit.RateFactors"
      valueType="entity.RateFactor[]">
      <IteratorSort
        sortBy="rateFactor.Pattern.Priority"
        sortOrder="1"/>
      <Row>
        <TextCell
          footerLabel="DisplayKey.get(&quot;Web.Policy.RatingInputs.Overall&quot;)"
          id="Category"
          label="DisplayKey.get(&quot;Web.Policy.RatingInputs.Category&quot;)"
          value="rateFactor.Pattern.Name"
          wrap="true"/>
        <TextCell
          align="right"
          footerLabel="credit.Minimum.DisplayValue"
          id="Minimum"
          label="DisplayKey.get(&quot;Web.Policy.RatingInputs.Minimum&quot;)"
          value="rateFactor.Minimum"
          valueType="java.math.BigDecimal"
          visible="credit.Pattern.DisplayRange"/>
        <TextCell
          align="right"
          footerLabel="credit.Maximum.DisplayValue"
          id="Maximum"
          label="DisplayKey.get(&quot;Web.Policy.RatingInputs.Maximum&quot;)"
          value="rateFactor.Maximum"
          valueType="java.math.BigDecimal"
          visible="credit.Pattern.DisplayRange"/>
        <TextCell
          align="right"
          editable="true"
          footerLabel="credit.RateModifier.DisplayValue"
          id="CreditDebit"
          label="DisplayKey.get(&quot;Web.Policy.RatingInputs.CreditDebit&quot;)"
          requestValidationExpression="gw.policy.ModifierValidation.checkValueRanges(rateFactor, VALUE)"
          value="rateFactor.AssessmentWithinLimits"
          valueType="java.math.BigDecimal">
          <PostOnChange/>
        </TextCell>
        <TextCell
          editable="rateFactor.Pattern.ModifierPattern.DisplayJustification"
          id="Justification"
          label="DisplayKey.get(&quot;Web.Policy.RatingInputs.Justification&quot;)"
          validationExpression="gw.policy.ModifierValidation.verifyRateFactor(rateFactor)"
          value="rateFactor.Justification"
          visible="credit.Pattern.DisplayJustification"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>