.gw-FileValueWidget {
  .gw-displayed-value {
    @include gw-borderCap($right: false);
    border-right: 0 solid transparent;
    user-select: all !important; //Required important to overcome browser standard select none on readonly values
  }

  .gw-FileInputWidget--button {
    &:not(.gw-value-displayed) {
      @include gw-button--secondary();
    }

    &.gw-value-displayed {
      @include gw-button--secondary(
              $pad-h: $gw-app--inputs--pad-h-rem,
              $pad-v: $gw-app--inputs--pad-v-rem,
              $border-color: $gw-app--inputs--border--col,
              $col: $gw-app--buttons--secondary--col,
              $bg: $gw-app--buttons--secondary--bg,
              $allow-active-shadows: false
      );

      @include gw-borderCap($right: true, $left: false);
      margin-left: 0;
    }
  }
}
