.gw-PreFormattedTextValueWidget {
  .gw-PreFormattedTextValueWidget--inner {
    font-family: $gw-app--font-family--monospace;
    font-size: $gw-app--font-family--monospace--font-size;
    margin: 0;
  }
}
