.gw-SearchPanelWidget {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  @include gw-panelOuterSpacing();
  @include gw-panelInnerSpacing();
  @include gw-widgetStyles();
}
