<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewTile
    hideViewMoreIfShortList="true"
    id="CurrentActivitiesPolicyListViewTile"
    stretch="true"
    title="DisplayKey.get('Web.Dashboard.Tile.CurrentActivities')"
    viewMoreAction="CurrentActivitiesPolicyPopup.push(policyPeriod)"
    viewMoreLabel="DisplayKey.get('Web.Tile.ViewAll')">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      initialValue="new gw.api.web.dashboard.ui.policy.ActivityHelper(policyPeriod)"
      name="helper"
      recalculateOnRefresh="true"
      type="gw.api.web.dashboard.ui.policy.ActivityHelper"/>
    <RowIterator
      editable="false"
      elementName="activity"
      value="helper.Activities"
      valueType="Activity[]">
      <IteratorSort
        sortBy="activity.Priority"
        sortOrder="1"/>
      <IteratorSort
        sortBy="activity.TargetDate"
        sortOrder="2"/>
      <Row>
        <DateCell
          dateFormat="short"
          id="DueDate"
          fontColor="activity.UIOverdueColor"
          label="DisplayKey.get('Web.Dashboard.Tile.CurrentActivities.DueDate')"
          value="activity.TargetDate"
          wrap="false"/>
        <TextCell
          action="ActivityForward.go(activity, policyPeriod)"
          available="perm.Activity.view(activity)"
          grow="true"
          id="Subject"
          label="DisplayKey.get('Web.Dashboard.Tile.CurrentActivities.Subject')"
          value="activity.Subject"/>
        <TypeKeyCell
          grow="true"
          id="Priority"
          fontColor="activity.UIPriorityColor"
          label="DisplayKey.get('Web.Dashboard.Tile.CurrentActivities.Priority')"
          value="activity.Priority"
          valueType="typekey.Priority"
          wrap="false"/>
        <TextCell
          grow="true"
          id="Assigned"
          label="DisplayKey.get('Web.Dashboard.Tile.CurrentActivities.Assigned')"
          value="activity.AssignedTo"
          valueType="java.lang.Object"
          wrap="false"/>
      </Row>
    </RowIterator>
  </ListViewTile>
</PCF>
