<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewTile
    id="PaymentScheduleListViewTile"
    stretch="true"
    title="DisplayKey.get('Web.Dashboard.Tile.PaymentSchedule')"
    viewMoreAction="helper.viewMore()"
    viewMoreLabel="DisplayKey.get('Web.Tile.ViewAll')"
    viewMoreVisible="helper.ViewMoreVisible">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="asOfDate"
      type="Date"/>
    <Variable
      initialValue="new gw.api.web.dashboard.ui.policy.PaymentScheduleHelper(policyPeriod, asOfDate)"
      name="helper"
      type="gw.api.web.dashboard.ui.policy.PaymentScheduleHelper"/>
    <RowIterator
      editable="false"
      elementName="invoice"
      value="helper.Invoices"
      valueType="gw.plugin.billing.BillingInvoiceInfo[]">
      <Row>
        <DateCell
          grow="true"
          id="StatementDate"
          label="DisplayKey.get('Web.Dashboard.Tile.PaymentSchedule.StatementDate')"
          value="invoice.InvoiceDate"
          wrap="false"/>
        <DateCell
          grow="true"
          id="DueDate"
          label="DisplayKey.get('Web.Dashboard.Tile.PaymentSchedule.DueDate')"
          value="invoice.InvoiceDueDate"
          wrap="false"/>
        <MonetaryAmountCell
          align="right"
          formatType="currency"
          id="Amount"
          label="DisplayKey.get('Web.Dashboard.Tile.PaymentSchedule.Amount')"
          value="invoice.Amount"
          wrap="false"/>
      </Row>
    </RowIterator>
  </ListViewTile>
</PCF>