<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewTile
    hideViewMoreIfShortList="true"
    id="SplitPolicyListViewTile"
    stretch="true"
    title="DisplayKey.get('Web.Dashboard.Tile.SplitPolicies')"
    viewMoreAction="SplitPolicyPopup.push(policyPeriod)"
    viewMoreLabel="DisplayKey.get('Web.Tile.ViewAll')">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      initialValue="gw.pcf.policysummary.SplitPolicyHelper.filteredDividedPolicies(policyPeriod)"
      name="splitPolicies"
      type="gw.pcf.policysummary.SplitPolicyHelper.SplitPolicyInfo[]"/>
    <RowIterator
      editable="false"
      elementName="splitPolicy"
      id="splitPolicy"
      value="splitPolicies"
      valueType="gw.pcf.policysummary.SplitPolicyHelper.SplitPolicyInfo[]">
      <Row>
        <DateCell
          grow="true"
          id="CreateTime"
          label="DisplayKey.get('Web.PolicyFile.Summary.DividePolicies.CreatedDate')"
          value="splitPolicy.Policy.CreateTime"/>
        <TextCell
          action="gw.pcf.policysummary.SplitPolicyHelper.forwardToJobOrPolicy(splitPolicy.Period, splitPolicy.IsBound)"
          grow="true"
          id="PolicyNumber"
          label="DisplayKey.get('Web.PolicyFile.Summary.DividePolicies.PolicyOrJob')"
          value="(splitPolicy.IsBound) ? splitPolicy.Period.PolicyNumberDisplayString : splitPolicy.Period.Job.JobNumber"/>
        <TextCell
          grow="true"
          id="Status"
          label="DisplayKey.get('Web.PolicyFile.Summary.DividePolicies.Status')"
          value="splitPolicy.Period.PeriodDisplayStatus"/>
        <TextCell
          grow="true"
          id="Account"
          label="DisplayKey.get('Web.PolicyFile.Summary.DividePolicies.Account')"
          value="splitPolicy.Period.Policy.Account.AccountNumber"/>
        <TextCell
          grow="true"
          id="AccountHolder"
          label="DisplayKey.get('Web.PolicyFile.Summary.DividePolicies.AccountHolder')"
          value="splitPolicy.Period.Policy.Account.AccountHolderContact.DisplayName"/>
        <AltUserCell
          grow="true"
          id="Underwriter"
          label="DisplayKey.get('Web.PolicyFile.Summary.DividePolicies.Underwriter')"
          value="splitPolicy.Period.Job.Underwriter"/>
      </Row>
    </RowIterator>
  </ListViewTile>
</PCF>