<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="PriorHistoryDV">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.Policy.PriorHistory.PriorPolicies&quot;)"/>
      <ListViewInput
        labelAbove="true">
        <Toolbar>
          <IteratorButtons
            iterator="PriorPolicyLV"/>
        </Toolbar>
        <ListViewPanel
          id="PriorPolicyLV">
          <RowIterator
            editable="true"
            elementName="priorPolicy"
            hasCheckBoxes="true"
            hideCheckBoxesIfReadOnly="true"
            toCreateAndAdd="var pp = new PriorPolicy(); policyPeriod.Policy.addToPriorPolicies(pp); return pp;"
            toRemove="policyPeriod.Policy.removeFromPriorPolicies(priorPolicy)"
            value="policyPeriod.Policy.PriorPolicies"
            valueType="entity.PriorPolicy[]">
            <Row>
              <TextCell
                editable="true"
                footerLabel="DisplayKey.get(&quot;Web.Policy.PriorPolicy.Sum&quot;)"
                id="Carrier"
                label="DisplayKey.get(&quot;Web.Policy.PriorPolicy.Carrier&quot;)"
                value="priorPolicy.Carrier"/>
              <TextCell
                editable="true"
                id="PolicyNumber"
                label="DisplayKey.get(&quot;Web.Policy.PriorPolicy.PolicyNumber&quot;)"
                value="priorPolicy.PolicyNumber"/>
              <DateCell
                editable="true"
                id="EffectiveDate"
                label="DisplayKey.get(&quot;Web.Policy.PriorPolicy.EffectiveDate&quot;)"
                required="true"
                value="priorPolicy.EffectiveDate"/>
              <DateCell
                editable="true"
                id="ExpirationDate"
                label="DisplayKey.get(&quot;Web.Policy.PriorPolicy.ExpirationDate&quot;)"
                value="priorPolicy.ExpirationDate"/>
              <MonetaryAmountCell
                align="right"
                currency="policyPeriod.PreferredSettlementCurrency"
                editable="true"
                footerSumValue="priorPolicy.AnnualPremium"
                formatType="currency"
                id="AnnualPremium"
                label="DisplayKey.get(&quot;Web.Policy.PriorPolicy.AnnualPremium&quot;)"
                value="priorPolicy.AnnualPremium"/>
              <TextCell
                align="right"
                editable="true"
                footerSumValue="priorPolicy.NumLosses"
                id="NumLosses"
                label="DisplayKey.get(&quot;Web.Policy.PriorPolicy.NumLosses&quot;)"
                value="priorPolicy.NumLosses"
                valueType="java.lang.Integer"/>
              <MonetaryAmountCell
                align="right"
                currency="policyPeriod.PreferredSettlementCurrency"
                editable="true"
                footerSumValue="priorPolicy.TotalLosses"
                formatType="currency"
                id="TotalLosses"
                label="DisplayKey.get(&quot;Web.Policy.PriorPolicy.TotalLosses&quot;)"
                value="priorPolicy.TotalLosses"/>
              <TextCell
                align="right"
                editable="true"
                formatType="general"
                id="ExpMod"
                label="DisplayKey.get(&quot;Web.Policy.PriorPolicy.ExpMod&quot;)"
                value="priorPolicy.ExpMod"
                valueType="java.math.BigDecimal"
                visible="policyPeriod.HasWorkersComp"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>