<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ToolbarButtonSet
    id="QuoteTypeToolbarButtonSet"
    mode="QuickQuote">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <ToolbarButton
      action="jobWizardHelper.requestQuote(policyPeriod, jobWizardHelper.getQuoteStep(policyPeriod),ValidationLevel.TC_QUICKQUOTABLE,RatingStyle.TC_QUICKQUOTE)"
      id="Quote"
      label="DisplayKey.get(&quot;Job.Operation.Quote&quot;)"
      shortcut="Q"/>
  </ToolbarButtonSet>
</PCF>