<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    editable="openForEdit"
    id="SubmissionWizard_PolicyReviewScreen">
    <Require
      name="submission"
      type="Submission"/>
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <Variable
      initialValue="openForEdit &amp;&amp; policyPeriod.Job.OOSJob &amp;&amp; policyPeriod.OOSConflicts.Count &gt; 0"
      name="needsConflictResolution"
      recalculateOnRefresh="true"
      type="boolean"/>
    <Toolbar>
      <WizardButtons/>
      <ToolbarButtonSetRef
        mode="policyPeriod.Job.Subtype"
        toolbarButtonSet="JobWizardToolbarButtonSet(policyPeriod, submission, jobWizardHelper)"/>
    </Toolbar>
    <AlertBar
      id="QuoteRequestedAlert"
      label="DisplayKey.get(&quot;Web.JobWizard.QuoteInProgressAlert&quot;)"
      visible="gw.web.job.JobUIHelper.isQuoteRequestInProgress(policyPeriod)"/>
    <PanelRef
      def="WarningsPanelSet(policyPeriod.Policy.ContingencyWarningMessages)"/>
    <PanelRef
      def="SubmissionWizard_ReviewSummaryDV(policyPeriod, submission)"/>
    <PanelRef
      def="ReviewSummaryCV(policyPeriod, jobWizardHelper)"
      mode="needsConflictResolution"/>
  </Screen>
</PCF>