<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Page
    id="PolicyFile_GL7UnmannedAircrafts"
    parent="PolicyFile(policyPeriod, asOfDate)"
    title="DisplayKey.get(&quot;Web.Policy.GL7.UnmannedAircraft&quot;)">
    <LocationEntryPoint
      signature="PolicyFile_GL7UnmannedAircrafts(policyPeriod : PolicyPeriod, asOfDate : java.util.Date)"/>
    <Variable
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      name="asOfDate"
      type="java.util.Date"/>
    <Screen>
      <PanelRef
        def="GL7UnmannedAircraftsPanelSet(policyPeriod, false, null)"/>
    </Screen>
  </Page>
</PCF>
