<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Popup
    beforeCommit="gw.apd.model.CostCodeFilterHelper.applyUpdates(costCodeFilters, costDefinition)"
    canEdit="openForEdit"
    canVisit="true"
    id="APDDependantPricePopup"
    startInEditMode="openForEdit"
    title="DisplayKey.get(&quot;Web.APDDependantPricePopup.Title&quot;)">
    <LocationEntryPoint
      signature="APDDependantPricePopup(costDefinition: APDCostDefinition, openForEdit: Boolean)"/>
    <Variable
      name="costDefinition"
      type="APDCostDefinition"/>
    <Variable
      name="openForEdit"
      type="Boolean"/>
    <Variable
      initialValue="gw.apd.model.CostCodeFilterHelper.buildList(costDefinition)"
      name="costCodeFilters"
      type="gw.apd.model.CostCodeFilterHelper[]"/>
    <Screen>
      <Toolbar>
        <EditButtons/>
      </Toolbar>
      <DetailViewPanel>
        <InputColumn>
          <TypeKeyInput
            editable="true"
            id="JurisdictionFilter"
            label="DisplayKey.get(&quot;Web.APDDependantPricePopup.JurisdictionFilter&quot;)"
            value="costDefinition.JurisdictionFilter"
            valueType="Jurisdiction"/>
          <TypeKeyInput
            editable="true"
            id="RateAmountTypeFilter"
            label="DisplayKey.get(&quot;Web.APDDependantPricePopup.RateAmountTypeFilter&quot;)"
            value="costDefinition.RateAmountTypeFilter"
            valueType="RateAmountType"/>
          <ListViewInput
            boldLabel="true"
            label="DisplayKey.get(&quot;Web.APDDependantPricePopup.CostCodeFilter&quot;)"
            labelAbove="true">
            <Toolbar>
              <IteratorButtons
                iterator="costCodesIterator"/>
            </Toolbar>
            <ListViewPanel>
              <RowIterator
                editable="true"
                elementName="filterHelper"
                id="costCodesIterator"
                value="costCodeFilters"
                valueType="gw.apd.model.CostCodeFilterHelper[]">
                <IteratorSort
                  sortBy="filterHelper.Code"
                  sortOrder="1"/>
                <Row>
                  <CheckBoxCell
                    editable="true"
                    id="FilterCostCode"
                    label="DisplayKey.get(&quot;Web.APDDependantPricePopup.FilterCostCode&quot;)"
                    value="filterHelper.FilterBy"/>
                  <TextCell
                    id="CostCode"
                    label="DisplayKey.get(&quot;Web.APDDependantPricePopup.CostCode&quot;)"
                    value="filterHelper.Code"/>
                  <TextCell
                    id="CostName"
                    label="DisplayKey.get(&quot;Web.APDDependantPricePopup.CostName&quot;)"
                    value="filterHelper.Name"/>
                  <TextCell
                    grow="true"
                    id="Description"
                    label="DisplayKey.get(&quot;Web.APDDependantPricePopup.Description&quot;)"
                    value="filterHelper.Description"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Popup>
</PCF>