<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ModalCell
    id="APDDataFieldValue"
    mode="boolean">
    <Require
      name="dataField"
      type="APDDataField"/>
    <BooleanRadioCell
      editable="true"
      id="value"
      value="dataField.BitValue"
      valueType="Boolean"
      valueVisible="dataField.VisibleInUI">
      <PostOnChange
        disablePostOnEnter="not dataField.Attribute.UsedToConditionPeer"
        onChange="dataField.syncPeerClauses(); gw.api.web.PebblesUtil.invalidateIterators(CurrentLocation, APDRiskField)"/>
    </BooleanRadioCell>
  </ModalCell>
</PCF>