<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="APDRatingOverrideCostLV"
    visible="!costs.Empty">
    <Require
      name="costs"
      type="List&lt;APDCost&gt;"/>
    <Require
      name="quoteDisplayUtil"
      type="gw.apd.financials.APDQuoteDisplayUtil"/>
    <Require
      name="isEditable"
      type="boolean"/>
    <Require
      name="jobEffDate"
      type="java.util.Date"/>
    <Require
      name="prefCurrency"
      type="Currency"/>
    <Row
      renderAsSmartHeader="true">
      <TextCell
        align="center"
        colspan="3"
        id="EmptyHeader1"
        valueType="String"/>
      <TextCell
        align="center"
        colspan="4"
        id="ActualHeader"
        value="DisplayKey.get(&quot;Web.Policy.RatingOverride.Actual&quot;)"
        valueType="String"/>
      <TextCell
        align="center"
        colspan="5"
        id="OverrideHeader"
        value="DisplayKey.get(&quot;Web.Policy.RatingOverride.Override&quot;)"
        valueType="String"/>
      <TextCell
        align="center"
        colspan="4"
        id="StandardHeader"
        value="DisplayKey.get(&quot;Web.Policy.RatingOverride.Standard&quot;)"
        valueType="String"/>
    </Row>
    <RowIterator
      editable="isEditable"
      elementName="cost"
      pageSize="0"
      value="costs.toTypedArray()"
      valueType="APDCost[]">
      <IteratorSort
        sortBy="quoteDisplayUtil.CostDisplayName(cost)"
        sortOrder="1"/>
      <IteratorSort
        sortBy="cost.EffDate"
        sortOrder="2"/>
      <Row
        editable="!(quoteDisplayUtil.willRateThisSliceForward() and cost.EffDate &lt; jobEffDate)">
        <TextCell
          id="Description"
          label="DisplayKey.get(&quot;Web.Policy.APD.Financials.Description&quot;)"
          value="quoteDisplayUtil.CostDisplayName(cost)"
          valueType="String"/>
        <DateCell
          id="EffDate"
          label="DisplayKey.get(&quot;Web.Policy.APD.Financials.EffDate&quot;)"
          value="cost.EffDate"/>
        <DateCell
          id="ExpDate"
          label="DisplayKey.get(&quot;Web.Policy.APD.Financials.ExpDate&quot;)"
          value="cost.ExpDate"/>
        <TextCell
          format="&quot;0.0000&quot;"
          id="ActualBaseRate"
          label="DisplayKey.get(&quot;Web.Policy.RatingOverride.BaseRate&quot;)"
          value="cost.ActualBaseRate"
          valueType="java.math.BigDecimal"/>
        <TextCell
          format="&quot;0.0000&quot;"
          id="ActualAdjustedRate"
          label="DisplayKey.get(&quot;Web.Policy.RatingOverride.AdjustedRate&quot;)"
          value="cost.ActualAdjRate"
          valueType="java.math.BigDecimal"/>
        <MonetaryAmountCell
          align="right"
          id="ActualTermAmount"
          label="DisplayKey.get(&quot;Web.Policy.RatingOverride.TermAmount&quot;)"
          value="cost.ActualTermAmount"/>
        <MonetaryAmountCell
          align="right"
          id="ActualAmount"
          label="DisplayKey.get(&quot;Web.Policy.RatingOverride.Amount&quot;)"
          value="cost.ActualAmount"/>
        <TextCell
          editable="cost.Overridable"
          format="&quot;0.0000&quot;"
          id="OverrideBaseRate"
          label="DisplayKey.get(&quot;Web.Policy.RatingOverride.BaseRate&quot;)"
          value="cost.OverrideBaseRate"
          valueType="java.math.BigDecimal"
          width="10em"/>
        <TextCell
          editable="cost.Overridable"
          format="&quot;0.0000&quot;"
          id="OverrideAdjustedRate"
          label="DisplayKey.get(&quot;Web.Policy.RatingOverride.AdjustedRate&quot;)"
          value="cost.OverrideAdjRate"
          valueType="java.math.BigDecimal"
          width="10em"/>
        <MonetaryAmountCell
          align="right"
          currency="prefCurrency"
          editable="cost.Overridable"
          id="OverrideTermAmount"
          label="DisplayKey.get(&quot;Web.Policy.RatingOverride.TermAmount&quot;)"
          value="cost.OverrideTermAmount"
          width="10em"/>
        <MonetaryAmountCell
          align="right"
          currency="prefCurrency"
          editable="cost.Overridable"
          id="OverrideAmount"
          label="DisplayKey.get(&quot;Web.Policy.RatingOverride.Amount&quot;)"
          value="cost.OverrideAmount"
          width="10em"/>
        <TextCell
          editable="cost.Overridable"
          id="OverrideReason"
          label="DisplayKey.get(&quot;Web.Policy.RatingOverride.Reason&quot;)"
          value="cost.OverrideReason"
          valueType="String"
          width="20em"/>
        <TextCell
          format="&quot;0.0000&quot;"
          id="StandardBaseRate"
          label="DisplayKey.get(&quot;Web.Policy.RatingOverride.BaseRate&quot;)"
          value="cost.StandardBaseRate"
          valueType="java.math.BigDecimal"/>
        <TextCell
          format="&quot;0.0000&quot;"
          id="StandardAdjustedRate"
          label="DisplayKey.get(&quot;Web.Policy.RatingOverride.AdjustedRate&quot;)"
          value="cost.StandardAdjRate"
          valueType="java.math.BigDecimal"/>
        <MonetaryAmountCell
          align="right"
          id="StandardTermAmountBilling"
          label="DisplayKey.get(&quot;Web.Policy.RatingOverride.TermAmount&quot;)"
          value="cost.StandardTermAmount"/>
        <MonetaryAmountCell
          align="right"
          id="StandardAmountBilling"
          label="DisplayKey.get(&quot;Web.Policy.RatingOverride.Amount&quot;)"
          value="cost.StandardAmount"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>