<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="APDRiskCoverablePanelSet"
    visible="true //APDCoverableType.TF_HASRISKOBJECTS.TypeKeys.hasMatch(\tk -&gt; tk == riskCoverable.Coverable.CoverableType)">
    <Require
      name="riskCoverable"
      type="APDRiskCoverable"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <Require
      name="coverDefinitionHelper"
      type="gw.apd.model.CoverDefinitionHelper"/>
    <Variable
      initialValue="new gw.api.web.userpreference.UserPreferencesOfCurrentUser().canDesign()"
      name="canDesign"
      type="Boolean"/>
    <CardViewPanel
      hideTabIfSingle="true">
      <Card
        id="LineDetails"
        title="riskCoverable.DisplayName">
        <PanelRef
          def="APDRiskPanelSet(riskCoverable, coverDefinitionHelper, openForEdit)"/>
      </Card>
      <Card
        id="RiskObjectsCard"
        title="riskCoverable.Coverable.ChildrenLabel"
        visible="APDCoverableType.TF_HASRISKOBJECTS.TypeKeys.hasMatch(\tk -&gt; tk == riskCoverable.Coverable.CoverableType) and riskCoverable.Coverable.HasChildren">
        <PanelRef>
          <Toolbar>
            <ToolbarButton
              hideIfReadOnly="true"
              id="addRiskObjectButton"
              iterator="riskObjects"
              label="DisplayKey.get(&quot;Web.Policy.ManualLine.RiskCoverable.Add&quot;)">
              <MenuItemIterator
                elementName="coverable"
                value="riskCoverable.Coverable.ChildCoverables"
                valueType="APDCoverable[]">
                <MenuItem
                  action="riskCoverable.createAndAddChildRiskCoverable(coverable)"
                  id="addCoverable"
                  label="DisplayKey.get(&quot;Web.Policy.ManualLine.RiskCoverable.AddCoverable&quot;, coverable.Name)"/>
              </MenuItemIterator>
              <MenuItem
                action="APDNewCoverablePopup.push(riskCoverable)"
                id="addNewCoverableType"
                label="DisplayKey.get(&quot;Web.Policy.ManualLine.RiskCoverable.AddNewType&quot;)"
                visible="canDesign"/>
            </ToolbarButton>
            <IteratorButtons
              addVisible="false"
              iterator="riskObjects"/>
            <CheckedValuesToolbarButton
              allCheckedRowsAction="APDSplitRiskPopup.push(CheckedValues.toList())"
              flags="all canSplit"
              hideIfReadOnly="true"
              id="SplitRiskCoverable"
              iterator="riskObjects"
              label="DisplayKey.get(&quot;Web.Policy.ManualLine.RiskCoverable.SplitCoverable&quot;)"
              visible="riskCoverable.Coverable.HasSplittableChildCoverables"/>
          </Toolbar>
          <ListViewPanel>
            <RowIterator
              editable="true"
              elementName="riskObject"
              hasCheckBoxes="true"
              hideCheckBoxesIfReadOnly="true"
              id="riskObjects"
              toRemove="riskCoverable.removeChildRiskCoverable(riskObject)"
              value="riskCoverable.ChildRiskCoverablesInPeriod"
              valueType="APDRiskCoverable[]">
              <ToolbarFlag
                condition="riskObject.Coverable.HasSplittableFields"
                name="canSplit"/>
              <!-- The first row shows the first split of the coverable -->
              <Row>
                <TextCell
                  action="APDRiskPopup.push(riskObject, openForEdit, jobWizardHelper, coverDefinitionHelper)"
                  grow="true"
                  id="riskObjectName"
                  label="DisplayKey.get(&quot;Web.Policy.ManualLine.RiskCoverable.RiskName&quot;)"
                  sortBy="riskObject.SequenceNumber"
                  value="riskObject.DisplayName"/>
                <DateCell
                  id="EffectiveDate"
                  label="DisplayKey.get(&quot;Web.Policy.ManualLine.RiskCoverable.EffectiveDate&quot;)"
                  value="riskObject.EffectiveDate"
                  visible="riskCoverable.Coverable.HasSplittableChildCoverables"
                  wrap="false"/>
                <DateCell
                  id="ExpirationDate"
                  label="DisplayKey.get(&quot;Web.Policy.ManualLine.RiskCoverable.ExpirationDate&quot;)"
                  value="riskObject.ExpirationDate"
                  visible="riskCoverable.Coverable.HasSplittableChildCoverables"
                  wrap="false"/>
              </Row>
              <!-- Additional rows show additional splits of the coverable -->
              <RowIterator
                editable="true"
                elementName="riskObjectVersion"
                id="riskObjectVersionsLV"
                pageSize="0"
                value="riskObject.AdditionalVersions.cast(APDRiskCoverable)"
                valueType="APDRiskCoverable[]">
                <Row>
                  <TextCell
                    action="APDRiskPopup.push(riskObjectVersion, openForEdit, jobWizardHelper, coverDefinitionHelper)"
                    grow="true"
                    id="riskObjectName"
                    value="riskObjectVersion.DisplayName"/>
                  <DateCell
                    id="EffectiveDate"
                    value="riskObjectVersion.EffectiveDate"
                    visible="riskCoverable.Coverable.HasSplittableChildCoverables"
                    wrap="false"/>
                  <DateCell
                    id="ExpirationDate"
                    value="riskObjectVersion.ExpirationDate"
                    visible="riskCoverable.Coverable.HasSplittableChildCoverables"
                    wrap="false"/>
                </Row>
              </RowIterator>
            </RowIterator>
          </ListViewPanel>
        </PanelRef>
      </Card>
    </CardViewPanel>
  </PanelSet>
</PCF>