<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="SubmissionConfirmLetterDV">
    <Require
      name="letter"
      type="Letter"/>
    <Require
      name="account"
      type="Account"/>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.SubmissionConfirmLetterDV.ProductsLabel&quot;)"/>
      <ListViewInput
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="SubmissionConfirmLetterLV">
          <RowIterator
            editable="false"
            elementName="submission"
            hasCheckBoxes="true"
            pageSize="0"
            value="gw.job.SubmissionLetterHelper.getAccountSubmissionsByLetterType(account, LetterType.TC_CONFIRMATION)"
            valueType="entity.Submission[]">
            <Row>
              <TextCell
                id="SubmissionNumber"
                label="DisplayKey.get(&quot;Web.SubmissionConfirmLetterLV.SubmissionNumber&quot;)"
                sortOrder="2"
                value="submission.JobNumber"/>
              <TextCell
                id="Product"
                label="DisplayKey.get(&quot;Web.SubmissionConfirmLetterLV.Product&quot;)"
                sortOrder="1"
                value="submission.Policy.Product"
                valueType="gw.api.productmodel.Product"/>
              <DateCell
                id="EffectiveDate"
                label="DisplayKey.get(&quot;Web.SubmissionConfirmLetterLV.EffectiveDate&quot;)"
                value="submission.LatestPeriod.PeriodStart"/>
              <TextCell
                id="Status"
                label="DisplayKey.get(&quot;Web.SubmissionConfirmLetterLV.Status&quot;)"
                value="submission.DisplayStatus"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>