<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="LobDateInputSet">
    <Require
      name="displayable"
      type="gw.lob.common.displayable.LobDisplayable"/>
    <DateInput
      confirmMessage="displayable.ConfirmMessage"
      editable="displayable.Editable"
      id="LobDateInput"
      label="displayable.Label"
      required="displayable.Required"
      value="displayable.Value"
      valueType="java.lang.Object"
      visible="not displayable.NeedsRefresh"/>
    <DateInput
      confirmMessage="displayable.ConfirmMessage"
      editable="displayable.Editable"
      id="DynamicLobDateInput"
      label="displayable.Label"
      required="displayable.Required"
      value="displayable.Value"
      valueType="java.lang.Object"
      visible="displayable.NeedsRefresh">
      <PostOnChange
        onChange="displayable.onChange()"/>
    </DateInput>
  </InputSet>
</PCF>