<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="LobRangeSearchScreen"
    mode="default">
    <Require
      name="diaplayable"
      type="gw.lob.common.displayable.LobDisplayable"/>
  </Screen>
</PCF>