<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    editable="true"
    id="CopyPolicyDV"
    mode="PersonalAutoLine">
    <Require
      name="copier"
      type="gw.policy.PolicyPeriodCopier"/>
    <Variable
      initialValue="copier.getPersonalVehicleCopiers()"
      name="vehicleCopiers"
      recalculateOnRefresh="true"
      type="List&lt;gw.lob.pa.PersonalVehicleCopier&gt;"/>
    <Variable
      initialValue="copier.getPACovCopiers()"
      name="paCoverageCopiers"
      recalculateOnRefresh="true"
      type="List&lt;gw.api.copy.Copier&lt; Object &gt;&gt;"/>
    <Variable
      initialValue="copier.getPolicyDriverCopiers()"
      name="paPolicyDriverCopiers"
      recalculateOnRefresh="true"
      type="List&lt;gw.api.copy.Copier&lt;Object&gt;&gt;"/>
    <Variable
      initialValue="copier.PACopier.AllExclusionCopier.Copiers"
      name="exclusionCopiers"
      recalculateOnRefresh="true"
      type="java.util.List&lt;gw.coverage.ClausePatternCopier&gt;"/>
    <Variable
      initialValue="copier.PACopier.AllConditionCopier.Copiers"
      name="conditionCopiers"
      recalculateOnRefresh="true"
      type="java.util.List&lt;gw.coverage.ClausePatternCopier&gt;"/>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.CopyPolicyData.PersonalAuto.PolicyDrivers.Title&quot;)"/>
      <InputIterator
        elementName="policyDriverCopier"
        id="policyDriverCopierIterator"
        value="paPolicyDriverCopiers"
        valueType="java.util.List&lt;gw.api.copy.Copier&lt;java.lang.Object&gt;&gt;">
        <CheckBoxInput
          editable="true"
          id="PolicyDriver"
          label="policyDriverCopier.Source"
          value="policyDriverCopier.ShouldCopy"/>
      </InputIterator>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.CopyPolicyData.PersonalAuto.Vehicles.Title&quot;)"/>
      <InputIterator
        elementName="vehicleCopier"
        id="vehicleCopierIterator"
        value="vehicleCopiers"
        valueType="java.util.List&lt;gw.lob.pa.PersonalVehicleCopier&gt;">
        <InputGroup
          allowToggle="true"
          alwaysShowCheckbox="true"
          childrenVisible="vehicleCopier.ShouldCopy"
          id="VehicleCopierInputGroup"
          label="vehicleCopier.Source"
          onToggle="vehicleCopier.ShouldCopy = VALUE">
          <Label
            label="DisplayKey.get(&quot;Web.CopyPolicyData.PersonalAuto.Vehicles.Coverages.Title&quot;)"/>
          <CheckBoxInput
            editable="true"
            id="IncludeAllCoverages"
            label="DisplayKey.get(&quot;Web.CopyPolicyData.PersonalAuto.Coverages.IncludeAllCoverages&quot;)"
            value="vehicleCopier.AllCoverageCopier.ShouldCopyAll">
            <PostOnChange/>
          </CheckBoxInput>
          <ListViewInput
            def="SelectIndividualCoveragesLV(vehicleCopier.AllCoverageCopier.AllExistingCoverageCopier.Copiers)"
            id="VehicleIndividualCoverages"
            label="DisplayKey.get(&quot;Web.CopyPolicyData.PersonalAuto.Coverages.IncludeIndividualCoverages&quot;)"
            visible="not vehicleCopier.AllCoverageCopier.ShouldCopyAll">
            <Toolbar/>
          </ListViewInput>
          <CheckBoxInput
            editable="true"
            id="IncludeAddlInterests"
            label="DisplayKey.get(&quot;Web.CopyPolicyData.PersonalAuto.Vehicles.IncludeAddlInterests&quot;)"
            value="vehicleCopier.AllAddlInterestDetailsCopier.ShouldCopyAll"/>
        </InputGroup>
      </InputIterator>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.CopyPolicyData.PersonalAuto.Coverages.Title&quot;)"/>
      <InputIterator
        elementName="coverageCopier"
        id="coverageCopierIterator"
        value="paCoverageCopiers"
        valueType="java.util.List&lt;gw.api.copy.Copier&lt;java.lang.Object&gt;&gt;">
        <CheckBoxInput
          editable="true"
          id="Coverage"
          label="coverageCopier.Source"
          value="coverageCopier.ShouldCopy"/>
      </InputIterator>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.CopyPolicyData.PersonalAuto.Exclusions.Title&quot;)"/>
      <InputIterator
        elementName="exclusionCopier"
        id="exclusionCopierIterator"
        value="exclusionCopiers"
        valueType="java.util.List&lt;gw.coverage.ClausePatternCopier&gt;">
        <CheckBoxInput
          editable="true"
          id="Exclusion"
          label="exclusionCopier.Source"
          value="exclusionCopier.ShouldCopy"/>
      </InputIterator>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.CopyPolicyData.PersonalAuto.Conditions.Title&quot;)"/>
      <InputIterator
        elementName="conditionCopier"
        id="conditionCopierIterator"
        value="conditionCopiers"
        valueType="java.util.List&lt;gw.coverage.ClausePatternCopier&gt;">
        <CheckBoxInput
          editable="true"
          id="Condition"
          label="conditionCopier.Source"
          value="conditionCopier.ShouldCopy"/>
      </InputIterator>
    </InputColumn>
  </DetailViewPanel>
</PCF>