// Widgets
$gw-app--widget-spacing--outer--top-rem: $gw-app--SPACING-rem-S !default;
$gw-app--widget-spacing--outer--left-rem: $gw-app--SPACING-rem-M !default;
$gw-app--widget-spacing--outer--right-rem: $gw-app--SPACING-rem-M !default;
$gw-app--widget-spacing--outer--bottom-rem: $gw-app--SPACING-rem-S !default;

$gw-app--widget-spacing--LARGE--outer--top-rem: $gw-app--SPACING-rem-M !default;
$gw-app--widget-spacing--LARGE--outer--left-rem: $gw-app--SPACING-rem-L !default;
$gw-app--widget-spacing--LARGE--outer--right-rem: $gw-app--SPACING-rem-L !default;
$gw-app--widget-spacing--LARGE--outer--bottom-rem: $gw-app--SPACING-rem-M !default;

$gw-app--widget-spacing--inner--top-rem: $gw-app--SPACING-rem-S !default;
$gw-app--widget-spacing--inner--left-rem: $gw-app--SPACING-rem-S !default;
$gw-app--widget-spacing--inner--right-rem: $gw-app--SPACING-rem-S !default;
$gw-app--widget-spacing--inner--bottom-rem: $gw-app--SPACING-rem-S !default;

$gw-app--widget-spacing--LARGE--inner--top-rem: $gw-app--SPACING-rem-S !default;
$gw-app--widget-spacing--LARGE--inner--left-rem: $gw-app--SPACING-rem-L !default;
$gw-app--widget-spacing--LARGE--inner--right-rem: $gw-app--SPACING-rem-L !default;
$gw-app--widget-spacing--LARGE--inner--bottom-rem: $gw-app--SPACING-rem-S !default;

// Panels
$gw-app--panel-spacing--outer--top-rem: $gw-app--SPACING-rem-S !default;
$gw-app--panel-spacing--outer--left-rem: $gw-app--SPACING-rem-M !default;
$gw-app--panel-spacing--outer--right-rem: $gw-app--SPACING-rem-M !default;
$gw-app--panel-spacing--outer--bottom-rem: $gw-app--SPACING-rem-S !default;

$gw-app--panel-spacing--LARGE--outer--top-rem: $gw-app--SPACING-rem-L !default;
$gw-app--panel-spacing--LARGE--outer--left-rem: $gw-app--SPACING-rem-L !default;
$gw-app--panel-spacing--LARGE--outer--right-rem: $gw-app--SPACING-rem-L !default;
$gw-app--panel-spacing--LARGE--outer--bottom-rem: $gw-app--SPACING-rem-L !default;

$gw-app--panel-spacing--inner--top-rem: $gw-app--SPACING-rem-S !default;
$gw-app--panel-spacing--inner--left-rem: $gw-app--SPACING-rem-S !default;
$gw-app--panel-spacing--inner--right-rem: $gw-app--SPACING-rem-S !default;
$gw-app--panel-spacing--inner--bottom-rem: $gw-app--SPACING-rem-S !default;

$gw-app--panel-spacing--LARGE--inner--top-rem: $gw-app--SPACING-rem-M !default;
$gw-app--panel-spacing--LARGE--inner--left-rem: $gw-app--SPACING-rem-M !default;
$gw-app--panel-spacing--LARGE--inner--right-rem: $gw-app--SPACING-rem-M !default;
$gw-app--panel-spacing--LARGE--inner--bottom-rem: $gw-app--SPACING-rem-M !default;

// Layout Panel
$gw-app--layout-panel-spacing--outer--top-rem: $gw-app--SPACING-rem-S !default;
$gw-app--layout-panel-spacing--outer--left-rem: $gw-app--SPACING-rem-M !default;
$gw-app--layout-panel-spacing--outer--right-rem: $gw-app--SPACING-rem-M !default;
$gw-app--layout-panel-spacing--outer--bottom-rem: $gw-app--SPACING-rem-S !default;

$gw-app--layout-panel-spacing--LARGE--outer--top-rem: $gw-app--SPACING-rem-L !default;
$gw-app--layout-panel-spacing--LARGE--outer--left-rem: $gw-app--SPACING-rem-L !default;
$gw-app--layout-panel-spacing--LARGE--outer--right-rem: $gw-app--SPACING-rem-L !default;
$gw-app--layout-panel-spacing--LARGE--outer--bottom-rem: $gw-app--SPACING-rem-L !default;

$gw-app--layout-panel-spacing--inner--top-rem: $gw-app--SPACING-rem-S !default;
$gw-app--layout-panel-spacing--inner--left-rem: $gw-app--SPACING-rem-S !default;
$gw-app--layout-panel-spacing--inner--right-rem: $gw-app--SPACING-rem-S !default;
$gw-app--layout-panel-spacing--inner--bottom-rem: $gw-app--SPACING-rem-S !default;

$gw-app--layout-panel-spacing--LARGE--inner--top-rem: $gw-app--SPACING-rem-M !default;
$gw-app--layout-panel-spacing--LARGE--inner--left-rem: $gw-app--SPACING-rem-M !default;
$gw-app--layout-panel-spacing--LARGE--inner--right-rem: $gw-app--SPACING-rem-M !default;
$gw-app--layout-panel-spacing--LARGE--inner--bottom-rem: $gw-app--SPACING-rem-M !default;

// Other
$gw-app--spacing--left-indent: $gw-app--SPACING-rem-L !default;
