<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="AccountSearchResultsLV"
    stretch="true">
    <Require
      name="accountSummaries"
      type="gw.api.database.IQueryBeanResult&lt;AccountSummary&gt;"/>
    <RowIterator
      appendPageInfo="true"
      editable="false"
      elementName="accountSummary"
      pickValue="accountSummary.Account"
      value="accountSummaries"
      valueType="gw.api.database.IQueryBeanResult&lt;entity.AccountSummary&gt;">
      <Row>
        <TextCell
          action="AccountFileDoRetrievalForward.go(accountSummary.AccountNumber)"
          available="perm.Account.view(accountSummary.Account)"
          id="AccountNumber"
          label="DisplayKey.get(&quot;Web.AccountSearchResults.AccountNumber&quot;)"
          value="accountSummary.AccountNumber"
          wrap="false"/>
        <TextCell
          id="Name"
          label="DisplayKey.get(&quot;Web.AccountSearchResults.Name&quot;)"
          value="accountSummary.AccountHolderName"
          wrap="false"/>
        <TextCell
          enableSort="false"
          grow="true"
          id="Address"
          label="DisplayKey.get(&quot;Web.AccountSearchResults.Address&quot;)"
          value="accountSummary.AccountHolderAddress"
          wrap="true"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>