<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="DocumentTemplateSearchResultsLV">
    <Require
      name="documentTemplateSearchResultsList"
      type="entity.DocumentTemplateSearchResults[]"/>
    <RowIterator
      appendPageInfo="true"
      editable="false"
      elementName="documentTemplateSearchResult"
      pickValue="documentTemplateSearchResult.loadDescriptor()"
      value="documentTemplateSearchResultsList"
      valueType="entity.DocumentTemplateSearchResults[]">
      <Row>
        <TextCell
          id="TemplateID"
          label="DisplayKey.get(&quot;Web.DocumentTemplateSearch.TemplateID&quot;)"
          value="documentTemplateSearchResult.TemplateID"/>
        <TextCell
          id="Name"
          label="DisplayKey.get(&quot;Web.DocumentTemplateSearch.Name&quot;)"
          value="documentTemplateSearchResult.Name"/>
        <TypeKeyCell
          id="DocumentType"
          label="DisplayKey.get(&quot;Web.DocumentTemplateSearch.DocumentType&quot;)"
          sortBy="documentTemplateSearchResult.Type"
          value="documentTemplateSearchResult.Type"
          valueType="typekey.DocumentType"/>
        <TypeKeyCell
          id="Language"
          label="DisplayKey.get(&quot;Web.DocumentTemplateSearch.Language&quot;)"
          value="documentTemplateSearchResult.Language"
          valueType="typekey.LanguageType"
          visible="LanguageType.getTypeKeys( false ).Count &gt; 1"/>
        <DateCell
          id="DateModified"
          label="DisplayKey.get(&quot;Web.DocumentTemplateSearch.DateModified&quot;)"
          value="documentTemplateSearchResult.DateModified"/>
        <DateCell
          id="EffectiveDate"
          label="DisplayKey.get(&quot;Web.DocumentTemplateSearch.EffectiveDate&quot;)"
          value="documentTemplateSearchResult.DateEffective"/>
        <DateCell
          id="ExpirationDate"
          label="DisplayKey.get(&quot;Web.DocumentTemplateSearch.ExpirationDate&quot;)"
          value="documentTemplateSearchResult.DateExpires"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>