<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <PanelSet
    classList="pc-search-full-width"
    id="HVQPolicySearchPanelSet">
    <Require
      name="defaultQuoteKey"
      type="gw.api.quoting.QuoteKey"/>
    <SearchPanel
      classList="pc-search-full-width-panel"
      criteriaName="searchCriteria"
      maxSearchResults="searchCriteria.ResultLimit"
      resultCachingEnabled="false"
      resultsName="searchResult"
      search="searchCriteria.performSearch()"
      searchCriteria="new gw.quoting.QuoteSearchCriteria(gw.web.search.HVQSearchUIHelper.FACTORY, gw.api.system.PCConfigParameters.MaxHVQSearchResults.Value)"
      searchCriteriaType="gw.quoting.QuoteSearchCriteria"
      searchOnEnter="gw.web.search.HVQSearchUIHelper.populateQuoteSearchCriteria(searchCriteria, defaultQuoteKey)"
      searchResultsType="List&lt;gw.quoting.QuoteSummarySearchResult&gt;">
      <DetailViewPanel
        id="HVQPolicySearchDV">
        <InputColumn>
          <TextInput
            editable="true"
            id="QuoteId"
            label="DisplayKey.get(&quot;Web.HVQSearch.QuoteIdentifier&quot;)"
            required="false"
            value="searchCriteria.QuoteID"/>
          <TextInput
            editable="true"
            id="FirstName"
            label="DisplayKey.get(&quot;Web.HVQSearch.FirstName&quot;)"
            required="false"
            value="searchCriteria.FirstName"/>
          <TextInput
            editable="true"
            id="LastName"
            label="DisplayKey.get(&quot;Web.HVQSearch.LastName&quot;)"
            required="false"
            value="searchCriteria.LastName"/>
          <TextInput
            editable="true"
            id="CompanyName"
            label="DisplayKey.get(&quot;Web.HVQSearch.CompanyName&quot;)"
            required="false"
            value="searchCriteria.CompanyName"/>
          <TextInput
            editable="true"
            id="WorkPhone"
            label="DisplayKey.get(&quot;Web.HVQSearch.Phone&quot;)"
            required="false"
            value="searchCriteria.WorkPhone"/>
          <TextInput
            editable="true"
            id="EmailAddress"
            label="DisplayKey.get(&quot;Web.HVQSearch.EmailAddress&quot;)"
            required="false"
            value="searchCriteria.Email"/>
          <CheckBoxInput
            editable="true"
            id="HVQFilter"
            label="DisplayKey.get(&quot;Web.HVQSearch.HVQFilter&quot;)"
            required="false"
            value="searchCriteria.HVQFilter"/>
        </InputColumn>
        <InputFooterSection>
          <InputSetRef
            def="SearchAndResetInputSet()"/>
        </InputFooterSection>
      </DetailViewPanel>
      <PanelRef
        def="HVQSearch_ResultsLV(searchResult)">
        <TitleBar
          title="DisplayKey.get(&quot;Web.PolicySearch.Results&quot;)"/>
        <Toolbar
          id="SearchResultsToolbar"></Toolbar>
      </PanelRef>
    </SearchPanel>
  </PanelSet>
</PCF>
