<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    canEdit="true"
    canVisit="true"
    countsAsWork="false"
    id="IndustryCodeSearchPopup"
    returnType="IndustryCode"
    title="DisplayKey.get(&quot;Web.IndustryCodeSearch&quot;)">
    <LocationEntryPoint
      signature="IndustryCodeSearchPopup(domain : IndustryCodeType)"/>
    <LocationEntryPoint
      signature="IndustryCodeSearchPopup(domain : IndustryCodeType, referenceDate : java.util.Date)"/>
    <LocationEntryPoint
      signature="IndustryCodeSearchPopup(domain : IndustryCodeType, referenceDate : java.util.Date, previousIndustryCode : IndustryCode)"/>
    <Variable
      name="domain"
      type="IndustryCodeType"/>
    <Variable
      initialValue="null"
      name="referenceDate"
      type="java.util.Date"/>
    <Variable
      initialValue="null"
      name="previousIndustryCode"
      type="IndustryCode"/>
    <Screen
      id="IndustryCodeSearchScreen">
      <Toolbar>
        <EditButtons
          editVisible="false"
          updateVisible="false"/>
      </Toolbar>
      <SearchPanel
        cachingEnabled="false"
        criteriaName="searchCriteria"
        resultsName="industryCodes"
        search="searchCriteria.performSearch()"
        searchCriteria="new gw.product.IndustryCodeSearchCriteria(domain, referenceDate, previousIndustryCode)"
        searchCriteriaType="gw.product.IndustryCodeSearchCriteria"
        searchOnEnter="true"
        searchResultsType="gw.api.database.IQueryBeanResult&lt;IndustryCode&gt;">
        <PanelRef
          def="IndustryCodeSearchDV(searchCriteria)"/>
        <PanelRef
          def="IndustryCodeSearchResultsLV(industryCodes)">
          <TitleBar
            title="DisplayKey.get(&quot;Web.Search.Results&quot;)"/>
          <Toolbar/>
        </PanelRef>
      </SearchPanel>
    </Screen>
  </Popup>
</PCF>