<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="OrganizationBranchSearchDV">
    <Require
      name="searchCriteria"
      type="GroupSearchCriteria"/>
    <InputColumn>
      <TextInput
        editable="true"
        id="Name"
        label="DisplayKey.get(&quot;Web.OrganizationBranchSearch.BranchName&quot;)"
        value="searchCriteria.BranchName"/>
      <TextInput
        editable="true"
        id="BranchCode"
        label="DisplayKey.get(&quot;Web.OrganizationBranchSearch.BranchCode&quot;)"
        value="searchCriteria.BranchCode"/>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="SearchAndResetInputSet()"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>