<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <PanelSet
    available="true"
    classList="pc-search-full-width"
    editable="true"
    id="SolrPolicySearchPanelSet"
    visible="true">
    <Variable
      initialValue="false"
      name="showDetailColumn"
      type="boolean"/>
    <Variable
      initialValue="new gw.pcf.UniqueProductDisplayNameMaker()"
      name="uniqueProductDisplayNameMaker"
      type="gw.pcf.UniqueProductDisplayNameMaker"/>
    <SearchPanel
      classList="pc-search-full-width"
      criteriaName="searchCriteria"
      resultsName="searchResults"
      search="searchCriteria.performSearch()"
      searchCriteria="new gw.solr.SolrPolicySearchCriteria()"
      searchCriteriaType="gw.solr.SolrPolicySearchCriteria"
      searchResultsType="java.util.List&lt;gw.solr.SolrPolicyResultDocument&gt;">
      <DetailViewPanel>
        <InputColumn>
          <Label
            label="DisplayKey.get(&quot;Web.PolicySearch.Solr.MinimumSearchCriteria&quot;)"/>
        </InputColumn>
      </DetailViewPanel>
      <DetailViewPanel>
        <InputColumn>
          <InputSet>
            <TextInput
              editable="true"
              id="searchPolicy"
              label="DisplayKey.get(&quot;Web.PolicySearch.Solr.Policy&quot;)"
              required="false"
              value="searchCriteria.PolicyCriteria"/>
            <TextInput
              editable="true"
              id="searchName"
              label="DisplayKey.get(&quot;Web.PolicySearch.Solr.Name&quot;)"
              required="false"
              value="searchCriteria.NameCriteria"/>
            <TextInput
              editable="true"
              id="searchPhone"
              label="DisplayKey.get(&quot;Web.PolicySearch.Solr.Phone&quot;)"
              requestValidationExpression="return gw.api.util.PhoneUtil.isViableNumberWithExtension(VALUE) ? null : DisplayKey.get(&quot;Java.PhoneUtil.Error.ParseError&quot;, VALUE)"
              required="false"
              value="searchCriteria.PhoneCriteria"/>
            <TextInput
              editable="true"
              id="searchOfficialId"
              label="DisplayKey.get(&quot;Web.PolicySearch.Solr.OfficialId&quot;)"
              required="false"
              value="searchCriteria.OfficialIdCriteria"/>
            <InputDivider/>
            <Label
              label="DisplayKey.get(&quot;Web.PolicySearch.Solr.Address&quot;)"/>
            <TextInput
              editable="true"
              id="searchStreet"
              label="DisplayKey.get(&quot;Web.PolicySearch.Solr.Street&quot;)"
              required="false"
              value="searchCriteria.StreetCriteria"/>
            <TextInput
              editable="true"
              id="searchCity"
              label="DisplayKey.get(&quot;Web.PolicySearch.Solr.City&quot;)"
              required="false"
              value="searchCriteria.CityCriteria"/>
            <TypeKeyInput
              editable="true"
              id="searchState"
              label="DisplayKey.get(&quot;Web.PolicySearch.Solr.State&quot;)"
              required="false"
              value="searchCriteria.StateCriteria"
              valueType="typekey.State"/>
            <TextInput
              editable="true"
              id="searchPostalCode"
              label="DisplayKey.get(&quot;Web.PolicySearch.Solr.PostalCode&quot;)"
              required="false"
              value="searchCriteria.PostalCodeCriteria"/>
          </InputSet>
        </InputColumn>
        <InputColumn>
          <Label
            label="DisplayKey.get(&quot;Web.PolicySearch.Solr.Filter&quot;)"/>
          <RangeInput
            editable="true"
            id="searchProduct"
            label="DisplayKey.get(&quot;Web.PolicySearch.Solr.Product&quot;)"
            optionLabel="uniqueProductDisplayNameMaker.make(VALUE)"
            value="searchCriteria.ProductCriteria"
            valueRange="uniqueProductDisplayNameMaker.Products"
            valueType="gw.api.productmodel.Product"/>
          <TypeKeyInput
            editable="true"
            id="searchJurisdiction"
            label="DisplayKey.get(&quot;Web.PolicySearch.Solr.Jurisdiction&quot;)"
            required="false"
            value="searchCriteria.JurisdictionCriteria"
            valueType="typekey.Jurisdiction"/>
          <OrgInput
            editable="not User.util.CurrentUser.ExternalUser"
            id="searchProducer"
            label="DisplayKey.get(&quot;Web.PolicySearch.Solr.Producer&quot;)"
            pickLocation="OrganizationSearchPopup.push(null, true)"
            required="false"
            value="searchCriteria.ProducerCriteria"/>
          <ProducerCodeInput
            editable="true"
            id="searchProducerCode"
            label="DisplayKey.get(&quot;Web.PolicySearch.Solr.ProducerCode&quot;)"
            pickLocation="ProducerCodeSearchPopup.push()"
            required="false"
            value="searchCriteria.ProducerCodeCriteria"/>
          <DateInput
            editable="true"
            id="InForceOnDate"
            label="DisplayKey.get(&quot;Web.PolicySearch.Solr.InForceDate&quot;)"
            value="searchCriteria.InForceOnDateCriteria"/>
          <InputDivider/>
        </InputColumn>
        <InputFooterSection>
          <InputSetRef
            def="SearchAndResetInputSet()"/>
        </InputFooterSection>
      </DetailViewPanel>
      <PanelRef>
        <TitleBar
          title="DisplayKey.get(&quot;Web.PolicySearch.Results&quot;)"/>
        <Toolbar
          id="SearchResultsToolbar"/>
        <PanelSet
          classList="pc-search-full-width-panel">
          <ListViewPanel
            id="solrResultsLV"
            stretch="true">
            <RowIterator
              appendPageInfo="true"
              editable="false"
              elementName="result"
              pageSize="10"
              value="searchResults"
              valueType="java.util.List&lt;gw.solr.SolrPolicyResultDocument&gt;">
              <IteratorSort
                sortBy="result.Rank"
                sortOrder="1"/>
              <Row>
                <BooleanRadioCell
                  icon="gw.pcf.solr.SolrPolicySearchHelper.getIcon(result)"
                  iconType="svgFileName"
                  iconLabel="gw.pcf.solr.SolrPolicySearchHelper.getIconLabel(result)"
                  id="rowIcon"
                  showHeaderIcon="false"
                  value="true"
                  valueType="boolean"/>
                <TextCell
                  id="rank"
                  label="DisplayKey.get(&quot;Web.PolicySearch.Solr.Result.Rank&quot;)"
                  value="result.Rank"
                  valueType="java.lang.Integer"
                  wrap="false"/>
                <TextCell
                  id="Score"
                  label="DisplayKey.get(&quot;Web.PolicySearch.Solr.Result.Score&quot;)"
                  value="result.Score"
                  visible="false"/>
                <TextCell
                  action="gw.pcf.solr.SolrPolicySearchHelper.navigateToPolicyOrJob(result)"
                  id="PolicyNumber"
                  label="DisplayKey.get(&quot;Web.PolicySearch.Solr.Result.Policy&quot;)"
                  value="result.PolicyNumberDisplayString"
                  wrap="false"/>
                <LinkCell
                  grow="true"
                  id="Insured"
                  label="DisplayKey.get(&quot;Web.PolicySearch.Solr.Result.InsuredName&quot;)"
                  sortBy="result.PrimaryInsuredName">
                  <Link
                    id="InsuredName"
                    label="result.PrimaryInsuredName"/>
                  <Link
                    icon="&quot;info&quot;"
                    iconType="svgFileName"
                    id="InsuredIcon"
                    tooltip="result.AdditionalInsureds.join(&quot;, &quot;)"
                    visible="result.AdditionalInsureds.HasElements"/>
                </LinkCell>
                <TextCell
                  grow="true"
                  id="PolicyAddress"
                  label="DisplayKey.get(&quot;Web.PolicySearch.Solr.Result.Address&quot;)"
                  value="result.PolicyAddress"/>
                <TextCell
                  id="Product"
                  label="DisplayKey.get(&quot;Web.PolicySearch.Solr.Result.Product&quot;)"
                  value="uniqueProductDisplayNameMaker.Products.singleWhere(\ p -&gt; p.PublicID == result.ProductCode).DisplayName"
                  wrap="false"/>
                <TextCell
                  id="Status"
                  label="DisplayKey.get(&quot;Web.PolicySearch.Solr.Result.Status&quot;)"
                  value="result.JobType == &quot;Cancellation&quot; ? DisplayKey.get(&quot;Web.PolicySearch.Solr.Result.CanceledStatus&quot;) : result.PeriodStatus"
                  wrap="false"/>
                <DateCell
                  id="EffectiveDate"
                  label="DisplayKey.get(&quot;Web.PolicySearch.Solr.Result.Effective&quot;)"
                  value="result.PeriodStart"
                  wrap="false"/>
                <DateCell
                  id="ExpirationDate"
                  label="DisplayKey.get(&quot;Web.PolicySearch.Solr.Result.Expiration&quot;)"
                  value="result.PeriodEnd"
                  wrap="false"/>
                <TextCell
                  grow="true"
                  id="Producer"
                  label="DisplayKey.get(&quot;Web.PolicySearch.Solr.Result.Producer&quot;)"
                  value="result.Producer + &quot;\n&quot; + result.ProducerCodeOfService"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </PanelSet>
      </PanelRef>
    </SearchPanel>
  </PanelSet>
</PCF>