<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <RowSet
    id="StateCostRowSet"
    mode="total">
    <Require
      name="costWrapper"
      type="gw.api.ui.CostWrapper"/>
    <Row
      visible="costWrapper.Bold">
      <EmptyCell
        id="Empty1"/>
      <EmptyCell
        id="Empty2"/>
      <TextCell
        bold="true"
        grow="true"
        id="description"
        value="costWrapper.Description"/>
      <EmptyCell
        id="Empty3"/>
      <EmptyCell
        id="Empty4"/>
      <MonetaryAmountCell
        align="right"
        bold="true"
        formatType="currency"
        id="total"
        value="costWrapper.Total"
        wrap="false"/>
    </Row>
    <Row
      visible="not costWrapper.Bold">
      <EmptyCell
        id="Empty5"/>
      <EmptyCell
        id="Empty6"/>
      <TextCell
        grow="true"
        id="subDescription"
        value="costWrapper.Description"/>
      <EmptyCell
        id="Empty7"/>
      <EmptyCell
        id="Empty8"/>
      <MonetaryAmountCell
        align="right"
        formatType="currency"
        id="subTotal"
        value="costWrapper.Total"
        wrap="false"/>
    </Row>
  </RowSet>
</PCF>