<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="WCOptionCardPanelSet"
    mode="WaiversOfSubrogation">
    <Require
      name="wcLine"
      type="WorkersCompLine"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <DetailViewPanel>
      <InputColumn>
        <InputSet
          id="WCWaiverOfSubroInputSet">
          <ListViewInput
            editable="true"
            labelAbove="true"
            visible="true">
            <Toolbar>
              <IteratorButtons
                addLabel="DisplayKey.get(&quot;Web.Policy.WC.AddBlanket&quot;)"
                iterator="WCBlanketWaiverOfSubroLV"/>
            </Toolbar>
            <ListViewPanel
              id="WCBlanketWaiverOfSubroLV"
              stretch="true">
              <RowIterator
                editable="true"
                elementName="wCBlanketWaiverOfSubro"
                hasCheckBoxes="true"
                hideCheckBoxesIfReadOnly="true"
                numEntriesRequired="0"
                toCreateAndAdd="wcLine.createAndAddWCWaiverOfSubro(TC_BLANKET)"
                toRemove="wcLine.removeFromWCWaiverOfSubros(wCBlanketWaiverOfSubro)"
                validationLabel="DisplayKey.get(&quot;Web.Policy.WC.CovEmp&quot;)"
                value="wcLine.WCWaiverOfSubros.where(\w -&gt; w.Type == TC_BLANKET)"
                valueType="entity.WCWaiverOfSubro[]">
                <Row>
                  <TextCell
                    editable="true"
                    grow="true"
                    id="Description"
                    label="DisplayKey.get(&quot;Web.Policy.WC.WaiversOfSubrogation.Description&quot;)"
                    required="true"
                    value="wCBlanketWaiverOfSubro.Description"/>
                  <RangeCell
                    align="left"
                    editable="true"
                    id="State"
                    label="DisplayKey.get(&quot;Web.Policy.WC.WaiversOfSubrogation.State&quot;)"
                    required="true"
                    value="wCBlanketWaiverOfSubro.State"
                    valueRange="(wcLine.Jurisdictions*.State).sortBy(\s -&gt; s.Code)"
                    valueType="typekey.Jurisdiction"
                    wrap="false">
                    <PostOnChange/>
                  </RangeCell>
                  <TypeKeyCell
                    align="left"
                    editable="true"
                    filter="VALUE.hasCategory(typekey.LiabilityAct.TC_WORKERSCOMP)"
                    id="WCLaw"
                    label="DisplayKey.get(&quot;Web.Policy.WC.WaiversOfSubrogation.WCLaw&quot;)"
                    required="true"
                    value="wCBlanketWaiverOfSubro.SpecialCov"
                    valueType="typekey.SpecialCov"
                    wrap="false"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
          <ListViewInput
            editable="true"
            labelAbove="true"
            visible="true">
            <Toolbar>
              <IteratorButtons
                addLabel="DisplayKey.get(&quot;Web.Policy.WC.AddSpecific&quot;)"
                iterator="WCWaiverOfSubroLV"/>
            </Toolbar>
            <ListViewPanel
              id="WCWaiverOfSubroLV"
              stretch="true">
              <RowIterator
                editable="true"
                elementName="wCWaiverOfSubro"
                hasCheckBoxes="true"
                hideCheckBoxesIfReadOnly="true"
                numEntriesRequired="0"
                toCreateAndAdd="wcLine.createAndAddWCWaiverOfSubro(typekey.WaiverOfSubrogationType.TC_SPECIFIC)"
                toRemove="wcLine.removeFromWCWaiverOfSubros(wCWaiverOfSubro)"
                validationLabel="DisplayKey.get(&quot;Web.Policy.WC.CovEmp&quot;)"
                value="wcLine.WCWaiverOfSubros.where(\w -&gt; w.Type == typekey.WaiverOfSubrogationType.TC_SPECIFIC)"
                valueType="entity.WCWaiverOfSubro[]">
                <Row>
                  <TextCell
                    editable="true"
                    grow="true"
                    id="Description"
                    label="DisplayKey.get(&quot;Web.Policy.WC.WaiversOfSubrogation.Description&quot;)"
                    required="true"
                    value="wCWaiverOfSubro.Description"/>
                  <TextCell
                    editable="true"
                    id="JobID"
                    label="DisplayKey.get(&quot;Web.Policy.WC.WaiversOfSubrogation.JobID&quot;)"
                    value="wCWaiverOfSubro.JobID"
                    wrap="false"/>
                  <RangeCell
                    align="left"
                    editable="true"
                    id="State"
                    label="DisplayKey.get(&quot;Web.Policy.WC.WaiversOfSubrogation.State&quot;)"
                    required="true"
                    value="wCWaiverOfSubro.State"
                    valueRange="(wcLine.Jurisdictions*.State).sortBy(\s -&gt; s.Code)"
                    valueType="typekey.Jurisdiction"
                    wrap="false">
                    <PostOnChange/>
                  </RangeCell>
                  <RangeCell
                    align="right"
                    editable="(wCWaiverOfSubro.Type == TC_SPECIFIC) and                                    (wCWaiverOfSubro.State != null)"
                    id="ClassCode"
                    label="DisplayKey.get(&quot;Web.Policy.WC.WaiversOfSubrogation.ClassCode&quot;)"
                    optionLabel="VALUE as java.lang.String"
                    required="true"
                    value="wCWaiverOfSubro.ClassCode"
                    valueRange="wcLine.getClassCodesForWCCoveredEmployees(gw.api.util.StateJurisdictionMappingUtil.getStateMappingForJurisdiction(wCWaiverOfSubro.State))"
                    valueType="entity.WCClassCode"
                    wrap="false"/>
                  <TextCell
                    align="right"
                    editable="wCWaiverOfSubro.Type == TC_SPECIFIC"
                    id="AnnualPayroll"
                    label="DisplayKey.get(&quot;Web.Policy.WC.WaiversOfSubrogation.Payroll&quot;)"
                    required="true"
                    value="wCWaiverOfSubro.BasisAmount"
                    valueType="java.lang.Integer"
                    wrap="false"/>
                  <TypeKeyCell
                    align="left"
                    editable="true"
                    filter="VALUE.hasCategory(typekey.LiabilityAct.TC_WORKERSCOMP)"
                    id="WCLaw"
                    label="DisplayKey.get(&quot;Web.Policy.WC.WaiversOfSubrogation.WCLaw&quot;)"
                    required="true"
                    value="wCWaiverOfSubro.SpecialCov"
                    valueType="typekey.SpecialCov"
                    wrap="false"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
        </InputSet>
      </InputColumn>
    </DetailViewPanel>
  </PanelSet>
</PCF>