<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="WCOptionCardPanelSet"
    mode="RetrospectiveRatingPlan">
    <Require
      name="wcLine"
      type="WorkersCompLine"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <DetailViewPanel>
      <InputColumn>
        <InputSet
          id="WCRetrospectiveRatingPlanInputSet">
          <Variable
            initialValue="gw.api.domain.StateSet.get( gw.api.domain.StateSet.WC_NOTMONOPOLISTIC )"
            name="nonMonopolisticStates"
            type="gw.api.domain.StateSet"/>
          <InputSetRef
            def="WCRetroRatingPlanBasicInfoInputSet(wcLine)"/>
          <ListViewInput
            editable="true"
            labelAbove="true">
            <Toolbar/>
            <ListViewPanel
              id="StandardPremiumLV"
              stretch="true">
              <Row>
                <TextCell
                  bold="true"
                  grow="true"
                  id="BasicPremiumFactorLabel"
                  label="DisplayKey.get(&quot;Web.Policy.WC.RetroRatingPlan.PercentStandardPremium&quot;)"
                  value="DisplayKey.get(&quot;Web.Policy.WC.RetroRatingPlan.BasicPremiumFactor&quot;)"/>
                <TextCell
                  editable="true"
                  id="BasicPremiumFactor1"
                  label="wcLine.RetrospectiveRatingPlan.PercentStandardPremium1"
                  value="wcLine.RetrospectiveRatingPlan.BasicPremiumFactor1"
                  valueType="java.math.BigDecimal"
                  wrap="false"/>
                <TextCell
                  editable="true"
                  id="BasicPremiumFactor2"
                  label="wcLine.RetrospectiveRatingPlan.PercentStandardPremium2"
                  value="wcLine.RetrospectiveRatingPlan.BasicPremiumFactor2"
                  valueType="java.math.BigDecimal"
                  wrap="false"/>
                <TextCell
                  editable="true"
                  id="BasicPremiumFactor3"
                  label="wcLine.RetrospectiveRatingPlan.PercentStandardPremium3"
                  value="wcLine.RetrospectiveRatingPlan.BasicPremiumFactor3"
                  valueType="java.math.BigDecimal"
                  wrap="false"/>
              </Row>
            </ListViewPanel>
          </ListViewInput>
          <Label
            label="DisplayKey.get(&quot;Web.Policy.WC.RetroRatingPlan.MultipliersFactors&quot;)"/>
          <ListViewInput
            labelAbove="true">
            <Toolbar>
              <IteratorButtons
                iterator="StateMultiplierLV"/>
            </Toolbar>
            <ListViewPanel
              id="StateMultiplierLV"
              stretch="true">
              <RowIterator
                editable="true"
                elementName="stateMultiplier"
                hasCheckBoxes="true"
                hideCheckBoxesIfReadOnly="true"
                numEntriesRequired="1"
                toCreateAndAdd="wcLine.RetrospectiveRatingPlan.createAndAddWCStateMultiplier()"
                toRemove="wcLine.RetrospectiveRatingPlan.removeFromStateMultipliers(stateMultiplier)"
                validationLabel="DisplayKey.get(&quot;Web.Policy.WC.RetroRatingPlan.MultiplierValidation&quot;)"
                value="wcLine.RetrospectiveRatingPlan.StateMultipliers"
                valueType="entity.WCStateMultiplier[]">
                <Row>
                  <TypeKeyCell
                    editable="true"
                    filter="nonMonopolisticStates.contains(gw.api.util.StateJurisdictionMappingUtil.getStateMappingForJurisdiction(VALUE))"
                    grow="true"
                    id="SelectState"
                    label="DisplayKey.get(&quot;Web.Policy.WC.RetroRatingPlan.State&quot;)"
                    required="true"
                    value="stateMultiplier.State"
                    valueType="typekey.Jurisdiction"/>
                  <TextCell
                    align="right"
                    editable="true"
                    id="StateTaxMultiplier"
                    label="DisplayKey.get(&quot;Web.Policy.WC.RetroRatingPlan.StateTaxMultiplier&quot;)"
                    required="true"
                    value="stateMultiplier.StateTaxMultiplier"
                    valueType="java.math.BigDecimal"
                    wrap="false"/>
                  <TextCell
                    align="right"
                    editable="true"
                    id="FederalTaxMultiplier"
                    label="DisplayKey.get(&quot;Web.Policy.WC.RetroRatingPlan.FederalTaxMultiplier&quot;)"
                    required="true"
                    value="stateMultiplier.FederalTaxMultiplier"
                    valueType="java.math.BigDecimal"
                    wrap="false"/>
                  <TextCell
                    align="right"
                    editable="true"
                    id="StateExcessLossFactor"
                    label="DisplayKey.get(&quot;Web.Policy.WC.RetroRatingPlan.StateExcessLossFactor&quot;)"
                    required="false"
                    value="stateMultiplier.StateExcessLossFactor"
                    valueType="java.math.BigDecimal"
                    wrap="false"/>
                  <TextCell
                    align="right"
                    editable="true"
                    id="FederalExcessLossFactor"
                    label="DisplayKey.get(&quot;Web.Policy.WC.RetroRatingPlan.FederalExcessLossFactor&quot;)"
                    required="false"
                    value="stateMultiplier.FederalExcessLossFactor"
                    valueType="java.math.BigDecimal"
                    wrap="false"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
          <Label
            label="DisplayKey.get(&quot;Web.Policy.WC.RetroRatingPlan.LOC&quot;)"/>
          <ListViewInput
            labelAbove="true">
            <Toolbar>
              <IteratorButtons
                iterator="LettersLV"/>
            </Toolbar>
            <ListViewPanel
              id="LettersLV"
              stretch="true">
              <RowIterator
                editable="true"
                elementName="letter"
                hasCheckBoxes="true"
                hideCheckBoxesIfReadOnly="true"
                numEntriesRequired="1"
                toCreateAndAdd="wcLine.RetrospectiveRatingPlan.createAndAddLetterOfCredit()"
                toRemove="wcLine.RetrospectiveRatingPlan.removeFromLettersOfCredit(letter)"
                validationLabel="DisplayKey.get(&quot;Web.Policy.WC.RetroRatingPlan.LOC.validation&quot;)"
                value="wcLine.RetrospectiveRatingPlan.LettersOfCredit"
                valueType="entity.WCRetroRatingLetterOfCredit[]">
                <Row>
                  <TextCell
                    editable="true"
                    grow="true"
                    id="LOCIssuer"
                    label="DisplayKey.get(&quot;Web.Policy.WC.RetroRatingPlan.LOC.Issuer&quot;)"
                    required="true"
                    value="letter.IssuerName"/>
                  <MonetaryAmountCell
                    align="right"
                    currency="letter.Currency"
                    editable="true"
                    id="Amount"
                    label="DisplayKey.get(&quot;Web.Policy.WC.RetroRatingPlan.LOC.Amount&quot;)"
                    required="true"
                    value="letter.Amount"
                    wrap="false"/>
                  <DateCell
                    editable="true"
                    id="Effective"
                    label="DisplayKey.get(&quot;Web.Policy.WC.RetroRatingPlan.LOC.Effective&quot;)"
                    required="true"
                    value="letter.ValidFrom"
                    wrap="false"/>
                  <DateCell
                    editable="true"
                    id="Expiration"
                    label="DisplayKey.get(&quot;Web.Policy.WC.RetroRatingPlan.LOC.Expires&quot;)"
                    required="true"
                    value="letter.ValidTo"
                    wrap="false"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
        </InputSet>
      </InputColumn>
    </DetailViewPanel>
  </PanelSet>
</PCF>