<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    disableUserCustomization="true"
    id="WCRateTxDetailLV"
    stretch="true">
    <Require
      name="periodTxs"
      type="java.util.Set&lt;WCTransaction&gt;"/>
    <Variable
      initialValue="periodTxs.findByCostType( WCCovEmpCost )"
      name="covEmpTxs"
      recalculateOnRefresh="true"
      type="java.util.Set&lt;WCTransaction&gt;"/>
    <Variable
      initialValue="periodTxs.findByCostType( WCJurisdictionCost )"
      name="aggTxs"
      recalculateOnRefresh="true"
      type="java.util.Set&lt;WCTransaction&gt;"/>
    <RowIterator
      editable="true"
      elementName="covEmpTx"
      pageSize="0"
      value="covEmpTxs.toTypedArray()"
      valueType="entity.WCTransaction[]">
      <Variable
        initialValue="covEmpTx.WCCost as WCCovEmpCost"
        name="cost"
        type="entity.WCCovEmpCost"/>
      <IteratorSort
        sortBy="covEmpTx.WCCost.LocationNum"
        sortOrder="1"/>
      <IteratorSort
        sortBy="covEmpTx.WCCost.ClassCode"
        sortOrder="2"/>
      <IteratorSort
        sortBy="covEmpTx.EffDate"
        sortOrder="3"/>
      <IteratorSort
        sortBy="covEmpTx.Proration"
        sortOrder="4"/>
      <Row
        id="CovEmpTxAmountRow"
        visible="not covEmpTx.AmountBilling.IsZero">
        <TextCell
          id="LocationNum"
          label="DisplayKey.get(&quot;Web.SubmissionWizard.Quote.WC.Loc&quot;)"
          value="cost.LocationNum"
          valueType="java.lang.Integer"
          wrap="false"/>
        <TextCell
          id="ClassCode"
          label="DisplayKey.get(&quot;Web.Quote.CumulDetail.Default.ClassCode&quot;)"
          value="cost.ClassCode"
          wrap="false"/>
        <TextCell
          grow="true"
          id="Description"
          label="DisplayKey.get(&quot;Web.SubmissionWizard.Quote.WC.Desc&quot;)"
          value="cost.Description"/>
        <TextCell
          align="right"
          id="Basis"
          label="DisplayKey.get(&quot;Web.SubmissionWizard.Quote.WC.Basis&quot;)"
          value="cost.Basis"
          valueType="java.math.BigDecimal"
          wrap="false"/>
        <TextCell
          align="right"
          id="ModifiedTermRate"
          label="DisplayKey.get(&quot;Web.SubmissionWizard.Quote.WC.Rate&quot;)"
          value="cost.ActualAdjRate"
          valueType="java.math.BigDecimal"
          wrap="false"/>
        <MonetaryAmountCell
          formatType="currency"
          id="TxAmount"
          label="DisplayKey.get(&quot;Web.SubmissionWizard.Quote.WC.Premium&quot;)"
          value="covEmpTx.AmountBilling"
          wrap="false"/>
      </Row>
    </RowIterator>
    <RowIterator
      editable="true"
      elementName="aggTx"
      id="lt400"
      pageSize="0"
      value="aggTxs.byCalcOrder( 0, 400 ).toTypedArray()"
      valueType="entity.WCTransaction[]">
      <IteratorSort
        sortBy="(aggTx.WCCost as WCJurisdictionCost).CalcOrder"
        sortOrder="1"/>
      <IteratorSort
        sortBy="aggTx.Proration"
        sortOrder="2"/>
      <RowSetRef
        def="WCRateTxDetailAggRowSet(aggTx)"/>
    </RowIterator>
    <Row>
      <EmptyCell
        id="Empty37"/>
      <EmptyCell
        id="Empty38"/>
      <TextCell
        bold="true"
        id="DescriptionFoot300"
        value="DisplayKey.get(&quot;Web.SubmissionWizard.Quote.WC.Subtotal.StandardPremium&quot;)"/>
      <EmptyCell
        id="Empty41"/>
      <EmptyCell
        id="Empty42"/>
      <TextCell
        align="right"
        bold="true"
        id="TxAmountSubtotal300"
        value="gw.api.util.StringUtil.formatNumber(periodTxs.byCalcOrder( 0, 400 )*.AmountBilling*.Amount.sum() as java.lang.Double, &quot;currency&quot;)"/>
    </Row>
  </ListViewPanel>
</PCF>