<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="PaymentMethodInputSet"
    mode="ach">
    <Require
      name="accountHolderName"
      type="String"/>
    <Require
      name="address"
      type="Address"/>
    <InputSet
      id="ACHInputSet">
      <Variable
        name="routingNumber"
        type="String"/>
      <Variable
        name="accountType"
        type="BankAccountType"/>
      <Variable
        name="accountNumber"
        type="String"/>
      <Variable
        name="notes"
        type="String"/>
      <TypeKeyInput
        editable="true"
        id="BankAccountType"
        label="DisplayKey.get(&quot;Web.Demo.PaymentSystem.PaymentMethod.BankAccountType&quot;)"
        required="true"
        value="accountType"
        valueType="typekey.BankAccountType"/>
      <TextInput
        editable="true"
        id="BankABANumber"
        label="DisplayKey.get(&quot;Web.Demo.PaymentSystem.PaymentMethod.RoutingNumber&quot;)"
        required="true"
        value="routingNumber"/>
      <TextInput
        editable="true"
        id="BankAccountNumber"
        label="DisplayKey.get(&quot;Web.Demo.PaymentSystem.PaymentMethod.AccountNumber&quot;)"
        required="true"
        value="accountNumber"/>
      <TextInput
        editable="true"
        id="Notes"
        label="DisplayKey.get(&quot;Web.Demo.PaymentSystem.PaymentMethod.Notes&quot;)"
        required="true"
        value="notes"/>
    </InputSet>
  </InputSet>
</PCF>