<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="ActivityDetailNoteDV"
    mode="UWApproval">
    <Require
      name="activity"
      type="Activity"/>
    <Require
      name="note"
      type="Note"/>
    <InputColumn>
      <InputSet>
        <Label
          label="DisplayKey.get(&quot;Web.NewNote.Title&quot;)"/>
        <TypeKeyInput
          editable="true"
          id="Topic"
          label="DisplayKey.get(&quot;Web.NewNote.Topic&quot;)"
          value="note.Topic"
          valueType="typekey.NoteTopicType">
          <PostOnChange/>
        </TypeKeyInput>
        <TextInput
          editable="true"
          id="NoteSubject"
          label="DisplayKey.get(&quot;Web.NewNote.Subject&quot;)"
          value="note.Subject"/>
        <RangeInput
          id="RelatedTo"
          label="DisplayKey.get(&quot;Web.NewNote.RelatedTo&quot;)"
          optionLabel="note.getLevelDisplayString(VALUE)"
          sortValueRange="false"
          value="note.Level"
          valueRange="note.generateLevels(null, null, activity.Job, null)"
          valueType="gw.api.domain.linkedobject.LinkedObjectContainer"
          visible="activity.PolicyPeriod != null"/>
        <TypeKeyInput
          editable="true"
          filter="note.hasCreatePermission(VALUE)"
          id="SecurityLevel"
          label="DisplayKey.get(&quot;Web.NewNote.SecurityLevel&quot;)"
          required="true"
          value="note.SecurityType"
          valueType="typekey.NoteSecurityType"/>
        <TextAreaInput
          available="note.Topic != null"
          editable="true"
          id="Text"
          label="DisplayKey.get(&quot;Web.NewNote.Text&quot;)"
          numRows="15"
          value="note.Body"/>
      </InputSet>
    </InputColumn>
  </DetailViewPanel>
</PCF>
