<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    beforeCommit="if(assignmentPopup.SelectionType == AssignmentSelectionType.TC_FROMSEARCH) {assignmentPopup.Picker.setSelection(pickedValue)} assignmentPopup.performAssignment()"
    canEdit="true"
    id="AssignActivitiesPopup"
    returnType="gw.api.assignment.Assignee"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.Activity.Assign.Title&quot;)">
    <LocationEntryPoint
      signature="AssignActivitiesPopup(assignmentPopup : gw.api.web.activity.ActivityAssignmentPopup)"/>
    <Variable
      name="assignmentPopup"
      type="gw.api.web.activity.ActivityAssignmentPopup"/>
    <ScreenRef
      def="AssignmentPopupScreen(assignmentPopup)"/>
  </Popup>
</PCF>