<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="FailedAssignmentsLV"
    mode="Activity">
    <Require
      name="assignmentPopup"
      type="gw.api.assignment.AssignmentPopup"/>
    <RowIterator
      editable="false"
      elementName="activity"
      type="Activity"
      value="assignmentPopup.getFailedAssignables()"
      valueType="entity.Assignable[]">
      <Row>
        <TypeKeyCell
          id="Priority"
          label="DisplayKey.get(&quot;Web.DesktopActivitiesLV.Priority&quot;)"
          value="activity.Priority"
          valueType="typekey.Priority"/>
        <TextCell
          id="Subject"
          label="DisplayKey.get(&quot;Web.DesktopActivitiesLV.Subject&quot;)"
          value="activity.Subject"/>
        <TextCell
          id="JobNumber"
          label="DisplayKey.get(&quot;Web.DesktopActivitiesLV.ID&quot;)"
          value="activity.Job.JobNumber"/>
        <TextCell
          id="Account"
          label="DisplayKey.get(&quot;Web.DesktopActivitiesLV.Account&quot;)"
          value="activity.Job.Policy.Account.AccountHolderContact.Name"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>