<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="AuditAdjustmentsDV"
    mode="MidtermInstallments">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="policyPeriodBillingInstructionsManager"
      type="gw.billing.PolicyPeriodBillingInstructionsManager"/>
    <InputColumn>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.BillingAuditDV.Audits&quot;)"
        visible="policyPeriod.IsAuditable"/>
      <RangeInput
        available="typeof(policyPeriod.Job) == Issuance"
        editable="typeof(policyPeriod.Job) == Issuance"
        id="FinalAudit"
        label="DisplayKey.get(&quot;Web.BillingAuditDV.FinalAudit&quot;)"
        required="false"
        value="policyPeriod.FinalAuditOption"
        valueRange="typekey.FinalAuditOption.getTypeKeys( true )"
        valueType="typekey.FinalAuditOption"
        visible="policyPeriod.IsAuditable"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>