<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <PanelSet
    id="BillingAdjustmentsPanelSet"
    mode="MidtermReporting">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="policyPeriodBillingInstructionsManager"
      type="gw.billing.PolicyPeriodBillingInstructionsManager"/>
    <Variable
      initialValue="policyPeriod.canOverrideDeposit()"
      name="canOverrideDeposit"
      type="boolean"/>
    <PanelRow
      id="BillingPanel">
      <PanelColumn>
        <DetailViewPanel>
          <InputColumn>
            <Label
              label="DisplayKey.get(&quot;Web.Policy.Payment.MidtermChange.BillingIssuanceOptions&quot;)"
              visible="true"/>
            <TextInput
              id="PremiumReportPlan"
              label="DisplayKey.get(&quot;Web.Policy.Payment.PremiumReportPlan&quot;)"
              value="policyPeriodBillingInstructionsManager.PaymentPlanChoice.Name"
              visible="true"/>
            <BooleanRadioInput
              id="DepositReleased"
              label="DisplayKey.get(&quot;Web.Policy.Payment.DepositReleased&quot;)"
              value="true"
              valueType="boolean"
              visible="not canOverrideDeposit"/>
            <InputGroup
              allowToggle="false"
              childrenVisible="canOverrideDeposit"
              id="DepositInputGroup"
              label="DisplayKey.get(&quot;Web.Policy.Payment.Deposit&quot;)"
              visible="canOverrideDeposit">
              <TextInput
                id="DepositDefault"
                label="DisplayKey.get(&quot;Web.Policy.Payment.DepositDefault&quot;)"
                value=" policyPeriodBillingInstructionsManager.AuditSchedulePattern.ReportingDefaultDepositPct"
                valueType="java.math.BigDecimal"
                visible="true"/>
              <TextInput
                editable="perm.PolicyPeriod.overridebilling"
                id="DepositOverride"
                label="DisplayKey.get(&quot;Web.Policy.Payment.DepositOverridePct&quot;)"
                requestValidationExpression="!(VALUE &lt; 0 || VALUE &gt; 100) ? null : DisplayKey.get(&quot;Web.Policy.Payment.DepositOverride.OutOfRange&quot;)"
                value="policyPeriodBillingInstructionsManager.DepositOverridePct"
                valueType="java.math.BigDecimal">
                <PostOnChange/>
              </TextInput>
              <MonetaryAmountInput
                formatType="currency"
                id="ProposedDepositAmount"
                label="DisplayKey.get(&quot;Web.Policy.Payment.ProposedDepositAmount&quot;)"
                value="policyPeriodBillingInstructionsManager.DepositAmountToDisplay">
                <PostOnChange
                  deferUpdate="false"/>
              </MonetaryAmountInput>
              <MonetaryAmountInput
                formatType="currency"
                id="CurrentDepositAmount"
                label="DisplayKey.get(&quot;Web.Policy.Payment.PreviousDepositAmount&quot;)"
                value="policyPeriod.PrevDepositAmount"
                visible="true">
                <PostOnChange
                  deferUpdate="false"/>
              </MonetaryAmountInput>
              <CheckBoxInput
                editable="perm.PolicyPeriod.overridebilling"
                id="WaiveDepositChange"
                value="policyPeriodBillingInstructionsManager.WaiveDepositChange"
                valueLabel="DisplayKey.get(&quot;Web.Policy.Payment.MidtermChange.WaiveDepositChange&quot;, policyPeriodBillingInstructionsManager.getDepositChange())">
                <PostOnChange
                  onChange="policyPeriodBillingInstructionsManager.resetDeposit()"/>
              </CheckBoxInput>
            </InputGroup>
          </InputColumn>
        </DetailViewPanel>
      </PanelColumn>
    </PanelRow>
  </PanelSet>
</PCF>