<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <PanelSet
    classList="pc-full-width"
    id="BillingAdjustmentsPanelSet"
    mode="MidtermInstallmentsReadOnly">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="policyPeriodBillingInstructionsManager"
      type="gw.billing.PolicyPeriodBillingInstructionsManager"/>
    <PanelRow
      id="BillingPanel">
      <PanelColumn>
        <DetailViewPanel>
          <InputColumn>
            <InputDivider/>
            <Label
              label="DisplayKey.get(&quot;Web.Policy.Payment.Title&quot;)"/>
            <TypeKeyInput
              id="BillingMethod"
              label="DisplayKey.get(&quot;Web.Policy.Payment.BillingMethod&quot;)"
              value="policyPeriod.BillingMethod"
              valueType="typekey.BillingMethod"/>
            <BooleanRadioInput
              id="OverrideBillingAllocation"
              label="DisplayKey.get(&quot;Web.Policy.Payment.MidtermChange.OverrideBillingAllocation&quot;)"
              value="policyPeriod.OverrideBillingAllocation"
              visible="policyPeriodBillingInstructionsManager.OverridingBillingAllocationAvailable"/>
            <TextInput
              id="BillImmediately"
              label="DisplayKey.get(&quot;Web.Policy.Payment.MidtermChange.BillImmediately&quot;)"
              value="policyPeriod.BillImmediatelyPercentage"
              valueType="java.math.BigDecimal"
              visible="policyPeriodBillingInstructionsManager.OverridingBillingAllocationAvailable and policyPeriod.OverrideBillingAllocation"/>
            <TypeKeyInput
              id="AllocationOfRemainder"
              label="DisplayKey.get(&quot;Web.Policy.Payment.MidtermChange.AllocationOfRemainder&quot;)"
              value="policyPeriod.AllocationOfRemainder"
              valueType="typekey.BillingRemainderAllocate"
              visible="policyPeriodBillingInstructionsManager.OverridingBillingAllocationAvailable and policyPeriod.OverrideBillingAllocation"/>
            <Label
              id="SpecialHandling"
              label="DisplayKey.get(&quot;Web.Policy.Payment.MidtermChange.OverrideChangeInCostBilling&quot;)"
              visible="policyPeriodBillingInstructionsManager.SpecialHandlingAvailable"/>
            <RangeInput
              editable="false"
              id="SpecialHandlingOption"
              label="DisplayKey.get(&quot;Web.Policy.Payment.MidtermChange.SelectSpecialHandlingOptions&quot;)"
              value="policyPeriod.SpecialHandling"
              valueRange="policyPeriod.AvailableSpecialHandlingTypes"
              valueType="typekey.SpecialHandling"
              visible="policyPeriodBillingInstructionsManager.SpecialHandlingAvailable"/>
          </InputColumn>
        </DetailViewPanel>
      </PanelColumn>
    </PanelRow>
    <PanelRow
      id="PaymentSchedulePanel">
      <PanelColumn
        classList="pc-full-width-column">
        <DetailViewPanel>
          <InputColumn>
            <InputDivider/>
            <Label
              label="DisplayKey.get(&quot;Web.Policy.Payment.Schedule&quot;)"/>
            <ListViewInput
              def="BillingAdjustmentsInstallmentsLV(policyPeriod, policyPeriodBillingInstructionsManager.MaybeGetInstallmentPlanAsArray, policyPeriodBillingInstructionsManager)"
              editable="false"
              labelAbove="true"
              visible="policyPeriod.InstallmentsPlanSelected">
              <Toolbar/>
            </ListViewInput>
          </InputColumn>
        </DetailViewPanel>
      </PanelColumn>
    </PanelRow>
  </PanelSet>
</PCF>