<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <PanelSet
    classList="pc-full-width"
    id="BillingAdjustmentsPanelSet"
    mode="Editable">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="policyPeriodBillingInstructionsManager"
      type="gw.billing.PolicyPeriodBillingInstructionsManager"/>
    <Variable
      initialValue="policyPeriodBillingInstructionsManager.AvailableBillingMethods"
      name="availableBillingMethods"
      type="typekey.BillingMethod[]"/>
    <Variable
      initialValue="policyPeriodBillingInstructionsManager.BillingMethod"
      name="billingMethod"
      type="typekey.BillingMethod"/>
    <PanelRow
      id="BillingPanel">
      <PanelColumn>
        <DetailViewPanel>
          <InputColumn>
            <InputDivider/>
            <Label
              label="DisplayKey.get(&quot;Web.Policy.Payment.Title&quot;)"/>
            <TextInput
              id="BillingLevel"
              label="DisplayKey.get(&quot;Web.Policy.Payment.BillingLevel&quot;)"
              value="policyPeriodBillingInstructionsManager.BillingLevel"
              valueType="typekey.BillingLevel"
              visible="policyPeriodBillingInstructionsManager.BillingLevel != null"/>
            <RangeInput
              confirmMessage="DisplayKey.get(&quot;Web.Policy.Payment.BillingMethodConfirmationMessage&quot;)"
              editable="true"
              id="BillingMethod"
              label="DisplayKey.get(&quot;Web.Policy.Payment.BillingMethod&quot;)"
              required="true"
              showConfirmMessage="true"
              value="billingMethod"
              valueRange="availableBillingMethods"
              valueType="typekey.BillingMethod"
              visible="availableBillingMethods != null and availableBillingMethods.HasElements">
              <PostOnChange
                onChange="policyPeriodBillingInstructionsManager.BillingMethodType = billingMethod"/>
            </RangeInput>
            <InputSetRef
              def="AccountContactBillingInputSet(policyPeriod.Policy.Account, true, policyPeriodBillingInstructionsManager, policyPeriod.PreferredSettlementCurrency)"/>
          </InputColumn>
        </DetailViewPanel>
      </PanelColumn>
    </PanelRow>
    <PanelRow
      id="PaymentSchedulePanel">
      <PanelColumn
        classList="pc-full-width-column">
        <DetailViewPanel>
          <InputColumn>
            <InputDivider/>
            <InputSet
              id="PlanInputSet">
              <Label
                label="DisplayKey.get(&quot;Web.Policy.Payment.Schedule&quot;)"/>
              <TypeKeyInput
                editable="true"
                id="PaymentMethod"
                label="DisplayKey.get(&quot;Web.Policy.Payment.PlanType&quot;)"
                onPick="policyPeriodBillingInstructionsManager.updateUpFrontPaymentStateContainer()"
                required="true"
                value="policyPeriodBillingInstructionsManager.PaymentMethodChoice"
                valueType="typekey.PaymentMethod"
                visible="policyPeriodBillingInstructionsManager.HasBothInstallmentsAndReportPlans">
                <PostOnChange
                  onChange="policyPeriodBillingInstructionsManager.chooseDefaultPaymentPlan()"/>
              </TypeKeyInput>
              <InputSetRef
                def="PaymentsPlanInputSet(policyPeriodBillingInstructionsManager)"
                id="PaymentsPlanDV"
                mode="policyPeriodBillingInstructionsManager.PaymentMethodChoice"/>
            </InputSet>
          </InputColumn>
        </DetailViewPanel>
      </PanelColumn>
    </PanelRow>
    <PanelRow
      id="OverridesAndPaymentsPanel">
      <PanelColumn>
        <DetailViewPanel>
          <InputColumn>
            <CheckBoxInput
              boldLabel="true"
              editable="true"
              id="Overridden"
              label="DisplayKey.get(&quot;Web.Policy.Payment.Overridden&quot;, policyPeriodBillingInstructionsManager.PaymentPlanChoice.Name)"
              required="false"
              value="policyPeriodBillingInstructionsManager.OverriddenInvoiceStream"
              visible="policyPeriodBillingInstructionsManager.AllowOverriddenInvoiceStream">
              <PostOnChange/>
            </CheckBoxInput>
            <InputSetRef
              id="OverriddenInvoiceStreamInput"
              def="BillingInvoiceStreamInputSet(policyPeriod, policyPeriodBillingInstructionsManager)"
              visible="policyPeriodBillingInstructionsManager.OverriddenInvoiceStream and policyPeriodBillingInstructionsManager.AllowOverriddenInvoiceStream"/>
            <InputDivider
              visible="policyPeriodBillingInstructionsManager.AllowCustomBilling"/>
            <CheckBoxInput
              boldLabel="true"
              editable="true"
              id="Custom"
              label="DisplayKey.get(&quot;Web.Policy.Payment.Custom&quot;)"
              required="false"
              value="policyPeriodBillingInstructionsManager.CustomBilling"
              visible="policyPeriodBillingInstructionsManager.AllowCustomBilling">
              <PostOnChange
                deferUpdate="false"/>
            </CheckBoxInput>
            <Label
              label="DisplayKey.get(&quot;Web.Policy.Payment.Invoicing&quot;)"
              visible="policyPeriodBillingInstructionsManager.ShowInvoicingLabel"/>
            <InputSet
              id="InvoicingInputSet"
              visible="policyPeriodBillingInstructionsManager.CustomBilling">
              <InputSet
                visible="policyPeriodBillingInstructionsManager.EnableInvoicingSelection">
                <BooleanRadioInput
                  available="!policyPeriodBillingInstructionsManager.InvoiceStreams.IsEmpty"
                  editable="true"
                  falseLabel="DisplayKey.get(&quot;Web.Policy.Payment.Existing&quot;)"
                  id="NewInvoicing"
                  label="DisplayKey.get(&quot;Web.Policy.Payment.Invoicing&quot;)"
                  trueLabel="DisplayKey.get(&quot;Web.Policy.Payment.New&quot;)"
                  value="policyPeriodBillingInstructionsManager.NewInvoicing"
                  visible="policyPeriodBillingInstructionsManager.AllowNewInvoicing">
                  <PostOnChange
                    onChange="policyPeriodBillingInstructionsManager.invoicingOptionChanged() "/>
                </BooleanRadioInput>
                <ListViewInput
                  def="InvoiceStreamsLV(policyPeriodBillingInstructionsManager)"
                  editable="true"
                  id="InvoiceStreams"
                  labelAbove="true"
                  visible="not policyPeriodBillingInstructionsManager.NewInvoicing and not policyPeriodBillingInstructionsManager.InvoiceStreams.IsEmpty"
                  widgets="AccountContactBillingInputSet">
                  <Toolbar/>
                </ListViewInput>
                <ListViewInput
                  def="EmptyInvoiceStreamsLV(policyPeriodBillingInstructionsManager)"
                  editable="true"
                  id="EmptyInvoiceStreams"
                  labelAbove="true"
                  visible="policyPeriodBillingInstructionsManager.InvoiceStreams.IsEmpty and policyPeriodBillingInstructionsManager.AllowEmptyInvoiceStreamLV">
                  <Toolbar/>
                </ListViewInput>
                <InputSetRef
                  def="BillingInvoiceStreamInputSet(policyPeriod, policyPeriodBillingInstructionsManager)"
                  visible="policyPeriodBillingInstructionsManager.NewInvoicing"/>
              </InputSet>
              <InputSet
                visible="policyPeriodBillingInstructionsManager.NewInvoicing">
                <BooleanRadioInput
                  editable="true"
                  falseLabel="policyPeriodBillingInstructionsManager.DisplayAccountUnappliedOrExisting"
                  id="UnappliedFund"
                  label="DisplayKey.get(&quot;Web.Policy.Payment.UnappliedFund&quot;)"
                  trueLabel="DisplayKey.get(&quot;Web.Policy.Payment.New&quot;)"
                  value="policyPeriodBillingInstructionsManager.NewUnappliedFund">
                  <PostOnChange/>
                </BooleanRadioInput>
                <TextInput
                  editable="true"
                  id="UnappliedFundInput"
                  label="DisplayKey.get(&quot;Web.Policy.Payment.UnappliedFundDescription&quot;)"
                  required="true"
                  value="policyPeriodBillingInstructionsManager.UnappliedFundDescription"
                  visible="policyPeriodBillingInstructionsManager.NewUnappliedFund"/>
                <ListViewInput
                  id="UnappliedFundSelect"
                  visible="not policyPeriodBillingInstructionsManager.NewUnappliedFund and not policyPeriodBillingInstructionsManager.UnappliedFunds.IsEmpty">
                  <Toolbar/>
                  <ListViewPanel>
                    <RowIterator
                      editable="true"
                      elementName="unappliedFundInfo"
                      value="policyPeriodBillingInstructionsManager.UnappliedFunds"
                      valueType="gw.plugin.billing.BillingUnappliedFundInfo[]">
                      <Row>
                        <RadioButtonCell
                          action="policyPeriodBillingInstructionsManager.UnappliedFundID = unappliedFundInfo.PublicID"
                          align="center"
                          editable="true"
                          id="UnappliedFundSelect"
                          label="DisplayKey.get(&quot;Web.Policy.Payment.UnappliedFundsLV.Select&quot;)"
                          radioButtonGroup="UnappliedFundGroup"
                          required="true"
                          value="policyPeriodBillingInstructionsManager.UnappliedFundID == unappliedFundInfo.PublicID">
                          <PostOnChange/>
                        </RadioButtonCell>
                        <TextCell
                          id="UnappliedFund"
                          label="DisplayKey.get(&quot;Web.Policy.Payment.UnappliedFundsLV.UnappliedFund&quot;)"
                          value="unappliedFundInfo.Description"/>
                      </Row>
                    </RowIterator>
                  </ListViewPanel>
                </ListViewInput>
              </InputSet>
            </InputSet>
          </InputColumn>
        </DetailViewPanel>
      </PanelColumn>
    </PanelRow>
  </PanelSet>
</PCF>