<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    canVisit="perm.PolicyPeriod.view(firstPeriod) and perm.PolicyPeriod.view(secondPeriod)"
    id="DiffPolicyPeriodsPopup"
    parent="PolicyFileForward(policyFilePeriod, asOfDate)"
    title="title">
    <LocationEntryPoint
      signature="DiffPolicyPeriodsPopup(firstPeriod : PolicyPeriod, secondPeriod : PolicyPeriod, policyFilePeriod : PolicyPeriod, asOfDate : java.util.Date, title : String)"/>
    <Variable
      name="firstPeriod"
      type="PolicyPeriod"/>
    <Variable
      name="secondPeriod"
      type="PolicyPeriod"/>
    <Variable
      name="policyFilePeriod"
      type="PolicyPeriod"/>
    <Variable
      name="asOfDate"
      type="java.util.Date"/>
    <Variable
      name="title"
      type="String"/>
    <Variable
      initialValue="firstPeriod.Job.DisplayType + &quot;: &quot; + firstPeriod.Job.JobNumber"
      name="firstPeriodName"
      type="String"/>
    <Variable
      initialValue="secondPeriod.Job.DisplayType + &quot;: &quot; + secondPeriod.Job.JobNumber"
      name="secondPeriodName"
      type="String"/>
    <Variable
      initialValue="gw.diff.tree.DiffTree.recalculateRootNode(firstPeriod, secondPeriod, DiffReason.TC_COMPAREJOBS)"
      name="rootNode"
      type="gw.api.tree.RowTreeRootNode"/>
    <Variable
      initialValue="policyFilePeriod.Policy.Product.DiffTreeConfig"
      name="diffTreeConfig"
      type="java.lang.String"/>
    <Screen
      id="DiffPolicyPeriodsScreen">
      <TitleBar/>
      <Toolbar/>
      <ListViewPanel
        id="Wizard_ManageBranchesLV">
        <Row>
          <EmptyCell
            id="StatusHeader"/>
          <TextCell
            align="center"
            id="firstBranchName"
            value="firstPeriodName"/>
          <TextCell
            align="center"
            id="secondBranchName"
            value="secondPeriodName"/>
        </Row>
        <Row>
          <TextCell
            id="CreateTime"
            value="DisplayKey.get(&quot;Web.JobWizard.ManageBranchesLV.CreateTime&quot;)"/>
          <DateCell
            align="center"
            dateFormat="short"
            id="firstCreateTime"
            minWidth="25em"
            timeFormat="short"
            value="firstPeriod.CreateTime"/>
          <DateCell
            align="center"
            dateFormat="short"
            id="secondCreateTime"
            minWidth="25em"
            timeFormat="short"
            value="secondPeriod.CreateTime"/>
        </Row>
        <Row>
          <TextCell
            id="EffectiveDate"
            value="DisplayKey.get(&quot;Web.JobWizard.ManageBranchesLV.EffectiveDate&quot;)"/>
          <DateCell
            align="center"
            dateFormat="short"
            id="firstEffectiveDate"
            timeFormat="short"
            value="firstPeriod.EditEffectiveDate"/>
          <DateCell
            align="center"
            dateFormat="short"
            id="secondEffectiveDate"
            timeFormat="short"
            value="secondPeriod.EditEffectiveDate"/>
        </Row>
        <Row>
          <TextCell
            id="PeriodStatus"
            value="DisplayKey.get(&quot;Web.JobWizard.ManageBranchesLV.PeriodStatus&quot;)"/>
          <TypeKeyCell
            align="center"
            id="firstStatus"
            value="firstPeriod.Status"
            valueType="typekey.PolicyPeriodStatus"/>
          <TypeKeyCell
            align="center"
            id="secondStatus"
            value="secondPeriod.Status"
            valueType="typekey.PolicyPeriodStatus"/>
        </Row>
        <Row
          visible="true">
          <TextCell
            enableSort="false"
            id="LinePattern"
            value="DisplayKey.get(&quot;Web.JobWizard.ManageBranchesLV.PremiumTotals&quot;)"/>
          <MonetaryAmountCell
            align="center"
            formatType="currency"
            id="firstSumAmount"
            value="firstPeriod.ValidRate ? firstPeriod.TotalCostRPT : 0bd.ofCurrency(firstPeriod.PreferredSettlementCurrency)"/>
          <MonetaryAmountCell
            align="center"
            formatType="currency"
            id="secondSumAmount"
            value="secondPeriod.ValidRate ? secondPeriod.TotalCostRPT : 0bd.ofCurrency(secondPeriod.PreferredSettlementCurrency)"/>
        </Row>
      </ListViewPanel>
      <PanelRef
        def="DifferencesPanelSet(TC_COMPAREJOBS, firstPeriod, secondPeriod, rootNode, diffTreeConfig)"/>
    </Screen>
  </Popup>
</PCF>