<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="PaymentsPlanInputSet"
    mode="Installments">
    <Require
      name="policyPeriodBillingInstructionsManager"
      type="gw.billing.PolicyPeriodBillingInstructionsManager"/>
    <ListViewInput
      def="BillingAdjustmentsInstallmentsLV(policyPeriodBillingInstructionsManager.PeriodInternal, policyPeriodBillingInstructionsManager.InstallmentPlans, policyPeriodBillingInstructionsManager)"
      editable="true"
      id="InstallmentPlan"
      labelAbove="true">
      <Toolbar/>
    </ListViewInput>
  </InputSet>
</PCF>