<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    editable="canEdit"
    id="UWApprovalLV">
    <Require
      name="asst"
      type="gw.job.uw.UWApprovalLVAsst"/>
    <Require
      name="canEdit"
      type="boolean"/>
    <Variable
      initialValue="asst.Issue"
      name="issue"
      type="entity.UWIssue"/>
    <Variable
      initialValue="issue.Approval"
      name="approval"
      type="gw.job.uw.UWIssueApproval"/>
    <Row>
      <TextCell
        id="ReferenceComparatorHeader"
        value="&quot;&quot;"
        visible="issue.IssueType.Comparator != TC_NONE"/>
      <TextCell
        bold="true"
        id="ReferenceValueHeader"
        value="DisplayKey.get(&quot;Web.UWIssue.UWApprovalLV.ReferenceValue&quot;)"
        visible="issue.IssueType.Comparator != TC_NONE"/>
      <TextCell
        bold="true"
        id="ReferenceValueCurrencyHeader"
        value="DisplayKey.get(&quot;Web.UWIssue.UWApprovalLV.ReferenceValueCurrency&quot;)"
        visible="gw.api.util.CurrencyUtil.isMultiCurrencyMode() and approval.ReferenceValueCurrency != null"/>
      <TextCell
        bold="true"
        id="EditBeforeBindHeader"
        value="DisplayKey.get(&quot;Web.UWIssue.UWApprovalLV.EditBeforeBind&quot;)"/>
      <TextCell
        bold="true"
        id="BlockingPointHeader"
        value="DisplayKey.get(&quot;Web.UWIssue.UWApprovalLV.Through&quot;)"/>
      <TextCell
        bold="true"
        id="DurationHeader"
        value="DisplayKey.get(&quot;Web.UWIssue.UWApprovalLV.InvalidFrom&quot;)"/>
    </Row>
    <Row>
      <TypeKeyCell
        enableSort="false"
        id="ReferenceComparator"
        value="issue.IssueType.Comparator"
        valueType="typekey.ValueComparator"
        visible="issue.IssueType.Comparator != TC_NONE"/>
      <TextCell
        editable="true"
        enableSort="false"
        id="ReferenceValue"
        required="true"
        validationExpression="asst.validate(approval.ReferenceValue)"
        value="approval.NonCurrencyReferenceValue"
        visible="issue.IssueType.Comparator != TC_NONE"/>
      <TypeKeyCell
        enableSort="false"
        id="ReferenceValueCurrency"
        required="true"
        validationExpression="asst.validate(approval.ReferenceValue)"
        value="approval.ReferenceValueCurrency"
        valueType="typekey.Currency"
        visible="gw.api.util.CurrencyUtil.isMultiCurrencyMode() and approval.ReferenceValueCurrency != null"/>
      <BooleanRadioCell
        editable="true"
        enableSort="false"
        id="EditBeforeBind"
        required="true"
        value="approval.EditBeforeBind">
        <PostOnChange/>
      </BooleanRadioCell>
      <RangeCell
        editable="true"
        enableSort="false"
        id="BlockingPoint"
        optionLabel="VALUE.DisplayAsThroughValue"
        required="true"
        sortValueRange="false"
        value="approval.BlockingPoint"
        valueRange="asst.BlockingPointValueRange"
        valueType="typekey.UWIssueBlockingPoint"/>
      <TypeKeyCell
        editable="true"
        enableSort="false"
        id="Duration"
        label="DisplayKey.get(&quot;Web.UWIssue.UWApprovalLV.InvalidFrom&quot;)"
        required="true"
        value="approval.Duration"
        valueType="typekey.UWApprovalDurationType"/>
    </Row>
  </ListViewPanel>
</PCF>