<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <RowSet
    id="UWReferralReasonRowSet"
    mode="issue">
    <Require
      name="modalRow"
      type="gw.web.policy.UWReferralReasonModalRow"/>
    <Variable
      initialValue="modalRow.Item"
      name="reason"
      type="UWReferralReason"/>
    <Row>
      <TextCell
        action="ReferralReasonDetailsPopup.push(new UWReferralReason[]{reason})"
        id="ShortDescription"
        value="reason.ShortDescription"/>
      <LinkCell>
        <Link
          id="AutoApprovable"
          label="reason.IssueType.ActiveVersion.AutoApprovable? &quot;*&quot; : &quot;&quot;"
          tooltip="DisplayKey.get(&quot;Web.Policy.EvaluationIssues.AutoApproveTooltip&quot;)"/>
      </LinkCell>
      <TypeKeyCell
        id="BlockingPoint"
        value="modalRow.BlockingPoint"
        valueType="typekey.UWIssueBlockingPoint"/>
      <TextCell
        id="ReferralReasonValue"
        value="modalRow.FormattedValue"/>
      <LinkCell>
        <Link
          action="modalRow.closeReferralReasonAndCommit()"
          available="modalRow.Close.Available"
          id="Close"
          label="DisplayKey.get(&quot;Web.Policy.ReferralReasons.Close&quot;)"
          styleClass="bigButton"
          visible="modalRow.Close.Visible"/>
        <Link
          action="modalRow.closeReferralReasonAndCommit()"
          available="modalRow.SpecialClose.Available"
          confirmMessage="DisplayKey.get(&quot;Web.Policy.ReferralReasons.SpecialCloseConfirmMessage&quot;)"
          id="SpecialClose"
          label="DisplayKey.get(&quot;Web.Policy.ReferralReasons.SpecialClose&quot;)"
          styleClass="bigButton"
          visible="modalRow.SpecialClose.Visible"/>
        <Link
          action="modalRow.openReferralReasonAndCommit()"
          available="modalRow.Open.Available"
          id="Open"
          label="DisplayKey.get(&quot;Web.Policy.ReferralReasons.Open&quot;)"
          styleClass="bigButton"
          visible="modalRow.Open.Visible"/>
      </LinkCell>
    </Row>
  </RowSet>
</PCF>