<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Worksheet
    canEdit="true"
    canVisit="perm.Document.create"
    id="TemplateSelectionWorksheet"
    startInEditMode="true"
    tabLabel="DisplayKey.get('Web.Document.Integration.DocumentCreation')"
    title="info.Title">
    <LocationEntryPoint
      signature="TemplateSelectionWorksheet(info : gw.integration.document.production.web.DocumentProductionInfo)"/>
    <Scope
      location="*"/>
    <Variable
      name="info"
      type="gw.integration.document.production.web.DocumentProductionInfo"/>
    <Variable
      name="helper"
      type="gw.integration.document.production.web.DocumentProductionUIHelper"/>
    <Screen>
      <Toolbar>
        <EditButtons
          editVisible="false"
          updateVisible="false"/>
      </Toolbar>
      <ListViewPanel
        id="DocumentTemplateLV">
        <RowIterator
          editable="false"
          elementName="template"
          value="helper.DocumentTemplates"
          valueType="gw.plugin.document.IDocumentTemplateDescriptor[]">
          <Row>
            <LinkCell>
              <Link
                action="helper.goInCreateDraftWorksheet(CurrentLocation, info, template)"
                id="SelectButton"
                label="DisplayKey.get('Button.Select')"
                styleClass="miniButton"/>
            </LinkCell>
            <TextCell
              id="TemplateID"
              label="DisplayKey.get('Web.DocumentTemplateSearch.TemplateID')"
              value="template.TemplateId"/>
            <TextCell
              id="Name"
              label="DisplayKey.get('Web.DocumentTemplateSearch.Name')"
              value="template.Name"/>
            <DateCell
              id="EffectiveDate"
              label="DisplayKey.get('Web.DocumentTemplateSearch.EffectiveDate')"
              value="template.DateEffective"/>
            <DateCell
              id="ExpirationDate"
              label="DisplayKey.get('Web.DocumentTemplateSearch.ExpirationDate')"
              value="template.DateExpiration"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </Screen>
  </Worksheet>
</PCF>
