<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <LocationGroup
    id="AccountFile"
    menuActions="AccountFileMenuActions(account)"
    parent="AccountForward()"
    title="DisplayKey.get(&quot;Web.AccountFile.LocationGroup.Title&quot;, account.AccountNumber)">
    <LocationEntryPoint
      signature="AccountFile(account : Account)"/>
    <Variable
      name="account"
      recalculateOnRefresh="true"
      type="Account"/>
    <LocationRef
      icon="&quot;summary&quot;"
      iconType="svgFileName"
      label="DisplayKey.get(&quot;Web.AccountFile.Overview&quot;)"
      location="AccountFile_Summary(account)"/>
    <LocationRef
      icon="&quot;contacts&quot;"
      iconType="svgFileName"
      label="DisplayKey.get(&quot;Web.AccountFile.Contacts&quot;)"
      location="AccountFile_Contacts(account)"
      shortcut="C"/>
    <LocationRef
      icon="&quot;locations&quot;"
      iconType="svgFileName"
      label="DisplayKey.get(&quot;Web.AccountFile.Locations&quot;)"
      location="AccountFile_Locations(account)"
      shortcut="L"/>
    <LocationRef
      icon="&quot;participants&quot;"
      iconType="svgFileName"
      label="DisplayKey.get(&quot;Web.AccountFile.Roles&quot;)"
      location="AccountFile_Roles(account)"
      shortcut="R"/>
    <LocationRef
      icon="&quot;policy_transactions&quot;"
      iconType="svgFileName"
      label="DisplayKey.get(&quot;Web.AccountFile.WorkOrders&quot;)"
      location="AccountFile_WorkOrders(account)"
      shortcut="W"/>
    <LocationRef
      icon="&quot;submission_manager&quot;"
      iconType="svgFileName"
      location="SubmissionManager(account)"/>
    <LocationRef
      icon="&quot;underwriting_files&quot;"
      iconType="svgFileName"
      location="UnderwritingFiles(account)"/>
    <LocationRef
      icon="&quot;related_accounts&quot;"
      iconType="svgFileName"
      label="DisplayKey.get(&quot;Web.AccountFile.RelatedAccounts&quot;)"
      location="AccountFile_RelatedAccounts(account)"
      shortcut="R"/>
    <LocationRef
      icon="&quot;documents_nav&quot;"
      iconType="svgFileName"
      label="DisplayKey.get(&quot;Web.AccountFile.Documents&quot;)"
      location="AccountFile_Documents(account)"
      shortcut="O"/>
    <LocationRef
      icon="&quot;notes&quot;"
      iconType="svgFileName"
      label="DisplayKey.get(&quot;Web.AccountFile.Notes&quot;)"
      location="AccountFile_Notes(account)"
      shortcut="N"/>
    <LocationRef
      icon="&quot;claims&quot;"
      iconType="svgFileName"
      label="DisplayKey.get(&quot;Web.AccountFile.Claims&quot;)"
      location="AccountFile_Claims(account)"
      shortcut="A"/>
    <LocationRef
      icon="&quot;billing&quot;"
      iconType="svgFileName"
      label="DisplayKey.get(&quot;Web.AccountFile.Billing&quot;)"
      location="AccountFile_Billing(account)"
      shortcut="B"/>
    <LocationRef
      icon="&quot;history&quot;"
      iconType="svgFileName"
      label="DisplayKey.get(&quot;Web.AccountFile.History&quot;)"
      location="AccountFile_History(account)"
      shortcut="H"/>
  </LocationGroup>
</PCF>