<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="AccountFile_MovePoliciesSelectionLV">
    <ExposeIterator
      valueType="entity.PolicyPeriod"
      widget="AccountFile_MovePoliciesSelectionLV"/>
    <Require
      name="visiblePolicies"
      type="List&lt;PolicyPeriod&gt;"/>
    <RowIterator
      canPick="false"
      editable="true"
      elementName="aPeriod"
      hasCheckBoxes="true"
      value="visiblePolicies"
      valueType="java.util.List&lt;entity.PolicyPeriod&gt;">
      <Row
        useArchivedStyle="aPeriod.PolicyTerm.CheckArchived">
        <TextCell
          action="gw.web.account.AccountFileUIHelper.retrievePolicy(aPeriod)"
          id="PolicyNumber"
          label="DisplayKey.get(&quot;Web.AccountFile.Summary.PolicyTermsLV.PolicyNumber&quot;)"
          required="false"
          value="aPeriod.PolicyNumberDisplayString"/>
        <TextCell
          enableSort="false"
          id="Product"
          label="DisplayKey.get(&quot;Web.AccountFile.Summary.PolicyTermsLV.Product&quot;)"
          sortOrder="1"
          value="aPeriod.Policy.Product"
          valueType="gw.api.productmodel.Product"/>
        <TextCell
          enableSort="false"
          id="Status"
          label="DisplayKey.get(&quot;Web.AccountFile.Summary.PolicyTermsLV.Status&quot;)"
          value="aPeriod.PeriodDisplayStatus"/>
        <DateCell
          id="PolicyStart"
          label="DisplayKey.get(&quot;Web.AccountFile.MovePolicies.PoliciesSelection.PolicyStartDate&quot;)"
          required="false"
          value="aPeriod.Policy.findEarliestPeriodStart()"/>
        <DateCell
          id="EffectiveDate"
          label="DisplayKey.get(&quot;Web.AccountFile.MovePolicies.PoliciesSelection.CurrEffectiveDate&quot;)"
          required="false"
          value="aPeriod.PeriodStart"/>
        <DateCell
          id="ExpirationDate"
          label="DisplayKey.get(&quot;Web.AccountFile.MovePolicies.PoliciesSelection.CurrExpirationDate&quot;)"
          required="false"
          value="aPeriod.PeriodEnd"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>