<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="AccountFile_Locations_WorkOrdersLV">
    <Require
      name="accountLocation"
      type="AccountLocation"/>
    <Variable
      initialValue="accountLocation.Jobs"
      name="jobs"
      recalculateOnRefresh="true"
      type="gw.api.database.IQueryBeanResult&lt;Job&gt;"/>
    <RowIterator
      editable="false"
      elementName="job"
      value="jobs"
      valueType="gw.api.database.IQueryBeanResult&lt;entity.Job&gt;">
      <Row
        useArchivedStyle="job.LatestPeriod.PolicyNumberAssigned ? Policy.retrievePeriod(job.LatestPeriod.PolicyNumber,job.LatestPeriod.EditEffectiveDate).PolicyTerm.CheckArchived : false">
        <DateCell
          id="CreateDate"
          label="DisplayKey.get(&quot;Web.AccountFile.Summary.WorkOrdersLV.CreateDate&quot;)"
          sortOrder="1"
          value="job.CreateTime"/>
        <TextCell
          action="JobForward.go(job)"
          id="WorkOrderNumber"
          label="DisplayKey.get(&quot;Web.AccountFile.Summary.WorkOrdersLV.WorkOrderNumber&quot;)"
          value="job.JobNumber"/>
        <TextCell
          enableSort="false"
          id="JobStatus"
          label="DisplayKey.get(&quot;Web.AccountFile.Summary.WorkOrdersLV.JobStatus&quot;)"
          value="job.DisplayStatus"/>
        <TextCell
          action="PolicyFileForward.go(job.LatestPeriod.PolicyNumber)"
          available="job.LatestPeriod.PolicyNumberAssigned"
          enableSort="false"
          id="PolicyNumber"
          label="DisplayKey.get(&quot;Web.AccountFile.Summary.WorkOrdersLV.PolicyNumber&quot;)"
          value="job.LatestPeriod.PolicyNumberDisplayString"/>
        <TextCell
          id="Product"
          label="DisplayKey.get(&quot;Web.AccountFile.Summary.WorkOrdersLV.Product&quot;)"
          sortBy="job.Policy.ProductCode"
          value="job.Policy.Product"
          valueType="gw.api.productmodel.Product"/>
        <TextCell
          action="JobForward.go(job)"
          enableSort="false"
          id="WorkOrderType"
          label="DisplayKey.get(&quot;Web.AccountFile.Summary.WorkOrdersLV.WorkOrderType&quot;)"
          value="job.DisplayType"/>
        <AltUserCell
          enableSort="false"
          id="Underwriter"
          label="DisplayKey.get(&quot;Web.AccountFile.Summary.WorkOrdersLV.Underwriter&quot;)"
          value="job.Underwriter"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>