<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="AccountClaimsLV">
    <Require
      name="claims"
      type="Claim[]"/>
    <Require
      name="filterSet"
      type="gw.losshistory.ClaimPolicyPeriodFilterSet"/>
    <Require
      name="account"
      type="Account"/>
    <Variable
      initialValue="new gw.account.ProductCodeFilterSet(account)"
      name="productCodeFilterSet"
      type="gw.account.ProductCodeFilterSet"/>
    <RowIterator
      editable="false"
      elementName="claim"
      pageSize="10"
      value="claims"
      valueType="entity.Claim[]">
      <ToolbarFilter
        cacheOptions="false"
        label="DisplayKey.get(&quot;Web.Claims.PolicyPeriodFilter&quot;)"
        name="policyPeriodFilter">
        <ToolbarFilterOption
          filter="filterSet.getAllFilter()"
          label="DisplayKey.get(&quot;Java.ToolBar.Claim.All&quot;)"
          selectOnEnter="true"/>
        <ToolbarFilterOption
          filter="filterSet.getNoPolicyInforceFilter()"
          label="DisplayKey.get(&quot;Web.Claims.NoPolicyPeriod&quot;)"/>
        <ToolbarFilterOptionGroup
          filters="filterSet.getClaimPolicyPeriodFilters().getFilterOptions()"/>
      </ToolbarFilter>
      <ToolbarFilter
        label="DisplayKey.get(&quot;Web.Claims.ProductFilter&quot;)"
        name="productCodeFilter">
        <ToolbarFilterOption
          filter="productCodeFilterSet.getAllFilter()"
          label="DisplayKey.get(&quot;Java.ToolBar.Claim.All&quot;)"
          selectOnEnter="true"/>
        <ToolbarFilterOptionGroup
          filters="productCodeFilterSet.getClaimPolicyPeriodFilters()"/>
      </ToolbarFilter>
      <Row>
        <TextCell
          fontColor="claim.PolicyInForce ? null : gw.api.web.color.GWColor.THEME_ALERT_ERROR"
          id="PolicyPeriod"
          label="DisplayKey.get(&quot;Web.Claims.PolicyPeriod&quot;)"
          value="claim.PolicyInForce ? claim.PolicyPeriod.getPolicyPeriodDateDisplay() : DisplayKey.get(&quot;Web.Claims.NoPolicyPeriod&quot;)"/>
        <DateCell
          id="PolicyStartDate"
          label="DisplayKey.get(&quot;Web.Claims.PolicyStartDate&quot;)"
          value="claim.PolicyPeriod.PeriodStart"
          visible="false"/>
        <TextCell
          id="PolicyNumber"
          label="DisplayKey.get(&quot;Web.Claims.PolicyNumber&quot;)"
          value="claim.PolicyPeriod.PolicyNumberDisplayString"/>
        <TextCell
          id="ProductCode"
          label="DisplayKey.get(&quot;Web.Claims.Product&quot;)"
          sortOrder="1"
          value="claim.PolicyPeriod.Policy.Product.DisplayName"/>
        <DateCell
          id="LossDate"
          label="DisplayKey.get(&quot;Web.Claims.LossDate&quot;)"
          sortDirection="descending"
          sortOrder="2"
          value="claim.LossDate"/>
        <TextCell
          id="ClaimNumber"
          label="DisplayKey.get(&quot;Web.Claims.ClaimNumber&quot;)"
          value="claim.ClaimNumber"/>
        <TextCell
          id="Status"
          label="DisplayKey.get(&quot;Web.Claims.Status&quot;)"
          value="claim.Status"/>
        <MonetaryAmountCell
          footerSumValue="claim.TotalIncurred == null ? null : claim.TotalIncurred?.convertAmount(account.PreferredSettlementCurrency)"
          id="TotalIncurred"
          label="DisplayKey.get(&quot;Web.Claims.TotalIncurred&quot;)"
          value="claim.TotalIncurred"/>
        <LinkCell
          label="DisplayKey.get(&quot;Web.Claims.Indicator&quot;)">
          <Link
            icon="&quot;litigation&quot;"
            iconType="svgFileName"
            id="Litigation"
            label="DisplayKey.get(&quot;Web.Claims.Litigation&quot;)"
            visible="claim.LitigationIndicator"/>
          <Link
            icon="&quot;siu&quot;"
            iconType="svgFileName"
            id="Fraud"
            label="DisplayKey.get(&quot;Web.Claims.Fraud&quot;)"
            visible="claim.FraudIndicator"/>
          <Link
            icon="&quot;large_loss&quot;"
            iconType="svgFileName"
            id="LargeLoss"
            label="DisplayKey.get(&quot;Web.Claims.LargeLoss&quot;)"
            visible="claim.LargeLossIndicator"/>
        </LinkCell>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>