<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    infoBar="AccountFileInfoBar(account)"
    canEdit="perm.Account.edit(account)"
    canVisit="perm.Account.view(account) and perm.System.accountrelations"
    id="AccountFile_RelatedAccounts"
    parent="AccountFile(account)"
    title="DisplayKey.get(&quot;Web.AccountFile.RelatedAccounts.Title&quot;)"
    validationParameter="account">
    <LocationEntryPoint
      signature="AccountFile_RelatedAccounts(account : Account)"/>
    <Variable
      name="account"
      type="Account"/>
    <Screen>
      <Toolbar
        visible="perm.Account.edit(account)">
        <ToolbarButton
          action="RelatedAccountPopup.push(account)"
          id="AddRelatedAccount"
          label="DisplayKey.get(&quot;Button.Add&quot;)"/>
        <CheckedValuesToolbarButton
          allCheckedRowsAction="gw.web.account.AccountFileUIHelper.removeRelationships(CheckedValues)"
          id="RemoveRelatedAccount"
          iterator="RelatedAccountsLV"
          label="DisplayKey.get(&quot;Button.Remove&quot;)"/>
      </Toolbar>
      <ListViewPanel
        id="RelatedAccountsLV">
        <RowIterator
          editable="true"
          elementName="accountAccount"
          hasCheckBoxes="true"
          value="account.getAllRelatedAccounts(User.util.CurrentUser)"
          valueType="entity.AccountAccount[]">
          <Variable
            initialValue="accountAccount.getRelationship(account)"
            name="relationship"
            type="gw.account.AccountRelationship"/>
          <Variable
            initialValue="relationship.OtherAccount"
            name="otherAccount"
            type="entity.Account"/>
          <Row>
            <TypeKeyCell
              action="RelatedAccountPopup.push(account, accountAccount)"
              available="perm.Account.edit(account)"
              id="RelationshipType"
              label="DisplayKey.get(&quot;Web.AccountFile.RelatedAccounts.Relationship&quot;)"
              sortOrder="1"
              value="relationship.RelationshipType"
              valueType="typekey.AccountRelationshipType"
              wrap="true"
              wrapLabel="true"/>
            <TextCell
              action="AccountFileForward.go(otherAccount)"
              id="AccountNumber"
              label="DisplayKey.get(&quot;Web.AccountFile.RelatedAccounts.AccountNumber&quot;)"
              sortOrder="2"
              value="otherAccount.AccountNumber"/>
            <TextCell
              id="Name"
              label="DisplayKey.get(&quot;Web.AccountFile.RelatedAccounts.Name&quot;)"
              value="otherAccount.AccountHolderContact.DisplayName"
              wrap="true"/>
            <TextCell
              id="Address"
              label="DisplayKey.get(&quot;Web.AccountFile.RelatedAccounts.Address&quot;)"
              value="otherAccount.AccountHolderContact.PrimaryAddressDisplayValue"
              wrap="true"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
      <PanelRow/>
      <SearchPanel
        criteriaName="searchCriteria"
        id="SharedContactSearchPanel"
        maxSearchResults="100"
        resultsName="accountSummaries"
        search="searchCriteria.performSearch()"
        searchCriteria="new gw.account.SharedContactAccountSearchCriteria() { :Secure = true, :AccountNumber = account.AccountNumber }"
        searchCriteriaType="gw.account.SharedContactAccountSearchCriteria"
        searchResultsType="gw.api.database.IQueryBeanResult&lt;AccountSummary&gt;">
        <PanelRef
          def="AccountSearchResultsLV(accountSummaries)">
          <TitleBar
            title="DisplayKey.get(&quot;Web.AccountFile.RelatedAccounts.SharedContact&quot;)"/>
          <Toolbar>
            <ToolbarButton
              action="gw.api.util.SearchUtil.search()"
              id="Search"
              label="DisplayKey.get(&quot;Button.Search&quot;)"/>
          </Toolbar>
        </PanelRef>
      </SearchPanel>
    </Screen>
  </Page>
</PCF>