<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="Account_BillingScreen">
    <Require
      name="account"
      type="Account"/>
    <Require
      name="accountNumber"
      type="String"/>
    <Require
      name="billingSummary"
      type="gw.plugin.billing.BCAccountBillingDisplayTotals"/>
    <Variable
      initialValue="gw.web.account.AccountBillingUIHelper.retrieveAccountNumbers(account)"
      name="accountNumbers"
      type="java.util.Map&lt;java.lang.String, java.lang.String&gt;"/>
    <TitleBar
      title="DisplayKey.get(&quot;Web.AccountBilling.Title&quot;)"/>
    <Toolbar>
      <ToolbarButton
        action="BCAccount.push(gw.api.system.PCConfigParameters.BillingSystemURL.Value, account.AccountNumber )"
        icon="&quot;new_window&quot;"
        iconType="svgFileName"
        id="ViewInBC"
        label="DisplayKey.get(&quot;Button.ViewInBillingCenter&quot;)"
        visible="gw.api.system.PCConfigParameters.BillingSystemURL.Value.HasContent and perm.System.viewbillingsystem"/>
      <ToolbarRangeInput
        boldLabel="true"
        editable="true"
        id="BillingAccounts"
        label="DisplayKey.get(&quot;Web.AccountFile.Billing.BillingAccount&quot;)"
        required="true"
        value="accountNumber"
        valueRange="accountNumbers.Keys.toList()"
        valueType="java.lang.String">
        <PostOnChange
          onChange="billingSummary = gw.web.account.AccountBillingUIHelper.retrieveBillingSummary({accountNumber}, account.PreferredSettlementCurrency)"/>
      </ToolbarRangeInput>
    </Toolbar>
    <PanelSet>
      <Verbatim
        id="DelinquentMessage"
        label="DisplayKey.get(&quot;Web.AccountFile.Billing.DelinquencyWarningMessage&quot;)"
        visible="billingSummary.Delinquent"
        warning="true"/>
    </PanelSet>
    <DetailViewPanel>
      <InputColumn>
        <Label
          label="DisplayKey.get(&quot;Web.AccountFile.Billing.AccountBalances&quot;)"/>
        <MonetaryAmountInput
          align="right"
          formatType="currency"
          id="BilledOutstanding"
          label="DisplayKey.get(&quot;Web.AccountFile.Billing.BilledOutstanding&quot;)"
          value="billingSummary.BilledOutstandingTotal.Total"/>
        <MonetaryAmountInput
          align="right"
          formatType="currency"
          id="BilledOutstandingCurrent"
          label="DisplayKey.get(&quot;Web.AccountFile.Billing.BilledOutstandingCurrent&quot;)"
          value="billingSummary.BilledOutstandingCurrent.Total"/>
        <MonetaryAmountInput
          align="right"
          formatType="currency"
          id="BilledOutstandingPastDue"
          label="DisplayKey.get(&quot;Web.AccountFile.Billing.BilledOutstandingPastDue&quot;)"
          value="billingSummary.BilledOutstandingPastDue.Total"/>
        <MonetaryAmountInput
          align="right"
          formatType="currency"
          id="Unbilled"
          label="DisplayKey.get(&quot;Web.AccountFile.Billing.Unbilled&quot;)"
          value="billingSummary.UnbilledTotal.Total"/>
        <MonetaryAmountInput
          align="right"
          formatType="currency"
          id="UnappliedFunds"
          label="DisplayKey.get(&quot;Web.AccountFile.Billing.UnappliedFunds&quot;)"
          value="billingSummary.UnappliedFundsTotal.Total"/>
        <TextInput
          align="right"
          id="AccountBalancesConvertedAlert"
          label="DisplayKey.get(&quot;Web.AccountFile.Billing.AmountsConvertedForReference&quot;)"
          labelAbove="true"
          labelStyleClass="inputLabel_em"
          value="null"
          valueType="java.lang.Object"
          visible="billingSummary.AccountBalancesConverted"/>
      </InputColumn>
      <InputColumn>
        <Label
          label="DisplayKey.get(&quot;Web.AccountFile.Billing.Collateral&quot;)"/>
        <MonetaryAmountInput
          align="right"
          formatType="currency"
          id="Requirement"
          label="DisplayKey.get(&quot;Web.AccountFile.Billing.CollateralRequirement&quot;)"
          value="billingSummary.CollateralRequirement.Total"/>
        <MonetaryAmountInput
          align="right"
          formatType="currency"
          id="Held"
          label="DisplayKey.get(&quot;Web.AccountFile.Billing.CollateralHeld&quot;)"
          value="billingSummary.CollateralHeld.Total"/>
        <TextInput
          id="CollateralConvertedAlert"
          label="DisplayKey.get(&quot;Web.AccountFile.Billing.AmountsConvertedForReference&quot;)"
          labelAbove="true"
          labelStyleClass="inputLabel_em"
          value="null"
          valueType="java.lang.Object"
          visible="billingSummary.CollateralConverted"/>
      </InputColumn>
      <InputColumn>
        <Label
          label="DisplayKey.get(&quot;Web.AccountFile.Billing.PrimaryPayer&quot;)"/>
        <TextInput
          id="PrimaryPayerName"
          label="DisplayKey.get(&quot;Web.AccountFile.Billing.PrimaryPayer.Name&quot;)"
          value="billingSummary.PrimaryPayer.Name"/>
        <TextInput
          id="PrimaryPayerAddress"
          label="DisplayKey.get(&quot;Web.AccountFile.Billing.PrimaryPayer.Address&quot;)"
          value="billingSummary.PrimaryPayer.Address"/>
        <TextInput
          id="PrimaryPayerPhone"
          label="DisplayKey.get(&quot;Web.AccountFile.Billing.PrimaryPayer.Phone&quot;)"
          value="billingSummary.PrimaryPayer.Phone"/>
      </InputColumn>
    </DetailViewPanel>
    <CardViewPanel>
      <Card
        id="Policies"
        title="DisplayKey.get(&quot;Web.AccountFile.Billing.PolicyTerms&quot;)">
        <PanelRef
          def="BillingPoliciesLV(account, true)"
          id="OwnedPolicies">
          <TitleBar
            title="DisplayKey.get(&quot;Web.AccountFile.Billing.OwnedPolicies&quot;)"/>
        </PanelRef>
        <PanelRef
          def="BillingPoliciesLV(account, false)"
          id="BilledPolicies">
          <TitleBar
            title="DisplayKey.get(&quot;Web.AccountFile.Billing.BilledPolicies&quot;)"/>
        </PanelRef>
      </Card>
      <Card
        id="Invoices"
        title="DisplayKey.get(&quot;Web.AccountFile.Billing.Invoices&quot;)">
        <PanelRef
          def="BillingInvoicesLV(account)">
          <Toolbar/>
        </PanelRef>
      </Card>
    </CardViewPanel>
  </Screen>
</PCF>