<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="ContactCurrencyInputSet"
    visible="gw.api.util.CurrencyUtil.isMultiCurrencyMode()">
    <Require
      name="contact"
      type="Contact"/>
    <Require
      name="address"
      type="Address"/>
    <Require
      name="updatesCurrenciesOnCountryChange"
      type="boolean"/>
    <Variable
      initialValue="contact.PreferredSettlementCurrency ?: gw.api.util.CurrencyUtil.getDefaultCurrency()"
      name="preferredSettlementCurrency"
      recalculateOnRefresh="true"
      type="Currency"/>
    <Variable
      initialValue="new gw.web.financials.ContactCurrencyInitializer(contact, address)"
      name="contactInitializer"
      type="gw.web.financials.ContactCurrencyInitializer"/>
    <Variable
      initialValue="contactInitializer.initialize(updatesCurrenciesOnCountryChange)"
      name="InitializerCaller"
      recalculateOnRefresh="true"
      type="java.lang.Object"/>
    <TypeKeyInput
      editable="true"
      id="PreferredSettlementCurrency"
      label="DisplayKey.get(&quot;Web.ContactDetail.PreferredSettlementCurrency&quot;)"
      required="true"
      value="contact.PreferredSettlementCurrency"
      valueType="typekey.Currency"
      visible="gw.api.util.CurrencyUtil.isMultiCurrencyMode()"/>
  </InputSet>
</PCF>