<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <MenuItemSet
    id="PolicyMenuItemSet"
    mode="CommercialProperty">
    <Require
      name="period"
      type="PolicyPeriod"/>
    <Require
      name="asOfDate"
      type="java.util.Date"/>
    <MenuItem
      action="PolicyFile_PolicyInfo.go(period, asOfDate)"
      id="PolicyMenuItemSet_PolicyInfo"
      label="DisplayKey.get(&quot;Web.PolicyFile.PolicyInfo&quot;)"/>
    <MenuItem
      action="PolicyFile_BuildingsAndLocations.go(period, asOfDate)"
      id="PolicyMenuItemSet_BuildingsAndLocations"
      label="DisplayKey.get(&quot;Web.PolicyFile.BuildingsAndLocations&quot;)"/>
    <MenuItem
      action="PolicyFile_CPBlanket.go(period, asOfDate)"
      id="PolicyMenuItemSet_CPBlanket"
      label="DisplayKey.get(&quot;Web.PolicyFile.Blankets&quot;)"/>
    <MenuItem
      action="PolicyFile_Modifiers.go(period, asOfDate)"
      id="PolicyMenuItemSet_Modifiers"
      label="DisplayKey.get(&quot;Web.PolicyFile.Modifiers&quot;)"/>
    <MenuItem
      action="PolicyFile_Pricing.go(period, asOfDate)"
      id="PolicyMenuItemSet_Pricing"
      label="DisplayKey.get(&quot;Web.PolicyFile.Pricing&quot;)"/>
    <MenuItem
      action="PolicyFile_Forms_CP.go(period, asOfDate)"
      id="PolicyMenuItemSet_Endorsements"
      label="DisplayKey.get(&quot;Web.PolicyFile.Endorsements&quot;)"/>
  </MenuItemSet>
</PCF>