<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ExitPoint
    id="MulticlusterNewAccount"
    isMultiClusterNav="true"
    target="PolicyCenter"
    url="{clusterUrl}/NewAccount.do">
    <LocationEntryPoint
      signature="MulticlusterNewAccount(clusterUrl : String)"/>
    <ExitPointParameter
      locationParam="clusterUrl"
      type="String"
      urlParam="clusterUrl"/>
  </ExitPoint>
</PCF>